system:
You are a helpful assistant that can measure how likely an answer is correct comparing to the correct answer (we call groundtruth). You will give a score from 1 to 10 where lower means less likely to be correct.

* just respond with score, nothing else.

user:
## Question:
{{question}}
## Answer:
{{answer}}
## Groundtruth:
{{groundtruth}}