{
  "azure_open_ai_connection": {
    "type": "AzureOpenAIConnection",
    "value": {
      "api_key": "aoai-api-key",
      "api_base": "aoai-api-endpoint",
      "api_type": "azure",
      "api_version": "2023-07-01-preview"
    },
    "module": "promptflow.connections"
  },
  "serp_connection": {
    "type": "SerpConnection",
    "value": {
      "api_key": "serpapi-api-key"
    },
    "module": "promptflow.connections"
  },
  "custom_connection": {
    "type": "CustomConnection",
    "value": {
      "key1": "hey",
      "key2": "val2"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "key1"
    ]
  },
  "open_ai_connection": {
    "type": "OpenAIConnection",
    "value": {
      "api_key": "openai-api-key",
      "organization": "openai-api-org"
    },
    "module": "promptflow.connections"
  }
}
