{
  "azure_open_ai_connection": {
    "type": "AzureOpenAIConnection",
    "value": {
      "api_key": "aoai-api-key",
      "api_base": "aoai-api-endpoint",
      "api_type": "azure",
      "api_version": "2023-07-01-preview"
    },
    "module": "promptflow.connections"
  },
  "serp_connection": {
    "type": "SerpConnection",
    "value": {
      "api_key": "serpapi-api-key"
    },
    "module": "promptflow.connections"
  },
  "custom_connection": {
    "type": "CustomConnection",
    "value": {
      "key1": "hey",
      "key2": "val2"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "key1"
    ]
  },
  "gpt2_connection": {
    "type": "CustomConnection",
    "value": {
      "endpoint_url": "custom-endpoint-url",
      "model_family": "GPT2",
      "endpoint_api_key": "custom-endpoint-api-key"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "endpoint_api_key"
    ]
  },
  "llama_chat_connection": {
    "type": "CustomConnection",
    "value": {
      "endpoint_url": "llama-chat-endpoint-url",
      "model_family": "LLAMA",
      "endpoint_api_key": "llama-chat-endpoint-api-key"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "endpoint_api_key"
    ]
  },
  "open_source_llm_ws_service_connection": {
    "type": "CustomConnection",
    "value": {
      "service_credential": "service-credential"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "service_credential"
    ]
  },
  "open_ai_connection": {
    "type": "OpenAIConnection",
    "value": {
      "api_key": "openai-api-key",
      "organization": "openai-api-org"
    },
    "module": "promptflow.connections"
  }
}
