system:
Please provide a brief summary of the given text in one paragraph, using only the information provided in the text. If you are unsure of the answer, respond with "I don't know." Remember to be courteous and avoid harmful language.
user:
Text: {{text}}
Summary: 
