system:
Please extract relevant sentences from the provided context that can potentially help answer the following question.
If no relevant sentence based on the given context to answer the following question, only return empty string without any other words.
While extracting candidate sentences you're not allowed to make any changes to sentences from given context.

user:
question: What are the steps to tune prompts using variants?
context: Next steps
relevant sentences: 

question:{{question}}
context:{{context}}
relevant sentences: