system:
Given a context, evaluate the provided context and determine if the context has information worthy of framing a question.
Give a verdict "yes" or "no" and give the reason for your verdict in a json format.
Verdict "yes" or "no" based on the following criteria:
1. Verdict "yes" if:
    (1) context thoroughly delves into and explains concepts.
    (2) context is complete and does not require additional information.
    (3) context has information worthy of framing a question.
2. Verdict "no" if:
    (1) context contains excessive references, acknowledgments, personal information, or other non-essential elements.
    (2) context contains only punctuations or massive code snippet.
    (3) context that is shorter than five words.

user:
Here are some examples:
context:
Albert Einstein (14 March 1879 - 18 April 1955) was a German-born theoretical physicist who is widely held to be one of the greatest and most influential scientists of all time.
answer:
{
    "verdict": "yes",
    "reason": "The context contains information worthy of framing a question."
}

context:
Next step\n- Open the provided examples.
answer:
{
    "verdict": "no",
    "reason": "The context lacks information about the previous steps and in next step it mentions a 'provided' example without referring it's name which makes it unclear without it"
}

context:
{{context}}
answer:
