interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.036'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.060'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.092'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 07:59:14 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zt1zN1V/HR5p7N0Sh5396w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 23 Jan 2024 06:27:00 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 23 Jan 2024 06:26:59 GMT
      x-ms-meta-name:
      - 1e376ce4-7c3b-4683-82ad-412f5cd23626
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7e65351c-7e4b-4a4d-90f8-304eacdc36bc
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 07:59:15 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 07:59:22 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - uGzKg4zQSAEy4o8EkWvBwQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:35:16 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:35:15 GMT
      x-ms-meta-name:
      - 8f7f8d35-6df5-477b-9a1d-cc62d5714f96
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 07:59:23 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/simple_with_req/flow.flex.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "connections": {}, "runtimeName":
      "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '4.577'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.flex.yaml", "flowSnapshotId": "9f3cbd7b-58ca-453d-a5ce-25518777a8f1",
        "sessionId": "07d837d1b20a63b4b57f6d819d6e11ffbb3490954eb852d7", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.319'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "e11584b8-6efe-43d5-b6f1-64f0bd493484", "createdUtc":
        "2024-04-11T07:59:46.739+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.name", "name": "__pf__.lines.failed", "columns":
        {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "9fef4172-7cb8-4d97-b26b-4e52ad823ad2", "createdUtc": "2024-04-11T07:59:47.328+00:00",
        "step": 0, "data": {"__pf__.lines.failed": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.064'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_name_output_data_debug_info", "dataType": "UriFolder",
      "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/name/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "name", "originAssetId": null}, "entityMetadata":
      {"etag": "\"14009d71-0000-0100-0000-661798690000\"", "createdTime": "2024-04-11T07:59:37.1035538+00:00",
      "modifiedTime": "2024-04-11T07:59:37.1130554+00:00", "createdBy": {"userObjectId":
      "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId": "8b695662-7793-4be0-8f51-97fd8072beb7",
      "isV2": true, "legacyDatasetType": null, "legacyDataflowType": null, "legacyDataflow":
      null, "legacySavedDatasetId": null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.040'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "9f3cbd7b-58ca-453d-a5ce-25518777a8f1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {".promptflow": {"name": ".promptflow", "hash": null, "type": "Directory", "timestamp":
      "0001-01-01T00:00:00+00:00", "sasUrl": null, "absoluteUrl": null, "sizeBytes":
      0, "sizeSet": false, "children": {"flow.json": {"name": "flow.json", "hash":
      "B86CCA838CD0480132E28F04916BC1C1", "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/.promptflow/flow.json?sv=2019-07-07&sr=b&sig=tCbY9B1AnWBgNnwskxhCwx7Q4IUirPg9AZnNW2%2BV1l8%3D&st=2024-04-11T07%3A50%3A22Z&se=2024-04-11T16%3A00%3A22Z&sp=r&rscd=filename%3Dflow.json",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/.promptflow/flow.json",
      "sizeBytes": 237, "sizeSet": true, "children": {}}}}, "entry.py": {"name": "entry.py",
      "hash": "6DFD06DC5FDE36064EF143DF19E6D251", "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py?sv=2019-07-07&sr=b&sig=3x9mHr9Ihtl7kXQVvqskd4ScDnl7WqpNAtZEa09T8LI%3D&st=2024-04-11T07%3A50%3A22Z&se=2024-04-11T16%3A00%3A22Z&sp=r&rscd=filename%3Dentry.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py",
      "sizeBytes": 331, "sizeSet": true, "children": {}}, "flow.flex.yaml": {"name":
      "flow.flex.yaml", "hash": "F23373D06FA1E9FAA7C6DD232FCE4657", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.flex.yaml?sv=2019-07-07&sr=b&sig=uE1oL1r6Uok%2FNt6r2uGTAK9sprLsDZkvNsXob6fJxxU%3D&st=2024-04-11T07%3A50%3A22Z&se=2024-04-11T16%3A00%3A22Z&sp=r&rscd=filename%3Dflow.flex.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.flex.yaml",
      "sizeBytes": 122, "sizeSet": true, "children": {}}, "requirements.txt": {"name":
      "requirements.txt", "hash": "334496741E114FD0302607C4BB190C0B", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt?sv=2019-07-07&sr=b&sig=1156XMdaU3yyl%2FK6yvQTdcCt1Grnq%2FLOFiNWHedOe84%3D&st=2024-04-11T07%3A50%3A22Z&se=2024-04-11T16%3A00%3A22Z&sp=r&rscd=filename%3Drequirements.txt",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt",
      "sizeBytes": 9, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.060'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:21 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fname%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/name/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Thu,
        11 Apr 2024 07:59:44 GMT</Creation-Time><Last-Modified>Thu, 11 Apr 2024 07:59:44
        GMT</Last-Modified><Etag>0x8DC59FD59584493</Etag><Content-Length>1235</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Thu,
        11 Apr 2024 07:59:47 GMT</Creation-Time><Last-Modified>Thu, 11 Apr 2024 07:59:47
        GMT</Last-Modified><Etag>0x8DC59FD5B8D1B1E</Etag><Content-Length>52</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>e7CC/hOg8uoJ3TK2HaKeZA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/instance_results.jsonl</Name><Properties><Creation-Time>Thu,
        11 Apr 2024 07:59:44 GMT</Creation-Time><Last-Modified>Thu, 11 Apr 2024 07:59:44
        GMT</Last-Modified><Etag>0x8DC59FD595CD357</Etag><Content-Length>130</Content-Length><Content-Type>application/octet-st[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:23 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/.promptflow/flow.json
  response:
    body:
      string: "{\r\n    \"function\": \"my_flow\",\r\n    \"entry\": \"entry:my_flow\",\r\n
        \   \"environment\": {\r\n        \"python_requirements_txt\": \"requirements.txt\"\r\n
        \   },\r\n    \"inputs\": {\r\n        \"input_val\": {\r\n            \"type\":
        \"object\"\r\n        }\r\n    }\r\n}"
    headers:
      content-range:
      - bytes 0-236/237
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-blob-content-md5:
      - uGzKg4zQSAEy4o8EkWvBwQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-copy-id:
      - 8cd12b29-0eac-4a0d-bd2d-e31e8f18e0b4
      x-ms-copy-progress:
      - 237/237
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/7e6a8dc20f0ca7febdbbc1d331c3e0d0/simple_with_req/.promptflow/flow.json
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-meta-name:
      - 8f7f8d35-6df5-477b-9a1d-cc62d5714f96
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:23 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/requirements.txt
  response:
    body:
      string: langchain
    headers:
      content-range:
      - bytes 0-8/9
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-blob-content-md5:
      - M0SWdB4RT9AwJgfEuxkMCw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-copy-id:
      - 33802d5f-cee2-44f4-ba15-8da99d3e5a66
      x-ms-copy-progress:
      - 9/9
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/7e6a8dc20f0ca7febdbbc1d331c3e0d0/simple_with_req/requirements.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:23 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/entry.py
  response:
    body:
      string: "# ---------------------------------------------------------\r\n# Copyright
        (c) Microsoft Corporation. All rights reserved.\r\n# -------------------------------------[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: '{"line_number": 0, "run_info": {"run_id": "name_0", "status": "Completed",
        "error": null, "inputs": {"input_val": "input1", "line_number": 0}, "output":
        {"output": "Hello world! input1"}, "metrics": null, "request": null, "parent_run_id":
        "name", "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-04-11T07:59:43.982439Z", "end_time": "2024-04-11T07:59:44.004407Z",
        "index": 0, "api_calls": [{"name": "my_flow", "type": "Function", "inputs":
        {"input_val": "input1"}, "output": "Hello world! input1", "start_time": 1712822383.983386,
        "end_time": 1712822384.003772, "error": null, "children": [], "node_name":
        null, "parent_id": "", "id": "020b1781-b9de-4195-8a49-bc56073bcc4d", "function":
        "my_flow"}], "name": "", "description": "", "tags": null, "system_metrics":
        {"duration": 0.021968}, "result": {"output": "Hello world! input1"}, "upload_metrics":
        false, "otel_trace_id": "9f1abbf05649f12d0b815426cb841fe7", "message_format":
        "basic"}, "start_time": "2024-04-11T07:59:43.982439", "end_time": "2024-04-11T07:59:44.004407",
        "name": "", "description": "", "status": "Completed", "tags": null}

        '
    headers:
      content-range:
      - bytes 0-1234/1235
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:44 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:44 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:23 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/flow.flex.yaml
  response:
    body:
      string: "entry: entry:my_flow\r\nenvironment:\r\n  python_requirements_txt:
        requirements.txt\r\ninputs:\r\n  input_val:\r\n    type: object\r\n"
    headers:
      content-range:
      - bytes 0-121/122
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-blob-content-md5:
      - 8jNz0G+h6fqnxt0jL85GVw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-copy-id:
      - 0e73cb0d-affb-4866-9f9a-5621ea96b969
      x-ms-copy-progress:
      - 122/122
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/7e6a8dc20f0ca7febdbbc1d331c3e0d0/simple_with_req/flow.flex.yaml
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:29 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl
  response:
    body:
      string: '{"line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-51/52
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:47 GMT
      x-ms-blob-content-md5:
      - e7CC/hOg8uoJ3TK2HaKeZA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:47 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.input_val": "input1",
        "inputs.line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-129/130
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:44 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:44 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 08:00:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/meta.json
  response:
    body:
      string: '{"batch_size": 25}'
    headers:
      content-range:
      - bytes 0-17/18
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 07:59:36 GMT
      x-ms-blob-content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 07:59:36 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    content: '{"runMetadata": {"runNumber": 1712822368, "rootRunId": "name", "createdUtc":
      "2024-04-11T07:59:28.3777546+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
      "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
      "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
      "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
      "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
      null, "error": null, "warnings": null, "revision": 6, "statusRevision": 3, "runUuid":
      "191151de-6d70-4dcc-a744-98264238db29", "parentRunUuid": null, "rootRunUuid":
      "191151de-6d70-4dcc-a744-98264238db29", "lastStartTimeUtc": null, "currentComputeTime":
      null, "computeDuration": "00:00:08.6058528", "effectiveStartTimeUtc": null,
      "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userPuId":
      "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "lastModifiedUtc": "2024-04-11T07:59:47.6881586+00:00",
      "duration": "00:00:08.6058528", "cancelationReason": null, "currentAttemptId":
[...]
