interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.035'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.117'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.093'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:17:59 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:ba6044f9-001a-0117-52a8-905a8a000000\nTime:2024-04-17T09:18:00.7660620Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:02 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:88b8fdfa-c01a-0091-4ea8-90683e000000\nTime:2024-04-17T09:18:03.7003087Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:0a08fa2d-801a-0074-0aa8-90397c000000\nTime:2024-04-17T09:18:05.2169502Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:52e3d899-301a-0061-28a8-902ecf000000\nTime:2024-04-17T09:18:06.6520338Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:06 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:ddd5ea65-d01a-00a2-76a8-903795000000\nTime:2024-04-17T09:18:07.9348708Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:08 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:09 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-17T09:18:09.2366061Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:09.2366061Z'
      x-ms-file-id:
      - '13835108516852924416'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:09.2366061Z'
      x-ms-file-parent-id:
      - '16141035093245296640'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:09 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F.promptflow?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:10 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-17T09:18:10.6115615Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:10.6115615Z'
      x-ms-file-id:
      - '13835178885597102080'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:10.6115615Z'
      x-ms-file-parent-id:
      - '13835108516852924416'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:10 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F__pycache__?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:11 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-17T09:18:11.9357392Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:11.9357392Z'
      x-ms-file-id:
      - '11529335876383408128'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:11.9357392Z'
      x-ms-file-parent-id:
      - '13835108516852924416'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:12 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:13 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:18:13.2419965Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:13.2419965Z'
      x-ms-file-id:
      - '16140920739741040640'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:13.2419965Z'
      x-ms-file-parent-id:
      - '13835108516852924416'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:13 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Wed, 17 Apr 2024 09:18:14 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:14.5183866Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '372'
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:14 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/flow.tools.json
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:15 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:18:15.9232088Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:15.9232088Z'
      x-ms-file-id:
      - '13835090924666880000'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:15.9232088Z'
      x-ms-file-parent-id:
      - '13835178885597102080'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\n    \"code\": {\n        \"hello_world.py\": {\n            \"type\":
      \"python\",\n            \"inputs\": {\n                \"name\": {\n
      \                   \"type\": [\n                        \"string\"\n                    ]\n
      \               }\n            },\n            \"source\": \"hello_world.py\",\n
      \           \"function\": \"hello_world\"\n        }\n    },\n    \"package\":
      {}\n}"
    headers:
      Content-MD5:
      - wsvN6FrWQ3+vyTLT78bBTw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:16 GMT
      x-ms-range:
      - bytes=0-371
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/flow.tools.json?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - wsvN6FrWQ3+vyTLT78bBTw==
      last-modified:
      - Wed, 17 Apr 2024 09:18:17 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:17.2055720Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:17 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:18 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:18:18.5655927Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:18.5655927Z'
      x-ms-file-id:
      - '13835161293411057664'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:18.5655927Z'
      x-ms-file-parent-id:
      - '13835108516852924416'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:18 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Wed, 17 Apr 2024 09:18:19 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:19.8479566Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '110'
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:19 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:18:21 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:18:21.3115208Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:18:21.3115208Z'
      x-ms-file-id:
      - '13835126109038968832'
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:21.3115208Z'
      x-ms-file-parent-id:
      - '13835108516852924416'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow.core import tool\n\n\n@tool\ndef hello_world(name: str)
      -> str:\n    return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:21 GMT
      x-ms-range:
      - bytes=0-109
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      last-modified:
      - Wed, 17 Apr 2024 09:18:22 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:18:22.6356997Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "studioPortalEndpoint": "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/2145e655-00d6-402b-a808-5d3efdf11911/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "2145e655-00d6-402b-a808-5d3efdf11911", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-04-17T09:18:25.8556671Z", "lastModifiedDate": "2024-04-17T09:18:25.8556671Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Xingzhi Zhang"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/2145e655-00d6-402b-a808-5d3efdf11911",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
        "enableMultiContainer": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.244'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.367'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.172'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:31 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 23 Nov 2023 12:11:21 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 23 Nov 2023 12:11:20 GMT
      x-ms-meta-name:
      - 74c8f1fa-9e14-4249-8fec-279efedeb400
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 2266d840-3ecd-4a91-9e63-8d57e7b0a62e
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:18:33 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionResourceId": "azureml://locations/fake-region/workspaces/00000/flows/00000000-0000-0000-0000-000000000000/",
      "runId": "name", "runDisplayName": "name", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl"},
      "inputsMapping": {"name": "${data.name}"}, "environmentVariables": {}, "connections":
      {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Flow
        Runtime operation failed with Forbidden: User with objectId(00000000-0000-0000-0000-000000000000)
        is not authorized to invoke this runtime as the runtime compute instance ci-lin-cpu-sp-eastus
        is assigned to 4e60fbf3-0338-41a8-bed5-fc341be556f8.", "messageFormat": "Flow
        Runtime operation failed with Forbidden: {details}.", "messageParameters":
        {"details": "User with objectId(00000000-0000-0000-0000-000000000000) is not
        authorized to invoke this runtime as the runtime compute instance ci-lin-cpu-sp-eastus
        is assigned to 4e60fbf3-0338-41a8-bed5-fc341be556f8"}, "referenceCode": null,
        "detailsUri": null, "target": null, "details": [], "innerError": {"code":
        "Auth", "innerError": {"code": "Authorization", "innerError": {"code": "FlowRuntimeOperationForbidden",
        "innerError": null}}}, "debugInfo": {"type": "Microsoft.MachineLearning.Common.Core.Exceptions.BaseException",
        "message": "Flow Runtime operation failed with Forbidden: User with objectId(00000000-0000-0000-0000-000000000000)
        is not authorized to invoke this runtime as the runtime compute instance ci-lin-cpu-sp-eastus
        is assigned to 4e60fbf3-0338-41a8-bed5-fc341be556f8.", "stackTrace": "   at
        Microsoft.MachineLearning.Studio.MiddleTier.Utilities.PromptFlow.FlowBulkRunHelper.ProcessSubmissionExceptionAndOrchestratorRequest(Exception
        ex, FlowRunRecordsEntity flowRunRecordsEntity, SubmitBulkRunToOrchestratorRequest
        submitToOrchestratorRequest, Func`3 markRunAsFailedAction) in /mnt/vss/_work/1/s/src/azureml-api/src/Designer/src/MiddleTier/MiddleTier/Utilities/PromptFlow/FlowBulkRunHelper.cs:line
        96\n   at Microsoft.MachineLearning.Studio.MiddleTier[...]
