interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.032'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.058'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.094'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:41:47 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zt1zN1V/HR5p7N0Sh5396w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 23 Jan 2024 06:27:00 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 23 Jan 2024 06:26:59 GMT
      x-ms-meta-name:
      - 1e376ce4-7c3b-4683-82ad-412f5cd23626
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7e65351c-7e4b-4a4d-90f8-304eacdc36bc
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:41:48 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:41:54 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/entry.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: "entry: entry:my_flow\r\nenvironment:\r\n  python_requirements_txt: requirements.txt\r\ninputs:\r\n
      \ input_val:\r\n    type: object\r\n"
    headers:
      Content-MD5:
      - 8jNz0G+h6fqnxt0jL85GVw==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 11 Apr 2024 09:41:54 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 8jNz0G+h6fqnxt0jL85GVw==
      last-modified:
      - Thu, 11 Apr 2024 09:41:55 GMT
      x-ms-content-crc64:
      - K9Yjkz8xzu8=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:41:55 GMT
      x-ms-meta-name:
      - cd75f534-f334-435f-9a96-7d60820f9622
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/entry.py?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 11 Apr 2024 09:41:56 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/simple_with_req/flow.flex.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "connections": {}, "runtimeName":
      "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '4.155'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "sessionId": "07d837d1b20a63b4b57f6d819d6e11ffbb3490954eb852d7",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.171'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.flex.yaml", "flowSnapshotId": "845e22e1-1ab7-404e-b9c9-eff3a9e110ad",
        "sessionId": "07d837d1b20a63b4b57f6d819d6e11ffbb3490954eb852d7", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.163'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "96601876-0712-49cf-944b-38c53d6e5f5f", "createdUtc":
        "2024-04-11T09:43:37.401+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.name", "name": "__pf__.lines.failed", "columns":
        {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "69543128-b0be-456c-9a34-121324e8d780", "createdUtc": "2024-04-11T09:43:37.815+00:00",
        "step": 0, "data": {"__pf__.lines.failed": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.049'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_name_output_data_debug_info", "dataType": "UriFolder",
      "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/name/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "name", "originAssetId": null}, "entityMetadata":
      {"etag": "\"15006bfe-0000-0100-0000-6617b0bc0000\"", "createdTime": "2024-04-11T09:43:24.3170787+00:00",
      "modifiedTime": "2024-04-11T09:43:24.3304717+00:00", "createdBy": {"userObjectId":
      "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId": "f4160e32-59be-4657-b839-5c704888ad1d",
      "isV2": true, "legacyDatasetType": null, "legacyDataflowType": null, "legacyDataflow":
      null, "legacySavedDatasetId": null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.048'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "845e22e1-1ab7-404e-b9c9-eff3a9e110ad"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {"entry.py": {"name": "entry.py", "hash": "6DFD06DC5FDE36064EF143DF19E6D251",
      "type": "File", "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py?sv=2019-07-07&sr=b&sig=dk07aNRHBEz8Mqlhaqpotivivixs0yW8xmBlVijYP2I%3D&st=2024-04-11T09%3A34%3A15Z&se=2024-04-11T17%3A44%3A15Z&sp=r&rscd=filename%3Dentry.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py",
      "sizeBytes": 331, "sizeSet": true, "children": {}}, "flow.flex.yaml": {"name":
      "flow.flex.yaml", "hash": "F23373D06FA1E9FAA7C6DD232FCE4657", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.flex.yaml?sv=2019-07-07&sr=b&sig=8b%2BkIuc4m6q6kWWj645yvjsVHJq2vLadQszixb3K1aw%3D&st=2024-04-11T09%3A34%3A15Z&se=2024-04-11T17%3A44%3A15Z&sp=r&rscd=filename%3Dflow.flex.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.flex.yaml",
      "sizeBytes": 122, "sizeSet": true, "children": {}}, "requirements.txt": {"name":
      "requirements.txt", "hash": "334496741E114FD0302607C4BB190C0B", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt?sv=2019-07-07&sr=b&sig=7n4czrwo9KIII6qFoAKccKGwULedhQ3pUC4qvxL2iRs%3D&st=2024-04-11T09%3A34%3A15Z&se=2024-04-11T17%3A44%3A15Z&sp=r&rscd=filename%3Drequirements.txt",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt",
      "sizeBytes": 9, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.049'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:13 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fname%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/name/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Thu,
        11 Apr 2024 09:43:34 GMT</Creation-Time><Last-Modified>Thu, 11 Apr 2024 09:43:34
        GMT</Last-Modified><Etag>0x8DC5A0BDB1C2ECB</Etag><Content-Length>1235</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Thu,
        11 Apr 2024 09:43:38 GMT</Creation-Time><Last-Modified>Thu, 11 Apr 2024 09:43:38
        GMT</Last-Modified><Etag>0x8DC5A0BDD38DD6A</Etag><Content-Length>52</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>e7CC/hOg8uoJ3TK2HaKeZA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/instance_results.jsonl</Name><Properties><Creation-Time>Thu,
        11 Apr 2024 09:43:34 GMT</Creation-Time><Last-Modified>Thu, 11 Apr 2024 09:43:34
        GMT</Last-Modified><Etag>0x8DC5A0BDB221B8A</Etag><Content-Length>130</Content-Length><Content-Type>application/octet-st[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:15 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/entry.py
  response:
    body:
      string: "# ---------------------------------------------------------\r\n# Copyright
        (c) Microsoft Corporation. All rights reserved.\r\n# ---------------------------------------------------------\r\n\r\ndef
        my_flow(input_val) -> str:\r\n    \"\"\"Simple flow with yaml.\"\"\"\r\n    print(f\"Hello
        world! {input_val}\")\r\n    return f\"Hello world! {input_val}\"\r\n"
    headers:
      content-range:
      - bytes 0-330/331
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-blob-content-md5:
      - bf0G3F/eNgZO8UPfGebSUQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-copy-id:
      - 7f5833b2-f3dd-414a-8281-4e5cce1c398c
      x-ms-copy-progress:
      - 331/331
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/6e95650e6c57124e5099bf2e61b4a786/simple_with_req/entry.py
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-meta-name:
      - cd75f534-f334-435f-9a96-7d60820f9622
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:15 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/flow.flex.yaml
  response:
    body:
      string: "entry: entry:my_flow\r\nenvironment:\r\n  python_requirements_txt:
        requirements.txt\r\ninputs:\r\n  input_val:\r\n    type: object\r\n"
    headers:
      content-range:
      - bytes 0-121/122
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-blob-content-md5:
      - 8jNz0G+h6fqnxt0jL85GVw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-copy-id:
      - 1214330e-d8e1-44d0-8a3b-ba89f558295d
      x-ms-copy-progress:
      - 122/122
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/6e95650e6c57124e5099bf2e61b4a786/simple_with_req/flow.flex.yaml
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:16 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: '{"line_number": 0, "run_info": {"run_id": "name_0", "status": "Completed",
        "error": null, "inputs": {"input_val": "input1", "line_number": 0}, "output":
        {"output": "Hello world! input1"}, "metrics": null, "request": null, "parent_run_id":
        "name", "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-04-11T09:43:34.623044Z", "end_time": "2024-04-11T09:43:34.655765Z",
        "index": 0, "api_calls": [{"name": "my_flow", "type": "Function", "inputs":
        {"input_val": "input1"}, "output": "Hello world! input1", "start_time": 1712828614.624102,
        "end_time": 1712828614.654996, "error": null, "children": [], "node_name":
        null, "parent_id": "", "id": "277ea083-7202-4c42-a900-6ca564dff134", "function":
        "my_flow"}], "name": "", "description": "", "tags": null, "system_metrics":
        {"duration": 0.032721}, "result": {"output": "Hello world! input1"}, "upload_metrics":
        false, "otel_trace_id": "9b3d1a5cc25fc67126e8e2745dc97a87", "message_format":
        "basic"}, "start_time": "2024-04-11T09:43:34.623044", "end_time": "2024-04-11T09:43:34.655765",
        "name": "", "description": "", "status": "Completed", "tags": null}

        '
    headers:
      content-range:
      - bytes 0-1234/1235
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:34 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:34 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:15 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/requirements.txt
  response:
    body:
      string: langchain
    headers:
      content-range:
      - bytes 0-8/9
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-blob-content-md5:
      - M0SWdB4RT9AwJgfEuxkMCw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-copy-id:
      - 5f663f90-4c7a-470d-9f0b-1e879c94bb16
      x-ms-copy-progress:
      - 9/9
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/6e95650e6c57124e5099bf2e61b4a786/simple_with_req/requirements.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:16 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:16 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.input_val": "input1",
        "inputs.line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-129/130
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:34 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:34 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:16 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/meta.json
  response:
    body:
      string: '{"batch_size": 25}'
    headers:
      content-range:
      - bytes 0-17/18
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:24 GMT
      x-ms-blob-content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:24 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:44:16 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl
  response:
    body:
      string: '{"line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-51/52
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 09:43:38 GMT
      x-ms-blob-content-md5:
      - e7CC/hOg8uoJ3TK2HaKeZA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 09:43:38 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    content: '{"runMetadata": {"runNumber": 1712828520, "rootRunId": "name", "createdUtc":
      "2024-04-11T09:42:00.4648502+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
      "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
      "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
      "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
      "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
      null, "error": null, "warnings": null, "revision": 7, "statusRevision": 3, "runUuid":
      "54017a02-1895-4f3d-a474-c3405edbc0fe", "parentRunUuid": null, "rootRunUuid":
[...]
