interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.104'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.082'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:25 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:c66ced0a-701a-010d-3ba7-903b55000000\nTime:2024-04-17T09:16:26.6230580Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:28 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:2a7c4bde-c01a-0028-7fa7-906c24000000\nTime:2024-04-17T09:16:29.6005553Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:29 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:399b256e-101a-00cf-75a7-9083de000000\nTime:2024-04-17T09:16:31.0091452Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:31 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:6134b832-801a-0016-5ca7-90fb5b000000\nTime:2024-04-17T09:16:32.3941771Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:32 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:bca319c5-201a-00d4-57a7-90bddd000000\nTime:2024-04-17T09:16:33.8183650Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:33 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:35 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-17T09:16:35.2219247Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:35.2219247Z'
      x-ms-file-id:
      - '13835077730527346688'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:35.2219247Z'
      x-ms-file-parent-id:
      - '16141035093245296640'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:35 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F.promptflow?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:36 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-17T09:16:36.6327204Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:36.6327204Z'
      x-ms-file-id:
      - '13835148099271524352'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:36.6327204Z'
      x-ms-file-parent-id:
      - '13835077730527346688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:36 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F__pycache__?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:38 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-17T09:16:38.0952908Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:38.0952908Z'
      x-ms-file-id:
      - '13835183283643613184'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:38.0952908Z'
      x-ms-file-parent-id:
      - '13835077730527346688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:38 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:39 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:16:39.5080796Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:39.5080796Z'
      x-ms-file-id:
      - '13835068934434324480'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:39.5080796Z'
      x-ms-file-parent-id:
      - '13835077730527346688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:39 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Wed, 17 Apr 2024 09:16:40 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:40.9208691Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '372'
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:41 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/flow.tools.json
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:42 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:16:42.3406264Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:42.3406264Z'
      x-ms-file-id:
      - '13835139303178502144'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:42.3406264Z'
      x-ms-file-parent-id:
      - '13835148099271524352'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\r\n    \"code\": {\r\n        \"hello_world.py\": {\r\n            \"type\":
      \"python\",\r\n            \"inputs\": {\r\n                \"name\": {\r\n
      \                   \"type\": [\r\n                        \"string\"\r\n                    ]\r\n
      \               }\r\n            },\r\n            \"source\": \"hello_world.py\",\r\n
      \           \"function\": \"hello_world\"\r\n        }\r\n    },\r\n    \"package\":
      {}\r\n}"
    headers:
      Content-MD5:
      - wsvN6FrWQ3+vyTLT78bBTw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:42 GMT
      x-ms-range:
      - bytes=0-371
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/flow.tools.json?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - wsvN6FrWQ3+vyTLT78bBTw==
      last-modified:
      - Wed, 17 Apr 2024 09:16:43 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:43.7534160Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:43 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:45 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:16:45.1642190Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:45.1642190Z'
      x-ms-file-id:
      - '13835104118806413312'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:45.1642190Z'
      x-ms-file-parent-id:
      - '13835077730527346688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:45 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Wed, 17 Apr 2024 09:16:46 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:46.5112920Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '110'
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:46 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 17 Apr 2024 09:16:47 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-17T09:16:47.9011810Z'
      x-ms-file-creation-time:
      - '2024-04-17T09:16:47.9011810Z'
      x-ms-file-id:
      - '13835174487550590976'
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:47.9011810Z'
      x-ms-file-parent-id:
      - '13835077730527346688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow.core import tool\n\n\n@tool\ndef hello_world(name: str)
      -> str:\n    return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 17 Apr 2024 09:16:48 GMT
      x-ms-range:
      - bytes=0-109
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      last-modified:
      - Wed, 17 Apr 2024 09:16:49 GMT
      x-ms-file-last-write-time:
      - '2024-04-17T09:16:49.2860926Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "studioPortalEndpoint": "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/a3501b97-cde4-447c-a36d-8e09a641d0a9/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "a3501b97-cde4-447c-a36d-8e09a641d0a9", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-04-17T09:16:52.218392Z", "lastModifiedDate": "2024-04-17T09:16:52.218392Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Xingzhi Zhang"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/a3501b97-cde4-447c-a36d-8e09a641d0a9",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
        "enableMultiContainer": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.244'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows/a3501b97-cde4-447c-a36d-8e09a641d0a9?experimentId=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"timestamp": "2024-04-17T09:16:52.3401351+00:00", "eTag": {}, "studioPortalEndpoint":
        "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/a3501b97-cde4-447c-a36d-8e09a641d0a9/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "a3501b97-cde4-447c-a36d-8e09a641d0a9", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-04-17T09:16:52.218392Z", "lastModifiedDate": "2024-04-17T09:16:52.218392Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Xingzhi Zhang"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/a3501b97-cde4-447c-a36d-8e09a641d0a9",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
        "enableMultiContainer": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.169'
    status:
      code: 200
      message: OK
version: 1
