interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.033'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.054'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.177'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 07:49:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - coR2DL3u7dznqaSP7zFogw==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 31 Oct 2023 09:02:21 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 31 Oct 2023 09:02:21 GMT
      x-ms-meta-name:
      - aeb6ec02-977b-40f5-af8e-6d74a508290d
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - bb7465bd-bfff-4936-99f3-31d77d641b37
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 07:49:12 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 07:49:14 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_env_var/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - z4r8oJG4uHoQyFTVBI+vbg==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 15 Apr 2024 03:32:29 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 15 Apr 2024 03:32:29 GMT
      x-ms-meta-name:
      - 047f1308-c77e-4357-983b-3bcd5bf40191
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 07:49:15 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_env_var/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.201'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/print_env_var/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl"},
      "inputsMapping": {}, "environmentVariables": {"API_BASE": "${azure_open_ai_connection.api_base}"},
      "disableTrace": false, "connections": {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '9.235'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "print_env", "type": "python", "source":
        {"type": "code", "path": "print_env.py"}, "inputs": {"key": "${inputs.key}"},
        "tool": "print_env.py", "reduce": false}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 0}}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "dynamic_list": {"func_path":
        "promptflow.tools.aoai_gpt4v.list_deployment_names", "func_kwargs": [{"name":
        "connection", "reference": "${inputs.connection}", "type": ["AzureOpenAIConnection"]}]},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 1}}, "detail": {"type": ["string"], "default": "auto",
        "enum": ["low", "high", "auto"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 9}}, "frequency_penalty":
        {"type": ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 7}}, "max_tokens": {"type":
        ["int"], "default": 512, "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 4}}, "presence_penalty": {"type":
        ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 6}}, "seed": {"type":
        ["int"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 8}}, "stop": {"type": ["list"],
        "default": "", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 5}}, "temperature": {"type": ["double"],
        "default": 1, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 2}}, "top_p": {"type": ["double"], "default":
        1, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 3}}}, "description": "Use Azure OpenAI GPT-4 Turbo with
        Vision to leverage AOAI vision ability.", "module": "promptflow.tools.aoai_gpt4v",
        "class_name": "AzureOpenAI", "function": "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.5.0rc8",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.5.0rc8", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection", "ServerlessConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "deployment_name": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "capabilities": {"completion": false, "chat_completion":
        false, "embeddings": true}, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "input": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "model": {"type":
        ["string"], "enum": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use OpenAI''s embedding model
        to create an embedding vector representing the input text.", "module": "promptflow.tools.embedding",
        "function": "embedding", "is_builtin": true, "package": "promptflow-tools",
        "package_version": "1.5.0rc8", "enable_kwargs": false, "tool_state": "stable"},
        {"name": "LLM", "type": "custom_llm", "inputs": {"api": {"type": ["string"],
        "default": "chat", "allow_manual_entry": true, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 1, "text_box_size": "sm"}, "filter_by": {"input_name":
        "connection", "values": {"AzureOpenAIConnection": {"enum": ["chat", "completion"]},
        "OpenAIConnection": {"enum": ["chat", "completion"]}, "ServerlessConnection":
        {"enum": ["chat"]}}, "filter_attribute": "type"}}, "best_of": {"type": ["int"],
        "default": 1, "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 16, "text_box_size": "xs"}}, "connection": {"type":
        ["AzureOpenAIConnection", "OpenAIConnection", "ServerlessConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        0}}, "deployment_name": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 2, "text_box_size":
        "lg"}, "filter_by": {"input_name": "api", "values": {"chat": {"capabilities":
        {"chat_completion": true, "exclude": {"model_version": ["vision-preview"]}}},
        "completion": {"capabilities": {"completion": true, "include": {"model_name":
        ["gpt-35-turbo-instruct"]}}}}}}, "echo": {"type": ["bool"], "default": false,
        "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 15, "text_box_size": "xs"}}, "frequency_penalty": {"type":
        ["int"], "default": 0, "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "advanced": true, "ui_hints": {"index": 10, "text_box_size":
        "xs"}}, "logit_bias": {"type": ["object"], "default": "", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 11, "text_box_size": "lg"}}, "logprobs": {"type": ["int"],
        "default": "", "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 14, "text_box_size": "xs"}}, "max_tokens": {"type":
        ["int"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 7, "text_box_size": "xs"}},
        "model": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 3, "text_box_size": "lg"},
        "filter_by": {"input_name": "api", "values": {"chat": {"enum": ["gpt-3.5-turbo",
        "gpt-3.5-turbo-0301", "gpt-3.5-turbo-16k", "gpt-3.5-turbo-1106", "gpt-4",
        "gpt-4-1106-preview", "gpt-4-0314", "gpt-4-32k", "gpt-4-32k-0314"]}, "completion":
        {"enum": ["gpt-3.5-turbo-instruct"]}}}}, "presence_penalty": {"type": ["double"],
        "default": 0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true, "ui_hints": {"index": 8}}, "response_format":
        {"type": ["object"], "default": "", "enum": [{"type": "json_object"}, {"type":
        "text"}], "enabled_by": "api", "enabled_by_value": ["chat"], "allow_manual_entry":
        true, "is_multi_select": false, "input_type": "default", "advanced": false,
        "ui_hints": {"index": 9, "text_box_size": "lg"}}, "seed": {"type": ["int"],
        "default": "", "enabled_by": "api", "enabled_by_value": ["chat"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 12, "text_box_size": "xs"}}, "stop": {"type": ["list"],
        "default": "", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 6, "text_box_size": "md"}}, "suffix": {"type":
        ["string"], "default": "", "enabled_by": "api", "enabled_by_value": ["completion"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "advanced": true, "ui_hints": {"index": 13, "text_box_size": "xs"}}, "temperature":
        {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 4, "text_box_size":
        "xs"}}, "tool_choice": {"type": ["object", "string"], "default": "", "enabled_by":
        "api", "enabled_by_value": ["chat"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 18}}, "tools": {"type":
        ["list"], "default": [], "enabled_by": "api", "enabled_by_value": ["chat"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"display_style": "reusable_tool", "index": 17}}, "top_p": {"type":
        ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "advanced": true, "ui_hints": {"index": 5,
        "text_box_size": "xs"}}}, "description": {"ai_studio": "Use OpenAI-like Large
        Language Model for text completion or chat. For more details, refer to this
        [document](https://aka.ms/aistudio/pf/llm-tool).", "aml": "Use OpenAI-like
        Large Language Model for text completion or chat. For more details, refer
        to this [document](https://aka.ms/promptflow/llm-tool).", "default": "Use
        OpenAI-like Large Language Model for text completion or chat."}, "module":
        "promptflow.tools.llm", "function": "llm", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "category": "llm", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.5.0rc8", "default_prompt": "# system:\nYou are a helpful assistant.\n\n#
        user:\n{{question}}\n", "enable_kwargs": false, "tool_state": "stable", "groups":
        [{"name": "Tools", "description": "Configure interactive capabilities by selecting
        tools for the model to use and guiding its tool call decisions.", "inputs":
        ["tools", "tool_choice"], "ui_hints": {"display_style": "table"}}]}, {"name":
        "LLM-Vision", "type": "custom_llm", "inputs": {"connection": {"type": ["AzureOpenAIConnection",
        "OpenAIConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"ind[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1715586562, "rootRunId": "name", "createdUtc":
        "2024-05-13T07:49:22.4981684+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 4, "statusRevision": 1,
        "runUuid": "1f587950-227a-4a78-82d3-d3a1a7ee51da", "parentRunUuid": null,
        "rootRunUuid": "1f587950-227a-4a78-82d3-d3a1a7ee51da", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "lastModifiedUtc": "2024-05-13T07:49:29.4367882+00:00", "duration":
        null, "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "6a87c3ae-5a75-4c5d-9eb9-5203b0062282", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "zhengfei-test", "azureml.promptflow.disable_trace":
        "false", "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/4104a8f4d3b0b5b51c7cacbdac64e128/env_var_names.jsonl",
        "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.flow_lineage_id":
        "f1efdb93dcf9b3c17e246e7bcf0e2c7398d7bc289f8dd2c3d8f808eacc63c31f", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/4bb5b2505149b85e97d2910b78d9b53b/print_env_var/flow.dag.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "a7e043f2-6509-45e2-9880-cddfd6095a24", "azureml.promptflow.runtime_version":
        "20240429.v8"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings": {}, "services":
        {}, "inputDatasets": [], "outputDatasets": [], "runDefinition": null, "jobSpecification":
        null, "primaryMetricName": null, "createdFrom": null, "cancelUri": null, "completeUri":
        null, "diagnosticsUri": null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.029'
    status:
      code: 200
      message: OK
version: 1
