interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.064'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.076'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.192'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore",
        "name": "workspac[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.166'
    status:
      code: 200
      message: OK
- request:
    body: "{\"line_number\": 0, \"run_info\": {\"run_id\": \"50ff8be4-6483-4874-a9e7-4499f7e464f1_0\",
      \"status\": \"Completed\", \"error\": null, \"inputs\": {\"line_number\": 0},
      \"output\": {\"output\": \"Hello world! gpt\"}, \"metrics\": null, \"request\":
      null, \"parent_run_id\": \"50ff8be4-6483-4874-a9e7-4499f7e464f1\", \"root_run_id\":
      \"50ff8be4-6483-4874-a9e7-4499f7e464f1\", \"source_run_id\": null, \"flow_id\":
      \"default_flow_id\", \"start_time\": \"2024-04-28T07:27:25.485150Z\", \"end_time\":
      \"2024-04-28T07:27:25.487171Z\", \"index\": 0, \"api_calls\": [{\"name\": \"my_flow\",
      \"type\": \"Flow\", \"inputs\": {}, \"output\": \"Hello world! gpt\", \"start_time\":
      1714260445.486147, \"end_time\": 1714260445.486147, \"error\": null, \"children\":
      [], \"node_name\": null, \"parent_id\": \"\", \"id\": \"02721874-5242-4826-ac2f-4e1d30bd1a57\",
      \"function\": \"my_flow\", \"system_metrics\": {}}], \"name\": \"\", \"description\":
      \"\", \"tags\": null, \"system_metrics\": {\"duration\": 0.002021}, \"result\":
      null, \"upload_metrics\": false, \"otel_trace_id\": \"0x00000000000000000000000000000000\",
      \"message_format\": \"basic\"}, \"start_time\": \"2024-04-28T07:27:25.485150\",
      \"end_time\": \"2024-04-28T07:27:25.487171\", \"name\": \"\", \"description\":
      \"\", \"status\": \"Completed\", \"tags\": null}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - +Aj0owmsntNvRZKXdslmmg==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - TtPAtkh0tU0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: THIS IS CONSTANT VALUE!
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/flow_logs/000000000.log
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CgDAHOTBMKo5OQ490a/sjA==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - SwyS4S2e31Y=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: THIS IS CONSTANT VALUE!
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/flow_outputs/output.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CgDAHOTBMKo5OQ490a/sjA==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - SwyS4S2e31Y=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: THIS IS CONSTANT VALUE!
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/ExperimentRun/dcid.flex_run_name_with_yaml_for_upload/logs/azureml/executionlogs.txt
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CgDAHOTBMKo5OQ490a/sjA==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - SwyS4S2e31Y=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\"line_number\": 0, \"status\": \"Completed\", \"inputs.line_number\":
      0, \"output\": \"Hello world! gpt\"}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/instance_results.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - H2fc8QBSD7e2UyfP7IFrTQ==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - ec50oC/hkcU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"batch_size": 25}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/meta.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - /9Grig3aMP8=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "# ---------------------------------------------------------\r\n# Copyright
      (c) Microsoft Corporation. All rights reserved.\r\n# ---------------------------------------------------------\r\n\r\ndef
      my_flow(input_val: str = \"gpt\") -> str:\r\n    \"\"\"Simple flow without yaml.\"\"\"\r\n
      \   return f\"Hello world! {input_val}\"\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/flex_run_name_with_yaml_for_upload/entry.py
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 0MK4oyW8dSVtQsO9kQE52A==
      last-modified:
      - Sun, 28 Apr 2024 07:27:40 GMT
      x-ms-content-crc64:
      - 9KC1aN3Kgzc=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "entry: entry:my_flow\r\ninputs:\r\n  input_val:\r\n    type: string\r\n
      \   default: gpt\r\noutputs:\r\n  output:\r\n    type: string\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:41 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/flex_run_name_with_yaml_for_upload/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - EAzkrcy5B6fXTNymD8jzNw==
      last-modified:
      - Sun, 28 Apr 2024 07:27:41 GMT
      x-ms-content-crc64:
      - z189AjQ9c+s=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "2024-04-23 15:20:09 +0800   25968 execution          DEBUG    Start initializing
      the executor with C:\\Users\\zhengfeiwang\\src\\promptflow-microsoft\\src\\promptflow\\tests\\test_configs\\eager_flows\\simple_with_yaml\\flow.flex.yaml.\r\n2024-04-23
      15:20:09 +0800   25968 execution          DEBUG    Init params for script executor:
      None\r\n2024-04-23 15:20:09 +0800   25968 execution          DEBUG    Start
      initializing the executor with C:\\Users\\zhengfeiwang\\src\\promptflow-microsoft\\src\\promptflow\\tests\\test_configs\\eager_flows\\simple_with_yaml\\flow.flex.yaml.\r\n2024-04-23
      15:20:09 +0800   25968 execution          DEBUG    Init params for script executor:
      None\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 28 Apr 2024 07:27:41 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/flex_run_name_with_yaml_for_upload/.promptflow%5Cflow.log
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3/5GlPkxNLKdBpTh3fbu7w==
      last-modified:
      - Sun, 28 Apr 2024 07:27:41 GMT
      x-ms-content-crc64:
      - 0gPo/Xi/dI0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.flex_run_name_with_yaml_for_upload",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/instance_results.jsonl"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    content: '{"artifactId": "ExperimentRun/dcid.flex_run_name_with_yaml_for_upload/instance_results.jsonl",
      "origin": "ExperimentRun", "container": "dcid.flex_run_name_with_yaml_for_upload",
      "path": "instance_results.jsonl", "etag": "\"f401d085-0000-0100-0000-662dfa6e0000\"",
      "createdTime": "2024-04-28T07:27:42.2357872+00:00", "dataPath": {"dataStoreName":
      "workspaceblobstore", "relativePath": "promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/instance_results.jsonl"},
      "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.080'
    status_code: 200
- request:
    body: '{"runId": "flex_run_name_with_yaml_for_upload", "runDisplayName": "sdk-cli-test-run-local-to-cloud-flex-with-yaml",
      "tags": {"sdk-cli-test-flex": "true"}, "properties": {"azureml.promptflow.total_tokens":
      "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
      \"type\": \"table\"}]"}, "runExperimentName": "", "runDisplayNameGenerationType":
      "UserProvidedMacro", "outputDataStore": "workspaceblobstore", "flowArtifactsRootPath":
      "promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload", "logFileRelativePath":
      "ExperimentRun/dcid.flex_run_name_with_yaml_for_upload/logs/azureml/executionlogs.txt",
      "flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "runs/flex_run_name_with_yaml_for_upload/flow.flex.yaml", "runStatus": "Completed",
      "endTimeUtc": "2024-04-28T15:27:29.269122Z", "startTimeUtc": "2024-04-28T15:27:20.890022Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/create
  response:
    body:
      string: '"flex_run_name_with_yaml_for_upload"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.381'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/flex_run_name_with_yaml_for_upload
  response:
    body:
      string: '{"flowGraph": {"inputs": {"input_val": {"type": "string", "default":
        "gpt", "is_chat_input": false}}, "outputs": {"output": {"type": "string",
        "evaluation_only": false, "is_chat_output": false}}}, "flowRunResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/flex_run_name_with_yaml_for_upload/flowRuns/flex_run_name_with_yaml_for_upload",
        "flowRunId": "flex_run_name_with_yaml_for_upload", "flowRunDisplayName": "sdk-cli-test-run-local-to-cloud-flex-with-yaml",
        "flowRunType": "FlowRun", "flowType": "Default", "outputDatastoreName": "workspaceblobstore",
        "childRunBasePath": "promptflow/PromptFlowArtifacts/flex_run_name_with_yaml_for_upload/flow_artifacts",
        "flowDagFileRelativePath": "flow.flex.yaml", "flowSnapshotId": "9955d98e-cd68-44c3-ba5a-cefe469fb22c",
        "studioPortalEndpoint": "https://ml.azure.com/runs/flex_run_name_with_yaml_for_upload?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.346'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "flex_run_name_with_yaml_for_upload", "selectRunMetadata": true,
      "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1714289265, "rootRunId": "flex_run_name_with_yaml_for_upload",
        "createdUtc": "2024-04-28T07:27:45.8017528+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision": 1,
        "statusRevision": 0, "runUuid": "dc0d22c9-0808-44b8-9f61-c49b79d7c46e", "parentRunUuid":
        null, "rootRunUuid": "dc0d22c9-0808-44b8-9f61-c49b79d7c46e", "lastStartTimeUtc":
        "2024-04-28T15:27:20.890022+00:00", "currentComputeTime": "00:00:00", "computeDuration":
        "00:00:00", "effectiveStartTimeUtc": "2024-04-28T15:27:20.890022+00:00", "lastModifiedBy":
        {"userObjectId": "00000000-0000-0000-0000-000000000000", "userPuId": null,
        "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "lastModifiedUtc": "2024-04-28T07:27:45.8017528+00:00", "duration":
        "00:00:08.3791000", "cancelationReason": null, "currentAttemptId": 1, "runId":
        "flex_run_name_with_yaml_for_upload", "parentRunId": null, "experimentId":
        "7aef93df-8351-4163-ba75-9806f29227cc", "status": "Completed", "startTimeUtc":
        "2024-04-28T15:27:20.890022+00:00", "endTimeUtc": "2024-04-28T15:27:29.269122+00:00",
        "scheduleId": null, "displayName": "sdk-cli-test-run-local-to-cloud-flex-with-yaml",
        "name": null, "dataContainerId": "dcid.flex_run_name_with_yaml_for_upload",
        "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": null}, "properties": {"azureml.promptflow.total_tokens": "0",
        "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\", \"type\":
        \"table\"}]", "azureml.promptflow.runtime_name": null, "azureml.promptflow.disable_trace":
        "false", "azureml.promptflow.local_to_cloud": "true", "azureml.promptflow.snapshot_id":
        "9955d98e-cd68-44c3-ba5a-cefe469fb22c", "_azureml.evaluation_run": "promptflow.BatchRun"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {"sdk-cli-test-flex": "true"}, "settings": {}, "services": {},
        "inputDatasets": [], "outputDatasets": [], "runDefinition": null, "jobSpecification":
        null, "primaryMetricName": null, "createdFrom": null, "cancelUri": null, "completeUri":
        null, "diagnosticsUri": null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": null, "Tools": null, "Codes": null, "Inputs": {"input_val": {"name":
        null, "type": "string", "default": "gpt", "description": null, "is_chat_input":
        false, "is_chat_history": null}}, "Outputs": {"output": {"name": null, "type":
        "string", "description": null, "reference": null, "evaluation_only": false,
        "is_chat_output": false}}}, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.046'
    status:
      code: 200
      message: OK
version: 1
