interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.036'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.073'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.148'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:57:42 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - xHH3GvLcs1F5173bZVNf6g==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 15 Apr 2024 04:19:34 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 15 Apr 2024 04:19:34 GMT
      x-ms-meta-name:
      - b13edc7e-a8c3-4d68-be8e-de856884f4ef
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 286d60c1-9f6a-4b3d-95ab-93f810275bec
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:57:42 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:57:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/basic_callable_class/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - LTDKUqyrOtmktGLA4S8PVg==
      content-type:
      - application/octet-stream
      last-modified:
      - Sun, 28 Apr 2024 21:16:27 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 28 Apr 2024 21:16:27 GMT
      x-ms-meta-name:
      - 53add14f-487d-4328-88e6-97eb3e02b6a7
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:57:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/basic_callable_class/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.286'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/basic_callable_class/flow.flex.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/inputs.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "initKWargs": {"obj_input":
      "val"}, "disableTrace": false, "connections": {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '4.405'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/d2d9e86690ea8d0f26bc1f80553860b4/inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "sessionId": "fc073e3ba6c206b77148e688bef8061c57089ff53565949c",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "studioPortalTraceEndpoint": "https://ml.azure.com/prompts/trace/run/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.229'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"inputs": {"func_input": {"type": "string", "is_chat_input":
        false}}, "outputs": {"obj_input": {"type": "string", "evaluation_only": false,
        "is_chat_output": false}, "func_input": {"type": "string", "evaluation_only":
        false, "is_chat_output": false}, "obj_id": {"type": "string", "evaluation_only":
        false, "is_chat_output": false}}}, "flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/d2d9e86690ea8d0f26bc1f80553860b4/inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.flex.yaml", "flowSnapshotId": "545f39a7-6ec7-43d5-a52d-cb85f9048b5a",
        "sessionId": "fc073e3ba6c206b77148e688bef8061c57089ff53565949c", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "studioPortalTraceEndpoint": "https://ml.azure.com/prompts/trace/run/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.192'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/childRuns?endIndex=24&startIndex=0
  response:
    body:
      string: '[{"run_id": "name_1", "status": "Completed", "error": null, "inputs":
        {"func_input": "func_input", "line_number": 1}, "output": {"obj_input": "val",
        "func_input": "func_input", "obj_id": 140063187566800}, "metrics": null, "request":
        null, "parent_run_id": "name", "root_run_id": "name", "source_run_id": null,
        "flow_id": "default_flow_id", "start_time": "2024-05-13T09:00:17.063566Z",
        "end_time": "2024-05-13T09:00:17.088529Z", "index": 1, "api_calls": [{"name":
        "MyFlow.__call__", "type": "Function", "inputs": {"func_input": "func_input"},
        "output": {"obj_input": "val", "func_input": "func_input", "obj_id": 140063187566800},
        "start_time": 1715590817.064582, "end_time": 1715590817.087559, "error": null,
        "children": [], "node_name": null, "parent_id": "", "id": "82afd63c-d1a5-450f-a246-a171edd8a218",
        "function": "MyFlow.__call__"}], "name": "", "description": "", "tags": null,
        "system_metrics": {"duration": 0.024963}, "result": {"obj_input": "val", "func_input":
        "func_input", "obj_id": 140063187566800}, "upload_metrics": false, "otel_trace_id":
        "e344a055a9ff975e947dfca7da5ab4ca", "message_format": "basic"}, {"run_id":
        "name_3", "status": "Completed", "error": null, "inputs": {"func_input": "func_input",
        "line_number": 3}, "output": {"obj_input": "val", "func_input": "func_input",
        "obj_id": 140063187566800}, "metrics": null, "request": null, "parent_run_id":
        "name", "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-05-13T09:00:17.095666Z", "end_time": "2024-05-13T09:00:17.1239Z",
        "index": 3, "api[...]
[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1715590673, "rootRunId": "name", "createdUtc":
        "2024-05-13T08:57:53.4763003+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 7, "statusRevision": 3,
        "runUuid": "a210937e-9854-4bde-b06d-36be3b6dcf2b", "parentRunUuid": null,
        "rootRunUuid": "a210937e-9854-4bde-b06d-36be3b6dcf2b", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:10.7723169", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-05-13T09:00:21.5709594+00:00",
        "duration": "00:00:10.7723169", "cancelationReason": null, "currentAttemptId":
        1, "runId": "name", "parentRunId": null, "experimentId": "5eb04be5-811b-4bc7-b114-cef32f13ed5a",
        "status": "Completed", "startTimeUtc": "2024-05-13T09:00:11.1878654+00:00",
        "endTimeUtc": "2024-05-13T09:00:21.9601823+00:00", "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": null}, "properties":
        {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.init_kwargs":
        "{\"obj_input\":\"val\"}", "azureml.promptflow.disable_trace": "false", "azureml.promptflow.input_data":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/d2d9e86690ea8d0f26bc1f80553860b4/inputs.jsonl",
        "azureml.promptflow.session_id": "fc073e3ba6c206b77148e688bef8061c57089ff53565949c",
        "azureml.promptflow.definition_file_name": "flow.flex.yaml", "azureml.promptflow.flow_lineage_id":
        "3d04e5968619811b37b7d2f069a8d31cbf411d48806e0da29a61313fe0213eb2", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/b0474265cd807563de84ad7107d75ab3/basic_callable_class/flow.flex.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "545f39a7-6ec7-43d5-a52d-cb85f9048b5a", "azureml.promptflow.run_mode": "Eager",
        "azureml.promptflow.runtime_version": "bu-20240403-1452", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings":
        {}, "services": {}, "inputDatasets": [], "outputDatasets": [], "runDefinition":
        null, "jobSpecification": null, "primaryMetricName": null, "createdFrom":
        null, "cancelUri": null, "completeUri": null, "diagnosticsUri": null, "computeRequest":
        null, "compute": null, "retainForLifetimeOfWorkspace": false, "queueingInfo":
        null, "inputs": null, "outputs": {"debug_info": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.054'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/logContent
  response:
    body:
      string: '"2024-05-13 09:00:01 +0000      52 promptflow-runtime INFO     [name]
        Receiving v2 bulk run request 10ae4877-3f8e-43b6-bf4a-a12942a2f0f3: {\"flow_id\":
        \"name\", \"flow_run_id\": \"name\", \"flow_source\": {\"flow_source_type\":
        1, \"flow_source_info\": {\"snapshot_id\": \"545f39a7-6ec7-43d5-a52d-cb85f9048b5a\"},
        \"flow_dag_file\": \"flow.flex.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-05-13T07%3A09%3A02Z&ske=2024-05-14T15%3A19%3A02Z&sks=b&skv=2019-07-07&st=2024-05-13T08%3A50%3A00Z&se=2024-05-13T17%3A00%3A00Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"batch_timeout_sec\": 36000, \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/d2d9e86690ea8d0f26bc1f80553860b4/inputs.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast4063704120\", \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/name\", \"blob_container_sas_token\":
        \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-05-13T09%3A00%3A00Z&ske=2024-05-20T09%3A00%3A00Z&sks=b&skv=2019-07-07&se=2024-05-20T09%3A00%3A00Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}, \"init_kwargs\": {\"obj_input\":
        \"val\"}}\n2024-05-13 09:00:02 +0000      52 promptflow-runtime INFO     Runtime
        version: bu-20240403-1452. PromptFlow version: 1.8.0rc8\n2024-05-13 09:00:02
        +0000      52 promptflow-runtime INFO     Updating name to Status.Preparing...\n2024-05-13
        09:00:02 +0000      52 promptflow-runtime INFO     Downloading snapshot to
        /mnt/host/service/app/39765/requests/name\n2024-05-13 09:00:02 +0000      52
        promptflow-runtime INFO     Get snapshot sas url for 545f39a7-6ec7-43d5-a52d-cb85f9048b5a.\n2024-05-13
        09:00:02 +0000      52 promptflow-runtime INF[...]
