interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.033'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.327'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.175'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:14:52 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zt1zN1V/HR5p7N0Sh5396w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 23 Jan 2024 06:27:00 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 23 Jan 2024 06:26:59 GMT
      x-ms-meta-name:
      - 1e376ce4-7c3b-4683-82ad-412f5cd23626
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7e65351c-7e4b-4a4d-90f8-304eacdc36bc
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:14:53 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:14:59 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - +v1crsVbmor/Fm/S0JbZQQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Fri, 23 Feb 2024 09:14:47 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 23 Feb 2024 09:14:47 GMT
      x-ms-meta-name:
      - 41565f1b-b74e-450d-840b-59a482ad1f04
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:14:59 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/simple_with_req/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runtimeName": "fake-runtime-name", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '5.519'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.362'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.dag.yaml", "flowSnapshotId": "0f86c4dc-c659-4341-9393-52c10b1b4fb4",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.315'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "5e5f57e1-fb0e-4e25-827e-33883617bf54", "createdUtc":
        "2024-02-26T08:19:27.772+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.name", "name": "__pf__.lines.failed", "columns":
        {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "93fa8a37-8a41-4ba3-bba5-fd0b7b2c4a6a", "createdUtc": "2024-02-26T08:19:28.188+00:00",
        "step": 0, "data": {"__pf__.lines.failed": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.065'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_name_output_data_debug_info", "dataType": "UriFolder",
      "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/name/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "name", "originAssetId": null}, "entityMetadata":
      {"etag": "\"a904f9dc-0000-0100-0000-65dc49910000\"", "createdTime": "2024-02-26T08:19:29.5177992+00:00",
      "modifiedTime": "2024-02-26T08:19:29.5281012+00:00", "createdBy": {"userObjectId":
      "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId": "502660ec-9aee-4a19-bfb3-9986b2b8ce35",
      "isV2": true, "legacyDatasetType": null, "legacyDataflowType": null, "legacyDataflow":
      null, "legacySavedDatasetId": null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.045'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "0f86c4dc-c659-4341-9393-52c10b1b4fb4"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {".promptflow": {"name": ".promptflow", "hash": null, "type": "Directory", "timestamp":
      "0001-01-01T00:00:00+00:00", "sasUrl": null, "absoluteUrl": null, "sizeBytes":
      0, "sizeSet": false, "children": {"flow.json": {"name": "flow.json", "hash":
      "FAFD5CAEC55B9A8AFF166FD2D096D941", "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/.promptflow/flow.json?sv=2019-07-07&sr=b&sig=m7MOPzWmoS8ScuzO5hVGqiQaFBFDUYlg4LseseaeNWc%3D&st=2024-02-26T08%3A10%3A09Z&se=2024-02-26T16%3A20%3A09Z&sp=r&rscd=filename%3Dflow.json",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/.promptflow/flow.json",
      "sizeBytes": 240, "sizeSet": true, "children": {}}}}, "entry.py": {"name": "entry.py",
      "hash": "6DFD06DC5FDE36064EF143DF19E6D251", "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py?sv=2019-07-07&sr=b&sig=J0w5QvbmEUXMF4CWXzduecbqQZuujDaYk3eIjnrfCSQ%3D&st=2024-02-26T08%3A10%3A09Z&se=2024-02-26T16%3A20%3A09Z&sp=r&rscd=filename%3Dentry.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py",
      "sizeBytes": 331, "sizeSet": true, "children": {}}, "flow.dag.yaml": {"name":
      "flow.dag.yaml", "hash": "177136ADA115CB237F123C40190282C3", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.dag.yaml?sv=2019-07-07&sr=b&sig=YE9uxO9ae%2FwV854X1zjYHM7Hz%2FvTq0t4k%2BmB%2BiG3kQ0%3D&st=2024-02-26T08%3A10%3A09Z&se=2024-02-26T16%3A20%3A09Z&sp=r&rscd=filename%3Dflow.dag.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.dag.yaml",
      "sizeBytes": 81, "sizeSet": true, "children": {}}, "requirements.txt": {"name":
      "requirements.txt", "hash": "334496741E114FD0302607C4BB190C0B", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt?sv=2019-07-07&sr=b&sig=S9TQ8QZLTRaglavbGYtJZ2k5AcqSvTI%2F1ah7NQR02Lk%3D&st=2024-02-26T08%3A10%3A09Z&se=2024-02-26T16%3A20%3A09Z&sp=r&rscd=filename%3Drequirements.txt",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt",
      "sizeBytes": 9, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.048'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/entry.py
  response:
    body:
      string: "# ---------------------------------------------------------\r\n# Copyright
        (c) Microsoft Corporation. All rights reserved.\r\n# ---------------------------------------------------------\r\n\r\ndef
        my_flow(input_val) -> str:\r\n    \"\"\"Simple flow with yaml.\"\"\"\r\n    print(f\"Hello
        world! {input_val}\")\r\n    return f\"Hello world! {input_val}\"\r\n"
    headers:
      content-range:
      - bytes 0-330/331
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-blob-content-md5:
      - bf0G3F/eNgZO8UPfGebSUQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-copy-id:
      - 3c482c6e-a4cb-49fe-8798-203158e0b3de
      x-ms-copy-progress:
      - 331/331
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/04fb3968ecbfe07a7863a5e7b50c77b2/simple_with_req/entry.py
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/flow.dag.yaml
  response:
    body:
      string: "entry: entry:my_flow\r\nenvironment:\r\n    python_requirements_txt:
        requirements.txt"
    headers:
      content-range:
      - bytes 0-80/81
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-blob-content-md5:
      - F3E2raEVyyN/EjxAGQKCww==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-copy-id:
      - d87786ff-15d9-4cf7-83b9-32f9003c0981
      x-ms-copy-progress:
      - 81/81
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/04fb3968ecbfe07a7863a5e7b50c77b2/simple_with_req/flow.dag.yaml
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:07 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fname%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/name/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Mon,
        26 Feb 2024 08:19:25 GMT</Creation-Time><Last-Modified>Mon, 26 Feb 2024 08:19:25
        GMT</Last-Modified><Etag>0x8DC36A3A511D19D</Etag><Content-Length>1148</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Mon,
        26 Feb 2024 08:19:29 GMT</Creation-Time><Last-Modified>Mon, 26 Feb 2024 08:19:29
        GMT</Last-Modified><Etag>0x8DC36A3A76814DD</Etag><Content-Length>52</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>e7CC/hOg8uoJ3TK2HaKeZA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/instance_results.jsonl</Name><Properties><Creation-Time>Mon,
        26 Feb 2024 08:19:25 GMT</Creation-Time><Last-Modified>Mon, 26 Feb 2024 08:19:25
        GMT</Last-Modified><Etag>0x8DC36A3A516AE25</Etag><Content-Length>130</Content-Length><Content-Type>application/octet-st[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/.promptflow/flow.json
  response:
    body:
      string: "{\r\n    \"entry\": \"entry:my_flow\",\r\n    \"function\": \"my_flow\",\r\n
        \   \"inputs\": {\r\n        \"input_val\": {\r\n            \"type\": \"object\"\r\n
        \       }\r\n    },\r\n    \"outputs\": {\r\n        \"output\": {\r\n            \"type\":
        \"string\"\r\n        }\r\n    }\r\n}"
    headers:
      content-range:
      - bytes 0-239/240
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-blob-content-md5:
      - +v1crsVbmor/Fm/S0JbZQQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-copy-id:
      - 48f7d772-e237-4b6f-b508-a34cc2aab074
      x-ms-copy-progress:
      - 240/240
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/04fb3968ecbfe07a7863a5e7b50c77b2/simple_with_req/.promptflow/flow.json
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-meta-name:
      - 41565f1b-b74e-450d-840b-59a482ad1f04
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/requirements.txt
  response:
    body:
      string: langchain
    headers:
      content-range:
      - bytes 0-8/9
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-blob-content-md5:
      - M0SWdB4RT9AwJgfEuxkMCw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-copy-id:
      - 7c8364f3-20e3-4bd3-a0c1-2eec96656b3b
      x-ms-copy-progress:
      - 9/9
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/04fb3968ecbfe07a7863a5e7b50c77b2/simple_with_req/requirements.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:07 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: '{"line_number": 0, "run_info": {"run_id": "name_0", "status": "Completed",
        "error": null, "inputs": {"input_val": "input1", "line_number": 0}, "output":
        {"output": "Hello world! input1"}, "metrics": null, "request": null, "parent_run_id":
        "name", "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-02-26T08:19:25.618740Z", "end_time": "2024-02-26T08:19:25.621251Z",
        "index": 0, "api_calls": [{"name": "my_flow", "type": "Function", "inputs":
        {"input_val": "input1"}, "output": "Hello world! input1", "start_time": 1708935565.619487,
        "end_time": 1708935565.6208, "error": null, "children": [], "node_name": null,
        "parent_id": "", "id": "9a7b3258-041e-4451-9985-0bbdd98b776f"}], "variant_id":
        "", "name": "", "description": "", "tags": null, "system_metrics": {"duration":
        0.002511}, "result": {"output": "Hello world! input1"}, "upload_metrics":
        false}, "start_time": "2024-02-26T08:19:25.618740", "end_time": "2024-02-26T08:19:25.621251",
        "name": "", "description": "", "status": "Completed", "tags": null}

        '
    headers:
      content-range:
      - bytes 0-1147/1148
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:25 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:25 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl
  response:
    body:
      string: '{"line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-51/52
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:29 GMT
      x-ms-blob-content-md5:
      - e7CC/hOg8uoJ3TK2HaKeZA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:29 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.input_val": "input1",
        "inputs.line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-129/130
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:25 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 26 Feb 2024 08:19:25 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Feb 2024 08:20:10 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/meta.json
  response:
    body:
      string: '{"batch_size": 25}'
    headers:
      content-range:
      - bytes 0-17/18
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 26 Feb 2024 08:19:17 GMT
      x-ms-blob-content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      x-ms-blob-type:
      - BlockBlob
[...]
