interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.040'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.084'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.113'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:15:34 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - irtZuTukb78El+WhVU+hog==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 08 Aug 2023 15:10:57 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 08 Aug 2023 15:10:56 GMT
      x-ms-meta-name:
      - ad83b58d-43d2-4a00-8c72-cc4f99d7b387
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 8d524397-6d18-4984-affb-a5a0dc10ac7d
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:15:35 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:15:37 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/partial_fail/data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 6ssc7XEGmSNC9FjSrTKP2A==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Apr 2024 20:49:54 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2024 20:49:54 GMT
      x-ms-meta-name:
      - 71dde4b7-ced1-4e94-a01d-9c65b08ab7ef
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:15:38 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/partial_fail/data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.201'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/partial_fail/flow.dag.yaml",
      "runId": "failed_run_name", "runDisplayName": "sdk-cli-test-fixture-failed-run",
      "runExperimentName": "", "sessionId": "000000000000000000000000000000000000000000000000",
      "sessionSetupMode": "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "disableTrace": false, "connections":
      {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"failed_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '8.419'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/failed_run_name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "print_env", "type": "python", "source":
        {"type": "code", "path": "print_env.py"}, "inputs": {"key": "${inputs.key}"},
        "tool": "print_env.py", "reduce": false}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 0}}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "dynamic_list": {"func_path":
        "promptflow.tools.aoai_gpt4v.list_deployment_names", "func_kwargs": [{"name":
        "connection", "reference": "${inputs.connection}", "type": ["AzureOpenAIConnection"]}]},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 1}}, "detail": {"type": ["string"], "default": "auto",
        "enum": ["low", "high", "auto"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 9}}, "frequency_penalty":
        {"type": ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 7}}, "max_tokens": {"type":
        ["int"], "default": 512, "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 4}}, "presence_penalty": {"type":
        ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 6}}, "seed": {"type":
        ["int"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 8}}, "stop": {"type": ["list"],
        "default": "", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 5}}, "temperature": {"type": ["double"],
        "default": 1, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 2}}, "top_p": {"type": ["double"], "default":
        1, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 3}}}, "description": "Use Azure OpenAI GPT-4 Turbo with
        Vision to leverage AOAI vision ability.", "module": "promptflow.tools.aoai_gpt4v",
        "class_name": "AzureOpenAI", "function": "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.5.0rc8",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.5.0rc8", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection", "ServerlessConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "deployment_name": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "capabilities": {"completion": false, "chat_completion":
        false, "embeddings": true}, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "input": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "model": {"type":
        ["string"], "enum": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use OpenAI''s embedding model
        to create an embedding vector representing the input text.", "module": "promptflow.tools.embedding",
        "function": "embedding", "is_builtin": true, "package": "promptflow-tools",
        "package_version": "1.5.0rc8", "enable_kwargs": false, "tool_state": "stable"},
        {"name": "LLM", "type": "custom_llm", "inputs": {"api": {"type": ["string"],
        "default": "chat", "allow_manual_entry": true, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 1, "text_box_size": "sm"}, "filter_by": {"input_name":
        "connection", "values": {"AzureOpenAIConnection": {"enum": ["chat", "completion"]},
        "OpenAIConnection": {"enum": ["chat", "completion"]}, "ServerlessConnection":
        {"enum": ["chat"]}}, "filter_attribute": "type"}}, "best_of": {"type": ["int"],
        "default": 1, "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 16, "text_box_size": "xs"}}, "connection": {"type":
        ["AzureOpenAIConnection", "OpenAIConnection", "ServerlessConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        0}}, "deployment_name": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 2, "text_box_size":
        "lg"}, "filter_by": {"input_name": "api", "values": {"chat": {"capabilities":
        {"chat_completion": true, "exclude": {"model_version": ["vision-preview"]}}},
        "completion": {"capabilities": {"completion": true, "include": {"model_name":
        ["gpt-35-turbo-instruct"]}}}}}}, "echo": {"type": ["bool"], "default": false,
        "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 15, "text_box_size": "xs"}}, "frequency_penalty": {"type":
        ["int"], "default": 0, "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "advanced": true, "ui_hints": {"index": 10, "text_box_size":
        "xs"}}, "logit_bias": {"type": ["object"], "default": "", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 11, "text_box_size": "lg"}}, "logprobs": {"type": ["int"],
        "default": "", "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 14, "text_box_size": "xs"}}, "max_tokens": {"type":
        ["int"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 7, "text_box_size": "xs"}},
        "model": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 3, "text_box_size": "lg"},
        "filter_by": {"input_name": "api", "values": {"chat": {"enum": ["gpt-3.5-turbo",
        "gpt-3.5-turbo-0301", "gpt-3.5-turbo-16k", "gpt-3.5-turbo-1106", "gpt-4",
        "gpt-4-1106-preview", "gpt-4-0314", "gpt-4-32k", "gpt-4-32k-0314"]}, "completion":
        {"enum": ["gpt-3.5-turbo-instruct"]}}}}, "presence_penalty": {"type": ["double"],
        "default": 0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true, "ui_hints": {"index": 8}}, "response_format":
        {"type": ["object"], "default": "", "enum": [{"type": "json_object"}, {"type":
        "text"}], "enabled_by": "api", "enabled_by_value": ["chat"], "allow_manual_entry":
        true, "is_multi_select": false, "input_type": "default", "advanced": false,
        "ui_hints": {"index": 9, "text_box_size": "lg"}}, "seed": {"type": ["int"],
        "default": "", "enabled_by": "api", "enabled_by_value": ["chat"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 12, "text_box_size": "xs"}}, "stop": {"type": ["list"],
        "default": "", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 6, "text_box_size": "md"}}, "suffix": {"type":
        ["string"], "default": "", "enabled_by": "api", "enabled_by_value": ["completion"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "advanced": true, "ui_hints": {"index": 13, "text_box_size": "xs"}}, "temperature":
        {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 4, "text_box_size":
        "xs"}}, "tool_choice": {"type": ["object", "string"], "default": "", "enabled_by":
        "api", "enabled_by_value": ["chat"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 18}}, "tools": {"type":
        ["list"], "default": [], "enabled_by": "api", "enabled_by_value": ["chat"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"display_style": "reusable_tool", "index": 17}}, "top_p": {"type":
        ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "advanced": true, "ui_hints": {"index": 5,
        "text_box_size": "xs"}}}, "description": {"ai_studio": "Use OpenAI-like Large
        Language Model for text completion or chat. For more details, refer to this
        [document](https://aka.ms/aistudio/pf/llm-tool).", "aml": "Use OpenAI-like
        Large Language Model for text completion or chat. For more details, refer
        to this [document](https://aka.ms/promptflow/llm-tool).", "default": "Use
        OpenAI-like Large Language Model for text completion or chat."}, "module":
        "promptflow.tools.llm", "function": "llm", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "category": "llm", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.5.0rc8", "default_prompt": "# system:\nYou are a helpful assistant.\n\n#
        user:\n{{question}}\n", "enable_kwargs": false, "tool_state": "stable", "groups":
        [{"name": "Tools", "description": "Configure interactive capabilities by selecting
        tools for the model to use and guiding its tool call decisions.", "inputs":
        ["tools", "tool_choice"], "ui_hints": {"display_style": "table"}}]}, {"name":
        "LLM-Vision", "type": "custom_llm", "inputs": {"connection": {"type": ["AzureOpenAIConnection",
        "OpenAIConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"ind[...]
[...]
- request:
    body: '{"runId": "failed_run_name", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1715588145, "rootRunId": "failed_run_name",
        "createdUtc": "2024-05-13T08:15:45.6788369+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "10032001B4DCFEFF", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei
        Wang", "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token":
        null, "tokenExpiryTimeUtc": null, "error": {"error": {"code": "UserError",
        "severity": null, "message": "The input for batch run is incorrect. Couldn''t
        find these mapping relations: ${data.key}. Please make sure your input mapping
        keys and values match your YAML input section and input data. For more information,
        refer to the following documentation: https://aka.ms/pf/column-mapping", "messageFormat":
        "The input for batch run is incorrect. Couldn''t find these mapping relations:
        {invalid_relations}. Please make sure your input mapping keys and values match
        your YAML input section and input data. For more information, refer to the
        following documentation: https://aka.ms/pf/column-mapping", "messageParameters":
        {"invalid_relations": "${data.key}"}, "referenceCode": "Core", "detailsUri":
        null, "target": null, "details": [], "innerError": {"code": "ValidationError",
        "innerError": {"code": "ApplyInputMappingError", "innerError": null}}, "debugInfo":
        null, "additionalInfo": null}, "correlation": null, "environment": null, "location":
        null, "time": "2024-05-13T08:16:01.867911+00:00", "componentName": "promptflow-runtime/20240429.v8
        Designer/1.0 promptflow-azure-sdk/1.11.0.dev0 azsdk-python-azuremachinelearningdesignerserviceclient/unknown
        Python/3.11.9 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.39)
        promptflow-tracing/1.10.0rc11"}, "warnings": null, "revision": 7, "statusRevision":
        3, "runUuid": "6f3d3e7e-5e70-4195-8e62-8f5ea8efd4cd", "parentRunUuid": null,
        "rootRunUuid": "6f3d3e7e-5e70-4195-8e62-8f5ea8efd4cd", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:00.6043481", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "lastModifiedUtc": "2024-05-13T08:15:49.9418467+00:00", "duration":
        "00:00:00.6043481", "cancelationReason": null, "currentAttemptId": 1, "runId":
        "failed_run_name", "parentRunId": null, "experimentId": "1848033e-509f-4c52-92ee-f0a0121fe99e",
        "status": "Failed", "startTimeUtc": "2024-05-13T08:16:01.5591577+00:00", "endTimeUtc":
        "2024-05-13T08:16:02.1635058+00:00", "scheduleId": null, "displayName": "sdk-cli-test-fixture-failed-run",
        "name": null, "dataContainerId": "dcid.failed_run_name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "zhengfei-test", "azureml.promptflow.disable_trace":
        "false", "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/710002843bc088af1e61f18537317143/webClassification3.jsonl",
        "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.flow_lineage_id":
        "de293df4f50622090c0225852d59cd663b6b629e38728f7444fa0f12255a0647", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/9d43ce0b9f35c2c79467b4e2fcbe112f/partial_fail/flow.dag.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "b498077c-78e5-4b80-afe5-28504ed449c7", "azureml.promptflow.runtime_version":
        "20240429.v8"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings": {}, "services":
        {}, "inputDatasets": [], "outputDatasets": [], "runDefinition": null, "jobSpecification":
        null, "primaryMetricName": null, "createdFrom": null, "cancelUri": null, "completeUri":
        null, "diagnosticsUri": null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": {"debug_info": {"assetId":
        "azureml://locations/eastus/workspaces/00000/data/azureml_failed_run_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_failed_run_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.035'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/failed_run_name/logContent
  response:
    body:
      string: '"2024-05-13 08:15:49 +0000      88 promptflow-runtime INFO     [failed_run_name]
        Receiving v2 bulk run request 32e9bd1b-1c56-4f31-a792-dd671ea1b919: {\"flow_id\":
        \"failed_run_name\", \"flow_run_id\": \"failed_run_name\", \"flow_source\":
        {\"flow_source_type\": 1, \"flow_source_info\": {\"snapshot_id\": \"b498077c-78e5-4b80-afe5-28504ed449c7\"},
[...]
