interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.034'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.765'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.164'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:43:59 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:88493934-001a-00d3-32b6-88d1be000000\nTime:2024-04-07T06:44:00.4619546Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:01 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:7fdf331e-a01a-0097-27b6-885b81000000\nTime:2024-04-07T06:44:02.4623188Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:02 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:7381b618-101a-010b-5db6-8808ea000000\nTime:2024-04-07T06:44:03.1735290Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:42dff510-e01a-00db-4ab6-88cbb1000000\nTime:2024-04-07T06:44:03.9076891Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:03 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:0f615f6b-e01a-0086-4fb6-88c135000000\nTime:2024-04-07T06:44:04.6125141Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:05 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-07T06:44:05.3130956Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:05.3130956Z'
      x-ms-file-id:
      - '13835100133076762624'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:05.3130956Z'
      x-ms-file-parent-id:
      - '13835071545774440448'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F__pycache__?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:06 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-07T06:44:06.0279564Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:06.0279564Z'
      x-ms-file-id:
      - '11529314298467713024'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:06.0279564Z'
      x-ms-file-parent-id:
      - '13835100133076762624'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F.promptflow?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:06 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-07T06:44:06.7896105Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:06.7896105Z'
      x-ms-file-id:
      - '13835170501820940288'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:06.7896105Z'
      x-ms-file-parent-id:
      - '13835100133076762624'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:07 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T06:44:07.4984958Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:07.4984958Z'
      x-ms-file-id:
      - '13835082540890718208'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:07.4984958Z'
      x-ms-file-parent-id:
      - '13835100133076762624'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:07 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Sun, 07 Apr 2024 06:44:08 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:08.2332671Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '631'
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:08 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/flow.log
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:08 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T06:44:08.9292109Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:08.9292109Z'
      x-ms-file-id:
      - '16141009112988123136'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:08.9292109Z'
      x-ms-file-parent-id:
      - '13835170501820940288'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Start executing
      nodes in thread pool mode.

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Start to run 1
      nodes with concurrency level 16.

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Executing node
      hello_world. node run id: d32eef14-ba6e-44d7-9410-d9c8491fd4fb_hello_world_0

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Node hel[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '279'
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:09 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/hello_world.node.log
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:10 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T06:44:10.3469815Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:10.3469815Z'
      x-ms-file-id:
      - '11529243929723535360'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:10.3469815Z'
      x-ms-file-parent-id:
      - '13835170501820940288'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Executing
      node hello_world. node run id: f075dfe5-21f5-4d1b-84d1-46ac116bd4ab_hello_world_788fcf13-4cb3-4479-b4de-97a3b2ccd690

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Node hello_world
      completes.

      '
    headers:
      Content-MD5:
      - hFC8nan3DR5KTPtD41njnw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:10 GMT
      x-ms-range:
      - bytes=0-278
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/hello_world.node.log?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - hFC8nan3DR5KTPtD41njnw==
      last-modified:
      - Sun, 07 Apr 2024 06:44:11 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:11.0737879Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:11 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:11 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T06:44:11.8135386Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:11.8135386Z'
      x-ms-file-id:
      - '13835152909634895872'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:11.8135386Z'
      x-ms-file-parent-id:
      - '13835100133076762624'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:11 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Sun, 07 Apr 2024 06:44:12 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:12.5214287Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '110'
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:12 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 06:44:13 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T06:44:13.2094055Z'
      x-ms-file-creation-time:
      - '2024-04-07T06:44:13.2094055Z'
      x-ms-file-id:
      - '13835117725262807040'
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:13.2094055Z'
      x-ms-file-parent-id:
      - '13835100133076762624'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow.core import tool\n\n\n@tool\ndef hello_world(name: str)
      -> str:\n    return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 06:44:13 GMT
      x-ms-range:
      - bytes=0-109
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      last-modified:
      - Sun, 07 Apr 2024 06:44:13 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T06:44:13.9531380Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "studioPortalEndpoint": "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-04-07T06:44:15.9833326Z", "lastModifiedDate": "2024-04-07T06:44:15.9833326Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Philip Gao"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
        "enableMultiContainer": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.292'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows/9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3?experimentId=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"timestamp": "2024-04-07T06:44:16.1241604+00:00", "eTag": {}, "studioPortalEndpoint":
        "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-04-07T06:44:15.9833326Z", "lastModifiedDate": "2024-04-07T06:44:15.9833326Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Philip Gao"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/9d8104b3-f9fa-4fef-a5c1-66bbde09e4c3",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
        "enableMultiContainer": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.178'
    status:
      code: 200
      message: OK
version: 1
