interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.646'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.238'
    status:
      code: 200
      message: OK
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-05-13T09:07:07.917688Z",
      "sampleRate": 100.0, "iKey": "8b52b368-4c91-4226-b7f7-be52822f0509", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "#1 SMP Thu Jan 11 04:09:03
      UTC 2024", "ai.device.type": "Other", "ai.internal.sdkVersion": "ulm_py3.11.9:otel1.24.0:ext1.0.0b25",
      "ai.cloud.role": "pfazure", "ai.internal.nodeName": "zhengfei-dev-box", "ai.operation.id":
      "00000000000000000000000000000000", "ai.operation.parentId": "0000000000000000"},
      "data": {"baseType": "EventData", "baseData": {"ver": 2, "name": "pfazure.run.create.start",
      "properties": {"level": "INFO", "from_ci": "False", "request_id": "78392a8c-cb2a-4d99-ab90-890848f1c261",
      "first_call": "True", "activity_name": "pfazure.run.create", "activity_type":
      "PublicApi", "user_agent": "promptflow-cli/1.11.0.dev0 perf_monitor/1.0", "subscription_id":
      "96aede12-2f73-41cb-b983-6d11a904839b", "resource_group_name": "promptflow",
      "workspace_name": "promptflow-eastus", "custom_message": "github run: https://github.com/microsoft/promptflow/actions/runs/None",
      "python_version": "3.11.9", "installation_id": "cb1d4dab-f83e-57e2-949c-aa6dbc40afa1"}}}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dc.services.visualstudio.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 0, "appId": null, "errors": [{"index":
        0, "statusCode": 307, "message": "Ingestion is allowed only from stamp specific
        endpoint - Location: https://eastus-8.in.applicationinsights.azure.com/v2.1/track"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus-8.in.applicationinsights.azure.com/v2.1/track
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-05-13T09:07:07.917688Z",
      "sampleRate": 100.0, "iKey": "8b52b368-4c91-4226-b7f7-be52822f0509", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "#1 SMP Thu Jan 11 04:09:03
      UTC 2024", "ai.device.type": "Other", "ai.internal.sdkVersion": "ulm_py3.11.9:otel1.24.0:ext1.0.0b25",
      "ai.cloud.role": "pfazure", "ai.internal.nodeName": "zhengfei-dev-box", "ai.operation.id":
    [...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 09:07:16 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_input_flow/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - g6eojZlNZcUGTvvyK1WJEg==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Apr 2024 20:34:20 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2024 20:34:20 GMT
      x-ms-meta-name:
      - ee5bfa72-f50c-43e9-b96b-023764845696
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 06:06:51 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_input_flow.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - I/k2vLbQ+WkABQncQUd5Rg==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 26 Dec 2023 03:34:26 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 26 Dec 2023 03:34:26 GMT
      x-ms-meta-name:
      - 489008dc-84bd-4bee-82db-0bb80f7ad272
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - b7185e71-1e33-43b7-b8be-43bdd40e6731
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 06:06:52 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_input_flow.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 09:07:17 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_input_flow/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.243'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/print_input_flow/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/print_input_flow.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "disableTrace": false, "connections":
      {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '4.711'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/80d5ca5a93c8c6ea7c2fcdf1cd4b9d07/print_input_flow.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "sessionId": "b9dfede3ba6271d07db1ac8f681277af0fc9a607f0cc6728",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "studioPortalTraceEndpoint": "https://ml.azure.com/prompts/trace/run/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.195'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1715591244, "rootRunId": "name", "createdUtc":
        "2024-05-13T09:07:24.5823696+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 1, "statusRevision": 0,
        "runUuid": "8c6446f1-e478-41b4-afa5-1b50e8b72055", "parentRunUuid": null,
        "rootRunUuid": "8c6446f1-e478-41b4-afa5-1b50e8b72055", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "lastModifiedUtc": "2024-05-13T09:07:24.5823696+00:00", "duration":
        null, "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "3285bc8b-1f69-4803-bf44-4770e5b43a04", "status": "NotStarted",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": null}, "properties":
        {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.disable_trace":
        "false", "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/80d5ca5a93c8c6ea7c2fcdf1cd4b9d07/print_input_flow.jsonl",
        "azureml.promptflow.session_id": "b9dfede3ba6271d07db1ac8f681277af0fc9a607f0cc6728",
        "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.flow_lineage_id":
        "75c9a5348418220c9781ee0137bd8d1c17c17f364cb487de3462df2aecd98bb8", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/f39c8cd3def999ec1d57d6cb8be49faa/print_input_flow/flow.dag.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun"}, "parameters": {}, "actionUris":
        {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [],
        "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.034'
    status:
      code: 200
      message: OK
version: 1
