interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.033'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.078'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.113'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 06:35:53 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zt1zN1V/HR5p7N0Sh5396w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 23 Jan 2024 06:27:00 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 23 Jan 2024 06:26:59 GMT
      x-ms-meta-name:
      - 1e376ce4-7c3b-4683-82ad-412f5cd23626
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7e65351c-7e4b-4a4d-90f8-304eacdc36bc
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 06:35:56 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 06:36:09 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: "{\r\n    \"function\": \"my_flow\",\r\n    \"entry\": \"entry:my_flow\",\r\n
      \   \"environment\": {\r\n        \"python_requirements_txt\": \"requirements.txt\"\r\n
      \   },\r\n    \"inputs\": {\r\n        \"input_val\": {\r\n            \"type\":
      \"object\"\r\n        }\r\n    },\r\n    \"outputs\": {\r\n        \"output\":
      {\r\n            \"type\": \"string\"\r\n        }\r\n    }\r\n}"
    headers:
      Content-MD5:
      - Aw8oQ1DRnIcMd570S1QvWg==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 11 Apr 2024 06:36:12 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Aw8oQ1DRnIcMd570S1QvWg==
      last-modified:
      - Thu, 11 Apr 2024 06:36:13 GMT
      x-ms-content-crc64:
      - jeuA/lcvOS0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 06:36:13 GMT
      x-ms-meta-name:
      - c1d063eb-976a-4b65-b2e0-8eee96d767f0
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/.promptflow/flow.json?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 11 Apr 2024 06:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/simple_with_req/flow.flex.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "connections": {}, "runtimeName":
      "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '3.677'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "sessionId": "5fdd3f639a11e7aa636934d6ddf0c6c70428bcd74ac6d75e",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.154'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.flex.yaml", "flowSnapshotId": "901e4bbb-7ca8-4614-8058-ad6588f5fc08",
        "sessionId": "5fdd3f639a11e7aa636934d6ddf0c6c70428bcd74ac6d75e", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.162'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/childRuns?endIndex=24&startIndex=0
  response:
    body:
      string: '[{"run_id": "name_0", "status": "Completed", "error": null, "inputs":
        {"input_val": "input1", "line_number": 0}, "output": {"output": "Hello world!
        input1"}, "metrics": null, "request": null, "parent_run_id": "name", "root_run_id":
        "name", "source_run_id": null, "flow_id": "default_flow_id", "start_time":
        "2024-04-11T06:37:21.287238Z", "end_time": "2024-04-11T06:37:21.309455Z",
        "index": 0, "api_calls": [{"name": "my_flow", "type": "Function", "inputs":
        {"input_val": "input1"}, "output": "Hello world! input1", "start_time": 1712817441.288291,
        "end_time": 1712817441.308916, "error": null, "children": [], "node_name":
        null, "parent_id": "", "id": "4fe0ae7c-1626-4650-b7ef-bd4be14d3a7f", "function":
        "my_flow"}], "name": "", "description": "", "tags": null, "system_metrics":
        {"duration": 0.022217}, "result": {"output": "Hello world! input1"}, "upload_metrics":
        false, "otel_trace_id": "611a6ca90c122da22f3bd1957f701523", "message_format":
        "basic"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.606'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "4e3a44ad-c215-4c01-b366-5057839e7298", "createdUtc":
        "2024-04-11T06:37:24.032+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.name", "name": "__pf__.lines.failed", "columns":
        {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "eb548ed2-41c8-41b9-b37e-169e0cdd59e6", "createdUtc": "2024-04-11T06:37:24.36+00:00",
        "step": 0, "data": {"__pf__.lines.failed": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.050'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1712817385, "rootRunId": "name", "createdUtc":
        "2024-04-11T06:36:25.7521641+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 6, "statusRevision": 3,
        "runUuid": "319d87dc-962f-4acf-a971-58249af8ace8", "parentRunUuid": null,
        "rootRunUuid": "319d87dc-962f-4acf-a971-58249af8ace8", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:09.3458607", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-04-11T06:37:24.6844276+00:00", "duration": "00:00:09.3458607",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "64465848-e4a8-42a2-a617-d7f0fcda6f32", "status": "Completed",
        "startTimeUtc": "2024-04-11T06:37:15.6106166+00:00", "endTimeUtc": "2024-04-11T06:37:24.9564773+00:00",
        "scheduleId": null, "displayName": "name", "name": null, "dataContainerId":
        "dcid.name", "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": null}, "properties": {"azureml.promptflow.runtime_name": "automatic",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl",
        "azureml.promptflow.session_id": "5fdd3f639a11e7aa636934d6ddf0c6c70428bcd74ac6d75e",
        "azureml.promptflow.definition_file_name": "flow.flex.yaml", "azureml.promptflow.flow_lineage_id":
        "63d67b0b61e34b0527b5f3c46dfc953854138b2ffebc68175580285dc2d95663", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/793e1c6d1469b10bb9865d88723a441f/simple_with_req/flow.flex.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "901e4bbb-7ca8-4614-8058-ad6588f5fc08", "azureml.promptflow.run_mode": "Eager",
        "azureml.promptflow.runtime_version": "20240403.v2", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings":
        {}, "services": {}, "inputDatasets": [], "outputDatasets": [], "runDefinition":
        null, "jobSpecification": null, "primaryMetricName": null, "createdFrom":
        null, "cancelUri": null, "completeUri": null, "diagnosticsUri": null, "computeRequest":
        null, "compute": null, "retainForLifetimeOfWorkspace": false, "queueingInfo":
        null, "inputs": null, "outputs": {"debug_info": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.038'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/logContent
  response:
    body:
      string: '"2024-04-11 06:37:07 +0000      48 promptflow-runtime INFO     [name]
        Receiving v2 bulk run request 4eda4066-4c17-4adf-bac4-9060c0f30fda: {\"flow_id\":
        \"name\", \"flow_run_id\": \"name\", \"flow_source\": {\"flow_source_type\":
        1, \"flow_source_info\": {\"snapshot_id\": \"901e4bbb-7ca8-4614-8058-ad6588f5fc08\"},
        \"flow_dag_file\": \"flow.flex.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-11T03%3A25%3A26Z&ske=2024-04-12T11%3A35%3A26Z&sks=b&skv=2019-07-07&st=2024-04-11T06%3A27%3A06Z&se=2024-04-11T14%3A37%3A06Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"batch_timeout_sec\": 36000, \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast4063704120\", \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/name\", \"blob_container_sas_token\":
        \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-11T06%3A37%3A06Z&ske=2024-04-18T06%3A37%3A06Z&sks=b&skv=2019-07-07&se=2024-04-18T06%3A37%3A06Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}}\n2024-04-11 06:37:07 +0000      48
        promptflow-runtime INFO     Runtime version: 20240403.v2. PromptFlow version:
        1.8.0rc3\n2024-04-11 06:37:07 +0000      48 promptflow-runtime INFO     Updating
        name to Status.Preparing...\n2024-04-11 06:37:08 +0000      48 promptflow-runtime
        INFO     Downloading snapshot to /mnt/host/service/app/37201/requests/name\n2024-04-11
        06:37:08 +0000      48 promptflow-runtime INFO     Get snapshot sas url[...]
