interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-09-22T05:26:30.7527337+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-01-10T09:29:14.5412854+00:00", "lastModifiedBy": "Philip Gao", "lastModifiedByType":
        "User"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.049'
    status:
      code: 200
      message: OK
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-04-22T11:42:42.259452Z",
      "sampleRate": 100.0, "iKey": "8b52b368-4c91-4226-b7f7-be52822f0509", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.22631", "ai.device.type":
      "Other", "ai.internal.sdkVersion": "uwm_py3.9.19:otel1.24.0:ext1.0.0b23", "ai.cloud.role":
      "pfazure", "ai.internal.nodeName": "CPC-zhrua-4T6NV", "ai.operation.id": "00000000000000000000000000000000",
      "ai.operation.parentId": "0000000000000000"}, "data": {"baseType": "EventData",
      "baseData": {"ver": 2, "name": "pfazure.run.create.start", "properties": {"level":
      "INFO", "from_ci": "False", "request_id": "0de0db1c-b0c9-44da-afc3-e6e87e6dfc65",
      "first_call": "True", "activity_name": "pfazure.run.create", "activity_type":
      "PublicApi", "user_agent": "promptflow-azure-sdk/1.8.0.dev0 promptflow-azure-cli/1.8.0.dev0",
      "subscription_id": "96aede12-2f73-41cb-b983-6d11a904839b", "resource_group_name":
      "promptflow", "workspace_name": "promptflow-eastus2euap", "python_version":
      "3.9.19", "installation_id": "20cb676f-0297-4b92-b7ab-9f7557bd6b93"}}}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dc.services.visualstudio.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 0, "appId": null, "errors": [{"index":
        0, "statusCode": 307, "message": "Ingestion is allowed only from stamp specific
        endpoint - Location: https://eastus-8.in.applicationinsights.azure.com/v2.1/track"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus-8.in.applicationinsights.azure.com/v2.1/track
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-04-22T11:42:42.259452Z",
      "sampleRate": 100.0, "iKey": "8b52b368-4c91-4226-b7f7-be52822f0509", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.22631", "ai.device.type":
      "Other", "ai.internal.sdkVersion": "uwm_py3.9.19:otel1.24.0:ext1.0.0b23", "ai.cloud.role":
      "pfazure", "ai.internal.nodeName": "CPC-zhrua-4T6NV", "ai.operation.id": "00000000000000000000000000000[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 22 Apr 2024 11:42:49 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/prompty_inputs.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ppVhaqyczeW25/sOuPUR2A==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 17 Apr 2024 06:38:34 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 17 Apr 2024 06:38:34 GMT
      x-ms-meta-name:
      - 8303e215-51a4-479a-a716-d46a304b41b2
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 4881dd5e-b532-4fb4-9629-cef35a4d9f71
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 22 Apr 2024 11:42:50 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/prompty_inputs.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.087'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 22 Apr 2024 11:43:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/tmpzebbwumk/.promptflow/flow.log
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 22 Apr 2024 11:43:40 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/tmpzebbwumk/.promptflow/flow.log
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      last-modified:
      - Mon, 22 Apr 2024 11:43:43 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\r\n  \"output\": \"The sum of the calculation results of the previous
      rounds is 12.\"\r\n}"
    headers:
      Content-MD5:
      - xPu1BegM9Zq55Pe8CQ2Cxw==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 22 Apr 2024 11:43:43 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/tmpzebbwumk/.promptflow/prompty_with_chat_history_and_stream_output/chat.output.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - xPu1BegM9Zq55Pe8CQ2Cxw==
      last-modified:
      - Mon, 22 Apr 2024 11:43:44 GMT
      x-ms-content-crc64:
      - d1r2FEN9ZTA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 22 Apr 2024 11:43:45 GMT
      x-ms-meta-name:
      - 9813b172-a9b6-4b93-8ba1-1b28eba91322
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/tmpzebbwumk/.promptflow/flow.log?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Mon, 22 Apr 2024 11:43:46 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/tmpzebbwumk/prompty_example.prompty",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/prompty_inputs.jsonl"},
      "inputsMapping": {}, "environmentVariables": {"AZURE_OPENAI_ENDPOINT": "https://gpt-test-eus.openai.azure.com/",
      "AZURE_OPENAI_API_KEY": "ac21d4a97d044b28990a740132f40d35", "OPENAI_API_VERSION":
      "2023-07-01-preview"}, "connections": {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '2.840'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"inputs": {"firstName": {"type": "string", "default":
        "John", "is_chat_input": false}, "lastName": {"type": "string", "default":
        "Doh", "is_chat_input": false}, "question": {"type": "string", "is_chat_input":
        false}}}, "flowRunResourceId": "azureml://locations/eastus2euap/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/48d5df8c4412472075a568f06d35b84b/prompty_inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "prompty_example.prompty", "flowSnapshotId": "46048d00-ed72-4585-91a9-e7955329f3cf",
        "sessionId": "43110f294b3f26c179508213778123060d8072d7dcf859ed", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.121'
    status:
      code: 200
      message: OK
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-04-22T11:44:57.417484Z",
      "sampleRate": 100.0, "iKey": "8b52b368-4c91-4226-b7f7-be52822f0509", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.22631", "ai.device.type":
      "Other", "ai.internal.sdkVersion": "uwm_py3.9.19:otel1.24.0:ext1.0.0b23", "ai.cloud.role":
      "_jb_pytest_runner.py", "ai.internal.nodeName": "CPC-zhrua-4T6NV", "ai.operation.id":
      "00000000000000000000000000000000", "ai.operation.parentId": "0000000000000000"},
      "data": {"baseType": "EventData", "baseData": {"ver": 2, "name": "pfazure.run.create.complete",
      "properties": {"level": "INFO", "from_ci": "False", "request_id": "0de0db1c-b0c9-44da-afc3-e6e87e6dfc65",
      "first_call": "True", "activity_name": "pfazure.run.create", "activity_type":
      "PublicApi", "user_agent": "promptflow-azure-sdk/1.8.0.dev0 promptflow-azure-cli/1.8.0.dev0",
      "subscription_id": "96aede12-2f73-41cb-b983-6d11a904839b", "resource_group_name":
      "promptflow", "workspace_name": "promptflow-eastus2euap", "completion_status":
      "Success", "duration_ms": "135157.97", "python_version": "3.9.19", "installation_id":
      "20cb676f-0297-4b92-b7ab-9f7557bd6b93"}}}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 1, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1713786231, "rootRunId": "name", "createdUtc":
        "2024-04-22T11:43:51.5535396+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320007E5EB49B", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhen Ruan", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": {"error": {"code": "UserError", "severity": null, "message":
        "Failed to read dag yaml file. Error message=expected a single document in
        the stream\n  in \"/mnt/host/service/app/37877/requests/name/prompty_example.prompty\",
        line 2, column 1\nbut found another document\n  in \"/mnt/host/service/app/37877/requests/name/prompty_example.prompty\",
        line 26, column 1", "messageFormat": "", "messageParameters": {}, "referenceCode":
        "Runtime", "detailsUri": null, "target": null, "details": [], "innerError":
        {"code": "InvalidFlowYaml", "innerError": null}, "debugInfo": null, "additionalInfo":
        null}, "correlation": null, "environment": null, "location": null, "time":
        "2024-04-22T11:44:33.840321+00:00", "componentName": "promptflow-runtime/20240418.v4
        Designer/1.0 Pfo Designer/1.0 promptflow-azure-sdk/1.8.0.dev0 azsdk-python-azuremachinelearningdesignerserviceclient/unknown
        Python/3.9.19 (Windows-10-10.0.22631-SP0) Pfo Designer/1.0 promptflow-azure-sdk/1.8.0.dev0
        azsdk-python-azuremachinelearningdesignerserviceclient/unknown Python/3.9.19
        (Windows-10-10.0.22631-SP0) promptflow-tracing/1.9.0rc11"}, "warnings": null,
        "revision": 7, "statusRevision": 3, "runUuid": "922448ca-a986-4671-8b2f-22268d7b1483",
        "parentRunUuid": null, "rootRunUuid": "922448ca-a986-4671-8b2f-22268d7b1483",
        "lastStartTimeUtc": null, "currentComputeTime": null, "computeDuration": "00:00:00.3834347",
        "effectiveStartTimeUtc": null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320007E5EB49B", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhen Ruan", "upn": null},
        "lastModifiedUtc": "2024-04-22T11:44:50.8113428+00:00", "duration": "00:00:00.3834347",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "60ec99b4-15e0-4e9c-a2ce-fa68c26d4963", "status": "Failed",
        "startTimeUtc": "2024-04-22T11:44:33.5800236+00:00", "endTimeUtc": "2024-04-22T11:44:33.9634583+00:00",
        "scheduleId": null, "displayName": "name", "name": null, "dataContainerId":
        "dcid.name", "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": null}, "properties": {"azureml.promptflow.runtime_name": "automatic",
        "azureml.promptflow.disable_trace": "false", "azureml.promptflow.input_data":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/48d5df8c4412472075a568f06d35b84b/prompty_inputs.jsonl",
        "azureml.promptflow.session_id": "43110f294b3f26c179508213778123060d8072d7dcf859ed",
        "azureml.promptflow.definition_file_name": "prompty_example.prompty", "azureml.promptflow.flow_lineage_id":
        "fb44737af348a7f01e70904186c751f74764b9405b8df6d5451658874499a27d", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/3b33b34ea0a6d6e53f40c7fe4c6fa312/tmpzebbwumk/prompty_example.prompty",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "46048d00-ed72-4585-91a9-e7955329f3cf", "azureml.promptflow.run_mode": "Prompty",
        "azureml.promptflow.runtime_version": "20240418.v4"}, "parameters": {}, "actionUris":
        {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [],
        "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.026'
    status:
      code: 200
      message: OK
version: 1
