interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.035'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/resume_from_run_using_automatic_runtime
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "fetch_text_content_from_url", "type":
        "python", "source": {"type": "code", "path": "fetch_text_content_from_url.py"},
        "inputs": {"fetch_url": "${inputs.url}"}, "tool": "fetch_text_content_from_url.py",
        "reduce": false}, {"name": "prepare_examples", "type": "python", "source":
        {"type": "code", "path": "prepare_examples.py"}, "inputs": {}, "tool": "prepare_examples.py",
        "reduce": false}, {"name": "classify_with_llm", "type": "llm", "source": {"type":
        "code", "path": "classify_with_llm.jinja2"}, "inputs": {"deployment_name":
        "gpt-35-turbo", "suffix": "", "max_tokens": "128", "temperature": "0.1", "top_p":
        "1.0", "logprobs": "", "echo": "False", "stop": "", "presence_penalty": "0",
        "frequency_penalty": "0", "best_of": "1", "logit_bias": "", "url": "${inputs.url}",
        "examples": "${prepare_examples.output}", "text_content": "${summarize_text_content.output}"},
        "tool": "classify_with_llm.jinja2", "reduce": false, "api": "chat", "provider":
        "AzureOpenAI", "connection": "azure_open_ai_connection", "module": "promptflow.tools.aoai"},
        {"name": "convert_to_dict", "type": "python", "source": {"type": "code", "path":
        "convert_to_dict.py"}, "inputs": {"input_str": "${classify_with_llm.output}"},
        "tool": "convert_to_dict.py", "reduce": false}, {"name": "summarize_text_content",
        "type": "llm", "source": {"type": "code", "path": "summarize_text_content.jinja2"},
        "inputs": {"deployment_name": "gpt-35-turbo", "suffix": "", "max_tokens":
        "128", "temperature": "0.2", "top_p": "1.0", "logprobs": "", "echo": "False",
        "stop": "", "presence_penalty": "0", "frequency_penalty": "0", "best_of":
        "1", "logit_bias": "", "text": "${fetch_text_content_from_url.output}"}, "tool":
        "summarize_text_content.jinja2", "reduce": false, "api": "chat", "provider":
        "AzureOpenAI", "connection": "azure_open_ai_connection", "module": "promptflow.tools.aoai"}],
        "tools": [{"name": "Azure OpenAI GPT-4 Turbo with Vision", "type": "custom_llm",
        "inputs": {"connection": {"type": ["AzureOpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        0}}, "deployment_name": {"type": ["string"], "enabled_by": "connection", "dynamic_list":
        {"func_path": "promptflow.tools.aoai_gpt4v.list_deployment_names", "func_kwargs":
        [{"name": "connection", "reference": "${inputs.connection}", "type": ["AzureOpenAIConnection"]}]},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 1}}, "frequency_penalty": {"type": ["double"], "default":
        0, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 7}}, "max_tokens": {"type": ["int"], "default": 512,
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 4}}, "presence_penalty": {"type": ["double"], "default":
        0, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 6}}, "seed": {"type": ["int"], "default": "", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        8}}, "stop": {"type": ["list"], "default": "", "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default", "ui_hints": {"index": 5}},
        "temperature": {"type": ["double"], "default": 1, "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default", "ui_hints": {"index": 2}},
        "top_p": {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 3}}}, "description":
        "Use Azure OpenAI GPT-4 Turbo with Vision to leverage AOAI vision ability.",
        "module": "promptflow.tools.aoai_gpt4v", "class_name": "AzureOpenAI", "function":
        "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.4.0rc3",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.4.0rc3", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use OpenAI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "1.4.0rc3", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Model LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        2}}, "deployment_name": {"type": ["string"], "default": "", "dynamic_list":
        {"func_path": "promptflow.tools.open_model_llm.list_deployment_names", "func_kwargs":
        [{"name": "endpoint", "optional": true, "reference": "${inputs.endpoint}",
        "type": ["string"]}]}, "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 1}}, "endpoint_name": {"type":
        ["string"], "dynamic_list": {"func_path": "promptflow.tools.open_model_llm.list_endpoint_names"},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 0}}, "max_new_tokens": {"type": ["int"], "default":
        500, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 4}}, "model_kwargs": {"type": ["object"],
        "default": "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true, "ui_hints": {"index": 6}}, "temperature": {"type":
        ["double"], "default": 1.0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 3}}, "top_p": {"type":
        ["double"], "default": 1.0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "advanced": true, "ui_hints": {"index": 5}}},
        "description": "Use an open model from the Azure Model catalog, deployed to
        an AzureML [...]
- request:
    body: '{"runId": "name", "resumeFromRunId": "resume_from_run_using_automatic_runtime"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/resume
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '4.318'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "fetch_text_content_from_url", "type":
        "python", "source": {"type": "code", "path": "fetch_text_content_from_url.py"},
        "inputs": {"fetch_url": "${inputs.url}"}, "t[...]
- request:
    body: '{"runId": "resume_from_run_using_automatic_runtime", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1712545550, "rootRunId": "resume_from_run_using_automatic_runtime",
        "createdUtc": "2024-04-08T03:05:50.4268217+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "10032002CE21DB29", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Min Shi",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision": 6,
        "statusRevision": 3, "runUuid": "d830befc-14f1-4205-86ad-fb8b49a0ae31", "parentRunUuid":
        null, "rootRunUuid": "d830befc-14f1-4205-86ad-fb8b49a0ae31", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:15.0591115", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032002CE21DB29", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Min Shi", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-04-08T03:07:19.2641917+00:00", "duration": "00:00:15.0591115",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "resume_from_run_using_automatic_runtime",
        "parentRunId": null, "experimentId": "b6cc98be-a19d-4fad-b923-5819ef8b1237",
        "status": "Completed", "startTimeUtc": "2024-04-08T03:07:05.8079529+00:00",
        "endTimeUtc": "2024-04-08T03:07:20.8670644+00:00", "scheduleId": null, "displayName":
        "resume_from_run_using_automatic_runtime", "name": null, "dataContainerId":
        "dcid.resume_from_run_using_automatic_runtime", "description": null, "hidden":
        false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": null}, "properties":
        {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.input_data":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/107bd3498e44deb2dccc53d2208d32b2/webClassification1.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"url\":\"${data.url}\"}", "azureml.promptflow.session_id":
        "ef0f84b299e0046e9b7d20badbffec8fe7f49b8edfd416ff", "azureml.promptflow.definition_file_name":
        "flow.dag.yaml", "azureml.promptflow.flow_lineage_id": "5743a4e13073efb15fa579cd8c5fc9b7572b8cf39c12ce19631c26d3290ccca5",
        "azureml.promptflow.node_variant": "${summarize_text_content.variant_0}",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/4eb89af7d9c71c55d7216bade6091071/web_classification/flow.dag.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "cfee7bbe-9b77-41ea-a58b-591125865b85", "azureml.promptflow.runtime_version":
        "20240326.v2", "azureml.promptflow.total_tokens": "801", "_azureml.evaluate_artifacts":
        "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]"}, "parameters":
        {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": {"debug_info": {"assetId":
        "azureml://locations/eastus/workspaces/00000/data/azureml_resume_from_run_using_automatic_runtime_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_resume_from_run_using_automatic_runtime_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.440'
    status:
      code: 200
      message: OK
[...]
