interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2euap", "tags": {}, "etag": null, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.019'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/azure_open_ai_connection/listsecrets?api-version=2023-04-01-preview
  response:
    body:
      string: '{"tags": null, "location": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/azure_open_ai_connection",
        "name": "azure_open_ai_connection", "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {"authType": "ApiKey", "credentials": {"key": "_"}, "group":
        "AzureAI", "category": "AzureOpenAI", "expiryTime": null, "target": "_", "createdByWorkspaceArmId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus2euap",
        "useWorkspaceManagedIdentity": false, "isSharedToAll": false, "sharedUserList":
        [], "metadata": {"azureml.flow.connection_type": "AzureOpenAI", "azureml.flow.module":
        "promptflow.connections", "ApiType": "azure", "ApiVersion": "2023-07-01-preview",
        "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/gpt-test-eus",
        "DeploymentApiVersion": "2023-10-01-preview"}}, "systemData": {"createdAt":
        "2024-03-22T14:56:56.0857069Z", "createdBy": "username@microsoft.com", "createdByType":
        "User", "lastModifiedAt": "2024-03-22T14:56:56.0857069Z", "lastModifiedBy":
        "username@microsoft.com", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.772'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/custom_connection/listsecrets?api-version=2023-04-01-preview
  response:
    body:
      string: '{"tags": null, "location": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/custom_connection",
        "name": "custom_connection", "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {"authType": "CustomKeys", "credentials": {"keys": {}}, "group":
        "AzureAI", "category": "CustomKeys", "expiryTime": null, "target": "_", "createdByWorkspaceArmId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus2euap",
        "useWorkspaceManagedIdentity": false, "isSharedToAll": false, "sharedUserList":
        [], "metadata": {"azureml.flow.connection_type": "Custom", "azureml.flow.module":
        "promptflow.connections"}}, "systemData": {"createdAt": "2023-12-18T09:44:22.1118582Z",
        "createdBy": "username@microsoft.com", "createdByType": "User", "lastModifiedAt":
        "2023-12-18T09:44:22.1118582Z", "lastModifiedBy": "username@microsoft.com",
        "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.090'
    status:
      code: 200
      message: OK
version: 1
