interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.035'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.091'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.225'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:05:28 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lufz2WLFs2pKl+C4kdAX6Q==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 03 Apr 2024 07:40:42 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 03 Apr 2024 07:40:41 GMT
      x-ms-meta-name:
      - 984cdd78-82f7-46a3-bc4e-a13a823496a1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 4666991b-b058-4813-8bb7-5298375bb697
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:05:29 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:05:35 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/basic_callable_class/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1ASdP5WUzYdwbNQsgi7yRA==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 11 Apr 2024 08:11:02 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Apr 2024 08:11:02 GMT
      x-ms-meta-name:
      - c94117e8-7377-4ad2-8546-2110de5a1c30
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Apr 2024 09:05:36 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/basic_callable_class/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/basic_callable_class/flow.flex.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/inputs.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "initKWargs": {"obj_input":
      "val"}, "connections": {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '6.259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.flex.yaml", "flowSnapshotId": "c62988ac-2dad-4656-b4f1-187937cf78d7",
        "sessionId": "18f6ea39bcb35235fdc25832fcbcd49d74be0b95eb3a0921", "studioPortalEndpoint":
        "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.204'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/childRuns?endIndex=24&startIndex=0
  response:
    body:
      string: '[{"run_id": "name_2", "status": "Completed", "error": null, "inputs":
        {"func_input": "func_input", "line_number": 2}, "output": {"obj_input": "val",
        "func_input": "func_input", "obj_id": 139834373943504}, "metrics": null, "request":
        null, "parent_run_id": "name", "root_run_id": "name", "source_run_id": null,
        "flow_id": "default_flow_id", "start_time": "2024-04-11T09:06:00.826022Z",
        "end_time": "2024-04-11T09:06:00.855484Z", "index": 2, "api_calls": [{"name":
        "MyFlow.__call__", "type": "Function", "inputs": {"func_input": "func_input"},
        "output": {"obj_input": "val", "func_input": "func_input", "obj_id": 139834373943504},
        "start_time": 1712826360.827, "end_time": 1712826360.854393, "error": null,
        "children": [], "node_name": null, "parent_id": "", "id": "70d1f491-eab4-4332-9102-abfb8192771d",
        "function": "MyFlow.__call__"}], "name": "", "description": "", "tags": null,
        "system_metrics": {"duration": 0.029462}, "result": {"obj_input": "val", "func_input":
        "func_input", "obj_id": 139834373943504}, "upload_metrics": false, "otel_trace_id":
        "f0c645cf9093272fdd08e715a2b3c09b", "message_format": "basic"}, {"run_id":
        "name_0", "status": "Completed", "error": null, "inputs": {"func_input": "func_input",
        "line_number": 0}, "output": {"obj_input": "val", "func_input": "func_input",
        "obj_id": 139834373943504}, "metrics": null, "request": null, "parent_run_id":
        "name", "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-04-11T09:06:00.839225Z", "end_time": "2024-04-11T09:06:00.875869Z",
        "index": 0, "a[...]
[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1712826341, "rootRunId": "name", "createdUtc":
        "2024-04-11T09:05:41.8833245+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 6, "statusRevision": 3,
        "runUuid": "3b155256-a212-4119-8c7e-1b1dc18e00f9", "parentRunUuid": null,
        "rootRunUuid": "3b155256-a212-4119-8c7e-1b1dc18e00f9", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:09.9152291", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-04-11T09:06:04.4991234+00:00", "duration": "00:00:09.9152291",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "5eb04be5-811b-4bc7-b114-cef32f13ed5a", "status": "Completed",
        "startTimeUtc": "2024-04-11T09:05:54.8714294+00:00", "endTimeUtc": "2024-04-11T09:06:04.7866585+00:00",
        "scheduleId": null, "displayName": "name", "name": null, "dataContainerId":
        "dcid.name", "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": null}, "properties": {"azureml.promptflow.runtime_name": "automatic",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl",
        "azureml.promptflow.init_kwargs": "{\"obj_input\":\"val\"}", "azureml.promptflow.session_id":
        "18f6ea39bcb35235fdc25832fcbcd49d74be0b95eb3a0921", "azureml.promptflow.definition_file_name":
        "flow.flex.yaml", "azureml.promptflow.flow_lineage_id": "c2249808dcf304391d5273ee6f0a93162ec8e8862d1eba9a1bf4eef881ec2d67",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/80867c18c30f97021fb68276178f6d77/basic_callable_class/flow.flex.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "c62988ac-2dad-4656-b4f1-187937cf78d7", "azureml.promptflow.run_mode": "Eager",
        "azureml.promptflow.runtime_version": "", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings":
        {}, "services": {}, "inputDatasets": [], "outputDatasets": [], "runDefinition":
        null, "jobSpecification": null, "primaryMetricName": null, "createdFrom":
        null, "cancelUri": null, "completeUri": null, "diagnosticsUri": null, "computeRequest":
        null, "compute": null, "retainForLifetimeOfWorkspace": false, "queueingInfo":
        null, "inputs": null, "outputs": {"debug_info": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.040'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/logContent
  response:
    body:
      string: '"2024-04-11 09:05:45 +0000     330 promptflow-runtime INFO     [name]
        Receiving v2 bulk run request 7c299396-713b-44fa-9729-e82e17a25166: {\"flow_id\":
        \"name\", \"flow_run_id\": \"name\", \"flow_source\": {\"flow_source_type\":
        1, \"flow_source_info\": {\"snapshot_id\": \"c62988ac-2dad-4656-b4f1-187937cf78d7\"},
        \"flow_dag_file\": \"flow.flex.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-11T08%3A55%3A40Z&ske=2024-04-12T17%3A05%3A40Z&sks=b&skv=2019-07-07&st=2024-04-11T08%3A55%3A44Z&se=2024-04-11T17%3A05%3A44Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"batch_timeout_sec\": 36000, \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast4063704120\", \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/name\", \"blob_container_sas_token\":
        \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-11T09%3A05%3A44Z&ske=2024-04-18T09%3A05%3A44Z&sks=b&skv=2019-07-07&se=2024-04-18T09%3A05%3A44Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}, \"init_kwargs\": {\"obj_input\":
        \"val\"}}\n2024-04-11 09:05:45 +0000     330 promptflow-runtime INFO     Runtime
        version: bu-20240403-1452. PromptFlow version: 1.8.0rc8\n2024-04-11 09:05:45
        +0000     330 promptflow-runtime INFO     Updating name to Status.Preparing...\n2024-04-11
        09:05:45 +0000     330 promptflow-runtime INFO     Downloading snapshot to
        /mnt/host/service/app/33347/requests/name\n2024-04-11 09:05:45 +0000     330
        promptflow-runtime INFO     Get snapshot sas url for c62988ac-2dad-4656-b4f1-187937cf78d7.\n2024-04-11
        09:05:46 +0000     330 promptflow-runtime INF[...]
