interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.739'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.159'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Apr 2024 06:47:30 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lufz2WLFs2pKl+C4kdAX6Q==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 03 Apr 2024 07:40:42 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 03 Apr 2024 07:40:41 GMT
      x-ms-meta-name:
      - 984cdd78-82f7-46a3-bc4e-a13a823496a1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 4666991b-b058-4813-8bb7-5298375bb697
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Apr 2024 06:47:33 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Apr 2024 06:47:44 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/basic_callable_class/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 8A5X7MCZsTfzkt0lc8Ofhg==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 03 Apr 2024 08:57:26 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 03 Apr 2024 08:57:25 GMT
      x-ms-meta-name:
      - e35086b3-f454-4f6a-b70e-013ea90e1167
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Apr 2024 06:47:47 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/basic_callable_class/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/basic_callable_class/flow.dag.yaml",
      "runId": "basic_callable_class_variant_0_20240408_144718_343525", "runDisplayName":
      "basic_callable_class_variant_0_20240408_144718_343525", "runExperimentName":
      "", "sessionId": "000000000000000000000000000000000000000000000000", "sessionSetupMode":
      "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/inputs.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "initKWargs": {"obj_input":
      "val"}, "connections": {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"basic_callable_class_variant_0_20240408_144718_343525"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '4.796'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_callable_class_variant_0_20240408_144718_343525
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/basic_callable_class_variant_0_20240408_144718_343525/flowRuns/basic_callable_class_variant_0_20240408_144718_343525",
        "flowRunId": "basic_callable_class_variant_0_20240408_144718_343525", "flowRunDisplayName":
        "basic_callable_class_variant_0_20240408_144718_343525", "batchDataInput":
        {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/basic_callable_class_variant_0_20240408_144718_343525/flow_artifacts",
        "sessionId": "7359e295774792093d8ca4397780b011a9f4b14e5cfe1829", "studioPortalEndpoint":
        "https://ml.azure.com/runs/basic_callable_class_variant_0_20240408_144718_343525?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.142'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_callable_class_variant_0_20240408_144718_343525
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/basic_callable_class_variant_0_20240408_144718_343525/flowRuns/basic_callable_class_variant_0_20240408_144718_343525",
        "flowRunId": "basic_callable_class_variant_0_20240408_144718_343525", "flowRunDisplayName":
        "basic_callable_class_variant_0_20240408_144718_343525", "batchDataInput":
        {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/basic_callable_class_variant_0_20240408_144718_343525/flow_artifacts",
        "flowDagFileRelativePath": "flow.dag.yaml", "flowSnapshotId": "9953c6b3-4c38-4164-b13d-fe7d8cbad47c",
        "sessionId": "7359e295774792093d8ca4397780b011a9f4b14e5cfe1829", "studioPortalEndpoint":
        "https://ml.azure.com/runs/basic_callable_class_variant_0_20240408_144718_343525?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.148'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_callable_class_variant_0_20240408_144718_343525/childRuns?endIndex=24&startIndex=0
  response:
    body:
      string: '[{"run_id": "basic_callable_class_variant_0_20240408_144718_343525_0",
        "status": "Completed", "error": null, "inputs": {"func_input": "func_input",
        "line_number": 0}, "output": {"obj_input": "val", "func_input": "func_input",
        "obj_id": 140592863091008}, "metrics": null, "request": null, "parent_run_id":
        "basic_callable_class_variant_0_20240408_144718_343525", "root_run_id": "basic_callable_class_variant_0_20240408_144718_343525",
        "source_run_id": null, "flow_id": "default_flow_id", "start_time": "2024-04-08T06:52:47.834602Z",
        "end_time": "2024-04-08T06:52:47.867295Z", "index": 0, "api_calls": [{"name":
        "MyFlow.__call__", "type": "Function", "inputs": {"func_input": "func_input"},
        "output": {"obj_input": "val", "func_input": "func_input", "obj_id": 140592863091008},
        "start_time": 1712559167.835748, "end_time": 1712559167.866226, "error": null,
        "children": [], "node_name": null, "parent_id": "", "id": "7540b8bd-683a-4b70-9d0b-cd3d3fad01f6",
        "function": "MyFlow.__call__"}], "name": "", "description": "", "tags": null,
        "system_metrics": {"duration": 0.032693}, "result": {"obj_input": "val", "func_input":
        "func_input", "obj_id": 140592863091008}, "upload_metrics": false, "otel_trace_id":
        "88dcf63cd58c33d33e601d1c1039440f", "message_format": "basic"}, {"run_id":
        "basic_callable_class_variant_0_20240408_144718_343525_1", "status": "Completed",
        "error": null, "inputs": {"func_input": "func_input", "line_number": 1}, "output":
        {"obj_input": "val", "func_input": "func_input", "obj_id": 140592863091008},
        "metrics": null, "request": null, "parent_run_id": "basic_callable_class_variant_0_20240408_144718_343525",
        "root_run_id": "basic_callable_class_variant_0_20240408_144718_343525", "source_run_id":[...]
[...]
- request:
    body: '{"runId": "basic_callable_class_variant_0_20240408_144718_343525", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1712558881, "rootRunId": "basic_callable_class_variant_0_20240408_144718_343525",
        "createdUtc": "2024-04-08T06:48:01.4214374+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision": 6,
        "statusRevision": 3, "runUuid": "81c448bd-ab20-4c5a-b547-478c551101a9", "parentRunUuid":
        null, "rootRunUuid": "81c448bd-ab20-4c5a-b547-478c551101a9", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:09.8221546", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-04-08T06:52:52.5829472+00:00", "duration": "00:00:09.8221546",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "basic_callable_class_variant_0_20240408_144718_343525",
        "parentRunId": null, "experimentId": "5eb04be5-811b-4bc7-b114-cef32f13ed5a",
        "status": "Completed", "startTimeUtc": "2024-04-08T06:52:43.0144104+00:00",
        "endTimeUtc": "2024-04-08T06:52:52.836565+00:00", "scheduleId": null, "displayName":
        "basic_callable_class_variant_0_20240408_144718_343525", "name": null, "dataContainerId":
        "dcid.basic_callable_class_variant_0_20240408_144718_343525", "description":
        null, "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2":
        {"orchestrator": null, "traits": [], "attribution": "PromptFlow", "computeType":
        null}, "properties": {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.input_data":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl",
        "azureml.promptflow.init_kwargs": "{\"obj_input\":\"val\"}", "azureml.promptflow.session_id":
        "7359e295774792093d8ca4397780b011a9f4b14e5cfe1829", "azureml.promptflow.definition_file_name":
        "flow.dag.yaml", "azureml.promptflow.flow_lineage_id": "a83525e9960cf1f3dc7653252f380118d1b7568104bb055518779b02be136514",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/0e21819e0bbb8534e5af15005188abe7/basic_callable_class/flow.dag.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "9953c6b3-4c38-4164-b13d-fe7d8cbad47c", "azureml.promptflow.run_mode": "Eager",
        "azureml.promptflow.runtime_version": "bu-20240403-1452", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings":
        {}, "services": {}, "inputDatasets": [], "outputDatasets": [], "runDefinition":
        null, "jobSpecification": null, "primaryMetricName": null, "createdFrom":
        null, "cancelUri": null, "completeUri": null, "diagnosticsUri": null, "computeRequest":
        null, "compute": null, "retainForLifetimeOfWorkspace": false, "queueingInfo":
        null, "inputs": null, "outputs": {"debug_info": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_basic_callable_class_variant_0_20240408_144718_343525_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_basic_callable_class_variant_0_20240408_144718_343525_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.046'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_callable_class_variant_0_20240408_144718_343525/logContent
  response:
    body:
      string: '"2024-04-08 06:52:33 +0000      51 promptflow-runtime INFO     [basic_callable_class_variant_0_20240408_144718_343525]
        Receiving v2 bulk run request 7024e8cf-9d11-49d4-915b-121de41a5554: {\"flow_id\":
        \"basic_callable_class_variant_0_20240408_144718_343525\", \"flow_run_id\":
        \"basic_callable_class_variant_0_20240408_144718_343525\", \"flow_source\":
        {\"flow_source_type\": 1, \"flow_source_info\": {\"snapshot_id\": \"9953c6b3-4c38-4164-b13d-fe7d8cbad47c\"},
        \"flow_dag_file\": \"flow.dag.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.basic_callable_class_variant_0_20240408_144718_343525/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-07T10%3A41%3A36Z&ske=2024-04-08T18%3A51%3A36Z&sks=b&skv=2019-07-07&st=2024-04-08T06%3A42%3A32Z&se=2024-04-08T14%3A52%3A32Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"batch_timeout_sec\": 36000, \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/5d71d0d31a3bb2e19c18a8685baf4db4/inputs.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast4063704120\", \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/basic_callable_class_variant_0_20240408_144718_343525\",
        \"blob_container_sas_token\": \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-08T06%3A52%3A32Z&ske=2024-04-15T06%3A52%3A32Z&sks=b&skv=2019-07-07&se=2024-04-15T06%3A52%3A32Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}, \"init_kwargs\": {\"obj_input\":
        \"val\"}}\n2024-04-08 06:52:33 +0000      51 promptflow-runtime INFO     Runtime
        version: bu-20240403-1452. PromptFlow version: 1.8.0rc8\n2024-04-08 06:52:33
        +0000      51 promptflow-runtime INFO     Updating basic_callable_class_variant_0_20240408_144718_343525
        to Status.Preparing...\n2024-04-08 06:52:33 +0000      51 promptflow-runtime
        INFO     Downloading snapshot to /mnt/host/service/app/42643/requests/basic_callable_class_variant_0_20240408_144718_343525\n2024-04-08
        06:52:33 +0000      51 promptflow-runtime INFO     Get snapshot sas url for
     [...]
