interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.063'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.092'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:14:42 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - irtZuTukb78El+WhVU+hog==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 08 Aug 2023 15:10:57 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 08 Aug 2023 15:10:56 GMT
      x-ms-meta-name:
      - ad83b58d-43d2-4a00-8c72-cc4f99d7b387
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 8d524397-6d18-4984-affb-a5a0dc10ac7d
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:14:42 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:14:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Av7GjNN1nSy4lQfT/sNQmQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 15 Apr 2024 03:32:14 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 15 Apr 2024 03:32:14 GMT
      x-ms-meta-name:
      - bfac0efc-5e23-47dd-8545-bb82f4ee02da
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 May 2024 08:14:46 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.221'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/web_classification/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "disableTrace": false, "connections":
      {}, "runtimeName": "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '7.698'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "fetch_text_content_from_url", "type":
        "python", "source": {"type": "code", "path": "fetch_text_content_from_url.py"},
        "inputs": {"fetch_url": "${inputs.url}"}, "tool": "fetch_text_content_from_url.py",
        "reduce": false}, {"name": "prepare_examples", "type": "python", "source":
        {"type": "code", "path": "prepare_examples.py"}, "inputs": {}, "tool": "prepare_examples.py",
        "reduce": false}, {"name": "classify_with_llm", "type": "llm", "source": {"type":
        "code", "path": "classify_with_llm.jinja2"}, "inputs": {"deployment_name":
        "gpt-35-turbo", "suffix": "", "max_tokens": "128", "temperature": "0.1", "top_p":
        "1.0", "logprobs": "", "echo": "False", "stop": "", "presence_penalty": "0",
        "frequency_penalty": "0", "best_of": "1", "logit_bias": "", "url": "${inputs.url}",
        "examples": "${prepare_examples.output}", "text_content": "${summarize_text_content.output}"},
        "tool": "classify_with_llm.jinja2", "reduce": false, "api": "chat", "provider":
        "AzureOpenAI", "connection": "azure_open_ai_connection", "module": "promptflow.tools.aoai"},
        {"name": "convert_to_dict", "type": "python", "source": {"type": "code", "path":
        "convert_to_dict.py"}, "inputs": {"input_str": "${classify_with_llm.output}"},
        "tool": "convert_to_dict.py", "reduce": false}, {"name": "summarize_text_content",
        "type": "llm", "source": {"type": "code", "path": "summarize_text_content__variant_1.jinja2"},
        "inputs": {"deployment_name": "gpt-35-turbo", "suffix": "", "max_tokens":
        "256", "temperature": "0.3", "top_p": "1.0", "logprobs": "", "echo": "False",
        "stop": "", "presence_penalty": "0", "frequency_penalty": "0", "best_of":
        "1", "logit_bias": "", "text": "${fetch_text_content_from_url.output}"}, "tool":
        "summarize_text_content__variant_1.jinja2", "reduce": false, "api": "chat",
        "connection": "azure_open_ai_connection"}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 0}}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "dynamic_list": {"func_path":
        "promptflow.tools.aoai_gpt4v.list_deployment_names", "func_kwargs": [{"name":
        "connection", "reference": "${inputs.connection}", "type": ["AzureOpenAIConnection"]}]},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 1}}, "detail": {"type": ["string"], "default": "auto",
        "enum": ["low", "high", "auto"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 9}}, "frequency_penalty":
        {"type": ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 7}}, "max_tokens": {"type":
        ["int"], "default": 512, "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 4}}, "presence_penalty": {"type":
        ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 6}}, "seed": {"type":
        ["int"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 8}}, "stop": {"type": ["list"],
        "default": "", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 5}}, "temperature": {"type": ["double"],
        "default": 1, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 2}}, "top_p": {"type": ["double"], "default":
        1, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 3}}}, "description": "Use Azure OpenAI GPT-4 Turbo with
        Vision to leverage AOAI vision ability.", "module": "promptflow.tools.aoai_gpt4v",
        "class_name": "AzureOpenAI", "function": "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.5.0rc8",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.5.0rc8", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection", "ServerlessConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "deployment_name": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "capabilities": {"completion": false, "chat_completion":
        false, "embeddings": true}, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "input": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "model": {"type":
        ["string"], "enum": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use OpenAI''s embedding model
        to create an embedding vector representing the input text.", "module": "promptflow.tools.embedding",
        "function": "embedding", "is_builtin": true, "package": "promptflow-tools",
        "package_version": "1.5.0rc8", "enable_kwargs": false, "tool_state": "stable"},
        {"name": "LLM", "type": "custom_llm", "inputs": {"api": {"type": ["string"],
        "default": "chat", "allow_manual_entry": true, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 1, "text_box_size": "sm"}, "filter_by": {"input_name":
        "connection", "values": {"AzureOpenAIConnection": {"enum": ["chat", "completion"]},
        "OpenAIConnection": {"enum": ["chat", "completion"]}, "ServerlessConnection":
        {"enum": ["chat"]}}, "filter_attribute": "type"}}, "best_of": {"type": ["int"],
        "default": 1, "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 16, "text_box_size": "xs"}}, "connection": {"type":
        ["AzureOpenAIConnection", "OpenAIConnection", "ServerlessConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        0}}, "deployment_name": {"type": ["string"], "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 2, "text_box_size":
        "lg"}, "filter_by": {"input_name": "api", "values": {"chat": {"capabilities":
        {"chat_completion": true, "exclude": {"model_version": ["vision-preview"]}}},
        "completion": {"capabilities": {"completion": true, "include": {"model_name":
        ["gpt-35-turbo-instruct"]}}}}}}, "echo": {"type": ["bool"], "default": false,
        "enabled_by": "api", "enabled_by_value": ["completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true,
        "ui_hints": {"index": 15, "text_box_size": "xs"}}, "frequency_penalty": {"type":
        ["int"], "default": 0, "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default", "advanced": true, "ui_hints": {"in[...]
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-05-13T08:15:06.344202Z",
      "sampleRate": 100.0, "iKey": "8b52b368-4c91-4226-b7f7-be52822f0509", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "#1 SMP Thu Jan 11 04:09:03
      UTC 2024", "ai.device.type": "Other", "ai.internal.sdkVersion": "ulm_py3.11.9:otel1.24.0:ext1.0.0b25",
      "ai.cloud.role": "***.py", "ai.internal.nodeName": "zhengfei-dev-box", "ai.operation.id":
      "00000000000000000000000000000000", "ai.operation.parentId": "0000000000000000"},
      "data": {"baseType": "EventData", "baseData": {"ver": 2, "name": "pfazure.run.create.complete",
      "properties": {"level": "INFO", "from_ci": "False", "request_id": "d425e996-e2fc-41ac-b87e-bcea1147ae95",
      "first_call": "True", "activity_name": "pfazure.run.create", "activity_type":
      "PublicApi", "user_agent": "promptflow-azure-sdk/1.11.0.dev0 promptflow-azure-cli/1.11.0.dev0",
      "subscription_id": "96aede12-2f73-41cb-b983-6d11a904839b", "resource_group_name":
      "promptflow", "workspace_name": "promptflow-eastus", "completion_status": "Success",
      "duration_ms": "28741.09", "python_version": "3.11.9", "installation_id": "cb1d4dab-f83e-57e2-949c-aa6dbc40afa1"}}}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 1, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1715588094, "rootRunId": "name", "createdUtc":
        "2024-05-13T08:14:54.9492599+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 4, "statusRevision": 1,
        "runUuid": "ed2af307-a79f-4750-9f49-b24ede303848", "parentRunUuid": null,
        "rootRunUuid": "ed2af307-a79f-4750-9f49-b24ede303848", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001B4DCFEFF", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang", "upn":
        null}, "lastModifiedUtc": "2024-05-13T08:15:00.4171404+00:00", "duration":
        null, "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "d30efbeb-f81d-4cfa-b5cc-a0570a049009", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "zhengfei-test", "azureml.promptflow.disable_trace":
        "false", "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/710002843bc088af1e61f18537317143/webClassification3.jsonl",
        "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.flow_lineage_id":
        "af1a6951de9be2ce13d3b58b23dbd8b6a0cd8fd4918ad9cb22b28fb8395fbcb0", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/7ac7ea8a41e502780fbbb3601f2c5d07/web_classification/flow.dag.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "2cf34070-ffe7-4b82-8b2f-434569e1fbdc", "azureml.promptflow.runtime_version":
        "20240429.v8"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings": {}, "services":
        {}, "inputDatasets": [], "outputDatasets": [], "runDefinition": null, "jobSpecification":
        null, "primaryMetricName": null, "createdFrom": null, "cancelUri": null, "completeUri":
        null, "diagnosticsUri": null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.033'
    status:
      code: 200
      message: OK
version: 1
