interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2euap", "tags": {}, "etag": null, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.019'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value": [{"tags": null, "location": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/azure_open_ai_connection",
        "name": "azure_open_ai_connection", "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {"authType": "ApiKey", "credentials": null, "group": "AzureAI",
        "category": "AzureOpenAI", "expiryTime": null, "target": "_", "createdByWorkspaceArmId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus2euap",
        "useWorkspaceManagedIdentity": false, "isSharedToAll": false, "sharedUserList":
        [], "metadata": {"azureml.flow.connection_type": "AzureOpenAI", "azureml.flow.module":
        "promptflow.connections", "ApiType": "azure", "ApiVersion": "2023-07-01-preview",
        "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/gpt-test-eus",
        "DeploymentApiVersion": "2023-10-01-preview"}}, "systemData": {"createdAt":
        "2024-03-22T14:56:56.0857069Z", "createdBy": "username@microsoft.com", "createdByType":
        "User", "lastModifiedAt": "2024-03-22T14:56:56.0857069Z", "lastModifiedBy":
        "username@microsoft.com", "lastModifiedByType": "User"}}, {"tags": null, "location":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/open_ai_connection",
        "name": "open_ai_connection", "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {"authType": "ApiKey", "credentials": null, "group": "AzureAI",
        "category": "AzureOpenAI", "expiryTime": null, "target": "_", "createdByWo[...]
