interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.026'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.728'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.211'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:24 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:bc2fc032-301a-0085-0ac8-882051000000\nTime:2024-04-07T08:50:25.8766448Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:26 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:470ffc2f-b01a-0032-14c8-880dfb000000\nTime:2024-04-07T08:50:27.8117094Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:27 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:d04f81f8-d01a-000b-34c8-88f6e7000000\nTime:2024-04-07T08:50:28.5224116Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:28 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:ac1d2011-601a-00a7-68c8-88e54e000000\nTime:2024-04-07T08:50:29.2473200Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-11-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:29 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:b9cc1e5d-a01a-005c-75c8-8858d4000000\nTime:2024-04-07T08:50:29.9719845Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:29 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:30 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-07T08:50:30.6649514Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:30.6649514Z'
      x-ms-file-id:
      - '13835189193518612480'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:30.6649514Z'
      x-ms-file-parent-id:
      - '13835071545774440448'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:30 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F__pycache__?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:31 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-07T08:50:31.3917535Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:31.3917535Z'
      x-ms-file-id:
      - '13835074844309323776'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:31.3917535Z'
      x-ms-file-parent-id:
      - '13835189193518612480'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:31 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name%2F.promptflow?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:32 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-04-07T08:50:32.1046156Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:32.1046156Z'
      x-ms-file-id:
      - '13835145213053501440'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:32.1046156Z'
      x-ms-file-parent-id:
      - '13835189193518612480'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:32 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:32 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T08:50:32.8274350Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:32.8274350Z'
      x-ms-file-id:
      - '13835110028681412608'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:32.8274350Z'
      x-ms-file-parent-id:
      - '13835189193518612480'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:32 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Sun, 07 Apr 2024 08:50:33 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:33.5203853Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '631'
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:33 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/flow.log
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:34 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T08:50:34.2442003Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:34.2442003Z'
      x-ms-file-id:
      - '13835180397425590272'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:34.2442003Z'
      x-ms-file-parent-id:
      - '13835145213053501440'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Start executing
      nodes in thread pool mode.

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Start to run 1
      nodes with concurrency level 16.

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Executing node
      hello_world. node run id: d32eef14-ba6e-44d7-9410-d9c8491fd4fb_hello_world_0

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Node hel[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '279'
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:34 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/hello_world.node.log
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:35 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T08:50:35.7037755Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:35.7037755Z'
      x-ms-file-id:
      - '11529274716049113088'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:35.7037755Z'
      x-ms-file-parent-id:
      - '13835145213053501440'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Executing
      node hello_world. node run id: f075dfe5-21f5-4d1b-84d1-46ac116bd4ab_hello_world_788fcf13-4cb3-4479-b4de-97a3b2ccd690

      2024-04-07 03:33:32 +0000  718308 execution.flow     INFO     Node hello_world
      completes.

      '
    headers:
      Content-MD5:
      - hFC8nan3DR5KTPtD41njnw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:35 GMT
      x-ms-range:
      - bytes=0-278
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.promptflow/hello_world.node.log?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - hFC8nan3DR5KTPtD41njnw==
      last-modified:
      - Sun, 07 Apr 2024 08:50:36 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:36.4176342Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:36 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:37 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T08:50:37.1653432Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:37.1653432Z'
      x-ms-file-id:
      - '13835092436495368192'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:37.1653432Z'
      x-ms-file-parent-id:
      - '13835189193518612480'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:37 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Sun, 07 Apr 2024 08:50:37 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:37.9508866Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '110'
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:37 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Sun, 07 Apr 2024 08:50:38 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-04-07T08:50:38.6926221Z'
      x-ms-file-creation-time:
      - '2024-04-07T08:50:38.6926221Z'
      x-ms-file-id:
      - '11529228536560746496'
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:38.6926221Z'
      x-ms-file-parent-id:
      - '13835189193518612480'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow.core import tool\n\n\n@tool\ndef hello_world(name: str)
      -> str:\n    return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:38 GMT
      x-ms-range:
      - bytes=0-109
      x-ms-version:
      - '2023-11-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3CPKwiOwfwiEOJC0UpjR0Q==
      last-modified:
      - Sun, 07 Apr 2024 08:50:39 GMT
      x-ms-file-last-write-time:
      - '2024-04-07T08:50:39.4423228Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "studioPortalEndpoint": "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/3295d11f-225c-42d8-9e99-10aac794991b/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "3295d11f-225c-42d8-9e99-10aac794991b", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-04-07T08:50:41.4291478Z", "lastModifiedDate": "2024-04-07T08:50:41.429166Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Philip Gao"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/3295d11f-225c-42d8-9e99-10aac794991b",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
        "enableMultiContainer": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.646'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.045'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.109'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 23 Nov 2023 12:11:21 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 23 Nov 2023 12:11:20 GMT
      x-ms-meta-name:
      - 74c8f1fa-9e14-4249-8fec-279efedeb400
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 2266d840-3ecd-4a91-9e63-8d57e7b0a62e
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 07 Apr 2024 08:50:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionResourceId": "azureml://locations/fake-region/workspaces/00000/flows/00000000-0000-0000-0000-000000000000/",
      "runId": "name", "runDisplayName": "name", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runtimeName": "fake-runtime-name", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl"},
      "inputsMapping": {"name": "${data.name}"}, "connections": {}, "environmentVariables":
      {}, "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '9.458'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "hello_world", "type": "python",
        "source": {"type": "code", "path": "hello_world.py"}, "inputs": {"name": "${inputs.name}"},
        "tool": "hello_world.py", "reduce": false}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 0}}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "dynamic_list": {"func_path":
        "promptflow.tools.aoai_gpt4v.list_deployment_names", "func_kwargs": [{"name":
        "connection", "reference": "${inputs.connection}", "type": ["AzureOpenAIConnection"]}]},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 1}}, "frequency_penalty": {"type": ["double"], "default":
        0, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 7}}, "max_tokens": {"type": ["int"], "default": 512,
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 4}}, "presence_penalty": {"type": ["double"], "default":
[...]
