interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.029'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.047'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.106'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Apr 2024 08:12:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - tiCwcZnEReXDaVrgfN3qAQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 18 Apr 2024 06:39:03 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Apr 2024 06:39:02 GMT
      x-ms-meta-name:
      - b71e395a-c049-4e64-8360-c72dd242006d
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - ce6436cb-e73a-4d3a-8a12-774ed1e58516
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Apr 2024 08:12:15 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Apr 2024 08:12:26 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/basic_model_config/.promptflow/flow.detail.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - uep0kZH5H8Dt1nyxSWHg7Q==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 18 Apr 2024 07:56:09 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Apr 2024 07:56:08 GMT
      x-ms-meta-name:
      - c4a517e8-b572-4b41-beb7-1c44702214bc
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Apr 2024 08:12:30 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/basic_model_config/.promptflow/flow.detail.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/basic_model_config/flow.flex.yaml",
      "runId": "basic_model_config_variant_0_20240418_161201_761862", "runDisplayName":
      "basic_model_config_variant_0_20240418_161201_761862", "runExperimentName":
      "", "sessionId": "000000000000000000000000000000000000000000000000", "sessionSetupMode":
      "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro", "batchDataInput": {"dataUri":
      "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/inputs.jsonl"},
      "inputsMapping": {}, "environmentVariables": {}, "initKWargs": {"azure_open_ai_model_config":
      {"azure_deployment": "my_deployment", "azure_endpoint": null, "api_version":
      null, "api_key": null, "organization": null, "connection": "azure_open_ai"},
      "open_ai_model_config": {"model": "my_model", "base_url": "fake_base_url", "api_key":
      null, "organization": null, "connection": null}}, "connections": {}, "runtimeName":
      "fake-runtime-name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"basic_model_config_variant_0_20240418_161201_761862"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '5.847'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_model_config_variant_0_20240418_161201_761862
  response:
    body:
      string: '{"flowGraph": {"inputs": {"func_input": {"type": "string", "is_chat_input":
        false}}, "outputs": {"obj_input": {"type": "string", "evaluation_only": false,
        "is_chat_output": false}, "func_input": {"type": "string", "evaluation_only":
        false, "is_chat_output": false}, "obj_id": {"type": "string", "evaluation_only":
        false, "is_chat_output": false}}}, "flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/basic_model_config_variant_0_20240418_161201_761862/flowRuns/basic_model_config_variant_0_20240418_161201_761862",
        "flowRunId": "basic_model_config_variant_0_20240418_161201_761862", "flowRunDisplayName":
        "basic_model_config_variant_0_20240418_161201_761862", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/162dde470936d99746b01ac5ccd17fd7/inputs.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/basic_model_config_variant_0_20240418_161201_761862/flow_artifacts",
        "flowDagFileRelativePath": "flow.flex.yaml", "flowSnapshotId": "b0af1303-07c4-410e-bf78-c1d0ed5d3b23",
        "sessionId": "251ed427322fde47d867169f708e706292530ffe4b1b2f06", "studioPortalEndpoint":
        "https://ml.azure.com/runs/basic_model_config_variant_0_20240418_161201_761862?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.252'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_model_config_variant_0_20240418_161201_761862/childRuns?endIndex=24&startIndex=0
  response:
    body:
      string: '[{"run_id": "basic_model_config_variant_0_20240418_161201_761862_0",
        "status": "Completed", "error": null, "inputs": {"func_input": "func_input1",
        "line_number": 0}, "output": {"azure_open_ai_model_config_deployment": "my_deployment",
        "azure_open_ai_model_config_azure_endpoint": "https://gpt-test-eus.openai.azure.com/",
        "azure_open_ai_model_config_connection": null, "open_ai_model_config_model":
        "my_model", "open_ai_model_config_base_url": "fake_base_url", "open_ai_model_config_connection":
        null, "func_input": "func_input1", "obj_id": 139968831760080}, "metrics":
        null, "request": null, "parent_run_id": "basic_model_config_variant_0_20240418_161201_761862",
        "root_run_id": "basic_model_config_variant_0_20240418_161201_761862", "source_run_id":
        null, "flow_id": "default_flow_id", "start_time": "2024-04-18T08:13:08.137761Z",
        "end_time": "2024-04-18T08:13:08.164414Z", "index": 0, "api_calls": [{"name":
        "MyFlow.__call__", "type": "Function", "inputs": {"func_input": "func_input1"},
        "output": {"azure_open_ai_model_config_deployment": "my_deployment", "azure_open_ai_model_config_azure_endpoint":
        "https://gpt-test-eus.openai.azure.com/", "azure_open_ai_model_config_connection":
        null, "open_ai_model_config_model": "my_model", "open_ai_model_config_base_url":
        "fake_base_url", "open_ai_model_config_connection": null, "func_input": "func_input1",
        "obj_id": 139968831760080}, "start_time": 1713427988.139056, "end_time": 1713427988.163505,
        "error": null, "children": [], "node_name": null, "parent_id": "", "id": "2b4a5c59-2bfe-4612-98ec-04121ca55631",
        "function": "MyFlow.__call__"}], "name": "", "description": "", "tags": null,
        "system_metrics": {"duration": 0.026653}, "result": {"azure_open_ai_model_config_deployment":
        "my_deployment", "azure_open_ai_model_config_azure_endpoint": "https://gpt-test-eus.openai.azure.com/",
        "azure_open_ai_model_config_connection": null, "open_ai_model_config_model":
        "my_model", "open_ai_model_config_base_url": "fake_base_url", "open_ai_model_config_connection":
        null, "func_input": "func_input1", "obj_id": 139968831760080}, "upload_metrics":
        false, "otel_trace_id": "afd33d05cca5a0a29a1db8a2f0b0749a", "message_format":
        "basic"}, {"run_id": "basic_model_config_variant_0_20240418_161201_761862_1",
        "status": "Completed", "error": null, "inputs": {"func_input": "func_input2",
        "line_number": 1}, "output": {"azure_open_ai_model_config_deployment": "my_deployment",
        "azure_open_ai_model_config_azure_endpoint": "https://gpt-test-eus.openai.azure.com/",
        "azure_open_ai_model_config_connection": null, "open_ai_model_config_model":
        "my_model", "open_ai_model_config_base_url"[...]
[...]
- request:
    body: '{"runId": "basic_model_config_variant_0_20240418_161201_761862", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1713427965, "rootRunId": "basic_model_config_variant_0_20240418_161201_761862",
        "createdUtc": "2024-04-18T08:12:45.4503985+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision": 7,
        "statusRevision": 3, "runUuid": "ce248b68-f9bf-4e99-8889-3f4f2a9bbbcc", "parentRunUuid":
        null, "rootRunUuid": "ce248b68-f9bf-4e99-8889-3f4f2a9bbbcc", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:11.3695647", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-04-18T08:13:11.4374418+00:00", "duration": "00:00:11.3695647",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "basic_model_config_variant_0_20240418_161201_761862",
        "parentRunId": null, "experimentId": "d80a6560-645c-446b-a505-eb0cf106d0b7",
        "status": "Completed", "startTimeUtc": "2024-04-18T08:13:00.3734882+00:00",
        "endTimeUtc": "2024-04-18T08:13:11.7430529+00:00", "scheduleId": null, "displayName":
        "basic_model_config_variant_0_20240418_161201_761862", "name": null, "dataContainerId":
        "dcid.basic_model_config_variant_0_20240418_161201_761862", "description":
        null, "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2":
        {"orchestrator": null, "traits": [], "attribution": "PromptFlow", "computeType":
        null}, "properties": {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.input_data":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/162dde470936d99746b01ac5ccd17fd7/inputs.jsonl",
        "azureml.promptflow.init_kwargs": "{\"azure_open_ai_model_config\":{\"azure_deployment\":\"my_deployment\",\"azure_endpoint\":null,\"api_version\":null,\"api_key\":null,\"organization\":null,\"connection\":\"azure_open_ai\"},\"open_ai_model_config\":{\"model\":\"my_model\",\"base_url\":\"fake_base_url\",\"api_key\":null,\"organization\":null,\"connection\":null}}",
        "azureml.promptflow.disable_trace": "false", "azureml.promptflow.session_id":
        "251ed427322fde47d867169f708e706292530ffe4b1b2f06", "azureml.promptflow.definition_file_name":
        "flow.flex.yaml", "azureml.promptflow.flow_lineage_id": "3f23fa85b23e79109dded73208030690bce5daac03c90aa3b9776c17e5e47d11",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/f9695f65269ef735088e55e21754dcdc/basic_model_config/flow.flex.yaml",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "b0af1303-07c4-410e-bf78-c1d0ed5d3b23", "azureml.promptflow.run_mode": "Eager",
        "azureml.promptflow.runtime_version": "pr-1316971-v19", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings":
        {}, "services": {}, "inputDatasets": [], "outputDatasets": [], "runDefinition":
        null, "jobSpecification": null, "primaryMetricName": null, "createdFrom":
        null, "cancelUri": null, "completeUri": null, "diagnosticsUri": null, "computeRequest":
        null, "compute": null, "retainForLifetimeOfWorkspace": false, "queueingInfo":
        null, "inputs": null, "outputs": {"debug_info": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_basic_model_config_variant_0_20240418_161201_761862_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_basic_model_config_variant_0_20240418_161201_761862_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.032'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/basic_model_config_variant_0_20240418_161201_761862/logContent
  response:
    body:
      string: '"2024-04-18 08:12:49 +0000     231 promptflow-runtime INFO     [basic_model_config_variant_0_20240418_161201_761862]
        Receiving v2 bulk run request 7ca632f2-4cf9-41ec-bc22-44495d167dff: {\"flow_id\":
        \"basic_model_config_variant_0_20240418_161201_761862\", \"flow_run_id\":
        \"basic_model_config_variant_0_20240418_161201_761862\", \"flow_source\":
        {\"flow_source_type\": 1, \"flow_source_info\": {\"snapshot_id\": \"b0af1303-07c4-410e-bf78-c1d0ed5d3b23\"},
        \"flow_dag_file\": \"flow.flex.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.basic_model_config_variant_0_20240418_161201_761862/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-18T08%3A02%3A44Z&ske=2024-04-19T16%3A12%3A44Z&sks=b&skv=2019-07-07&st=2024-04-18T08%3A02%3A47Z&se=2024-04-18T16%3A12%3A47Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"flow_name\": \"basic_model_config_variant_0_20240418_161201_761862\", \"batch_timeout_sec\":
        36000, \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/162dde470936d99746b01ac5ccd17fd7/inputs.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast4063704120\", \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/basic_model_config_variant_0_20240418_161201_761862\",
        \"blob_container_sas_token\": \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-04-18T08%3A12%3A47Z&ske=2024-04-25T08%3A12%3A47Z&sks=b&skv=2019-07-07&se=2024-04-25T08%3A12%3A47Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}, \"init_kwargs\": {\"azure_open_ai_model_config\":
        {\"azure_deployment\": \"my_deployment\", \"azure_endpoint\": null, \"api_version\":
        null, \"api_key\": null, \"organization\": null, \"connection\": \"azure_open_ai\"},
        \"open_ai_model_config\": {\"model\": \"my_model\", \"base_url\": \"fake_base_url\",
        \"api_key\": null, \"organization\": null, \"connection\": null}}}\n2024-04-18
        08:12:49 +0000     231 promptflow-runtime INFO     Runtime version: pr-1316971-v19.
        [...]
