interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.028'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.061'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.094'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.207'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:25 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:bbe41481-201a-00c4-40f8-1d78b5000000\nTime:2023-11-23T10:30:25.9745931Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:27 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:c8ce0b33-701a-003d-6df8-1d7b97000000\nTime:2023-11-23T10:30:28.1264541Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:28 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:ffea51c6-101a-0004-79f8-1d808b000000\nTime:2023-11-23T10:30:29.1929084Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:29 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:e4e1bd26-201a-00d4-47f8-1dbddd000000\nTime:2023-11-23T10:30:30.2067108Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-version:
      - '2023-08-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:e4e1bd2a-201a-00d4-48f8-1dbddd000000\nTime:2023-11-23T10:30:30.3769661Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2023-11-23T10:30:30.5493974Z'
      x-ms-file-creation-time:
      - '2023-11-23T10:30:30.5493974Z'
      x-ms-file-id:
      - '11529344401893490688'
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:30.5493974Z'
      x-ms-file-parent-id:
      - '16141029853385195520'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '266'
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-23T10:30:30.8172197Z'
      x-ms-file-creation-time:
      - '2023-11-23T10:30:30.8172197Z'
      x-ms-file-id:
      - '16141030420320878592'
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:30.8172197Z'
      x-ms-file-parent-id:
      - '11529344401893490688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\r\n  name:\r\n    type: string\r\n    default: hod\r\noutputs:\r\n
      \ result:\r\n    type: string\r\n    reference: ${hello_world.output}\r\nnodes:\r\n-
      name: hello_world\r\n  type: python\r\n  source:\r\n    type: code\r\n    path:
      hello_world.py\r\n  inputs:\r\n    name: ${inputs.name}\r\n"
    headers:
      Content-MD5:
      - UZm3TyOoKWjSR23+Up6qUA==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-range:
      - bytes=0-265
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - UZm3TyOoKWjSR23+Up6qUA==
      last-modified:
      - Thu, 23 Nov 2023 10:30:30 GMT
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:30.9934463Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '111'
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-23T10:30:31.1686760Z'
      x-ms-file-creation-time:
      - '2023-11-23T10:30:31.1686760Z'
      x-ms-file-id:
      - '10376422897286643712'
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:31.1686760Z'
      x-ms-file-parent-id:
      - '11529344401893490688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow import tool\r\n\r\n\r\n@tool\r\ndef hello_world(name: str)
      -> str:\r\n    return f\"Hello World {name}!\"\r\n"
    headers:
      Content-MD5:
      - +bHgQBRcuk4oaGERTc8qeg==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-range:
      - bytes=0-110
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - +bHgQBRcuk4oaGERTc8qeg==
      last-modified:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:31.3478932Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '22'
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-23T10:30:31.5290915Z'
      x-ms-file-creation-time:
      - '2023-11-23T10:30:31.5290915Z'
      x-ms-file-id:
      - '14988108915714031616'
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:31.5290915Z'
      x-ms-file-parent-id:
      - '11529344401893490688'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "promptflow"}'
    headers:
      Content-MD5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-range:
      - bytes=0-21
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/inputs.jsonl?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      last-modified:
      - Thu, 23 Nov 2023 10:30:31 GMT
      x-ms-file-last-write-time:
      - '2023-11-23T10:30:31.7073082Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "flowId": "8ffc882b-3163-4eb6-9cfd-5330a49a9be0", "flowName":
        "flow_display_name", "description": "test flow description", "tags": {"owner":
        "sdk-test"}, "flowType": "Default", "experimentId": "00000000-0000-0000-0000-000000000000",
        "createdDate": "2023-11-23T10:30:34.7788267Z", "lastModifiedDate": "2023-11-23T10:30:34.7788267Z",
        "owner": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/8ffc882b-3163-4eb6-9cfd-5330a49a9be0",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.948'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.084'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:36 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"name": "promptflow"}'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:37 GMT
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      last-modified:
      - Thu, 23 Nov 2023 10:30:37 GMT
      x-ms-content-crc64:
      - 4+E8GsRwVkA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 10:30:37 GMT
      x-ms-meta-name:
      - 1472fae6-9435-425b-919c-d2f9e58e17b7
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 78063047-4525-4cee-9fce-c30f701406b5
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/inputs.jsonl?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 10:30:38 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionResourceId": "azureml://locations/eastus/workspaces/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/flows/8ffc882b-3163-4eb6-9cfd-5330a49a9be0",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "8ffc882b-3163-4eb6-9cfd-5330a49a9be0",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/inputs.jsonl"},
      "inputsMapping": {"num": "${data.num}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "hod-ci", "sessionId": "8ffc882b-3163-4eb6-9cfd-5330a49a9be0",
      "flowLineageId": "8ffc882b-3163-4eb6-9cfd-5330a49a9be0", "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '10.541'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1700735445, "rootRunId": "name", "createdUtc":
        "2023-11-23T10:30:45.983706+00:00", "createdBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "userId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 2, "statusRevision": 1,
        "runUuid": "64e554de-d3a4-498e-9e9d-e2db773f3aee", "parentRunUuid": null,
        "rootRunUuid": "64e554de-d3a4-498e-9e9d-e2db773f3aee", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "lastModifiedUtc": "2023-11-23T10:30:45.983706+00:00", "duration": null, "cancelationReason":
        null, "currentAttemptId": 1, "runId": "name", "parentRunId": null, "experimentId":
        "a0f76cbe-5ab4-4ca6-b7d8-3f05f371af08", "status": "Preparing", "startTimeUtc":
        null, "endTimeUtc": null, "scheduleId": null, "displayName": "name", "name":
        null, "dataContainerId": "dcid.name", "description": null, "hidden": false,
        "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator": null,
        "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"}, "properties":
        {"azureml.promptflow.runtime_name": "hod-ci", "azureml.promptflow.runtime_version":
        "20231114.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "8ffc882b-3163-4eb6-9cfd-5330a49a9be0", "azureml.promptflow.flow_lineage_id":
        "8ffc882b-3163-4eb6-9cfd-5330a49a9be0", "azureml.promptflow.flow_definition_resource_id":
        "azureml://locations/eastus/workspaces/00000/flows/8ffc882b-3163-4eb6-9cfd-5330a49a9be0",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/79f088fae0e502653c43146c9682f425/inputs.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"num\":\"${data.num}\"}", "azureml.promptflow.snapshot_id":
        "f218eeaa-44c1-4e5b-8a68-cca64034eebf", "_azureml.evaluation_run": "promptflow.BatchRun"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": [{"Name": "hello_world", "Type": "python", "Source": {"Type": "code",
        "Tool": null, "Path": "hello_world.py"}, "Inputs": {"name": "${inputs.name}"},
        "Tool": "hello_world.py", "Reduce": false, "Comment": null, "Activate": null,
        "Api": null, "Provider": null, "Connection": null, "Module": null}], "Tools":
        [{"Name": "Content Safety (Text Analyze)", "Type": "python", "Inputs": {"connection":
        {"Name": null, "Type": ["AzureContentSafetyConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "hate_category": {"Name":
        null, "Type": ["string"], "Default": "medium_sensitivity", "Description":
        null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "self_harm_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "sexual_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "text": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "violence_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": "Use Azure Content Safety to detect harmful
        content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
        "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
        "analyze_text", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
        "promptflow-contentsafety", "package_version": "0.0.9", "default_prompt":
[...]
