interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.026'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.711'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.237'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Dec 2023 03:51:18 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification1.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - i/8q1x5YKzHv3Fd/R8lYUQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Fri, 28 Jul 2023 12:34:52 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 28 Jul 2023 12:34:52 GMT
      x-ms-meta-name:
      - 13fa99dd-c98e-4f2a-a704-4295d4ed6f68
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 0367c5c6-9f53-4a75-8623-7e53699f0d0b
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Dec 2023 03:51:19 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification1.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Dec 2023 03:51:20 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ylTeNqjvuOvtzEZJ/X5n3A==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 14 Dec 2023 06:10:20 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 Dec 2023 06:10:20 GMT
      x-ms-meta-name:
      - 0b067b84-235d-4f22-909e-0d4d6728aa38
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 15 Dec 2023 03:51:21 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/web_classification/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "nodeVariant":
      "${summarize_text_content.variant_0}", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification1.jsonl"},
      "inputsMapping": {"url": "${data.url}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '11.909'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/cancel
  response:
    body:
      string: ''
    headers:
      x-request-time:
      - '0.362'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1702612291, "rootRunId": "name", "createdUtc":
        "2023-12-15T03:51:31.2399454+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 4, "statusRevision": 2,
        "runUuid": "3de55a52-162c-417f-a4d3-9c8fc093423d", "parentRunUuid": null,
        "rootRunUuid": "3de55a52-162c-417f-a4d3-9c8fc093423d", "lastStartTimeUtc":
        "2023-12-15T03:51:42.9135295+00:00", "currentComputeTime": "00:00:00", "computeDuration":
        null, "effectiveStartTimeUtc": "2023-12-15T03:51:42.9135295+00:00", "lastModifiedBy":
        {"userObjectId": "00000000-0000-0000-0000-000000000000", "userPuId": "10032000324F7449",
        "userIdp": null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Honglin
        Du", "upn": null}, "lastModifiedUtc": "2023-12-15T03:51:36.698554+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "name", "parentRunId": null, "experimentId": "d30efbeb-f81d-4cfa-b5cc-a0570a049009",
        "status": "CancelRequested", "startTimeUtc": "2023-12-15T03:51:42.9135295+00:00",
        "endTimeUtc": null, "scheduleId": null, "displayName": "name", "name": null,
        "dataContainerId": "dcid.name", "description": null, "hidden": false, "runType":
        "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator": null, "traits":
        [], "attribution": "PromptFlow", "computeType": "AmlcDsi"}, "properties":
        {"azureml.promptflow.runtime_name": "hod-ci", "azureml.promptflow.runtime_version":
        "20231114.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "8a353369f754e5e4d415ede705304bc4a6a6c7594481cad5",
        "azureml.promptflow.flow_lineage_id": "97280ab0e0bfee2b7b9a66a5e6391fa0f52550ecf78501ac8bd57d5e31eddfd6",
        "azureml.promptflow.node_variant": "${summarize_text_content.variant_0}",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/7b5027892a914a3146135f411a162907/web_classification/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/107bd3498e44deb2dccc53d2208d32b2/webClassification1.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"url\":\"${data.url}\"}", "_azureml.evaluation_run":
        "promptflow.BatchRun", "azureml.promptflow.snapshot_id": "c86777ed-8bec-4666-9aca-7a856f92d71d"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": [{"Name": "fetch_text_content_from_url", "Type": "python", "Source":
        {"Type": "code", "Tool": null, "Path": "fetch_text_content_from_url.py"},
        "Inputs": {"fetch_url": "${inputs.url}"}, "Tool": "fetch_text_content_from_url.py",
        "Reduce": false, "Activate": null, "Comment": null, "Api": null, "Provider":
        null, "Connection": null, "Module": null}, {"Name": "summarize_text_content",
        "Type": null, "Source": null, "Inputs": null, "Tool": null, "Reduce": false,
        "Activate": null, "Comment": null, "Api": null, "Provider": null, "Connection":
        null, "Module": null}, {"Name": "prepare_examples", "Type": "python", "Source":
        {"Type": "code", "Tool": null, "Path": "prepare_examples.py"}, "Inputs": {},
        "Tool": "prepare_examples.py", "Reduce": false, "Activate": null, "Comment":
        null, "Api": null, "Provider": null, "Connection": null, "Module": null},
        {"Name": "classify_with_llm", "Type": "llm", "Source": {"Type": "code", "Tool":
        null, "Path": "classify_with_llm.jinja2"}, "Inputs": {"deployment_name": "gpt-35-turbo",
        "suffix": "", "max_tokens": "128", "temperature": "0.1", "top_p": "1.0", "logprobs":
        "", "echo": "False", "stop": "", "presence_penalty": "0", "frequency_penalty":
        "0", "best_of": "1", "logit_bias": "", "url": "${inputs.url}", "examples":
        "${prepare_examples.output}", "text_content": "${summarize_text_content.output}"},
        "Tool": "classify_with_llm.jinja2", "Reduce": false, "Activate": null, "Comment":
        null, "Api": "chat", "Provider": "AzureOpenAI", "Connection": "azure_open_ai_connection",
        "Module": "promptflow.tools.aoai"}, {"Name": "convert_to_dict", "Type": "python",
        "Source": {"Type": "code", "Tool": null, "Path": "convert_to_dict.py"}, "Inputs":
        {"input_str": "${classify_with_llm.output}"}, "Tool": "convert_to_dict.py",
        "Reduce": false, "Activate": null, "Comment": null, "Api": null, "Provider":
        null, "Connection": null, "Module": null}], "Tools": [{"Name": "Content Safety
        (Text Analyze)", "Type": "python", "Inputs": {"connection": {"Name": null,
        "Type": ["AzureContentSafetyConnection"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default",
        "advanced": null, "ui_hints": null}, "hate_category": {"Name": null, "Type":
        ["string"], "Default": "medium_sensitivity", "Description": null, "Enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default", "advanced":
        null, "ui_hints": null}, "self_harm_category": {"Name": null, "Type": ["string"],
        "Default": "medium_sensitivity", "Description": null, "Enum": ["disable",
        "low_sensitivity", "medium_sensitivity", "high_sensitivity"], "enabled_by":
        null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
        "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "sexual_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default",
        "advanced": null, "ui_hints": null}, "text": {"Name": null, "Type": ["string"],
        "Default": null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "violence_category": {"Name": null, "Type": ["string"], "Default":
        "medium_sensitivity", "Description": null, "Enum": ["disable", "low_sensitivity",
        "medium_sensitivity", "high_sensitivity"], "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}}, "Outputs": null, "Description": "Use Azure Content Safety to detect
        harmful content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
        "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
        "analyze_text", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
        "promptflow-contentsafety", "package_version": "0.0.9", "default_prompt":
        null, "enable_kwargs": false, "deprecated_tools": null, "tool_state": "stable"},
        {"Name": "Embedding", "Type": "python", "Inputs": {"connection": {"Name":
        null, "Type": ["AzureOpenAIConnection", "OpenAIConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "deployment_name": {"Name": null, "Type": ["string"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "enabled_by_value": null, "model_list": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "Capabilities": {"completion":
        false, "chat_completion": false, "embeddings": true}, "dynamic_list": null,
        "allow_manual_entry": false, "is_multi_select": false, "generated_by": null,
        "input_type": "default", "advanced": null, "ui_hints": null}, "input": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default", "advanced":
        null, "ui_hints": null}, "model": {"Name": null, "Type": ["string"], "Default":
        null, "Description": null, "Enum": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "enabled_by_value": null, "model_list": null, "Capabilities":
        null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}}, "Outputs": null, "Description": "Use Open AI''s embedding model to
        create an embedding vector representing the input text.", "connection_type":
        null, "Module": "promptflow.tools.embedding", "class_name": null, "Source":
        null, "LkgCode": null, "Code": null, "Function": "embedding", "action_type":
        null, "provider_config": null, "function_config": null, "Icon": null, "Category":
        null, "Tags": null, "is_builtin": true, "package": "promptflow-tools", "package_version":
        "0.1.0b10", "default_prompt": null, "enable_kwargs": false, "deprecated_tools":
        null, "tool_state": "stable"}, {"Name": "Open Source LLM", "Type": "custom_llm",
        "Inputs": {"api": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": ["chat", "completion"], "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "connection": {"Name": null, "Type": ["CustomConnection"], "Default":
        null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "deployment_name": {"Name": null, "Type": ["string"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "endpoint_name": {"Name": null, "Type": ["string"], "Default": "--
        please enter an endpoint name --", "Description": null, "Enum": null, "enabled_by":
        null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
        "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "max_new_tokens": {"Name": null, "Type": ["int"], "Default": 500, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default",
        "advanced": null, "ui_hints": null}, "model_kwargs": {"Name": null, "Type":
        ["object"], "Default": "{}", "Description": null, "Enum": null, "enabled_by":
        null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
        "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default", "advanced": true, "ui_hints":
        null}, "temperature": {"Name": null, "Type": ["double"], "Default": 1.0, "Description":
        null, "En[...]
