interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.184'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.155'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Dec 2023 11:34:49 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lI/pz9jzTQ7Td3RHPL7y7w==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-meta-name:
      - 94331215-cf7f-452a-9f1a-1d276bc9b0e4
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 3f163752-edb0-4afc-a6f5-b0a670bd7c24
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Dec 2023 11:34:50 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Dec 2023 11:34:54 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/partial_fail/data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kHimciLnA7d3/I2LBUeLNA==
      content-type:
      - application/octet-stream
      last-modified:
      - Fri, 22 Sep 2023 09:37:31 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 22 Sep 2023 09:37:30 GMT
      x-ms-meta-name:
      - aa1844d8-4898-4daa-8100-6140558fc7c9
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Dec 2023 11:34:55 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/partial_fail/data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/partial_fail/flow.dag.yaml",
      "runId": "failed_run_name", "runDisplayName": "sdk-cli-test-fixture-failed-run",
      "runExperimentName": "", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runtimeName":
      "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"failed_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '9.065'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/failed_run_name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "print_env", "type": "python", "source":
        {"type": "code", "path": "print_env.py"}, "inputs": {"key": "${inputs.key}"},
        "tool": "print_env.py", "reduce": false}], "tools": [{"name": "Content Safety
        (Text Analyze)", "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "0.0.216", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Open AI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "0.0.216", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Source LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "connection": {"type":
        ["CustomConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "deployment_name": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "endpoint_name":
        {"type": ["string"], "default": "-- please enter an endpoint name --", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "max_new_tokens":
        {"type": ["int"], "default": 500, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model_kwargs": {"type": ["object"], "default":
        "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true}, "temperature": {"type": ["double"], "default":
        1.0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "top_p": {"type": ["double"], "default": 1.0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true}},
        "description": "Use an Open Source model from the Azure Model catalog, deployed
        to an AzureML Online Endpoint for LLM Chat or Completion API calls.", "module":
        "promptflow.tools.open_source_llm", "class_name": "OpenSourceLLM", "function":
        "call", "icon": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACgElEQVR4nGWSz2vcVRTFP/e9NzOZ1KDGohASslLEH6VLV0ak4l/QpeDCrfQPcNGliODKnVm4EBdBsIjQIlhciKW0ycKFVCSNbYnjdDLtmPnmO/nO9917XcxMkjYX3uLx7nnn3HOuMK2Nix4fP78ZdrYXVkLVWjf3l3B1B+HpcjzGFtmqa6cePz7/x0dnn1n5qhj3iBJPYREIURAJuCtpY8PjReDbrf9WG7H1fuefwQU9qKztTcMJT+PNnEFvjGVDBDlSsH6p/9MLzy6+NxwVqI8RAg4IPmWedMckdLYP6O6UpIaQfvyyXG012+e79/ZfHukoS1ISMT2hGTB1RkUmNgQ5QZ0w+a2VWDq73MbdEWmfnnv6UWe7oNzPaLapl5CwuLTXK9WUGBuCjqekzhP+z52ZXOrKMD3OJg0Hh778aiOuvpnYvp05d6GJO4iAO4QAe/eV36/X5LFRV4Zmn+AdkqlL8Vjp3oVioOz+WTPzzYEgsN+fgPLYyJVheSbPPVl2ikeGZRjtG52/8rHuaV9VOlpP2OtKyVndcRVCSqOhsvxa4vW359i6OuKdD+aP8Q4SYPdOzS/flGjt1JUSaMqZ5nwa1Y8qWb/Ud/eZZkHisYezEM0m+fcelDr8F1SqW2LNK6r1jXQwyLzy1hxvrLXZulry7ocL+FS6G4QIu3fG/Px1gdYeW7LIgXU2P/115TOA5G7e3Rmj2aS/m7l5pThiZzrCcE/d1XHzbln373nw7y6veeoUm5KCNKT/IPPwbiY1hYd/l5MIT65BMFt87sU4v9D7/JMflr44uV6hGh1+L4RCkg6z5iK2tAhNLeLsNGwYA4fDYnC/drvuuFxe86NV/x+Ut27g0FvykgAAAABJRU5ErkJggg==",
        "is_builtin": true, "package": "promptflow-tools", "package_version": "0.0.216",
        "enable_kwargs": false, "tool_state": "stable"}, {"name": "OpenAI GPT-4V",
        "type": "custom_llm", "inputs": {"connection": {"type": ["OpenAIConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "frequency_penalty": {"type": ["double"], "default": 0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "max_tokens": {"type":
        ["int"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "model": {"type": ["string"], "enum": ["gpt-4-vision-preview"],
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default"},
        "presence_penalty": {"type": ["double"], "default": 0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "stop": {"type":
        ["list"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "temperature": {"type": ["double"], "default": 1,
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "top_p": {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use OpenAI GPT-4V to leverage
        vision ability.", "module": "promptflow.tools.openai_gpt4v", "class_name":
        "OpenAI", "function": "chat", "is_builtin": true, "package": "promptflow-tools",
        "package_version": "0.0.216", "default_prompt": "# system:\nAs an AI assistant,
        your task involves interpreting images and responding to questions about the
        image.\nRemember to provide accurate answers based on the information present
        in the image.\n\n# user:\nCan you tell me what the image depicts?\n![image]({{image_input}})\n",
        "enable_kwargs": false, "tool_state": "stable"}, {"name": "Serp API", "type":
        "python", "inputs": {"connection": {"type": ["SerpConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "engine": {"type":
        ["string"], "default": "google", "enum": ["google", "bing"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "location": {"type":
        ["string"], "default": "", "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "num": {"type": ["int"], "default": "10",
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "query": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "safe": {"type": ["string"], "default": "off",
        "enum": ["active", "off"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Serp API to obtain search
        results from a specific search engine.", "module": "promptflow.tools.serpapi",
        "class_name": "SerpAPI", "function": "search", "is_builtin": true, "package":
        "promptflow-tools", "package_version": "0.0.216", "enable_kwargs": false,
        "tool_state": "stable"}, {"name": "Faiss Index Lookup", "type": "python",
        "inputs": {"path": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "top_k": {"type": ["int"], "default": "3",
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "vector": {"type": ["list"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Search vector based query
        from the FAISS index file.", "module": "promptflow_vectordb.tool.faiss_index_lookup",
        "class_name": "FaissIndexLookup", "function": "search", "is_builtin": true,
        "package": "promptflow-vectordb", "package_version": "0.0.1", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Vector DB Lookup", "type": "python",
        "inputs": {"class_name": {"type": ["string"], "enabled_by": "connection",
        "enabled_by_type": ["WeaviateConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "collection_name": {"type": ["string"], "enabled_by":
        "connection", "enabled_by_type": ["QdrantConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "connection": {"type":
        ["CognitiveSearchConnection", "QdrantConnection", "WeaviateConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "index_name": {"type":
        ["string"], "enabled_by": "connection", "enabled_by_type": ["CognitiveSearchConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "search_filters": {"type": ["object"], "enabled_by": "connection", "enabled_by_type":
        ["CognitiveSearchConnection", "QdrantConnection"], "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}, "search_params": {"type":
        ["object"], "enabled_by": "connection", "enabled_by_type": ["CognitiveSearchConnection",
        "QdrantConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "text_field": {"type": ["string"], "enabled_by":
        "connection", "enabled_by_type": ["CognitiveSearchConnection", "QdrantConnection",
        "WeaviateConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "top_k": {"type": ["int"], "default": "3", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "vector": {"type":
        ["list"], "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "vector_field": {"type": ["string"], "enabled_by": "connection",
        "enabled_by_type": ["CognitiveSearchConnection"], "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}}, "description": "Search
        vector based query from existing Vector Database.", "module": "promptflow_vectordb.tool.vector_db_lookup",
        "class_name": "VectorDBLookup", "function": "search", "is_builtin": true,
        "package": "promptflow-vectordb", "package_version": "0.0.1", "enable_kwar[...]
[...]
- request:
    body: '{"runId": "failed_run_name", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1702899304, "rootRunId": "failed_run_name",
        "createdUtc": "2023-12-18T11:35:04.4135362+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": {"error": {"code": "UserError", "severity":
        null, "message": "The input for batch run is incorrect. Couldn''t find these
        mapping relations: ${data.key}. Please make sure your input mapping keys and
        values match your YAML input section and input data. For more information,
        refer to the following documentation: https://aka.ms/pf/column-mapping", "messageFormat":
        "The input for batch run is incorrect. Couldn''t find these mapping relations:
        {invalid_relations}. Please make sure your input mapping keys and values match
        your YAML input section and input data. For more information, refer to the
        following documentation: https://aka.ms/pf/column-mapping", "messageParameters":
        {"invalid_relations": "${data.key}"}, "referenceCode": "Executor", "detailsUri":
        null, "target": null, "details": [], "innerError": {"code": "ValidationError",
        "innerError": {"code": "InputMappingError", "innerError": null}}, "debugInfo":
        {"type": "InputMappingError", "message": "The input for batch run is incorrect.
        Couldn''t find these mapping relations: ${data.key}. Please make sure your
        input mapping keys and values match your YAML input section and input data.
        For more information, refer to the following documentation: https://aka.ms/pf/column-mapping",
        "stackTrace": "Traceback (most recent call last):\n  File \"/azureml-envs/prompt-flow/runtime/lib/python3.10/site-packages/promptflow/runtime/runtime.py\",
        line 671, in execute_bulk_run_request\n    batch_engine.run(\n  File \"/azureml-envs/prompt-flow/runtime/lib/python3.10/site-packages/promptflow/batch/_batch_engine.py\",
        line 147, in run\n    raise e\n  File \"/azureml-envs/prompt-flow/runtime/lib/python3.10/site-packages/promptflow/batch/_batch_engine.py\",
        line 132, in run\n    [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/failed_run_name/logContent
  response:
    body:
      string: '"2023-12-18 11:35:08 +0000  127139 promptflow-runtime INFO     [failed_run_name]
        Receiving v2 bulk run request b8af4930-b0de-4f43-b0ce-6a24fe5ac2f7: {\"flow_id\":
        \"failed_run_name\", \"flow_run_id\": \"failed_run_name\", \"flow_source\":
        {\"flow_source_type\": 1, \"flow_source_info\": {\"snapshot_id\": \"726ac505-03ee-4402-a295-beb4f9b0d322\"},
        \"flow_dag_file\": \"flow.dag.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.failed_run_name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2023-12-18T05%3A18%3A52Z&ske=2023-12-19T13%3A28%3A52Z&sks=b&skv=2019-07-07&st=2023-12-18T11%3A25%3A07Z&se=2023-12-18T19%3A35%3A07Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/74c11bba717480b2d6b04b8e746d09d7/webClassification3.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast4063704120\", \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/failed_run_name\",
        \"blob_container_sas_token\": \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2023-12-18T11%3A35%3A08Z&ske=2023-12-25T11%3A35%3A08Z&sks=b&skv=2019-07-07&se=2023-12-25T11%3A35%3A08Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}}\n2023-12-18 11:35:08 +0000  127139
        promptflow-runtime INFO     Runtime version: 20231204.v4. PromptFlow version:
        1.2.0rc1\n2023-12-18 11:35:08 +0000  127139 promptflow-runtime INFO     Updating
        failed_run_name to Status.Preparing...\n2023-12-18 11:35:08 +0000  127139
        promptflow-runtime INFO     Downloading snapshot to /mnt/host/service/app/45799/requests/failed_run_name\n2023-12-18
        11:35:08 +0000  127139 promptflow-runtime INFO   [...]
