interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2euap", "tags": {}, "etag": null, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.017'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-27T13:02:12.881304+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-27T13:02:13.9865361+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.057'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.076'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Feb 2024 11:20:14 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification1.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - i/8q1x5YKzHv3Fd/R8lYUQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 29 Feb 2024 10:51:47 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 29 Feb 2024 10:51:47 GMT
      x-ms-meta-name:
      - 41923fbe-7dbf-47d5-b1f3-2390835a027e
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - e2148768-82c4-4681-ba2e-32857939c5c2
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Feb 2024 11:20:16 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification1.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Feb 2024 11:20:18 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/.azureml/config.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - brpu4ac1G7dZeZ2QcLuRgQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 29 Feb 2024 10:59:12 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 29 Feb 2024 10:59:12 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Feb 2024 11:20:19 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/web_classification/.azureml/config.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: "import bs4\r\nimport requests\r\n\r\nfrom promptflow import tool\r\n\r\n\r\n@tool\r\ndef
      fetch_text_content_from_url(fetch_url: str):\r\n    # Send a request to the
      URL\r\n    try:\r\n        headers = {\r\n            \"User-Agent\": \"Mozilla/5.0
      (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0
      Safari/537.36 Edg/113.0.1774.35\"\r\n        }\r\n        response = requests.get(fetch_url,
      headers=headers)\r\n        if response.status_code == 200:\r\n            #
      Parse the HTML content using BeautifulSoup\r\n            soup = bs4.BeautifulSoup(response.text,
      \"html.parser\")\r\n            soup.prettify()\r\n            return soup.get_text()[:2000]\r\n
      \       else:\r\n            msg = (\r\n                f\"Get url failed with
      status code {response.status_code}.\\nURL: {fetch_url}\\nResponse: {response.text[:100]}\"\r\n
      \           )\r\n            print(msg)\r\n            return \"No available
      content\"\r\n    except Exception as e:\r\n        print(\"Get url failed with
      error: {}\".format(e))\r\n        return \"No available content\"\r\n"
    headers:
      Content-MD5:
      - RvybTN5n3h9KmGEV+Cq4UA==
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 29 Feb 2024 11:20:19 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/fetch_text_content_from_url.py
  response:
    body:
      string: ''
    headers:
      content-md5:
      - RvybTN5n3h9KmGEV+Cq4UA==
      last-modified:
      - Thu, 29 Feb 2024 11:20:19 GMT
      x-ms-content-crc64:
      - jjGCM1gPq54=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "$schema: https://azuremlschemas.azureedge.net/promptflow/latest/Flow.schema.json\r\ninputs:\r\n
      \ url:\r\n    type: string\r\n    default: https://www.microsoft.com/en-us/d/xbox-wireless-controller-stellar-shift-special-edition/94fbjc7h0h6h\r\noutputs:\r\n
      \ category:\r\n    type: string\r\n    reference: ${convert_to_dict.output.category}\r\n
      \ evidence:\r\n    type: string\r\n    reference: ${convert_to_dict.output.evidence}\r\nnodes:\r\n-
      name: fe[...]
- request:
    body: '{"runId": "resume_from_run0", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Run runId=resume_from_run0
        was not found", "messageFormat": "Run {runId} was not found", "messageParameters":
        {"runId": "runId=resume_from_run0"}, "referenceCode": null, "detailsUri":
        null, "target": null, "details": [], "innerError": {"code": "NotFoundError",
        "innerError": null}, "debugInfo": {"type": "Microsoft.MachineLearning.RunHistory.Services.Exceptions.RunNotFoundException",
        "message": "Run runId=resume_from_run0 was not found", "stackTrace": "   at
        Microsoft.MachineLearning.Run.Services.RunService.GetRunData(WorkspaceContext2
        workspaceContext, GetRunDataRequestDto runDataRequestDto) in /mnt/vss/_work/1/s/src/azureml-api/src/Run/Services/RunService.cs:line
        488\n   at Microsoft.MachineLearning.Run.EntryPoints.Api.Controllers.RunController.GetRunData(WorkspaceContext2
        workspaceContext, GetRunDataRequestDto runDataRequestDto) in /mnt/vss/_work/1/s/src/azureml-api/src/Run/EntryPoints/Api/Controllers/RunController.cs:line
        257\n   at lambda_method1525(Closure , Object )\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.AwaitableObjectResultExecutor.Execute(IActionResultTypeMapper
        mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Logged|12_1(ControllerActionInvoker
        invoker)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker
        invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed
        context)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State&
        next, Scope& scope, Object& state, Boolean& isCompleted)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker
        invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeNextExceptionFilterAsync>g__Awaited|26_0(ResourceInvoker
        invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)",
        "innerException": null, "data": {}, "errorResponse": null}, "additionalInfo":
        null}, "correlation": {"operation": "a6d2b68345be2b78c552e87dca10651f", "request":
        "d29ff70907c70faa"}, "environment": "eastus2euap", "location": "eastus2euap",
        "time": "2024-02-29T11:20:11.3509902+00:00", "componentName": "run-history",
        "statusCode": 404}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.029'
    status:
      code: 404
      message: Not Found
version: 1
