interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.029'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.053'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.067'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.107'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:28 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:f9e66c06-801a-0016-2e39-66fb5b000000\nTime:2024-02-23T09:19:29.3420113Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:30 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:973d8634-701a-00ab-3439-667246000000\nTime:2024-02-23T09:19:31.4625916Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:31 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:4cdeba56-601a-000e-2339-66243c000000\nTime:2024-02-23T09:19:32.8053900Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:32 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:4eaaae28-001a-00c3-1739-6614d6000000\nTime:2024-02-23T09:19:33.8094988Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:33 GMT
      x-ms-version:
      - '2023-08-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:4eaaae2b-001a-00c3-1839-6614d6000000\nTime:2024-02-23T09:19:33.9867196Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2024-02-23T09:19:34.1656791Z'
      x-ms-file-creation-time:
      - '2024-02-23T09:19:34.1656791Z'
      x-ms-file-id:
      - '16140925017528467456'
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:34.1656791Z'
      x-ms-file-parent-id:
      - '16141029853385195520'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-02-23T09:19:34.3478775Z'
      x-ms-file-creation-time:
      - '2024-02-23T09:19:34.3478775Z'
      x-ms-file-id:
      - '10376317494494232576'
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:34.3478775Z'
      x-ms-file-parent-id:
      - '16140925017528467456'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:34.5290815Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-02-23T09:19:34.7092900Z'
      x-ms-file-creation-time:
      - '2024-02-23T09:19:34.7092900Z'
      x-ms-file-id:
      - '14988003512921620480'
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:34.7092900Z'
      x-ms-file-parent-id:
      - '16140925017528467456'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:34.8914886Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '105'
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:34 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 23 Feb 2024 09:19:35 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2024-02-23T09:19:35.0716958Z'
      x-ms-file-creation-time:
      - '2024-02-23T09:19:35.0716958Z'
      x-ms-file-id:
      - '12682160503707926528'
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:35.0716958Z'
      x-ms-file-parent-id:
      - '16140925017528467456'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow import tool\n\n\n@tool\ndef hello_world(name: str) -> str:\n
      \   return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - fGMkkiZAjGs8PW/AMiYppA==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 23 Feb 2024 09:19:35 GMT
      x-ms-range:
      - bytes=0-104
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - fGMkkiZAjGs8PW/AMiYppA==
      last-modified:
      - Fri, 23 Feb 2024 09:19:35 GMT
      x-ms-file-last-write-time:
      - '2024-02-23T09:19:35.2558875Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "studioPortalEndpoint": "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/48e44cf8-c9f6-44fe-b1a7-970668249134/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "48e44cf8-c9f6-44fe-b1a7-970668249134", "flowName": "flow_display_name",
        "description": "test flow description", "tags": {"owner": "sdk-test"}, "flowType":
        "Default", "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate":
        "2024-02-23T09:19:37.4657415Z", "lastModifiedDate": "2024-02-23T09:19:37.4657415Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/48e44cf8-c9f6-44fe-b1a7-970668249134",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.475'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"flowName": "SDK test flow", "description": "SDK test flow description",
      "tags": {"owner": "sdk-test", "key1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows/48e44cf8-c9f6-44fe-b1a7-970668249134?experimentId=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: ''
    headers:
      x-request-time:
      - '0.259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows/48e44cf8-c9f6-44fe-b1a7-970668249134?experimentId=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"timestamp": "2024-02-23T09:19:39.5130544+00:00", "eTag": {}, "studioPortalEndpoint":
        "https://ml.azure.com/prompts/flow/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/48e44cf8-c9f6-44fe-b1a7-970668249134/details?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "flowId": "48e44cf8-c9f6-44fe-b1a7-970668249134", "flowName": "SDK test flow",
        "description": "SDK test flow description", "tags": {"owner": "sdk-test",
        "key1": "value1"}, "flowType": "Default", "experimentId": "00000000-0000-0000-0000-000000000000",
        "createdDate": "2024-02-23T09:19:37.4657415Z", "lastModifiedDate": "2024-02-23T09:19:39.4972707Z",
        "owner": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/48e44cf8-c9f6-44fe-b1a7-970668249134",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.151'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowName": "A new test flow", "description": "SDK test flow description",
      "tags": {"owner": "sdk-test", "key1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows/fake_flow_name?experimentId=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Flow
        with id fake_flow_name not found", "messageFormat": "Flow with id {flowId}
        not found", "messageParameters": {"flowId": "fake_flow_name"}, "referenceCode":
        null, "detailsUri": null, "target": null, "details": [], "innerError": {"code":
        "NotFound", "innerError": {"code": "FlowNotFound", "innerError": null}}, "debugInfo":
        {"type": "Microsoft.MachineLearning.Common.Core.Exceptions.BaseException",
        "message": "Flow with id fake_flow_name not found", "stackTrace": "   at Microsoft.MachineLearning.Studio.MiddleTier.Services.PromptFlow.FlowsManagement.GetFlowTableEntity(String
        experimentId, String flowId, Boolean checkDefinition) in /mnt/vss/_work/1/s/src/azureml-api/src/Designer/src/MiddleTier/MiddleTier/Services/PromptFlow/FlowsManagement.cs:line
        4269\n   at Microsoft.MachineLearning.Studio.MiddleTier.Services.PromptFlow.FlowsManagement.GetExistingFlowTableEntityAndVerifyOwnership(String
        experimentId, String flowId, Boolean checkD[...]
