interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2euap", "tags": {}, "etag": null, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.015'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-09-22T05:26:30.7527337+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-01-10T09:29:14.5412854+00:00", "lastModifiedBy": "Philip Gao", "lastModifiedByType":
        "User"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.036'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.072'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:15:01 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - coR2DL3u7dznqaSP7zFogw==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 14 Dec 2023 05:52:56 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 Dec 2023 05:52:56 GMT
      x-ms-meta-name:
      - c895610d-c15c-4348-96c9-f76b111dee97
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7401ce83-0d9b-4743-96cc-187555f06c17
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:15:03 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:15:05 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_env_var_for_sdk_cli_azure/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - z4r8oJG4uHoQyFTVBI+vbg==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 07:51:18 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 13 Mar 2024 07:25:13 GMT
      x-ms-meta-name:
      - e67ac306-77ab-451f-9a32-ac3e21e7a59e
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:15:06 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_env_var_for_sdk_cli_azure/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/print_env_var_for_sdk_cli_azure/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runtimeName": "fake-runtime-name", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {"API_BASE":
      "${azure_open_ai_connection.api_base}"}, "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '5.793'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "print_env", "type": "python", "source":
        {"type": "code", "path": "print_env.py"}, "inputs": {"key": "${inputs.key}"},
        "tool": "print_env.py", "reduce": false}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 0}}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "dynamic_list": {"func_path":
        "promptflow.tools.aoai_gpt4v.list_deployment_names", "func_kwargs": [{"name":
        "connection", "reference": "${inputs.connection}", "type": ["AzureOpenAIConnection"]}]},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 1}}, "frequency_penalty": {"type": ["double"], "default":
        0, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 7}}, "max_tokens": {"type": ["int"], "default": 512,
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 4}}, "presence_penalty": {"type": ["double"], "default":
        0, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 6}}, "seed": {"type": ["int"], "default": "", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        8}}, "stop": {"type": ["list"], "default": "", "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default", "ui_hints": {"index": 5}},
        "temperature": {"type": ["double"], "default": 1, "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default", "ui_hints": {"index": 2}},
        "top_p": {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 3}}}, "description":
        "Use Azure OpenAI GPT-4 Turbo with Vision to leverage AOAI vision ability.",
        "module": "promptflow.tools.aoai_gpt4v", "class_name": "AzureOpenAI", "function":
        "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.4.0rc1",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.4.0rc1", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Open AI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "1.4.0rc1", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Model LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "ui_hints": {"index":
        2}}, "deployment_name": {"type": ["string"], "default": "", "dynamic_list":
        {"func_path": "promptflow.tools.open_model_llm.list_deployment_names", "func_kwargs":
        [{"name": "endpoint", "optional": true, "reference": "${inputs.endpoint}",
        "type": ["string"]}]}, "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default", "ui_hints": {"index": 1}}, "endpoint_name": {"type":
        ["string"], "dynamic_list": {"func_path": "promptflow.tools.open_model_llm.list_endpoint_names"},
        "allow_manual_entry": true, "is_multi_select": false, "input_type": "default",
        "ui_hints": {"index": 0}}, "max_new_tokens": {"type": ["int"], "default":
        500, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "ui_hints": {"index": 4}}, "model_kwargs": {"type": ["object"],
        "default": "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true, "ui_hints": {"index": 6}}, "temperature": {"type":
        ["double"], "default": 1.0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "ui_hints": {"index": 3}}, "top_p": {"type":
        ["double"], "default": 1.0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default", "advanced": true, "ui_hints": {"index": 5}}},
        "description": "Use an open model from the Azure Model catalog, deployed to
        an AzureML [...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1710317712, "rootRunId": "name", "createdUtc":
        "2024-03-13T08:15:12.7300335+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032002106D9FE2", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "LuLu Zuo", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 3, "statusRevision": 1,
        "runUuid": "c1c7a002-ebc3-4eb8-be08-23aef5ad359e", "parentRunUuid": null,
        "rootRunUuid": "c1c7a002-ebc3-4eb8-be08-23aef5ad359e", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032002106D9FE2", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "LuLu Zuo", "upn": null},
        "lastModifiedUtc": "2024-03-13T08:15:16.3253747+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "2fd60a47-d593-4753-a235-2e76ba062fb8", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "latest-runtime", "azureml.promptflow.runtime_version":
        "20240306.v5", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.flow_lineage_id": "acf9a908369eef2c4fcede937d34dbde76d61b53cd11bd56164a69e3e13a58e4",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/da6d400946a44c4dcb455a0b73515454/print_env_var_for_sdk_cli_azure/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/4104a8f4d3b0b5b51c7cacbdac64e128/env_var_names.jsonl",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "29e06eb4-b16a-4c6a-ba67-4ba4744f141a"}, "parameters": {}, "actionUris": {},
        "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [], "tags":
        {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.018'
    status:
      code: 200
      message: OK
version: 1
