interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.062'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.059'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 08:28:17 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 23 Nov 2023 12:11:21 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 23 Nov 2023 12:11:20 GMT
      x-ms-meta-name:
      - 74c8f1fa-9e14-4249-8fec-279efedeb400
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 2266d840-3ecd-4a91-9e63-8d57e7b0a62e
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Jan 2024 08:28:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionResourceId": "azureml://registries/promptflow-preview/models/simple_hello_world/versions/202311241",
      "runId": "name", "runDisplayName": "name", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl"},
      "inputsMapping": {"name": "${data.name}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "fake-runtime-name", "sessionSetupMode": "SystemWait", "flowLineageId":
      "0000000000000000000000000000000000000000000000000000000000000000", "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '11.198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "hello_world", "type": "python",
        "source": {"type": "code", "path": "hello_world.py"}, "inputs": {"name": "${inputs.name}"},
        "tool": "hello_world.py", "reduce": false}], "tools": [{"name": "hello_world.py",
        "type": "python", "inputs": {"name": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}}, "source": "hello_world.py",
        "function": "hello_world", "is_builtin": false, "enable_kwargs": false, "tool_state":
        "stable"}], "inputs": {"name": {"type": "string", "default": "hod", "is_chat_input":
        false}}, "outputs": {"result": {"type": "string", "reference": "${hello_world.output}",
        "evaluation_only": false, "is_chat_output": false}}}, "flowRunResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name", "flowRunId":
        "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/79f088fae0e502653c43146c9682f425/simple_hello_world.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "wanhan-ci",
        "inputsMapping": {"name": "${data.name}"}, "outputDatastoreName": "workspaceblobstore",
        "childRunBasePath": "promptflow/PromptFlowArtifacts/name/flow_artifacts",
        "flowDagFileRelativePath": "flow.dag.yaml", "flowSnapshotId": "5cb23895-60c1-4e17-9620-e8ad4aa70db4",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.359'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1706603311, "rootRunId": "name", "createdUtc":
        "2024-01-30T08:28:31.9072748+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 3, "statusRevision": 1,
        "runUuid": "e943af0f-4d91-4faf-a67f-4e735694a142", "parentRunUuid": null,
        "rootRunUuid": "e943af0f-4d91-4faf-a67f-4e735694a142", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "lastModifiedUtc": "2024-01-30T08:28:40.0503628+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "8ed8abac-3b31-48a5-9fa1-81b7fe487f46", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "wanhan-ci", "azureml.promptflow.runtime_version":
        "20240124.v3", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.flow_lineage_id": "simple_hello_world", "azureml.promptflow.flow_definition_resource_id":
        "azureml://registries/promptflow-preview/models/simple_hello_world/versions/202311241",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/79f088fae0e502653c43146c9682f425/simple_hello_world.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"name\":\"${data.name}\"}", "_azureml.evaluation_run":
        "promptflow.BatchRun", "azureml.promptflow.snapshot_id": "5cb23895-60c1-4e17-9620-e8ad4aa70db4"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.052'
    status:
      code: 200
      message: OK
version: 1
