interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.031'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.066'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.125'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:16:18 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zt1zN1V/HR5p7N0Sh5396w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 23 Jan 2024 06:27:00 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 23 Jan 2024 06:26:59 GMT
      x-ms-meta-name:
      - 1e376ce4-7c3b-4683-82ad-412f5cd23626
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7e65351c-7e4b-4a4d-90f8-304eacdc36bc
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:16:21 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:16:25 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_with_req/entry.py
  response:
    body:
      string: ''
    headers:
      content-md5:
      - bf0G3F/eNgZO8UPfGebSUQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 08:57:55 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Jan 2024 08:57:54 GMT
      x-ms-meta-name:
      - c42d946f-2978-4455-8a89-b768c66a9277
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:16:28 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_with_req/entry.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/simple_with_req/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "batchDataInput":
      {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runtimeName":
      "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "sessionSetupMode": "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '6.330'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.dag.yaml", "flowSnapshotId": "1ac134f8-0696-4ce1-ba89-cd4d9748e886",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.273'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "acecc185-aa1e-4e95-b342-d391d260bc46", "createdUtc":
        "2024-01-25T09:17:00.198+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.name", "name": "__pf__.lines.failed", "columns":
        {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "aeeb8ed5-aca3-475d-a76d-a58ecc12ad99", "createdUtc": "2024-01-25T09:17:00.563+00:00",
        "step": 0, "data": {"__pf__.lines.failed": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.066'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_name_output_data_debug_info", "dataType": "UriFolder",
      "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/name/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "name", "originAssetId": null}, "entityMetadata":
      {"etag": "\"87008635-0000-0100-0000-65b2270d0000\"", "createdTime": "2024-01-25T09:17:01.3632335+00:00",
      "modifiedTime": "2024-01-25T09:17:01.3970754+00:00", "createdBy": {"userObjectId":
      "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId": "c78cba45-2c03-4f27-8f6d-7a0f7fcaa3fc",
      "isV2": true, "legacyDatasetType": null, "legacyDataflowType": null, "legacyDataflow":
      null, "legacySavedDatasetId": null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.064'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "1ac134f8-0696-4ce1-ba89-cd4d9748e886"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {"entry.py": {"name": "entry.py", "hash": "6DFD06DC5FDE36064EF143DF19E6D251",
      "type": "File", "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py?sv=2019-07-07&sr=b&sig=uNX4%2F%2BOW1NSRGOeyt5nunbdGqVOmeV84SX9FrinPAaU%3D&st=2024-01-25T09%3A08%3A38Z&se=2024-01-25T17%3A18%3A38Z&sp=r&rscd=filename%3Dentry.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py",
      "sizeBytes": 331, "sizeSet": true, "children": {}}, "flow.dag.yaml": {"name":
      "flow.dag.yaml", "hash": "E9583EF05B4434346632808F5714E8B0", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.dag.yaml?sv=2019-07-07&sr=b&sig=3plGLhXfe%2Fudi%2Fm0Z7%2FSz7Cte1sDfk8cDwBsYGfvMrQ%3D&st=2024-01-25T09%3A08%3A38Z&se=2024-01-25T17%3A18%3A38Z&sp=r&rscd=filename%3Dflow.dag.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.dag.yaml",
      "sizeBytes": 93, "sizeSet": true, "children": {}}, "requirements.txt": {"name":
      "requirements.txt", "hash": "93AEF5DCE3D6FE02C4425D72C0E1DABD", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt?sv=2019-07-07&sr=b&sig=KJrkxjj4vFvaXoSEzbexwXAJIkisbxTIgI8M1l0%2FWlY%3D&st=2024-01-25T09%3A08%3A38Z&se=2024-01-25T17%3A18%3A38Z&sp=r&rscd=filename%3Drequirements.txt",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/requirements.txt",
      "sizeBytes": 109, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.142'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:43 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/requirements.txt
  response:
    body:
      string: "--extra-index-url https://azuremlsdktestpypi.azureedge.net/test-promptflow/\r\npromptflow[azure]==0.0.116642424"
    headers:
      content-range:
      - bytes 0-108/109
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 09:16:44 GMT
      x-ms-blob-content-md5:
      - k6713OPW/gLEQl1ywOHavQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 25 Jan 2024 09:16:44 GMT
      x-ms-copy-id:
      - bcd3c079-6acb-4b8d-9af6-b23b87ffca84
      x-ms-copy-progress:
      - 109/109
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/79819672296a1785a95c65c8c0e75b0d/simple_with_req/requirements.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 25 Jan 2024 09:16:44 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:42 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/entry.py
  response:
    body:
      string: "# ---------------------------------------------------------\r\n# Copyright
        (c) Microsoft Corporation. All rights reserved.\r\n# -------------------------------------[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:38 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fname%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/name/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Thu,
        25 Jan 2024 09:16:58 GMT</Creation-Time><Last-Modified>Thu, 25 Jan 2024 09:16:58
        GMT</Last-Modified><Etag>0x8DC1D8661A992B8</Etag><Content-Length>1132</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Thu,
        25 Jan 2024 09:17:01 GMT</Creation-Time><Last-Modified>Thu, 25 Jan 2024 09:17:01
        GMT</Last-Modified><Etag>0x8DC1D8663B60064</Etag><Content-Length>52</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>e7CC/hOg8uoJ3TK2HaKeZA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/instance_results.jsonl</Name><Properties><Creation-Time>Thu,
        25 Jan 2024 09:16:58 GMT</Creation-Time><Last-Modified>Thu, 25 Jan 2024 09:16:58
        GMT</Last-Modified><Etag>0x8DC1D8661AE6F40</Etag><Content-Length>105</Content-Length><Content-Type>application/octet-st[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:44 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: '{"line_number": 0, "run_info": {"run_id": "name_0", "status": "Completed",
        "error": null, "inputs": {"input_val": "input1"}, "output": {"output": "Hello
        world! input1"}, "metrics": null, "request": null, "parent_run_id": "name",
        "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-01-25T09:16:58.053129Z", "end_time": "2024-01-25T09:16:58.055292Z",
        "index": 0, "api_calls": [{"name": "my_flow", "type": "Function", "inputs":
        {"input_val": "input1"}, "output": "Hello world! input1", "start_time": 1706174218.053984,
        "end_time": 1706174218.054859, "error": null, "children": [], "node_name":
        null, "parent_id": "", "id": "27b021bc-89d3-43f8-b3ac-a9eed2a84949"}], "variant_id":
        "", "name": "", "description": "", "tags": null, "system_metrics": {"duration":
        0.002163}, "result": {"output": "Hello world! input1"}, "upload_metrics":
        false}, "start_time": "2024-01-25T09:16:58.053129", "end_time": "2024-01-25T09:16:58.055292",
        "name": "", "description": "", "status": "Completed", "tags": null}

        '
    headers:
      content-range:
      - bytes 0-1131/1132
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 09:16:58 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 25 Jan 2024 09:16:58 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:44 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl
  response:
    body:
      string: '{"line_number": 0, "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-51/52
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 09:17:01 GMT
      x-ms-blob-content-md5:
      - e7CC/hOg8uoJ3TK2HaKeZA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Jan 2024 09:17:01 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:44 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.input_val": "input1",
        "output": "Hello world! input1"}

        '
    headers:
      content-range:
      - bytes 0-104/105
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 09:16:58 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Thu, 25 Jan 2024 09:16:58 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:42 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/flow.dag.yaml
  response:
    body:
      string: "path: ./entry.py\r\nentry: my_flow\r\nenvironment:\r\n    python_requirements_txt:
        requirements.txt"
    headers:
      content-range:
      - bytes 0-92/93
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 09:16:44 GMT
      x-ms-blob-content-md5:
      - 6Vg+8FtENDRmMoCPVxTosA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 25 Jan 2024 09:16:44 GMT
      x-ms-copy-id:
      - f4653407-3dac-4827-a65f-e1cf4b99a458
      x-ms-copy-progress:
      - 93/93
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/79819672296a1785a95c65c8c0e75b0d/simple_with_req/flow.dag.yaml
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 25 Jan 2024 09:16:44 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 25 Jan 2024 09:18:44 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/meta.json
  response:
    body:
      string: '{"batch_size": 25}'
    headers:
      content-range:
      - bytes 0-17/18
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 25 Jan 2024 09:16:52 GMT
      x-ms-blob-content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Jan 2024 09:16:52 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    content: '{"runMetadata": {"runNumber": 1706174203, "rootRunId": "name", "createdUtc":
      "2024-01-25T09:16:43.8144219+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
      "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
      "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
      "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
      "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
      null, "error": null, "warnings": null, "revision": 6, "statusRevision": 3, "runUuid":
      "7da6a191-0945-4e9f-bfc6-a1fc7c72b72c", "parentRunUuid": null, "rootRunUuid":
      "7da6a191-0945-4e9f-bfc6-a1fc7c72b72c", "lastStartTimeUtc": null, "currentComputeTime":
      null, "computeDuration": "00:00:08.3698759", "effectiveStartTimeUtc": null,
      "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userPuId":
      "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "lastModifiedUtc": "2024-01-25T09:17:00.9260346+00:00",
      "duration": "00:00:08.3698759", "cancelationReason": null, "currentAttemptId":
      1, "runId": "name", "parentRunId": null, "experimentId": "64465848-e4a8-42a2-a617-d7f0fcda6f32",
      "status": "Completed", "startTimeUtc": "2024-01-25T09:16:53.6662445+00:00",
      "endTimeUtc": "2024-01-25T09:17:02.0361204+00:00", "scheduleId": null, "displayName":
      "name", "name": null, "dataContainerId": "dcid.name", "description": null, "hidden":
      false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
      null, "traits": [], "attribution": "PromptFlow", "computeType": null}, "properties":
      {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.runtime_version":
      "20240116.v1", "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.flow_lineage_id":
      "63d67b0b61e34b0527b5f3c46dfc953854138b2ffebc68175580285dc2d95663", "azureml.promptflow.flow_definition_datastore_name":
      "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/79819672296a1785a95c65c8c0e75b0d/simple_with_req/flow.dag.yaml",
      "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl",
      "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.session_id":
      "b905697d9d04e1b8c87c12d30eb37326380d5cfeb7d0500e", "azureml.promptflow.snapshot_id":
      "1ac134f8-0696-4ce1-ba89-cd4d9748e886", "azureml.promptflow.run_mode": "Eager",
      "azureml.promptflow.total_tokens": "0", "_azureml.evaluate_artifacts": "[{\"path\":
      \"instance_results.jsonl\", \"type\": \"table\"}]"}, "parameters": {}, "actionUris":
      {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [],
      "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
      [], "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
      "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
      null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
      false, "queueingInfo": null, "inputs": null, "outputs": {"debug_info": {"assetId":
      "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_flow_outputs/versions/1",
      "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
      null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.050'
    status_code: 200
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
[...]
