interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.020'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.047'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.071'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.116'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:43 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:0da94919-001a-008e-3741-23db3a000000\nTime:2023-11-30T04:00:44.7219295Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:45 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:0bb6ee30-a01a-003e-2841-239af3000000\nTime:2023-11-30T04:00:46.8091070Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:46 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:0032159e-b01a-006f-4e41-23077f000000\nTime:2023-11-30T04:00:47.8403630Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:47 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:214d76ee-301a-00f7-7941-23271e000000\nTime:2023-11-30T04:00:48.9430082Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:49 GMT
      x-ms-version:
      - '2023-08-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:8b8ce709-d01a-009d-7441-23ff36000000\nTime:2023-11-30T04:00:49.9679941Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:50 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 30 Nov 2023 04:00:51 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2023-11-30T04:00:51.0101502Z'
      x-ms-file-creation-time:
      - '2023-11-30T04:00:51.0101502Z'
      x-ms-file-id:
      - '13835069110527983616'
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:51.0101502Z'
      x-ms-file-parent-id:
      - '10088082484072808448'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:51 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 30 Nov 2023 04:00:52 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-30T04:00:52.0645174Z'
      x-ms-file-creation-time:
      - '2023-11-30T04:00:52.0645174Z'
      x-ms-file-id:
      - '13835139479272161280'
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:52.0645174Z'
      x-ms-file-parent-id:
      - '13835069110527983616'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:52 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Thu, 30 Nov 2023 04:00:53 GMT
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:53.1049466Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:53 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 30 Nov 2023 04:00:54 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-30T04:00:54.1125178Z'
      x-ms-file-creation-time:
      - '2023-11-30T04:00:54.1125178Z'
      x-ms-file-id:
      - '11529232698384056320'
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:54.1125178Z'
      x-ms-file-parent-id:
      - '13835069110527983616'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:54 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Thu, 30 Nov 2023 04:00:55 GMT
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:55.1579248Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '105'
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:55 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 30 Nov 2023 04:00:56 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-30T04:00:56.1874016Z'
      x-ms-file-creation-time:
      - '2023-11-30T04:00:56.1874016Z'
      x-ms-file-id:
      - '16140929608848506880'
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:56.1874016Z'
      x-ms-file-parent-id:
      - '13835069110527983616'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow import tool\n\n\n@tool\ndef hello_world(name: str) -> str:\n
      \   return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - fGMkkiZAjGs8PW/AMiYppA==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:56 GMT
      x-ms-range:
      - bytes=0-104
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - fGMkkiZAjGs8PW/AMiYppA==
      last-modified:
      - Thu, 30 Nov 2023 04:00:57 GMT
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:57.2248424Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "flowId": "a19d9f6f-8ef4-48c5-9fc6-6d2105a81780", "flowName":
        "flow_display_name", "description": "test flow description", "tags": {"owner":
        "sdk-test"}, "flowType": "Default", "experimentId": "00000000-0000-0000-0000-000000000000",
        "createdDate": "2023-11-30T04:00:59.5871988Z", "lastModifiedDate": "2023-11-30T04:00:59.587201Z",
        "owner": {"userObjectId": "4e60fbf3-0338-41a8-bed5-fc341be556f8", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587"},
        "flowResourceId": "azureml://locations/eastus/workspaces/00000/flows/a19d9f6f-8ef4-48c5-9fc6-6d2105a81780",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 04:00:59 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 30 Nov 2023 04:00:55 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-30T04:00:55.1579248Z'
      x-ms-file-creation-time:
      - '2023-11-30T04:00:54.1125178Z'
      x-ms-file-id:
      - '11529232698384056320'
      x-ms-file-last-write-time:
      - '2023-11-30T04:00:55.1579248Z'
      x-ms-file-parent-id:
      - '13835069110527983616'
      x-ms-type:
      - File
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
version: 1
