interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.046'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.049'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.092'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 05:42:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kHimciLnA7d3/I2LBUeLNA==
      content-type:
      - application/octet-stream
      last-modified:
      - Fri, 22 Sep 2023 09:37:22 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 22 Sep 2023 09:37:22 GMT
      x-ms-meta-name:
      - db87715d-65de-40cc-a281-09c0115699f3
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 6666ca9c-d7c3-4d85-b18c-12643adb9046
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 05:42:40 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 05:42:44 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/partial_fail/data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kHimciLnA7d3/I2LBUeLNA==
      content-type:
      - application/octet-stream
      last-modified:
      - Fri, 22 Sep 2023 09:37:31 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 22 Sep 2023 09:37:30 GMT
      x-ms-meta-name:
      - aa1844d8-4898-4daa-8100-6140558fc7c9
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Nov 2023 05:42:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/partial_fail/data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/partial_fail/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "batchDataInput":
      {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/data.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runtimeName":
      "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '8.594'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/childRuns?endIndex=24&startIndex=0
  response:
    body:
      string: '[{"run_id": "name_0", "status": "Completed", "error": null, "inputs":
        {"key": "no", "line_number": 0}, "output": {"output": null}, "metrics": null,
        "request": null, "parent_run_id": "name", "root_run_id": "name", "source_run_id":
        null, "flow_id": "default_flow_id", "start_time": "2023-11-30T05:43:07.351752Z",
        "end_time": "2023-11-30T05:43:07.445146Z", "index": 0, "api_calls": [{"name":
        "get_env_var", "type": "Tool", "inputs": {"key": "no"}, "output": {"value":
        null}, "start_time": 1701322987.441425, "end_time": 1701322987.443052, "error":
        null, "children": null, "node_name": "print_env"}], "variant_id": "", "name":
        "", "description": "", "tags": null, "system_metrics": {"duration": 0.093394,
        "total_tokens": 0}, "result": {"output": null}, "upload_metrics": false},
        {"run_id": "name_1", "status": "Failed", "error": {"message": "Execution failure
        in ''print_env'': (Exception) expected raise!", "messageFormat": "Execution
        failure in ''{node_name}'': {error_type_and_message}", "messageParameters":
        {"node_name": "print_env", "error_type_and_message": "(Exception) expected
        raise!"}, "referenceCode": "Tool/__pf_main__", "code": "UserError", "innerError":
        {"code": "ToolExecutionError", "innerError": null}, "additionalInfo": [{"type":
        "ToolExecutionErrorDetails", "info": {"type": "Exception", "message": "expected
        raise!", "traceback": "Traceback (most recent call last):\n  File \"/service/app/33047/requests/name/print_env.py\",
        line 9, in get_env_var\n    raise Exception(\"expected raise!\")\nException:
        expected raise!\n", "filename": "/service/app/33047/requests/name/print_env.py",
        "lineno": 9, "name": "get_env_var"}}], "debugInfo": {"type": "ToolExecutionError",
        "message": "Execution failure in ''print_env'': (Exception) expected raise!",
        "stackTrace": "\nThe above exception was the direct cause of the following
        exception:\n\nTraceback (most recent call last):\n  File \"/azureml-envs/prompt-flow/runtime/lib/python3.9/site-packages/promptflow/executor/flow_executor.py\",
        line 896, in _exec\n    output, nodes_outputs = self._traverse_nodes(inputs,
        context)\n  File \"/azureml-envs/prompt-flow/runtime/lib/python3.9/site-packages/promptflow/executor/flow_executor.py\",
        line 973, in _traverse_nodes\n    nodes_outputs, bypassed_nodes = self._submit_to_scheduler(context,
        inputs, batch_node[...]
[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1701322972, "rootRunId": "name", "createdUtc":
        "2023-11-30T05:42:52.525878+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": {"error": {"code": "UserError", "severity":
        null, "message": "Execution failure in ''print_env'': (Exception) expected
        raise!", "messageFormat": "{\"totalChildRuns\": 3, \"userErrorChildRuns\":
        1, \"systemErrorChildRuns\": 0, \"errorDetails\": [{\"code\": \"UserError/ToolExecutionError\",
        \"messageFormat\": \"Execution failure in ''{node_name}'': {error_type_and_message}\",
        \"count\": 1}]}", "messageParameters": {"node_name": "print_env", "error_type_and_message":
        "(Exception) expected raise!"}, "referenceCode": "Tool/__pf_main__", "detailsUri":
        null, "target": null, "details": [], "innerError": {"code": "ToolExecutionError",
        "innerError": null}, "debugInfo": {"type": "ToolExecutionError", "message":
        "Execution failure in ''print_env'': (Exception) expected raise!", "stackTrace":
        "\nThe above exception was the direct cause of the following exception:\n\nTraceback
        (most recent call last):\n  File \"/azureml-envs/prompt-flow/runtime/lib/python3.9/site-packages/promptflow/executor/flow_executor.py\",
        line 896, in _exec\n    output,[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/logContent
  response:
    body:
      string: '"2023-11-30 05:42:57 +0000     151 promptflow-runtime INFO     [name]
        Receiving v2 bulk run request 2aa68b45-78fc-4d5c-8aea-5b99202c2c26: {customer_content}\n2023-11-30
        05:42:57 +0000     151 promptflow-runtime INFO     Running <function RunHistoryClient.get_run
        at 0x7f1dcf1620d0>, 3 more tries to go.\n2023-11-30 05:42:57 +0000     151
        promptflow-runtime INFO     Running <function RunHistoryClient.get_run at
        0x7f1dcf162040>, 3 more tries to go.\n2023-11-30 05:42:57 +0000     151 promptflow-runtime
        INFO     Running <function RunHistoryClient.update_run_status at 0x7f1dcf15ae50>,
        3 more tries to go.\n2023-11-30 05:42:57 +0000     151 promptflow-runtime
        INFO     Updating name to Statu[...]
