interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.024'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.760'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.222'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:22:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zt1zN1V/HR5p7N0Sh5396w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 23 Jan 2024 06:27:00 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 23 Jan 2024 06:26:59 GMT
      x-ms-meta-name:
      - 1e376ce4-7c3b-4683-82ad-412f5cd23626
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 7e65351c-7e4b-4a4d-90f8-304eacdc36bc
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:22:24 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_eager_flow_data.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:22:31 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_without_yaml/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: "{\r\n    \"entry\": \"entry:my_flow\",\r\n    \"function\": \"my_flow\",\r\n
      \   \"inputs\": {\r\n        \"input_val\": {\r\n            \"type\": \"string\"\r\n
      \       }\r\n    },\r\n    \"outputs\": {\r\n        \"output\": {\r\n            \"type\":
      \"object\"\r\n        }\r\n    }\r\n}"
    headers:
      Content-MD5:
      - xzaVcbtpEfLsECGkzy+RKw==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 13 Mar 2024 08:22:35 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_without_yaml/.promptflow/flow.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - xzaVcbtpEfLsECGkzy+RKw==
      last-modified:
      - Wed, 13 Mar 2024 08:22:36 GMT
      x-ms-content-crc64:
      - 8pjhQHG85yE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:22:36 GMT
      x-ms-meta-name:
      - 493061c0-0f9a-424a-9858-f835dfe58f5e
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_without_yaml/.promptflow/flow.json?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 13 Mar 2024 08:22:37 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/simple_without_yaml/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "sessionId":
      "000000000000000000000000000000000000000000000000", "sessionSetupMode": "SystemWait",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runtimeName": "fake-runtime-name", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_eager_flow_data.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '6.314'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowRunResourceId": "azureml://locations/eastus/workspaces/00000/flows/name/flowRuns/name",
        "flowRunId": "name", "flowRunDisplayName": "name", "batchDataInput": {"dataUri":
        "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl"},
        "flowRunType": "FlowRun", "flowType": "Default", "runtimeName": "automatic",
        "inputsMapping": {}, "outputDatastoreName": "workspaceblobstore", "childRunBasePath":
        "promptflow/PromptFlowArtifacts/name/flow_artifacts", "flowDagFileRelativePath":
        "flow.dag.yaml", "flowSnapshotId": "6b673e52-1b81-4a4a-9059-80c82e5d21c7",
        "studioPortalEndpoint": "https://ml.azure.com/runs/name?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.538'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "1f127a5b-12eb-4e85-b708-8017985da590", "createdUtc":
        "2024-03-13T08:23:09.067+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.name", "name": "__pf__.lines.failed", "columns":
        {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "7d42d0e6-12e6-44d0-8968-4c5b69595a85", "createdUtc": "2024-03-13T08:23:09.462+00:00",
        "step": 0, "data": {"__pf__.lines.failed": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.057'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_name_output_data_debug_info", "dataType": "UriFolder",
      "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/name/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "name", "originAssetId": null}, "entityMetadata":
      {"etag": "\"2900db08-0000-0100-0000-65f1626e0000\"", "createdTime": "2024-03-13T08:23:10.5006698+00:00",
      "modifiedTime": "2024-03-13T08:23:10.5128203+00:00", "createdBy": {"userObjectId":
      "00000000-0000-0000-0000-000000000000", "userPuId": "100320005227D154", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId": "c90f19df-bb88-4fd4-b06e-fc1e50ddb581",
      "isV2": true, "legacyDatasetType": null, "legacyDataflowType": null, "legacyDataflow":
      null, "legacySavedDatasetId": null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.041'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "6b673e52-1b81-4a4a-9059-80c82e5d21c7"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {".promptflow": {"name": ".promptflow", "hash": null, "type": "Directory", "timestamp":
      "0001-01-01T00:00:00+00:00", "sasUrl": null, "absoluteUrl": null, "sizeBytes":
      0, "sizeSet": false, "children": {"flow.json": {"name": "flow.json", "hash":
      "C7369571BB6911F2EC1021A4CF2F912B", "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/.promptflow/flow.json?sv=2019-07-07&sr=b&sig=9E57Vwn%2F6Q3p3Md9%2FEaPPPWK2hz39JMF3tWSg54m5ts%3D&st=2024-03-13T08%3A14%3A18Z&se=2024-03-13T16%3A24%3A18Z&sp=r&rscd=filename%3Dflow.json",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/.promptflow/flow.json",
      "sizeBytes": 240, "sizeSet": true, "children": {}}}}, "entry.py": {"name": "entry.py",
      "hash": "D7A5F6B2BBE15737838235DA04756F5E", "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py?sv=2019-07-07&sr=b&sig=r%2BBJCOhbLjwUjROHTABfwvMg4hw%2BW8SFPZzAV98wlos%3D&st=2024-03-13T08%3A14%3A18Z&se=2024-03-13T16%3A24%3A18Z&sp=r&rscd=filename%3Dentry.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/entry.py",
      "sizeBytes": 292, "sizeSet": true, "children": {}}, "flow.dag.yaml": {"name":
      "flow.dag.yaml", "hash": "8995B0C260367A0256D6435D6351214D", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.dag.yaml?sv=2019-07-07&sr=b&sig=dlU%2B7fk%2F7zSgwO%2F2%2F2ZmekFkeRHoLFagzZrRvAVwEn0%3D&st=2024-03-13T08%3A14%3A18Z&se=2024-03-13T16%3A24%3A18Z&sp=r&rscd=filename%3Dflow.dag.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/name/flow.dag.yaml",
      "sizeBytes": 22, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.085'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:22 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/.promptflow/flow.json
  response:
    body:
      string: "{\r\n    \"entry\": \"entry:my_flow\",\r\n    \"function\": \"my_flow\",\r\n
        \   \"inputs\": {\r\n        \"input_val\": {\r\n            \"type\": \"string\"\r\n
        \       }\r\n    },\r\n    \"outputs\": {\r\n        \"output\": {\r\n            \"type\":
        \"object\"\r\n        }\r\n    }\r\n}"
    headers:
      content-range:
      - bytes 0-239/240
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 08:22:51 GMT
      x-ms-blob-content-md5:
      - xzaVcbtpEfLsECGkzy+RKw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Wed, 13 Mar 2024 08:22:51 GMT
      x-ms-copy-id:
      - 859417d1-55de-4e90-807c-fe5b6f8e9b75
      x-ms-copy-progress:
      - 240/240
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/680dc9f0189caa3336cc8797ee6665b3/simple_without_yaml/.promptflow/flow.json
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Wed, 13 Mar 2024 08:22:51 GMT
      x-ms-meta-name:
      - 493061c0-0f9a-424a-9858-f835dfe58f5e
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:22 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/entry.py
  response:
    body:
      string: "# ---------------------------------------------------------\r\n# Copyright
        (c) Microsoft Corporation. All rights reserved.\r\n# -------------------------------------[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:22 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/name/flow.dag.yaml
  response:
    body:
      string: "entry: entry:my_flow\r\n"
    headers:
      content-range:
      - bytes 0-21/22
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 08:22:51 GMT
      x-ms-blob-content-md5:
      - iZWwwmA2egJW1kNdY1EhTQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Wed, 13 Mar 2024 08:22:51 GMT
      x-ms-copy-id:
      - 21bd396d-102d-4a5f-b253-4312eaa6f090
      x-ms-copy-progress:
      - 22/22
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/680dc9f0189caa3336cc8797ee6665b3/simple_without_yaml/flow.dag.yaml
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Wed, 13 Mar 2024 08:22:51 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:18 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fname%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/name/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Wed,
        13 Mar 2024 08:23:06 GMT</Creation-Time><Last-Modified>Wed, 13 Mar 2024 08:23:06
        GMT</Last-Modified><Etag>0x8DC4336CF971D6D</Etag><Content-Length>1099</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Wed,
        13 Mar 2024 08:23:10 GMT</Creation-Time><Last-Modified>Wed, 13 Mar 2024 08:23:10
        GMT</Last-Modified><Etag>0x8DC4336D1BBDA25</Etag><Content-Length>35</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>/e0Zn1phO4FyeGCAse5gGw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/name/instance_results.jsonl</Name><Properties><Creation-Time>Wed,
        13 Mar 2024 08:23:07 GMT</Creation-Time><Last-Modified>Wed, 13 Mar 2024 08:23:07
        GMT</Last-Modified><Etag>0x8DC4336CF9CE351</Etag><Content-Length>113</Content-Length><Content-Type>application/octet-st[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: '{"line_number": 0, "run_info": {"run_id": "name_0", "status": "Completed",
        "error": null, "inputs": {"input_val": "input1", "line_number": 0}, "output":
        {"output": null}, "metrics": null, "request": null, "parent_run_id": "name",
        "root_run_id": "name", "source_run_id": null, "flow_id": "default_flow_id",
        "start_time": "2024-03-13T08:23:06.912350Z", "end_time": "2024-03-13T08:23:06.915123Z",
        "index": 0, "api_calls": [{"name": "my_flow", "type": "Function", "inputs":
        {"input_val": "input1"}, "output": null, "start_time": 1710318186.913323,
        "end_time": 1710318186.914615, "error": null, "children": [], "node_name":
        null, "parent_id": "", "id": "af50247e-5660-4abf-95ad-b01419ee1be1"}], "variant_id":
        "", "name": "", "description": "", "tags": null, "system_metrics": {"duration":
        0.002773}, "result": {"output": null}, "upload_metrics": false}, "start_time":
        "2024-03-13T08:23:06.912350", "end_time": "2024-03-13T08:23:06.915123", "name":
        "", "description": "", "status": "Completed", "tags": null}

        '
    headers:
      content-range:
      - bytes 0-1098/1099
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 08:23:06 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 13 Mar 2024 08:23:06 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/flow_outputs/output.jsonl
  response:
    body:
      string: '{"line_number": 0, "output": null}

        '
    headers:
      content-range:
      - bytes 0-34/35
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 08:23:10 GMT
      x-ms-blob-content-md5:
      - /e0Zn1phO4FyeGCAse5gGw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 13 Mar 2024 08:23:10 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.input_val": "input1",
        "inputs.line_number": 0, "output": null}

        '
    headers:
      content-range:
      - bytes 0-112/113
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 08:23:07 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 13 Mar 2024 08:23:07 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Mar 2024 08:24:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/name/meta.json
  response:
    body:
      string: '{"batch_size": 25}'
    headers:
      content-range:
      - bytes 0-17/18
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 13 Mar 2024 08:23:00 GMT
      x-ms-blob-content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 13 Mar 2024 08:23:00 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    content: '{"runMetadata": {"runNumber": 1710318170, "rootRunId": "name", "createdUtc":
      "2024-03-13T08:22:50.1403468+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
      "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
      "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
      "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
      "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
      null, "error": null, "warnings": null, "revision": 6, "statusRevision": 3, "runUuid":
      "23598612-c494-4e12-a27d-595d9c3c1464", "parentRunUuid": null, "rootRunUuid":
      "23598612-c494-4e12-a27d-595d9c3c1464", "lastStartTimeUtc": null, "currentComputeTime":
      null, "computeDuration": "00:00:09.6339146", "effectiveStartTimeUtc": null,
      "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userPuId":
      "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Han Wang",
      "upn": "username@microsoft.com"}, "lastModifiedUtc": "2024-03-13T08:23:09.8341734+00:00",
      "duration": "00:00:09.6339146", "cancelationReason": null, "currentAttemptId":
      1, "runId": "name", "parentRunId": null, "experimentId": "74b7905c-2ac3-4f4e-8a8f-c198f448a197",
      "status": "Completed", "startTimeUtc": "2024-03-13T08:23:01.5349181+00:00",
      "endTimeUtc": "2024-03-13T08:23:11.1688327+00:00", "scheduleId": null, "displayName":
      "name", "name": null, "dataContainerId": "dcid.name", "description": null, "hidden":
      false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
      null, "traits": [], "attribution": "PromptFlow", "computeType": null}, "properties":
      {"azureml.promptflow.runtime_name": "automatic", "azureml.promptflow.runtime_version":
      "20240306.v5", "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.flow_lineage_id":
      "6a85c873bf61b520de7f31669c9c2bbc39e500fe976446e9b41f45b4b5ef31a7", "azureml.promptflow.flow_definition_datastore_name":
      "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/680dc9f0189caa3336cc8797ee6665b3/simple_without_yaml/flow.dag.yaml",
      "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/e62bc4d5a164939b21d42dd420469da7/simple_eager_flow_data.jsonl",
      "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.session_id":
[...]
