interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.031'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.047'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.083'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.075'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:45 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:486e605d-201a-00eb-58a3-1e757e000000\nTime:2023-11-24T06:55:47.0882298Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:48 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:623e5d9c-101a-0004-21a3-1e808b000000\nTime:2023-11-24T06:55:49.9392745Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:50 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:a5c5f925-201a-0099-31a3-1e7231000000\nTime:2023-11-24T06:55:51.2071046Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:51 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:59006a4b-401a-009f-08a3-1e418e000000\nTime:2023-11-24T06:55:52.3471836Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:52 GMT
      x-ms-version:
      - '2023-08-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:59006a4e-401a-009f-09a3-1e418e000000\nTime:2023-11-24T06:55:52.5224130Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:52 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 24 Nov 2023 06:55:52 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2023-11-24T06:55:52.6984307Z'
      x-ms-file-creation-time:
      - '2023-11-24T06:55:52.6984307Z'
      x-ms-file-id:
      - '11529228334697283584'
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:52.6984307Z'
      x-ms-file-parent-id:
      - '16141029853385195520'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '14'
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:52 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/.gitattributes
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 24 Nov 2023 06:55:52 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-24T06:55:52.8816260Z'
      x-ms-file-creation-time:
      - '2023-11-24T06:55:52.8816260Z'
      x-ms-file-id:
      - '16140914353124671488'
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:52.8816260Z'
      x-ms-file-parent-id:
      - '11529228334697283584'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '* text eol=lf

      '
    headers:
      Content-MD5:
      - nYmkCopuDuFj82431amzZw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:52 GMT
      x-ms-range:
      - bytes=0-13
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/.gitattributes?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - nYmkCopuDuFj82431amzZw==
      last-modified:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:53.0618349Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '250'
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-24T06:55:53.2410482Z'
      x-ms-file-creation-time:
      - '2023-11-24T06:55:53.2410482Z'
      x-ms-file-id:
      - '10376306830090436608'
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:53.2410482Z'
      x-ms-file-parent-id:
      - '11529228334697283584'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\n  name:\n    type: string\n    default: hod\noutputs:\n  result:\n
      \   type: string\n    reference: ${hello_world.output}\nnodes:\n- name: hello_world\n
      \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
      \   name: ${inputs.name}\n"
    headers:
      Content-MD5:
      - CT1FTZp5JScB8fq+HjnINw==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-range:
      - bytes=0-249
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - CT1FTZp5JScB8fq+HjnINw==
      last-modified:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:53.4232485Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '105'
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/hello_world.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-24T06:55:53.6024614Z'
      x-ms-file-creation-time:
      - '2023-11-24T06:55:53.6024614Z'
      x-ms-file-id:
      - '14987992848517824512'
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:53.6024614Z'
      x-ms-file-parent-id:
      - '11529228334697283584'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow import tool\n\n\n@tool\ndef hello_world(name: str) -> str:\n
      \   return f\"Hello World {name}!\"\n"
    headers:
      Content-MD5:
      - fGMkkiZAjGs8PW/AMiYppA==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-range:
      - bytes=0-104
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/hello_world.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - fGMkkiZAjGs8PW/AMiYppA==
      last-modified:
      - Fri, 24 Nov 2023 06:55:53 GMT
      x-ms-file-last-write-time:
      - '2023-11-24T06:55:53.7826711Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "flowId": "2cde1761-bae7-4e7b-8620-b64c276e73c1", "flowName":
        "flow_display_name", "description": "test flow description", "tags": {"owner":
        "sdk-test"}, "flowType": "Default", "experimentId": "00000000-0000-0000-0000-000000000000",
        "createdDate": "2023-11-24T06:55:56.8688156Z", "lastModifiedDate": "2023-11-24T06:55:56.8688156Z",
        "owner": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/2cde1761-bae7-4e7b-8620-b64c276e73c1",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.970'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.103'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:58 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 23 Nov 2023 12:11:21 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 23 Nov 2023 12:11:20 GMT
      x-ms-meta-name:
      - 74c8f1fa-9e14-4249-8fec-279efedeb400
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 2266d840-3ecd-4a91-9e63-8d57e7b0a62e
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:59 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionResourceId": "azureml://locations/eastus/workspaces/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/flows/2cde1761-bae7-4e7b-8620-b64c276e73c1",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "2cde1761-bae7-4e7b-8620-b64c276e73c1",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl"},
      "inputsMapping": {"name": "${data.name}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "hod-ci", "sessionId": "2cde1761-bae7-4e7b-8620-b64c276e73c1",
      "flowLineageId": "2cde1761-bae7-4e7b-8620-b64c276e73c1", "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '10.536'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1700808968, "rootRunId": "name", "createdUtc":
        "2023-11-24T06:56:08.0518444+00:00", "createdBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "userId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 2, "statusRevision": 1,
        "runUuid": "0a33e981-7c09-4f26-8103-5a89cc7a7269", "parentRunUuid": null,
        "rootRunUuid": "0a33e981-7c09-4f26-8103-5a89cc7a7269", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "lastModifiedUtc": "2023-11-24T06:56:08.0518444+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "e811a356-184d-4266-a4c2-4cb4f73e0cd8", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "hod-ci", "azureml.promptflow.runtime_version":
        "20231114.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "2cde1761-bae7-4e7b-8620-b64c276e73c1", "azureml.promptflow.flow_lineage_id":
        "2cde1761-bae7-4e7b-8620-b64c276e73c1", "azureml.promptflow.flow_definition_resource_id":
        "azureml://locations/eastus/workspaces/00000/flows/2cde1761-bae7-4e7b-8620-b64c276e73c1",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/79f088fae0e502653c43146c9682f425/simple_hello_world.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"name\":\"${data.name}\"}", "azureml.promptflow.snapshot_id":
        "0ab5de8a-5b07-4ef7-812f-f837bcc2c81f", "_azureml.evaluation_run": "promptflow.BatchRun"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": [{"Name": "hello_world", "Type": "python", "Source": {"Type": "code",
        "Tool": null, "Path": "hello_world.py"}, "Inputs": {"name": "${inputs.name}"},
        "Tool": "hello_world.py", "Reduce": false, "Comment": null, "Activate": null,
        "Api": null, "Provider": null, "Connection": null, "Module": null}], "Tools":
        [{"Name": "Content Safety (Text Analyze)", "Type": "python", "Inputs": {"connection":
        {"Name": null, "Type": ["AzureContentSafetyConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "hate_category": {"Name":
        null, "Type": ["string"], "Default": "medium_sensitivity", "Description":
        null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "self_harm_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "sexual_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "text": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "violence_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": "Use Azure Content Safety to detect harmful
        content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
        "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
        "analyze_text", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
        "promptflow-contentsafety", "package_version": "0.0.9", "default_prompt":
        null, "enable_kwargs": false}, {"Name": "Embedding", "Type": "python", "Inputs":
        {"connection": {"Name": null, "Type": ["AzureOpenAIConnection", "OpenAIConnection"],
        "Default": null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "deployment_name": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
[...]
