interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.026'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.100'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.092'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.106'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 08:20:59 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:de3f82f8-801a-004b-01e5-1df1df000000\nTime:2023-11-23T08:21:00.4136872Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:01 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:bac821c2-301a-00f7-0be5-1d271e000000\nTime:2023-11-23T08:21:02.5288508Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:02 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:8bc45af4-e01a-0000-59e5-1d0d8c000000\nTime:2023-11-23T08:21:03.5729069Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:f9b03e2c-101a-0076-43e6-1d87c4000000\nTime:2023-11-23T08:21:04.6467545Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:04 GMT
      x-ms-version:
      - '2023-08-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:f9b03e2f-101a-0076-44e6-1d87c4000000\nTime:2023-11-23T08:21:04.8259664Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2023-11-23T08:21:05.0078874Z'
      x-ms-file-creation-time:
      - '2023-11-23T08:21:05.0078874Z'
      x-ms-file-id:
      - '11529288326800474112'
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:05.0078874Z'
      x-ms-file-parent-id:
      - '16141029853385195520'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '101'
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/divide_num.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-23T08:21:05.1910815Z'
      x-ms-file-creation-time:
      - '2023-11-23T08:21:05.1910815Z'
      x-ms-file-id:
      - '16140974345227862016'
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:05.1910815Z'
      x-ms-file-parent-id:
      - '11529288326800474112'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "from promptflow import tool\r\n\r\n\r\n@tool\r\ndef divide_num(num: int)
      -> int:\r\n    return (int)(num / 2)\r\n"
    headers:
      Content-MD5:
      - dM7AIioYN5TJjB/egZH3TQ==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-range:
      - bytes=0-100
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/divide_num.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - dM7AIioYN5TJjB/egZH3TQ==
      last-modified:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:05.3772635Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '244'
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-23T08:21:05.5584684Z'
      x-ms-file-creation-time:
      - '2023-11-23T08:21:05.5584684Z'
      x-ms-file-id:
      - '10376366822193627136'
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:05.5584684Z'
      x-ms-file-parent-id:
      - '11529288326800474112'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "inputs:\r\n  num:\r\n    type: int\r\noutputs:\r\n  content:\r\n    type:
      string\r\n    reference: ${divide_num.output}\r\nnodes:\r\n- name: divide_num\r\n
      \ type: python\r\n  source:\r\n    type: code\r\n    path: divide_num.py\r\n
      \ inputs:\r\n    num: ${inputs.num}\r\n\r\n\r\n"
    headers:
      Content-MD5:
      - HRzbTNB6eEv2Fxc/vEJnlQ==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-range:
      - bytes=0-243
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - HRzbTNB6eEv2Fxc/vEJnlQ==
      last-modified:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:05.7426577Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '10'
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/inputs.jsonl
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-23T08:21:05.9248569Z'
      x-ms-file-creation-time:
      - '2023-11-23T08:21:05.9248569Z'
      x-ms-file-id:
      - '14988052840621015040'
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:05.9248569Z'
      x-ms-file-parent-id:
      - '11529288326800474112'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"num": 3}'
    headers:
      Content-MD5:
      - /M3XvKYOuI0euBRCQBbnmA==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 23 Nov 2023 08:21:05 GMT
      x-ms-range:
      - bytes=0-9
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/inputs.jsonl?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /M3XvKYOuI0euBRCQBbnmA==
      last-modified:
      - Thu, 23 Nov 2023 08:21:06 GMT
      x-ms-file-last-write-time:
      - '2023-11-23T08:21:06.1060611Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow description",
      "tags": {"owner": "sdk-test"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "flowId": "a4e4f5b8-9d9e-4cd4-95c7-a8c32b125518", "flowName":
        "flow_display_name", "description": "test flow description", "tags": {"owner":
        "sdk-test"}, "flowType": "Default", "experimentId": "00000000-0000-0000-0000-000000000000",
        "createdDate": "2023-11-23T08:21:09.2235371Z", "lastModifiedDate": "2023-11-23T08:21:09.2235371Z",
        "owner": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/a4e4f5b8-9d9e-4cd4-95c7-a8c32b125518",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.077'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows/a4e4f5b8-9d9e-4cd4-95c7-a8c32b125518?experimentId=00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"timestamp": "2023-11-23T08:21:09.2515189+00:00", "eTag": {}, "flowId":
        "a4e4f5b8-9d9e-4cd4-95c7-a8c32b125518", "flowName": "flow_display_name", "description":
        "test flow description", "tags": {"owner": "sdk-test"}, "flowType": "Default",
        "experimentId": "00000000-0000-0000-0000-000000000000", "createdDate": "2023-11-23T08:21:09.2235371Z",
        "lastModifiedDate": "2023-11-23T08:21:09.2235371Z", "owner": {"userObjectId":
        "c05e0746-e125-4cb3-9213-a8b535eacd79", "userTenantId": "00000000-0000-0000-0000-000000000000",
        "userName": "Honglin Du"}, "flowResourceId": "azureml://locations/eastus/workspaces/00000/flows/a4e4f5b8-9d9e-4cd4-95c7-a8c32b125518",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.724'
    status:
      code: 200
      message: OK
version: 1
