interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.035'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.072'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1687749782, "rootRunId": "9bafbd52-da0f-44ca-b40c-b0ce912f083c",
        "createdUtc": "2023-06-26T03:23:02.3017884+00:00", "createdBy": {"userObjectId":
        "8471f65f-aa0e-4cde-b219-0ba7a1c148bf", "userPuId": "100320007E5EB49B", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Zhen
        Ruan", "upn": null}, "userId": "8471f65f-aa0e-4cde-b219-0ba7a1c148bf", "token":
        null, "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision":
        96, "statusRevision": 2, "runUuid": "fab99b4a-07c2-4c77-8ee3-3d3a47102b4a",
        "parentRunUuid": "1b1db1ed-46ed-4106-bf87-52e3c423b395", "rootRunUuid": "1b1db1ed-46ed-4106-bf87-52e3c423b395",
        "lastStartTimeUtc": null, "currentComputeTime": null, "computeDuration": "00:00:41.1688602",
        "effectiveStartTimeUtc": null, "lastModifiedBy": {"userObjectId": "4e60fbf3-0338-41a8-bed5-fc341be556f8",
        "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "lastModifiedUtc": "2023-10-18T09:13:00.6007617+00:00", "duration":
        "00:00:41.1688602", "cancelationReason": null, "currentAttemptId": 1, "runId":
        "4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74", "parentRunId": "9bafbd52-da0f-44ca-b40c-b0ce912f083c",
        "experimentId": "ad8dde3a-73f1-49bc-ae71-c7c9b2dc1b9f", "status": "Completed",
        "startTimeUtc": "2023-06-26T03:23:05.7657269+00:00", "endTimeUtc": "2023-06-26T03:23:46.9345871+00:00",
        "scheduleId": null, "displayName": "test_display_name_8f5e92cd-3249-463a-9e51-3b4c6dd5d6ee",
        "name": null, "dataContainerId": "dcid.4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74",
        "description": "test_description_8f5e92cd-3249-463a-9e51-3b4c6dd5d6ee", "hidden":
        false, "runType": "azureml.promptflow.EvaluationRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": null, "computeType": "MIR_v2"}, "properties":
        {"azureml.promptflow.flow_id": "QnARelevanceEvaluation", "azureml.promptflow.flow_name":
        "QnA Relevance Evaluation", "azureml.promptflow.flow_type": "Evaluation",
        "azureml.promptflow.source_flow_id": "42f7ee16-2243-475b-af21-e8fabd4abd15",
        "azureml.promptflow.baseline_variant_run_id": "4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74",
        "azureml.promptflow.variant_ids": "", "azureml.promptflow.bulk_test_id": "9bafbd52-da0f-44ca-b40c-b0ce912f083c",
        "azureml.promptflow.flow_experiment_id": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5",
        "azureml.promptflow.runtime_name": "demo-mir", "azureml.promptflow.runtime_version":
        "20230614.v1", "azureml.promptflow.total_tokens": "26680"}, "parameters":
        {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {"test_tag": "8f5e92cd-3249-463a-9e51-3b4c6dd5d6ee", "hod": "1"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        null, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": [{"Name": "relevance_score", "Tool": "compute_relevance_score",
        "Comment": null, "Inputs": {"question": "${flow.question}", "context": "${flow.context}",
        "answer": "${flow.answer}", "max_tokens": "256", "deployment_name": "gpt-35-turbo",
        "temperature": "0.0"}, "Api": "chat", "Provider": "AzureOpenAI", "Connection":
        "azure_open_ai_connection", "Module": "promptflow.tools.aoai", "Reduce": false},
        {"Name": "concat_scores", "Tool": "concat_results", "Comment": null, "Inputs":
        {"relevance_score": "${relevance_score.output}"}, "Api": null, "Provider":
        null, "Connection": null, "Module": null, "Reduce": false}, {"Name": "aggregate_variants_results",
        "Tool": "aggregate_variants_results", "Comment": null, "Inputs": {"results":
        "${concat_scores.output}", "line_number": "${flow.line_number}", "variant_id":
        "${flow.variant_id}"}, "Api": null, "Provider": null, "Connection": null,
        "Module": null, "Reduce": true}], "Tools": [{"Name": "compute_relevance_score",
        "Type": "llm", "Inputs": {"context": {"Name": null, "Type": ["string"], "Default":
        null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "model_list": null}, "question": {"Name": null, "Type": ["string"],
        "Default": null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "model_list": null}, "answer": {"Name": null, "Type": ["string"], "Default":
        null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "model_list": null}}, "Outputs": null, "Description": "This is a llm
        tool", "connection_type": null, "Module": null, "class_name": null, "Source":
        "compute_relevance_score.jinja2", "LkgCode": null, "Code": "System:\nYou are
        an AI assistant. You will be given the definition of an evaluation metric
        for assessing the quality of an answer in a question-answering task. Your
        job is to compute an accurate evaluation score using the provided evaluation
        metric.\n\nUser:\nRelevance measures how well the answer addresses the main
        aspects of the question, based on the context. Consider whether all and only
        the important aspects are contained in the answer when evaluating relevance.
        Given the context and question, score the relevance of the answer between
        one to five stars using the following rating scale:\nOne star: the answer
        completely lacks relevance\nTwo stars: the answer mostly lacks relevance\nThree
        stars: the answer is partially relevant\nFour stars: the answer is mostly
        relevant\nFive stars: the answer has perfect relevance\n\nThis rating value
        should always be an integer between 1 and 5. So the rating produced should
        be 1 or 2 or 3 or 4 or 5.\n\ncontext: Marie Curie was a Polish-born physicist
        and chemist who pioneered research on radioactivity and was the first woman
        to win a Nobel Prize.\nquestion: What field did Marie Curie excel in?\nanswer:
        [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74/logContent
  response:
    body:
      string: '"2023-06-26 03:23:03 +0000     126 promptflow-runtime INFO     [4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74]
        Receiving flow request 1a7fc96a-f497-44fc-beea-9347a1bb4c95: {\"flow_id\":
        \"42f7ee16-2243-475b-af21-e8fabd4abd15\", \"flow_run_id\": \"4cf2d5e9-c78f-4ab8-a3ee-57675f92fb74\",
        \"submission_data\": {\"flow\": {\"id\": \"42f7ee16-2243-475b-af21-e8fabd4abd15\",
        \"name\": \"QnA Relevance Evaluation\", \"nodes\": [{\"name\": \"relevance_score\",
        \"tool\": \"compute_relevance_score\", \"inputs\": {\"question\": {\"value\":
        \"question\", \"value_type\": \"FlowInput\", \"prefix\": \"flow.\"}, \"context\":
        {\"value\": \"context\", \"value_type\": \"FlowInput\", \"prefix\": \"flow.\"},
        \"answer\": {\"value\": \"answer\", \"value_type\": \"FlowInput\", \"prefix\":
        \"flow.\"}, \"max_tokens\": {\"value\": \"256\", \"value_type\": \"Literal\"},
        \"deployment_name\": {\"value\": \"gpt-35-turbo\", \"value_type\": \"Literal\"},
        \"temperature\": {\"value\": \"0.0\", \"value_type\": \"Literal\"}}, \"api\":
        \"chat\", \"provider\": \"AzureOpenAI\", \"module\": \"promptflow.tools.aoai\",
        \"connection\": \"azure_open_ai_connection\"}, {\"name\": \"concat_scores\",
        \"tool\": \"concat_results\", \"inputs\": {\"relevance_score\": {\"value\":
        \"relevance_score\", \"value_type\": \"NodeReference\", \"section\": \"output\"}}},
        {\"name\": \"aggregate_variants_results\", \"tool\": \"aggregate_variants_results\",
        \"inputs\": {\"results\": {\"value\": \"concat_scores\", \"value_type\": \"NodeReference\",
        \"section\": \"output\"}, \"line_number\": {\"value\": \"line_number\", \"value_type\":
        \"FlowInput\", \"prefix\": \"flow.\"}, \"variant_id\": {\"value\": \"variant_id\",
        \"value_type\": \"FlowInput\", \"prefix\": \"flow.\"}}, \"reduce\": true}],
        \"inputs\": {\"question\": {\"type\": \"string\"}, \"context\": {\"type\":
        \"string\"}, \"answer\": {\"type\": \"string\"}, \"line_number\": {\"type\":
        \"int\"}, \"variant_id\": {\"type\": \"string\"}}, \"outputs\": {\"gpt_relevance\":
        {\"type\": \"object\", \"reference\": {\"value\": \"concat_scores\", \"value_type\":
        \"NodeReference\", \"section\": \"output\", \"property\": \"gpt_relevance\"}}},
        \"tools\": [{\"name\": \"compute_relevance_score\", \"type\": \"llm\", \"inputs\":
        {\"context\": {\"type\": [\"string\"]}, \"question\": {\"type\": [\"string\"]},
        \"answer\": {\"type\": [\"string\"]}}, \"description\": \"This is a llm tool\",
        \"source\": \"compute_relevance_score.jinja2\", \"code\": \"System:\\nYou
        are an AI assistant. You will be given the definition of an evaluation metric
        for assessing the quality of an answer in a question-answering task. Your
        job is to compute an accurate evaluation score using the provided evaluation
        metric.\\n\\nUser:\\nRelevance measures how well the answer addresses the
        main aspects of the question, based on the context. Consider whether all and
        only the [...]
