interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.028'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.060'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.137'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Jan 2024 06:49:29 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lI/pz9jzTQ7Td3RHPL7y7w==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-meta-name:
      - 94331215-cf7f-452a-9f1a-1d276bc9b0e4
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 3f163752-edb0-4afc-a6f5-b0a670bd7c24
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Jan 2024 06:49:31 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Jan 2024 06:49:35 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/hello-world/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - UZm3TyOoKWjSR23+Up6qUA==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 19 Dec 2023 06:05:25 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 19 Dec 2023 06:05:25 GMT
      x-ms-meta-name:
      - 7b68bf5e-6ef4-4eb3-9f49-28f9a5baad87
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Jan 2024 06:49:36 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/hello-world/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/hello-world/flow.dag.yaml",
      "runId": "batch_run_name", "runDisplayName": "sdk-cli-test-fixture-batch-run-without-llm",
      "runExperimentName": "", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"name": "${data.url}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "sessionSetupMode": "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"batch_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '8.776'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/batch_run_name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "hello_world", "type": "python",
        "source": {"type": "code", "path": "hello_world.py"}, "inputs": {"name": "${inputs.name}"},
        "tool": "hello_world.py", "reduce": false}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "deployment_name": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "frequency_penalty":
        {"type": ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "max_tokens": {"type": ["int"], "default":
        512, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "presence_penalty": {"type": ["double"], "default": 0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "stop": {"type":
        ["list"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "temperature": {"type": ["double"], "default": 1,
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "top_p": {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Azure OpenAI GPT-4 Turbo
        with Vision to leverage AOAI vision ability.", "module": "promptflow.tools.aoai_gpt4v",
        "class_name": "AzureOpenAI", "function": "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.0.3",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.0.3", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Open AI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "1.0.3", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Model LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "default": "", "dynamic_list": {"func_path": "promptflow.tools.open_model_llm.list_deployment_names",
        "func_kwargs": [{"name": "endpoint", "optional": true, "reference": "${inputs.endpoint}",
        "type": ["string"]}]}, "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default"}, "endpoint_name": {"type": ["string"], "dynamic_list":
        {"func_path": "promptflow.tools.open_model_llm.list_endpoint_names"}, "allow_manual_entry":
        true, "is_multi_select": false, "input_type": "default"}, "max_new_tokens":
        {"type": ["int"], "default": 500, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model_kwargs": {"type": ["object"], "default":
        "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true}, "temperature": {"type": ["double"], "default":
        1.0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "top_p": {"type": ["double"], "default": 1.0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true}},
        "description": "Use an open model from the Azure Model catalog, deployed to
        an AzureML Online Endpoint for LLM Chat or Completion API calls.", "module":
        "promptflow.[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Jan 2024 06:50:31 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/eval-classification-accuracy/calculate_accuracy.py
  response:
    body:
      string: ''
    headers:
      content-md5:
      - OyENtlqGVUTrY5zKuzo8XA==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 21 Nov 2023 08:03:40 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 21 Nov 2023 08:03:39 GMT
      x-ms-meta-name:
      - fd932777-4f3a-4c1d-9c3a-24d45835d7e1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Jan 2024 06:50:32 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/eval-classification-accuracy/calculate_accuracy.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/eval-classification-accuracy/flow.dag.yaml",
      "runId": "eval_run_name", "runDisplayName": "sdk-cli-test-fixture-eval-run-without-llm",
      "runExperimentName": "", "variantRunId": "batch_run_name", "batchDataInput":
      {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"groundtruth": "${data.answer}", "prediction": "${run.outputs.result}"},
      "connections": {}, "environmentVariables": {}, "runtimeName": "fake-runtime-name",
      "sessionId": "000000000000000000000000000000000000000000000000", "sessionSetupMode":
      "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"eval_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '9.018'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/eval_run_name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "grade", "type": "python", "source":
        {"type": "code", "path": "grade.py"}, "inputs": {"groundtruth": "${inputs.groundtruth}",
        "prediction": "${inputs.prediction}"}, "tool": "grade.py", "reduce": false},
        {"name": "calculate_accuracy", "type": "python", "source": {"type": "code",
        "path": "calculate_accuracy.py"}, "inputs": {"grades": "${grade.output}"},
        "tool": "calculate_accuracy.py", "reduce": true}], "tools": [{"name": "Azure
        OpenAI GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection":
        {"type": ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "deployment_name": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "frequency_penalty":
        {"type": ["doub[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/eval_run_name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.eval_run_name", "name": "__pf__.nodes.grade.completed",
        "columns": {"__pf__.nodes.grade.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "03edb58a-7a8e-4e3d-ba1c-caea82fc444f", "createdUtc":
        "2024-01-16T06:50:53.67+00:00", "step": 0, "data": {"__pf__.nodes.grade.completed":
        3.0}}]}, {"dataContainerId": "dcid.eval_run_name", "name": "__pf__.nodes.calculate_accuracy.completed",
        "columns": {"__pf__.nodes.calculate_accuracy.completed": "Double"}, "properties":
        {"uxMetricType": "azureml.v1.scalar", "dataLocation": null}, "namespace":
        null, "standardSchemaId": null, "value": [{"metricId": "811aa3d2-c9b0-49e9-ad32-922a4579155d",
        "createdUtc": "2024-01-16T06:50:54.182+00:00", "step": 0, "data": {"__pf__.nodes.calculate_accuracy.completed":
        1.0}}]}, {"dataContainerId": "dcid.eval_run_name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "0d8e6a5e-ea15-4c47-adf6-d08a5371a41b", "createdUtc":
        "2024-01-16T06:50:54.508+00:00", "step": 0, "data": {"__pf__.lines.completed":
        3.0}}]}, {"dataContainerId": "dcid.eval_run_name", "name": "__pf__.lines.failed",
        "columns": {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "9796d5b7-c957-4ae6-9329-a6b86f058985", "createdUtc":
        "2024-01-16T06:50:54.843+00:00", "step": 0, "data": {"__pf__.lines.failed":
        0.0}}]}, {"dataContainerId": "dcid.eval_run_name", "name": "accuracy", "columns":
        {"accuracy": "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar",
        "dataLocation": null}, "namespace": null, "standardSchemaId": null, "value":
        [{"metricId": "b835f84f-6844-4ee1-82b5-8cc53c7a395a", "createdUtc": "2024-01-16T06:50:55.201+00:00",
        "step": 0, "data": {"accuracy": 0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.065'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "batch_run_name", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1705387782, "rootRunId": "batch_run_name",
        "createdUtc": "2024-01-16T06:49:42.6402884+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token": null,
        "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision": 6,
        "statusRevision": 3, "runUuid": "1c8fba29-43af-4319-8abf-82fecdbc79c7", "parentRunUuid":
        null, "rootRunUuid": "1c8fba29-43af-4319-8abf-82fecdbc79c7", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:03.8081360", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "18a66f5f-dbdf-4c17-9dd7-1634712a9cbe",
        "upn": null}, "lastModifiedUtc": "2024-01-16T06:49:58.037265+00:00", "duration":
        "00:00:03.8081360", "cancelationReason": null, "currentAttemptId": 1, "runId":
        "batch_run_name", "parentRunId": null, "experimentId": "b1e733a1-2a5f-4c17-bc34-4d66d2858228",
        "status": "Completed", "startTimeUtc": "2024-01-16T06:49:55.1143318+00:00",
        "endTimeUtc": "2024-01-16T06:49:58.9224678+00:00", "scheduleId": null, "displayName":
        "sdk-cli-test-fixture-batch-run-without-llm", "name": null, "dataContainerId":
        "dcid.batch_run_name", "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": null}, "properties": {"azureml.promptflow.runtime_name": "automatic",
        "azureml.promptflow.runtime_version": "20240111.v2", "azureml.promptflow.definition_file_name":
        "flow.dag.yaml", "azureml.promptflow.session_id": "bee356189f7e7f18671a79369c78df4cfb1bbd0c99069074",
        "azureml.promptflow.flow_lineage_id": "f7ee724d91e4f4a7501bdc0b66995bc8b57f86b3a526fa2a81c34ebcccbbd912",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/36774154bc3ecde4aa21054b3052221f/hello-world/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/74c11bba717480b2d6b04b8e746d09d7/webClassification3.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"name\":\"${data.url}\"}", "_azureml.evaluation_run":
        "promptflow.BatchRun", "azureml.promptflow.snapshot_id": "853ecdec-2e95-4860-85fa-a28e3c4f61ed",
        "azureml.promptflow.total_tokens": "0", "_azureml.evaluate_artifacts": "[{\"path\":
        \"instance_results.jsonl\", \"type\": \"table\"}]"}, "parameters": {}, "actionUris":
        {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [],
        "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": {"debug_info": {"assetId":
        "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.061'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/batch_run_name/logContent
  response:
    body:
      string: '"2024-01-16 06:49:48 +0000      49 promptflow-runtime INFO     [batch_run_name]
        Receiving v2 bulk run request 178dcec0-050e-426c-9af4-4603f9704501: {\"flow_id\":
        \"batch_run_name\", \"flow_run_id\": \"batch_run_name\", \"flow_source\":
        {\"flow_source_type\": 1, \"flow_source_info\": {\"snapshot_id\": \"853ecdec-2e95-4860-85fa-a28e3c4f61ed\"},
        \"flow_dag_file\": \"flow.dag.yaml\"}, \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.batch_run_name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-01-16T01%3A22%3A07Z&ske=2024-01-17T09%3A32%3A07Z&sks=b&skv=2019-07-07&st=2024-01-16T06%3A39%3A47Z&se=2024-01-16T14%3A49%3A47Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/74c11bba717480b2d6b04b8e746d09d7/webClassification3.jsonl\"},
        \"inputs_mapping\": {\"name\": \"${data.url}\"}, \"azure_storage_setting\":
        {\"azure_storage_mode\": 1, \"storage_account_name\": \"promptfloweast4063704120\",
        \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/batch_run_name\",
        \"blob_container_sas_token\": \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2024-01-16T06%3A49%3A47Z&ske=2024-01-23T06%3A49%3A47Z&sks=b&skv=2019-07-07&se=2024-01-23T06%3A49%3A47Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}}\n2024-01-16 06:49:48 +0000      49
        promptflow-runtime INFO     Runtime version: 20240111.v2. PromptFlow version:
        1.4.0rc2\n2024-01-16 06:49:48 +0000      49 promptflow-runtime INFO     Updating
[...]
