interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.073'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.164'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Dec 2023 07:47:38 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - quXiEreYvPinSj0HsaNa/g==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 08 Nov 2023 04:26:09 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 08 Nov 2023 04:26:09 GMT
      x-ms-meta-name:
      - c4092674-5e53-4c17-b78d-75353ae0edb6
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 579021dc-8ac8-4c73-8110-4642bd00c69b
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Dec 2023 07:47:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Dec 2023 07:47:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_env_var/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - F+JA0a3CxcLYZ0ANRdlZbA==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 02:51:35 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 17 Aug 2023 10:30:09 GMT
      x-ms-meta-name:
      - 56efdd28-6297-4baa-aad3-be46f4b768a2
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 01 Dec 2023 07:47:46 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_env_var/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/print_env_var/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "batchDataInput":
      {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {"API_BASE":
      "${azure_open_ai_connection.api_base}"}, "runtimeName": "fake-runtime-name",
      "sessionId": "000000000000000000000000000000000000000000000000", "flowLineageId":
      "0000000000000000000000000000000000000000000000000000000000000000", "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '17.735'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1701416880, "rootRunId": "name", "createdUtc":
        "2023-12-01T07:48:00.0692116+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 3, "statusRevision": 1,
        "runUuid": "b637109d-037b-4df0-bd94-cdecd6231273", "parentRunUuid": null,
        "rootRunUuid": "b637109d-037b-4df0-bd94-cdecd6231273", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "lastModifiedUtc": "2023-12-01T07:48:08.0502728+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "6a87c3ae-5a75-4c5d-9eb9-5203b0062282", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "name", "name": null, "dataContainerId": "dcid.name", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "MIR_v2"},
        "properties": {"azureml.promptflow.runtime_name": "demo-mir", "azureml.promptflow.runtime_version":
        "20231011.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "25187026eb2ef095825bf8a6a4903a2614ba061c47b3bb77",
        "azureml.promptflow.flow_lineage_id": "8e31aa67de95a4745b985ea3ca72fcbadf681af3b848ef9de523c26cc7a6556d",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/3360ae705933fb90bcd290241ca0ece9/print_env_var/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/c32a61842e439cecc022ebcff5dc0da4/env_var_names.jsonl",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "59eed526-d51f-46d6-9979-ea3ddfac1caf"}, "parameters": {}, "actionUris": {},
        "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [], "tags":
        {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": [{"Name": "print_env", "Type": "python", "Source": {"Type": "code",
        "Tool": null, "Path": "print_env.py"}, "Inputs": {"key": "${inputs.key}"},
        "Tool": "print_env.py", "Reduce": false, "Activate": null, "Comment": null,
        "Api": null, "Provider": null, "Connection": null, "Module": null}], "Tools":
        [{"Name": "Content Safety (Text Analyze)", "Type": "python", "Inputs": {"connection":
        {"Name": null, "Type": ["AzureContentSafetyConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "hate_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default",
        "advanced": null, "ui_hints": null}, "self_harm_category": {"Name": null,
        "Type": ["string"], "Default": "medium_sensitivity", "Description": null,
        "Enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default", "advanced":
        null, "ui_hints": null}, "sexual_category": {"Name": null, "Type": ["string"],
        "Default": "medium_sensitivity", "Description": null, "Enum": ["disable",
        "low_sensitivity", "medium_sensitivity", "high_sensitivity"], "enabled_by":
        null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
        "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "text": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default",
        "advanced": null, "ui_hints": null}, "violence_category": {"Name": null, "Type":
        ["string"], "Default": "medium_sensitivity", "Description": null, "Enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default", "advanced":
        null, "ui_hints": null}}, "Outputs": null, "Description": "Use Azure Content
        Safety to detect harmful content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
        "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
        "analyze_text", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
        "promptflow-contentsafety", "package_version": "0.0.5", "default_prompt":
        null, "enable_kwargs": false, "deprecated_tools": null, "tool_state": "stable"},
        {"Name": "Embedding", "Type": "python", "Inputs": {"connection": {"Name":
        null, "Type": ["AzureOpenAIConnection", "OpenAIConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "deployment_name": {"Name": null, "Type": ["string"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": "connection", "enabled_by_type":
        ["AzureOpenAIConnection"], "enabled_by_value": null, "model_list": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "Capabilities": {"completion":
        false, "chat_completion": false, "embeddings": true}, "dynamic_list": null,
        "allow_manual_entry": false, "is_multi_select": false, "generated_by": null,
        "input_type": "default", "advanced": null, "ui_hints": null}, "input": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default", "advanced":
        null, "ui_hints": null}, "model": {"Name": null, "Type": ["string"], "Default":
        null, "Description": null, "Enum": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "enabled_by": "connection", "enabled_by_type":
        ["OpenAIConnection"], "enabled_by_value": null, "model_list": null, "Capabilities":
        null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}}, "Outputs": null, "Description": "Use Open AI''s embedding model to
        create an embedding vector representing the input text.", "connection_type":
        null, "Module": "promptflow.tools.embedding", "class_name": null, "Source":
        null, "LkgCode": null, "Code": null, "Function": "embedding", "action_type":
        null, "provider_config": null, "function_config": null, "Icon": null, "Category":
        null, "Tags": null, "is_builtin": true, "package": "promptflow-tools", "package_version":
        "0.1.0b8", "default_prompt": null, "enable_kwargs": false, "deprecated_tools":
        null, "tool_state": "stable"}, {"Name": "Open Source LLM", "Type": "custom_llm",
        "Inputs": {"api": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": ["chat", "completion"], "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "connection": {"Name": null, "Type": ["CustomConnection"], "Default":
        null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "deployment_name": {"Name": null, "Type": ["string"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}, "model_kwargs": {"Name": null, "Type": ["object"], "Default": "{}",
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default", "advanced": null, "ui_hints":
        null}}, "Outputs": null, "Description": "Use an Open Source model from the
        Azure Model catalog, d[...]
