interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.023'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.730'
    status:
      code: 200
      message: OK
- request:
    body: '{"filters": [{"field": "type", "operator": "eq", "values": ["flows"]},
      {"field": "annotations/isArchived", "operator": "eq", "values": ["false"]},
      {"field": "properties/creationContext/createdBy/userTenantId", "operator": "eq",
      "values": ["00000000-0000-0000-0000-000000000000"]}, {"field": "properties/creationContext/createdBy/userObjectId",
      "operator": "eq", "values": ["00000000-0000-0000-0000-000000000000"]}], "freeTextSearch":
      "", "order": [{"direction": "Desc", "field": "properties/creationContext/createdTime"}],
      "pageSize": 3, "skip": 0, "includeTotalResultCount": true, "searchBuilder":
      "AppendPrefix"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/index/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/entities
  response:
    body:
      string: '{"totalCount": 16, "value": [{"relevancyScore": 1.0, "entityResourceName":
        "promptflow-eastus", "highlights": {}, "usage": {"totalCount": 0}, "schemaId":
        "37f2e71d-b027-5d1c-a435-7d249ef7f98a", "entityId": "azureml://location/eastus/workspaceId/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/type/flows/objectId/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5:7bde7cc6-fae2-4dd0-85bc-0fd6c7079a67",
        "kind": "Unversioned", "annotations": {"archived": false, "tags": {"owner":
        "sdk"}, "flowName": "107522a2-b3cf-4fdb-8375-a651ebe39a66", "createdDate":
        "2023-11-15T09:07:07.5166016Z", "lastModifiedDate": "2023-11-15T09:07:07.5166017Z",
        "owner": {"userObjectId": "dccfa7b6-87c6-4f1e-af43-555f876e37a7", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang"}, "isArchived":
        false, "vmSize": null, "maxIdleTimeSeconds": null, "name": null, "description":
        "test flow"}, "properties": {"updatedTime": "0001-01-01T00:00:00+00:00", "creationContext":
        {"createdTime": "2023-11-15T09:07:07.5166016+00:00", "createdBy": {"userObjectId":
        "dccfa7b6-87c6-4f1e-af43-555f876e37a7", "userTenantId": "00000000-0000-0000-0000-000000000000",
        "userName": "Zhengfei Wang"}, "creationSource": null}, "flowId": "7bde7cc6-fae2-4dd0-85bc-0fd6c7079a67",
        "experimentId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "flowType": "Default",
        "flowDefinitionFilePath": "Users/unknown_user/promptflow/107522a2-b3cf-4fdb-8375-a651ebe39a66/flow.dag.yaml"},
        "internal": {}, "updateSequence": 638356360275166017, "type": "flows", "version":
        null, "entityContainerId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "entityObjectId":
        "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5:7bde7cc6-fae2-4dd0-85bc-0fd6c7079a67",
        "resourceType": "Workspace", "relationships": []}, {"relevancyScore": 1.0,
        "entityResourceName": "promptflow-eastus", "highlights": {}, "usage": {"totalCount":
        0}, "schemaId": "37f2e71d-b027-5d1c-a435-7d249ef7f98a", "entityId": "azureml://location/eastus/workspaceId/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/type/flows/objectId/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5:bf77c549-7b42-4768-b476-c131212136e0",
        "kind": "Unversioned", "annotations": {"archived": false, "tags": {"owner":
        "sdk"}, "flowName": "460eb2b4-7a37-4f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus\",\n
        \ \"name\": \"promptflow-eastus\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces\",\n
        \ \"location\": \"eastus\",\n  \"tags\": {},\n  \"etag\": null,\n  \"properties\":
        {\n    \"friendlyName\": \"promptflow-eastus\",\n    \"description\": \"\",\n
        \   \"storageAccount\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.Storage/storageAccounts/promptfloweast4063704120\",\n
        \   \"keyVault\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.Keyvault/vaults/promptfloweast1111289317\",\n
        \   \"applicationInsights\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.insights/components/promptfloweast6116803744\",\n
        \   \"hbiWorkspace\": false,\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\n
        \   \"imageBuildCompute\": null,\n    \"provisioningState\": \"Succeeded\",\n
        \   \"managedNetwork\": {\n      \"changeableIsolationModes\": [\n        \"AllowInternetOutbound\",\n
        \       \"AllowOnlyApprovedOutbound\"\n      ],\n      \"isolationMode\":
        \"Disabled\"\n    },\n    \"v1LegacyMode\": false,\n    \"softDeleteEnabled\":
        false,\n    \"containerRegistry\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.ContainerRegistry/registries/promptfloweus\",\n
        \   \"creationTime\": \"2023-04-08T02:52:45.2632073Z\",\n    \"notebookInfo\":
        {\n      \"resourceId\": \"d27bca8b0dcc4dcda2e03fceabbc1a1d\",\n      \"fqdn\":
        \"ml-promptflow-eastu-eastus-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5.eastus.notebooks.azure.net\",\n
        \     \"isPrivateLinkEnabled\": false,\n      \"notebookPreparationError\":
        null\n    },\n    \"storageHnsEnabled\": false,\n    \"workspaceId\": \"3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",\n
        \   \"linkedModelInventoryArmId\": null,\n    \"privateLinkCount\": 0,\n    \"publicNetworkAccess\":
        \"Enabled\",\n    \"ipAllowlist\": [],\n    \"discoveryUrl\": \"https://eastus.api.azureml.ms/discovery\",\n
        \   \"mlFlowTrackingUri\": \"azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus\",\n
        \   \"serverlessComputeSettings\": null,\n    \"EnableSoftwareBillOfMaterials\":
        null,\n    \"sdkTelemetryAppInsightsKey\": \"f5784ccd-178d-4ecc-9998-b05841b44ae9\",\n
        \   \"sasGetterUri\": \"\",\n    \"enableDataIsolation\": false,\n    \"azureOpenAI\":
        {\n      \"provisioningState\": \"Succeeded\",\n      \"resourceId\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.CognitiveServices/accounts/promptflow-eastus-aoai\",\n
        \     \"endpoint\": \"https://promptflow-eastus-aoai.openai.azure.com/\",\n
        \     \"proxyResourceId\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus/oaiaccounts/id_877310627f954a0a8993e6facedab0df\",\n
        \     \"failureReason\": null,\n      \"deployedModels\": []\n    },\n    \"endpointResources\":
        {}\n  },\n  \"identity\": {\n    \"type\": \"SystemAssigned\",\n    \"principalId\":
        \"55b92eba-d7c7-4afd-ab76-7bb1cd345283\",\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"kind\": \"Default\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\":
        \"Basic\"\n  },\n  \"systemData\": {\n    \"createdAt\": \"2023-04-08T02:52:45.2632073Z\",\n
        \   \"createdBy\": \"clwan@microsoft.com\",\n    \"createdByType\": \"User\",\n
        \   \"lastModifiedAt\": \"2023-04-08T02:52:45.2632073Z\",\n    \"lastModifiedBy\":
        \"clwan@microsoft.com\",\n    \"lastModifiedByType\": \"User\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-aml-cluster:
      - vienna-eastus-02
      x-ms-ratelimit-remaining-subscription-reads:
      - '11999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.028'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.MachineLearningServices/workspaces/promptflow-eastus/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/96aede12-2f73-41cb-b983-6d11a904839b/resourceGroups/promptflow/providers/Microsoft.MachineLearningServices/work[...]
- request:
    body: '{"filters": [{"field": "type", "operator": "eq", "values": ["flows"]},
      {"field": "annotations/isArchived", "operator": "eq", "values": ["false"]},
      {"field": "properties/creationContext/createdBy/userTenantId", "operator": "eq",
      "values": ["72f988bf-86f1-41af-91ab-2d7cd011db47"]}, {"field": "properties/creationContext/createdBy/userObjectId",
      "operator": "eq", "values": ["e20ac744-b3f4-4b67-9515-49b91b185035"]}], "freeTextSearch":
      "", "order": [[...]
[...]
