interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.028'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.087'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.284'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Nov 2023 08:32:21 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lI/pz9jzTQ7Td3RHPL7y7w==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-meta-name:
      - 94331215-cf7f-452a-9f1a-1d276bc9b0e4
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 3f163752-edb0-4afc-a6f5-b0a670bd7c24
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Nov 2023 08:32:22 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Nov 2023 08:32:24 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/.promptflow/flow.detail.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - TtfXOT2nr1pDBtzsuOQkUw==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 21 Nov 2023 07:58:08 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 21 Nov 2023 07:58:07 GMT
      x-ms-meta-name:
      - e958bcd3-8fdc-4746-8f46-abc388771493
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Nov 2023 08:32:25 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/web_classification/.promptflow/flow.detail.json
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/web_classification/flow.dag.yaml",
      "runId": "batch_run_name", "runDisplayName": "web_classification", "runExperimentName":
      "web_classification", "nodeVariant": "${summarize_text_content.variant_0}",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"url": "${data.url}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "test-runtime-ci", "sessionId": "4dd8f4d5f44dfeb817d3438cf84bd739215d87afd9458597",
      "flowLineageId": "af1a6951de9be2ce13d3b58b23dbd8b6a0cd8fd4918ad9cb22b28fb8395fbcb0",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"batch_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '13.281'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Nov 2023 08:33:08 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/eval-classification-accuracy/calculate_accuracy.py
  response:
    body:
      string: ''
    headers:
      content-md5:
      - OyENtlqGVUTrY5zKuzo8XA==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 21 Nov 2023 08:03:40 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 21 Nov 2023 08:03:39 GMT
      x-ms-meta-name:
      - fd932777-4f3a-4c1d-9c3a-24d45835d7e1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Nov 2023 08:33:09 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/eval-classification-accuracy/calculate_accuracy.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/eval-classification-accuracy/flow.dag.yaml",
      "runId": "eval_run_name", "runDisplayName": "eval-classification-accuracy",
      "runExperimentName": "eval_classification_accuracy", "variantRunId": "batch_run_name",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"groundtruth": "${data.answer}", "prediction": "${run.outputs.category}"},
      "connections": {}, "environmentVariables": {}, "runtimeName": "test-runtime-ci",
      "sessionId": "f8e4236a4e78e7f7125bbd811ec7976cb330412723a530f8", "flowLineageId":
      "26c575d863a85371ef937096728441d8c68c3e737b5a1bfeae5ac8f3b9ccb048", "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"eval_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '8.791'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"runId": "batch_run_name", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1700555555, "rootRunId": "batch_run_name",
        "createdUtc": "2023-11-21T08:32:35.9601532+00:00", "createdBy": {"userObjectId":
        "4e60fbf3-0338-41a8-bed5-fc341be556f8", "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587",
        "upn": null}, "userId": "4e60fbf3-0338-41a8-bed5-fc341be556f8", "token": null,
        "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision": 5,
        "statusRevision": 3, "runUuid": "a00983c2-6ead-4c96-8de9-e101d749a64e", "parentRunUuid":
        null, "rootRunUuid": "a00983c2-6ead-4c96-8de9-e101d749a64e", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:09.4044054", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "4e60fbf3-0338-41a8-bed5-fc341be556f8",
        "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "18a66f5f-dbdf-4c17-9dd7-1634712a9cbe",
        "upn": null}, "lastModifiedUtc": "2023-11-21T08:32:58.427289+00:00", "duration":
        "00:00:09.4044054", "cancelationReason": null, "currentAttemptId": 1, "runId":
        "batch_run_name", "parentRunId": null, "experimentId": "d30efbeb-f81d-4cfa-b5cc-a0570a049009",
        "status": "Completed", "startTimeUtc": "2023-11-21T08:32:50.2606002+00:00",
        "endTimeUtc": "2023-11-21T08:32:59.6650056+00:00", "scheduleId": null, "displayName":
        "web_classification", "name": null, "dataContainerId": "dcid.batch_run_name",
        "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": "AmlcDsi"}, "properties": {"azureml.promptflow.runtime_name":
        "test-runtime-ci", "azureml.promptflow.runtime_version": "20231030.v3", "azureml.promptflow.definition_file_name":
        "flow.dag.yaml", "azureml.promptflow.session_id": "4dd8f4d5f44dfeb817d3438cf84bd739215d87afd9458597",
        "azureml.promptflow.flow_lineage_id": "af1a6951de9be2ce13d3b58b23dbd8b6a0cd8fd4918ad9cb22b28fb8395fbcb0",
        "azureml.promptflow.node_variant": "${summarize_text_content.variant_0}",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/e4dd2bc9b0668503d8a40961078c4be0/web_classification/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/74c11bba717480b2d6b04b8e746d09d7/webClassification3.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"url\":\"${data.url}\"}", "azureml.promptflow.snapshot_id":
        "fcb67010-6fe3-4f0d-8338-3be9f7f8c6fe", "_azureml.evaluation_run": "promptflow.BatchRun",
        "azureml.promptflow.total_tokens": "2480", "_azureml.evaluate_artifacts":
        "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]"}, "parameters":
        {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": {"debug_info": {"assetId":
        "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": {"Nodes": [{"Name": "fetch_text_content_from_url",
        "Type": "python", "Source": {"Type": "code", "Tool": null, "Path": "fetch_text_content_from_url.py"},
        "Inputs": {"fetch_url": "${inputs.url}"}, "Tool": "fetch_text_content_from_url.py",
        "Reduce": false, "Comment": null, "Activate": null, "Api": null, "Provider":
        null, "Connection": null, "Module": null}, {"Name": "prepare_examples", "Type":
        "python", "Source": {"Type": "code", "Tool": null, "Path": "prepare_examples.py"},
        "Inputs": {}, "Tool": "prepare_examples.py", "Reduce": false, "Comment": null,
        "Activate": null, "Api": null, "Provider": null, "Connection": null, "Module":
        null}, {"Name": "classify_with_llm", "Type": "llm", "Source": {"Type": "code",
        "Tool": null, "Path": "classify_with_llm.jinja2"}, "Inputs": {"deployment_name":
        "text-davinci-003", "suffix": "", "max_tokens": "128", "temperature": "0.1",
        "top_p": "1.0", "logprobs": "", "echo": "False", "stop": "", "presence_penalty":
        "0", "frequency_penalty": "0", "best_of": "1", "logit_bias": "", "url": "${inputs.url}",
        "examples": "${prepare_examples.output}", "text_content": "${summarize_text_content.output}"},
        "Tool": "classify_with_llm.jinja2", "Reduce": false, "Comment": null, "Activate":
        null, "Api": "completion", "Provider": "AzureOpenAI", "Connection": "azure_open_ai_connection",
        "Module": "promptflow.tools.aoai"}, {"Name": "convert_to_dict", "Type": "python",
        "Source": {"Type": "code", "Tool": null, "Path": "convert_to_dict.py"}, "Inputs":
        {"input_str": "${classify_with_llm.output}"}, "Tool": "convert_to_dict.py",
        "Reduce": false, "Comment": null, "Activate": null, "Api": null, "Provider":
        null, "Connection": null, "Module": null}, {"Name": "summarize_text_content",
        "Type": "llm", "Source": {"Type": "code", "Tool": null, "Path": "summarize_text_content.jinja2"},
        "Inputs": {"deployment_name": "text-davinci-003", "suffix": "", "max_tokens":
        "128", "temperature": "0.2", "top_p": "1.0", "logprobs": "", "echo": "False",
        "stop": "", "presence_penalty": "0", "frequency_penalty": "0", "best_of":
        "1", "logit_bias": "", "text": "${fetch_text_content_from_url.output}"}, "Tool":
        "summarize_text_content.jinja2", "Reduce": false, "Comment": null, "Activate":
        null, "Api": "completion", "Provider": "AzureOpenAI", "Connection": "azure_open_ai_connection",
        "Module": "promptflow.tools.aoai"}], "Tools": [{"Name": "Content Safety (Text
        Analyze)", "Type": "python", "Inputs": {"connection": {"Name": null, "Type":
        ["AzureContentSafetyConnection"], "Default": null, "Description": null, "Enum":
        null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null,
        "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "hate_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "self_harm_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "sexual_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "text": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "violence_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": "Use Azure Content Safety to detect harmful
        content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
        "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
        "analyze_text", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
        "promptflow-contentsafety", "package_version": "0.0.9", "default_prompt":
        null, "enable_kwargs": false}, {"Name": "Embedding", "Type": "python", "Inputs":
        {"connection": {"Name": null, "Type": ["AzureOpenAIConnection", "OpenAIConnection"],
        "Default": null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "deployment_name": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "enabled_by_value": null, "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "Capabilities": {"completion": false, "chat_completion":
        false, "embeddings": true}, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "input": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "model": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "enabled_by": "connection", "enabled_by_type": ["OpenAIConnection"], "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": "Use Open AI''s embedding model to create
        an embedding vector representing the input text.", "connection_type": null,
        "Module": "promptflow.tools.embedding", "class_name": null, "Source": null,
        "LkgCode": null, "Code": null, "Function": "embedding", "action_type": null,
        "provider_config": null, "function_config": null, "Icon": null, "Category":
        null, "Tags": null, "is_builtin": true, "package": "promptflow-tools", "package_version":
        "0.1.0b10", "default_prompt": null, "enable_kwargs": false}, {"Name": "Open
        Source LLM", "Type": "custom_llm", "Inputs": {"api": {"Name": null, "Type":
        ["string"], "Default": null, "Description": null, "Enum": ["chat", "completion"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "connection": {"Name": null, "Type": ["CustomConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "deployment_name": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "endpoint_name": {"Name": null, "Type": ["string"], "Default": "-- please
        enter an endpoint name --", "Description": null, "Enum": null, "enabled_by":
        null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
        "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default"}, "max_new_tokens": {"Name":
        null, "Type": ["int"], "Default": "500", "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "model_kwargs": {"Name": null, "Type": ["object"], "Default": "{}", "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "temperature": {"Name": null, "Type": ["double"], "Default": "1.0", "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/batch_run_name/logContent
  response:
    body:
      string: '"2023-11-21 08:32:41 +0000 1328549 promptflow-runtime INFO     [batch_run_name]
        Receiving v2 bulk run request 9f951fca-f8db-4d56-91ed-e7fefd433811: {\"flow_id\":
        \"batch_run_name\", \"flow_run_id\": \"batch_run_name\", \"flow_source\":
        {\"flow_source_type\": 1, \"flow_source_info\": {\"snapshot_id\": \"fcb67010-6fe3-4f0d-8338-3be9f7f8c6fe\"},
        \"flow_dag_file\": \"flow.dag.yaml\"}, \"connections\": \"**data_scrubbed**\",
        \"log_path\": \"https://promptfloweast4063704120.blob.core.windows.net/azureml/ExperimentRun/dcid.batch_run_name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2023-11-21T03%3A35%3A32Z&ske=2023-11-22T11%3A45%3A32Z&sks=b&skv=2019-07-07&st=2023-11-21T08%3A22%3A40Z&se=2023-11-21T16%3A32%3A40Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus-6.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/\",
        \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/74c11bba717480b2d6b04b8e746d09d7/webClassification3.jsonl\"},
        \"inputs_mapping\": {\"url\": \"${data.url}\"}, \"azure_storage_setting\":
        {\"azure_storage_mode\": 1, \"storage_account_name\": \"promptfloweast4063704120\",
        \"blob_container_name\": \"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/batch_run_name\",
        \"blob_container_sas_token\": \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=55b92eba-d7c7-4afd-ab76-7bb1cd345283&sktid=00000000-0000-0000-0000-000000000000&skt=2023-11-21T08%3A32%3A40Z&ske=2023-11-28T08%3A32%3A40Z&sks=b&skv=2019-07-07&se=2023-11-28T08%3A32%3A40Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}}\n2023-11-21 08:32:41 +0000
        1328549 promptflow-runtime INFO     Runtime version: 20231030.v3. PromptFlow
        version: 0.1.0b9.dev2\n2023-11-21 08:32:41 +0000 1328549 promptflow-runtime
        INFO     Running <function RunHistoryClient.get_run at 0x7f2a03d9a3a0>, 3
        more tries to go.\n2023-11-21 08:32:41 +0000 1328549 promptflow-runtime INFO     Running
        <function RunHistoryClient.get_run at 0x7f2a03d9a310>, 3 more tries to go.\n2023-11-21
        08:32:41 +0000 1328549 promptflow-runtime INFO     Running <function RunHistoryClient.update_run_status
        at 0x7f2a03d9a160>, 3 more tries to go.\n2023-11-21 08:32:41 +0000 1328549
        promptflow-runtime INFO     Updating batch_run_name to Sta[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/eval_run_name/logContent
  response:
    body:
      string: '"2023-11-21 08:33:19 +0000 1328549 promptflow-runtime INFO     [eval_run_name]
        Receiving v2 bulk run request e8bfe851-0eae-4e82-a845-6a9e6f9[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
[...]
