interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.024'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.053'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.086'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:11 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SaVvJK8fXJzgPgQkmSaCGA==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 23 Nov 2023 12:11:21 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 23 Nov 2023 12:11:20 GMT
      x-ms-meta-name:
      - 74c8f1fa-9e14-4249-8fec-279efedeb400
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 2266d840-3ecd-4a91-9e63-8d57e7b0a62e
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Nov 2023 06:55:12 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/simple_hello_world.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionResourceId": "azureml://registries/promptflow-preview/models/simple_hello_world/versions/202311241",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "simple_hello_world",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/simple_hello_world.jsonl"},
      "inputsMapping": {"name": "${data.name}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "hod-ci", "sessionId": "simple_hello_world", "flowLineageId":
      "simple_hello_world", "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '6.750'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1700808918, "rootRunId": "name", "createdUtc":
        "2023-11-24T06:55:18.305575+00:00", "createdBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "userId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 2, "statusRevision": 1,
        "runUuid": "2e7a48be-4952-45cc-9a20-b6ee09a04781", "parentRunUuid": null,
        "rootRunUuid": "2e7a48be-4952-45cc-9a20-b6ee09a04781", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "lastModifiedUtc": "2023-11-24T06:55:18.305575+00:00", "duration": null, "cancelationReason":
        null, "currentAttemptId": 1, "runId": "name", "parentRunId": null, "experimentId":
        "e57eb79e-3e83-45f1-810c-ee22c20b2ebd", "status": "Preparing", "startTimeUtc":
        null, "endTimeUtc": null, "scheduleId": null, "displayName": "name", "name":
        null, "dataContainerId": "dcid.name", "description": null, "hidden": false,
        "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator": null,
        "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"}, "properties":
        {"azureml.promptflow.runtime_name": "hod-ci", "azureml.promptflow.runtime_version":
        "20231114.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "simple_hello_world", "azureml.promptflow.flow_lineage_id":
        "simple_hello_world", "azureml.promptflow.flow_definition_resource_id": "azureml://registries/promptflow-preview/models/simple_hello_world/versions/202311241",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/79f088fae0e502653c43146c9682f425/simple_hello_world.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"name\":\"${data.name}\"}", "azureml.promptflow.snapshot_id":
        "dd22d6b1-8deb-4233-b5de-de06d3b85cec", "_azureml.evaluation_run": "promptflow.BatchRun"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        {"Nodes": [{"Name": "hello_world", "Type": "python", "Source": {"Type": "code",
        "Tool": null, "Path": "hello_world.py"}, "Inputs": {"name": "${inputs.name}"},
        "Tool": "hello_world.py", "Reduce": false, "Comment": null, "Activate": null,
        "Api": null, "Provider": null, "Connection": null, "Module": null}], "Tools":
        [{"Name": "hello_world.py", "Type": "python", "Inputs": {"name": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": null, "connection_type": null, "Module": null,
        "class_name": null, "Source": "hello_world.py", "LkgCode": null, "Code": null,
        "Function": "hello_world", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": false, "package":
        null, "package_version": null, "default_prompt": null, "enable_kwargs": false}],
        "Codes": null, "Inputs": {"name": {"Name": null, "Type": "string", "Default":
        "hod", "Description": null, "is_chat_input": false, "is_chat_history": null}},
        "Outputs": {"result": {"Name": null, "Type": "string", "Description": null,
        "Reference": "${hello_world.output}", "evaluation_only": false, "is_chat_output":
        false}}}, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.038'
    status:
      code: 200
      message: OK
version: 1
