interactions:
- request:
    body: '{"runId": "not_exist", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Run runId=not_exist
        was not found", "messageFormat": "Run {runId} was not found", "messageParameters":
        {"runId": "runId=not_exist"}, "referenceCode": null, "detailsUri": null, "target":
        null, "details": [], "innerError": {"code": "NotFoundError", "innerError":
        null}, "debugInfo": null, "additionalInfo": null}, "correlation": {"operation":
        "575df4f2356455b56957bf9ac5f9f2da", "request": "0ae3e08d4c6ba5f0"}, "environment":
        "eastus", "location": "eastus", "time": "2023-11-23T06:14:29.4209907+00:00",
        "componentName": "run-history", "statusCode": 404}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.028'
    status:
      code: 404
      message: Run runId=not_exist was not found
version: 1
