interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.022'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.684'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.086'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 10 Jan 2024 06:31:19 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification1.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - i/8q1x5YKzHv3Fd/R8lYUQ==
      content-type:
      - application/octet-stream
      last-modified:
      - Fri, 28 Jul 2023 12:34:52 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 28 Jul 2023 12:34:52 GMT
      x-ms-meta-name:
      - 13fa99dd-c98e-4f2a-a704-4295d4ed6f68
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 0367c5c6-9f53-4a75-8623-7e53699f0d0b
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 10 Jan 2024 06:31:20 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification1.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 10 Jan 2024 06:31:23 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ylTeNqjvuOvtzEZJ/X5n3A==
      content-type:
      - application/octet-stream
      last-modified:
      - Thu, 14 Dec 2023 06:10:20 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 Dec 2023 06:10:20 GMT
      x-ms-meta-name:
      - 0b067b84-235d-4f22-909e-0d4d6728aa38
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 10 Jan 2024 06:31:24 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/web_classification/flow.dag.yaml",
      "runId": "run_id", "runDisplayName": "run_id", "runExperimentName": "", "nodeVariant":
      "${summarize_text_content.variant_0}", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification1.jsonl"},
      "inputsMapping": {"url": "${data.url}"}, "connections": {}, "environmentVariables":
      {"FOO": "BAR"}, "runtimeName": "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"run_id"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '8.556'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/run_id
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "fetch_text_content_from_url", "type":
        "python", "source": {"type": "code", "path": "fetch_text_content_from_url.py"},
        "inputs": {"fetch_url": "${inputs.url}"}, "tool": "fetch_text_content_from_url.py",
        "reduce": false}, {"name": "prepare_examples", "type": "python", "source":
        {"type": "code", "path": "prepare_examples.py"}, "inputs": {}, "tool": "prepare_examples.py",
        "reduce": false}, {"name": "classify_with_llm", "type": "llm", "source": {"type":
        "code", "path": "classify_with_llm.jinja2"}, "inputs": {"deployment_name":
        "gpt-35-turbo", "suffix": "", "max_tokens": "128", "temperature": "0.1", "top_p":
        "1.0", "logprobs": "", "echo": "False", "stop": "", "presence_penalty": "0",
        "frequency_penalty": "0", "best_of": "1", "logit_bias": "", "url": "${inputs.url}",
        "examples": "${prepare_examples.output}", "text_content": "${summarize_text_content.output}"},
        "tool": "classify_with_llm.jinja2", "reduce": false, "api": "chat", "provider":
        "AzureOpenAI", "connection": "azure_open_ai_connection", "module": "promptflow.tools.aoai"},
        {"name": "convert_to_dict", "type": "python", "source": {"type": "code", "path":
        "convert_to_dict.py"}, "inputs": {"input_str": "${classify_with_llm.output}"},
        "tool": "convert_to_dict.py", "reduce": false}, {"name": "summarize_text_content",
        "type": "llm", "source": {"type": "code", "path": "summarize_text_content.jinja2"},
        "inputs": {"deployment_name": "gpt-35-turbo", "suffix": "", "max_tokens":
        "128", "temperature": "0.2", "top_p": "1.0", "logprobs": "", "echo": "False",
        "stop": "", "presence_penalty": "0", "frequency_penalty": "0", "best_of":
        "1", "logit_bias": "", "text": "${fetch_text_content_from_url.output}"}, "tool":
        "summarize_text_content.jinja2", "reduce": false, "api": "chat", "provider":
        "AzureOpenAI", "connection": "azure_open_ai_connection", "module": "promptflow.tools.aoai"}],
        "tools": [{"name": "Azure OpenAI GPT-4 Turbo with Vision", "type": "custom_llm",
        "inputs": {"connection": {"type": ["AzureOpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "frequency_penalty": {"type": ["double"], "default":
        0, "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "max_tokens": {"type": ["int"], "default": 512, "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}, "presence_penalty": {"type":
        ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "stop": {"type": ["list"], "default": "",
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "temperature": {"type": ["double"], "default": 1, "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}, "top_p": {"type": ["double"],
        "default": 1, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}}, "description": "Use Azure OpenAI GPT-4 Turbo with Vision to leverage
        AOAI vision ability.", "module": "promptflow.tools.aoai_gpt4v", "class_name":
        "AzureOpenAI", "function": "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "0.0.226",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "0.0.226", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Open AI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "0.0.226", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Model LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "default": "", "dynamic_list": {"func_path": "promptflow.tools.open_model_llm.list_deployment_names",
        "func_kwargs": [{"name": "endpoint", "optional": true, "reference": "${inputs.endpoint}",
        "type": ["string"]}]}, "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default"}, "endpoint_name": {"type": ["string"], "dynamic_list":
        {"func_path": "promptflow.tools.open_model_llm.list_endpoint_names"}, "allow_manual_entry":
        true, "is_multi_select": false, "input_type": "default"}, "max_new_tokens":
        {"type": ["int"], "default": 500, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model_kwargs": {"type": ["object"], "default":
        "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true}, "temperature": {"type": ["double"], "default":
        1.0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "top_p": {"type": ["double"], "default": 1.0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true}},
        "description": "Use an open model from the Azure Model catalog, deployed to
        an AzureML Online Endpoint for LLM Chat or Completion API calls.", "module":
        "promptflow.[...]
- request:
    body: '{"runId": "run_id", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1704868290, "rootRunId": "run_id", "createdUtc":
        "2024-01-10T06:31:30.0688898+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 3, "statusRevision": 1,
        "runUuid": "9aa8a8ee-ca3f-48f1-95a9-cd6749d56bef", "parentRunUuid": null,
        "rootRunUuid": "9aa8a8ee-ca3f-48f1-95a9-cd6749d56bef", "lastStartTimeUtc":
        null, "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": null},
        "lastModifiedUtc": "2024-01-10T06:31:35.3459676+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "run_id", "parentRunId":
        null, "experimentId": "d30efbeb-f81d-4cfa-b5cc-a0570a049009", "status": "Preparing",
        "startTimeUtc": null, "endTimeUtc": null, "scheduleId": null, "displayName":
        "run_id", "name": null, "dataContainerId": "dcid.run_id", "description": null,
        "hidden": false, "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator":
        null, "traits": [], "attribution": "PromptFlow", "computeType": "AmlcDsi"},
        "properties": {"azureml.promptflow.runtime_name": "hod-ci", "azureml.promptflow.runtime_version":
        "20231218.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "8a353369f754e5e4d415ede705304bc4a6a6c7594481cad5",
        "azureml.promptflow.flow_lineage_id": "97280ab0e0bfee2b7b9a66a5e6391fa0f52550ecf78501ac8bd57d5e31eddfd6",
        "azureml.promptflow.node_variant": "${summarize_text_content.variant_0}",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/7b5027892a914a3146135f411a162907/web_classification/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/107bd3498e44deb2dccc53d2208d32b2/webClassification1.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"url\":\"${data.url}\"}", "_azureml.evaluation_run":
        "promptflow.BatchRun", "azureml.promptflow.snapshot_id": "03537d00-1ceb-4f88-9fd1-65d533eb2be6"},
        "parameters": {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}, "runDefinition":
        null, "jobSpecification": null, "systemSettings": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.033'
    status:
      code: 200
      message: OK
version: 1
