interactions:
- request:
    body: '{"hidden": false}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/test_run/modify
  response:
    body:
      string: '{"runNumber": 1702024180, "rootRunId": "test_run", "createdUtc": "2023-12-08T08:29:40.2675619+00:00",
        "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000", "userPuId":
        "10032001A114F500", "userIdp": null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Chenyang
        Zhang", "upn": null}, "userId": "00000000-0000-0000-0000-000000000000", "token":
        null, "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision":
        7, "statusRevision": 3, "runUuid": "552ed65c-0179-4894-81c3-5920a8ba952e",
        "parentRunUuid": null, "rootRunUuid": "552ed65c-0179-4894-81c3-5920a8ba952e",
        "lastStartTimeUtc": null, "currentComputeTime": null, "computeDuration": "00:00:03.8575617",
        "effectiveStartTimeUtc": null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10032001A114F500", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Chenyang Zhang", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2023-12-08T08:52:58.5632046+00:00",
        "duration": "00:00:03.8575617", "cancelationReason": null, "currentAttemptId":
        1, "runId": "test_run", "parentRunId": null, "experimentId": "00000000-0000-0000-0000-000000000000",
        "status": "Completed", "startTimeUtc": "2023-12-08T08:29:56.3873783+00:00",
        "endTimeUtc": "2023-12-08T08:30:00.24494+00:00", "scheduleId": null, "displayName":
        "test_run", "name": null, "dataContainerId": "dcid.test_run", "description":
        "test_description", "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": "AmlcDsi"}, "properties": {"azureml.promptflow.runtime_name":
        "perf_monitor", "azureml.promptflow.runtime_version": "20231204.v4", "azureml.promptflow.definition_file_name":
        "flow.dag.yaml", "azureml.promptflow.session_id": "96c35660d759b526cb14cf69bbb56fcaa90c05a778b147b4",
        "azureml.promptflow.flow_lineage_id": "fcb01d4faf8f2137f9d142cc1f3f22ecdf3d485e1435c4c971ff0ee09077f1b5",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/a9d2fb6128166fc3cfb3e70d7174c707/print_input_flow/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/80d5ca5a93c8c6ea7c2fcdf1cd4b9d07/print_input_flow.jsonl",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "44bc3252-4181-4429-b0ac-df2315b73157", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {"key1":
        "value1"}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.042'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "test_run", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1702024180, "rootRunId": "test_run",
        "createdUtc": "2023-12-08T08:29:40.2675619+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "10032001A114F500", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Chenyang
        Zhang", "upn": null}, "userId": "00000000-0000-0000-0000-00000[...]
