interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.022'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.055'
    status:
      code: 200
      message: OK
- request:
    body: '{"filters": [{"field": "type", "operator": "eq", "values": ["runs"]}, {"field":
      "annotations/archived", "operator": "eq", "values": ["false"]}, {"field": "properties/runType",
      "operator": "contains", "values": ["azureml.promptflow.FlowRun", "azureml.promptflow.EvaluationRun",
      "azureml.promptflow.PairwiseEvaluationRun"]}], "freeTextSearch": "", "order":
      [{"direction": "Desc", "field": "properties/creationContext/createdTime"}],
      "pageSize": 10, "skip": 0, "includeTotalResultCount": true, "searchBuilder":
      "AppendPrefix"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/index/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/entities
  response:
    body:
      string: '{"totalCount": 146558, "value": [{"relevancyScore": 0.28867513, "entityResourceName":
        "promptflow-eastus", "highlights": {}, "usage": {"totalCount": 0}, "schemaId":
        "974ab09e-bfc2-56a6-9be4-97bcfe3d33ca", "entityId": "azureml://location/eastus/workspaceId/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/type/runs/objectId/2283afa6-deed-415c-aac4-490205cf23dd",
        "kind": "Unversioned", "annotations": {"archived": false, "tags": {}, "displayName":
        "b7989f3e-5409-4e57-adc3-34ac2a615527", "status": "Completed", "primaryMetricName":
        null, "estimatedCost": null, "primaryMetricSummary": null, "metrics": {},
        "parameters": {}, "settings": {}, "modifiedTime": "2023-11-29T08:58:33.4780914Z",
        "retainForLifetimeOfWorkspace": false, "error": {"code": null, "errorCodeHierarchy":
        null, "message": null, "time": null, "componentName": null, "severity": null,
        "detailsUri": null, "referenceCode": null}, "resourceMetricSummary": {"gpuUtilizationPercentLastHour":
        null, "gpuMemoryUtilizationPercentLastHour": null, "gpuEnergyJoules": null,
        "resourceMetricNames": null}, "jobCost": {"chargedCpuCoreSeconds": null, "chargedCpuMemoryMegabyteSeconds":
        null, "chargedGpuSeconds": null, "chargedNodeUtilizationSeconds": null}, "computeDuration":
        "00:00:08.3614863", "computeDurationMilliseconds": 8361.4863, "effectiveStartTimeUtc":
        null, "name": null, "description": null}, "properties": {"updatedTime": "0001-01-01T00:00:00+00:00",
        "creationContext": {"createdTime": "2023-11-29T08:58:12.0723876+00:00", "createdBy":
        {"userObjectId": "4e60fbf3-0338-41a8-bed5-fc341be556f8", "userTenantId": "00000000-0000-0000-0000-000000000000",
        "userName": "4cbd0e2e-aae4-4099-b4ba-94d3a4910587"}, "creationSource": null},
        "dataContainerId": "dcid.b7989f3e-5409-4e57-adc3-34ac2a615527", "targetName":
        null, "runName": null, "experimentName": "web_classification", "runId": "b7989f3e-5409-4e57-adc3-34ac2a615527",
        "parentRunId": null, "rootRunId": "b7989f3e-5409-4e57-adc3-34ac2a615527",
        "runType": "azureml.promptflow.FlowRun", "runTypeV2": {"orchestrator": null,
        "traits": {}, "attribution": "PromptFlow", "computeType": "MIR_v2"}, "scriptName":
        null, "experimentId": "d30efbeb-f81d-4cfa-b5cc-a0570a049009", "runUuid": "2283afa6-deed-415c-aac4-490205cf23dd",
        "parentRunUuid": null, "runNumber": 1701248292, "startTime": "2023-11-29T08:58:25.0794582Z",
        "endTime": "2023-11-29T08:58:33.4409445Z", "computeRequest": null, "compute":
        null, "userProperties": {"azureml.promptflow.runtime_name": "demo-mir", "azureml.promptflow.runtime_version":
        "20231011.v2", "azureml.promptflow.definition_file_name": "flow.dag.yaml",
        "azureml.promptflow.session_id": "4dd8f4d5f44dfeb817d3438cf84bd739215d87afd9458597",
        "azureml.promptflow.flow_lineage_id": "af1a6951de9be2ce13d3b58b23dbd8b6a0cd8fd4918ad9cb22b28fb8395fbcb0",
        "azureml.promptflow.node_variant": "${summarize_text_content.variant_0}",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/7c59ad67129b552538ca09362171cc15/web_classification/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml:webClassification1:1", "azureml.promptflow.inputs_mapping":
        "{\"url\":\"${data.url}\"}", "azureml.promptflow.snapshot_id": "7d0b4037-9946-4054-928b-a2266f333eb5",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.total_tokens":
        "858"}, "actionUris": {}, "duration": "00:00:08.3614863", "durationMilliseconds":
        8361.4863}, "internal": {}, "updateSequence": 5, "type": "runs", "version":
        null, "entityContainerId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5", "entityObjectId":
        "2283afa6-deed-415c-aac4-490205cf23dd", "resourceType": "Workspace", "relationships":
        [{"relationType": "CreatedBy", "targetEntityId": null, "assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_b7989f3e-5409-4e57-adc3-34ac2a615527_output_data_debug_info/versions/1",
        "entityType": "data", "direction": "Output", "entityContainerId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5"},
        {"relationType": "CreatedBy", "targetEntityId": null, "assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_b7989f3e-5409-4e57-adc3-34ac2a615527_output_data_flow_outputs/versions/1",
        "entityType": "data", "direction": "Output", "entityContainerId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5"}]},
        {"relevancyScore": 0.28867513, "entityResourceName": "promptflow-eastus",
        "highlights": {}, "usage": {"totalCount": 0}, "schemaId": "974ab09e-bfc2-56a6-9be4-97bcfe3d33ca",
        "entityId": "azureml://location/eastus/workspaceId/3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/type/runs/objectId/fa3a6d13-5bab-490d-8372-6836b44385bd",
        "kind": "Unversioned", "annotations": {"archived": false, "tags": {}, "displayName":
        "9232169c-e77a-4a7b-8410-00390061c303", "status": "Completed", "primaryMetricName":
        null, "estimatedCost": null, "primaryMetricSummary": null, "metrics": {"__pf__.nodes.fetch_text_content_from_url.completed":
        {"count": 1, "lastValue": 1.0, "minimumValue": 1.0, "maximumValue": 1.0, "metricType":
        "azureml.v1.scalar"}, "__pf__.nodes.prepare_examples.completed": {"count":
        1, "lastValue": 1.0, "minimumValue": 1.0, "maximumValue": 1.0, "metricType":
        "azureml.v1.scalar"}, "__pf__.nodes.summarize_text_content.completed": {"count":
        1, "lastValue": 1.0, "minimumValue": 1.0, "maximumValue": 1.0, "metricType":
        "azureml.v1.scalar"}, "__pf__.nodes.classify_with_llm.completed": {"count":
        1, "lastValue": 1.0, "minimumValue": 1.0, "maximumValue": 1.0, "metricType":
        "azureml.v1.scalar"}, "__pf__.nodes.convert_to_dict.completed": {"count":
        1, "lastValue": 1.0, "minimumValue": 1.0, "maximumValue": 1.0, "metricType":
        "azureml.v1.scalar"}, "__pf__.lines.completed": {"count": 1, "lastValue":
        1.0, "minimumValue": 1.0, "maximumValue": 1.0, "metricType": "azureml.v1.scalar"},
        "__pf__.lines.failed": {"count": 1, "lastValue": 0.0, "minimumValue": 0.0,
        "maximumValue": 0.0, "metricType": "azureml.v1.scalar"}}, "parameters": {},
        "settings": {}, "modifiedTime": "2023-11-29T08:57:38.7208614Z", "retainForLifetimeOfWorkspace":
        false, "error": {"code": null, "errorCodeHierarchy": null, "message": null,
        "time": null, "componentName": null, "severity": null, "detailsUri": null,
        "referenceCode": null}, "resourceMetricSummary": {"gpuUtilizationPercentLastHour":
 [...]
