interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2euap", "tags": {}, "etag": null, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.014'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-09-22T05:26:30.7527337+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-01-10T09:29:14.5412854+00:00", "lastModifiedBy": "Philip Gao", "lastModifiedByType":
        "User"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.632'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.092'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Jan 2024 09:21:58 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - quXiEreYvPinSj0HsaNa/g==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 26 Dec 2023 02:27:07 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 26 Dec 2023 02:27:07 GMT
      x-ms-meta-name:
      - bcc45cd4-c343-4bd0-8bdd-cecfafea742d
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - be87bd84-d39b-442b-af5a-e8c209d6d10c
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Jan 2024 09:22:02 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/env_var_names.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Jan 2024 09:22:15 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/flow_with_requirements_txt/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - FfuwUh4d2qJABbXwj4ACMA==
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 17 Jan 2024 09:05:52 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 17 Jan 2024 09:05:51 GMT
      x-ms-meta-name:
      - a779196b-ec52-42a4-89bb-b76984ceded1
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Jan 2024 09:22:18 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/flow_with_requirements_txt/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/flow_with_requirements_txt/flow.dag.yaml",
      "runId": "name", "runDisplayName": "name", "runExperimentName": "", "batchDataInput":
      {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/env_var_names.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runtimeName":
      "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "sessionSetupMode": "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '7.090'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "print_env", "type": "python", "source":
        {"type": "code", "path": "print_env.py"}, "inputs": {"key": "${inputs.key}"},
        "tool": "print_env.py", "reduce": false}], "tools": [{"name": "Azure OpenAI
        GPT-4 Turbo with Vision", "type": "custom_llm", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "deployment_name": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "frequency_penalty":
        {"type": ["double"], "default": 0, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "max_tokens": {"type": ["int"], "default":
        512, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "presence_penalty": {"type": ["double"], "default": 0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "stop": {"type":
        ["list"], "default": "", "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "temperature": {"type": ["double"], "default": 1,
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "top_p": {"type": ["double"], "default": 1, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Azure OpenAI GPT-4 Turbo
        with Vision to leverage AOAI vision ability.", "module": "promptflow.tools.aoai_gpt4v",
        "class_name": "AzureOpenAI", "function": "chat", "icon": {"dark": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVR4nJXSzW3CQBAF4DUSTjk+Al1AD0ikESslpBIEheRALhEpgAYSWV8OGUublf/yLuP3PPNmdndS+gdwXZrYDmh7fGE/W+wXbaYd8IYm4rxJPnZ0boI3wZcdJxs/n+AwV7DFK7aFyfQdYIMLPvES8YJNf5yp4jMeeEYdWh38gXOR35YGHe5xabvQdsHv6PLi8qV6gycc8YH3iMfQu6Lh4ASr+F5Hh3XwVWnQYzUkVlX1nccplAb1SN6Y/sfgmlK64VS8wimldIv/0yj2QLkHizG0iWP4AVAfQ34DVQONAAAAAElFTkSuQmCC",
        "light": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVR4nJWSwQ2CQBBFX0jAcjgqXUgPJNiIsQQrIVCIFy8GC6ABDcGDX7Mus9n1Xz7zZ+fPsLPwH4bUg0dD2wMPcbR48Uxq4AKU4iSTDwZ1LhWXipN/B3V0J6hjBTvgLHZNonewBXrgDpzEvXSIjN0BE3AACmmF4kl5F6tNzcCoLpW0SvGovFvsb4oZ2AANcAOu4ka6axCcINN3rg654sww+CYsPD0OwjcozFNh/Qcd78tqVbCIW+n+Fky472Bh/Q6SYb1EEy8tDzd+9IsVPAAAAABJRU5ErkJggg=="},
        "is_builtin": true, "package": "promptflow-tools", "package_version": "1.0.3",
        "default_prompt": "# system:\nAs an AI assistant, your task involves interpreting
        images and responding to questions about the image.\nRemember to provide accurate
        answers based on the information present in the image.\n\n# user:\nCan you
        tell me what the image depicts?\n![image]({{image_input}})\n", "enable_kwargs":
        false, "tool_state": "preview"}, {"name": "Content Safety (Text Analyze)",
        "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "promptflow.tools.azure_content_safety", "function":
        "analyze_text", "is_builtin": true, "package": "promptflow-tools", "package_version":
        "1.0.3", "enable_kwargs": false, "deprecated_tools": ["content_safety_text.tools.content_safety_text_tool.analyze_text"],
        "tool_state": "stable"}, {"name": "Embedding", "type": "python", "inputs":
        {"connection": {"type": ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": true, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Open AI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "1.0.3", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Model LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "deployment_name":
        {"type": ["string"], "default": "", "dynamic_list": {"func_path": "promptflow.tools.open_model_llm.list_deployment_names",
        "func_kwargs": [{"name": "endpoint", "optional": true, "reference": "${inputs.endpoint}",
        "type": ["string"]}]}, "allow_manual_entry": true, "is_multi_select": false,
        "input_type": "default"}, "endpoint_name": {"type": ["string"], "dynamic_list":
        {"func_path": "promptflow.tools.open_model_llm.list_endpoint_names"}, "allow_manual_entry":
        true, "is_multi_select": false, "input_type": "default"}, "max_new_tokens":
        {"type": ["int"], "default": 500, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model_kwargs": {"type": ["object"], "default":
        "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true}, "temperature": {"type": ["double"], "default":
        1.0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "top_p": {"type": ["double"], "default": 1.0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true}},
        "description": "Use an open model from the Azure Model catalog, deployed to
        an AzureML Online Endpoint for LLM Chat or Completion API calls.", "module":
        "promptflow.[...]
[...]
- request:
    body: '{"runId": "name", "selectRunMetadata": true, "selectRunDefinition": true,
      "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1705483353, "rootRunId": "name", "createdUtc":
        "2024-01-17T09:22:33.9157794+00:00", "createdBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": null},
        "userId": "00000000-0000-0000-0000-000000000000", "token": null, "tokenExpiryTimeUtc":
        null, "error": null, "warnings": null, "revision": 6, "statusRevision": 3,
        "runUuid": "53019d60-8201-4375-bb93-f8b55c032adf", "parentRunUuid": null,
        "rootRunUuid": "53019d60-8201-4375-bb93-f8b55c032adf", "lastStartTimeUtc":
        null, "currentComputeTime": null, "computeDuration": "00:00:03.5402749", "effectiveStartTimeUtc":
        null, "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "100320005227D154", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Han Wang", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-01-17T09:22:48.2211133+00:00", "duration": "00:00:03.5402749",
        "cancelationReason": null, "currentAttemptId": 1, "runId": "name", "parentRunId":
        null, "experimentId": "b4fb89b3-494b-4bd1-96b3-74c8624217b3", "status": "Completed",
        "startTimeUtc": "2024-01-17T09:22:45.8340803+00:00", "endTimeUtc": "2024-01-17T09:22:49.3743552+00:00",
        "scheduleId": null, "displayName": "name", "name": null, "dataContainerId":
        "dcid.name", "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": null}, "properties": {"azureml.promptflow.runtime_name": "automatic",
        "azureml.promptflow.runtime_version": "20240111.v2", "azureml.promptflow.definition_file_name":
        "flow.dag.yaml", "azureml.promptflow.session_id": "b73aa389eb901648446f8f78c027d8049823b2f47afdc98b",
        "azureml.promptflow.flow_lineage_id": "0dc4f921d423a11eec59c6a5f580361e7f257e56b8f9dc1cc8edb1ad56f6d50d",
        "azureml.promptflow.flow_definition_datastore_name": "workspaceblobstore",
        "azureml.promptflow.flow_definition_blob_path": "LocalUpload/0200d5934081bd47ddf030b9398d0cd0/flow_with_requirements_txt/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/c32a61842e439cecc022ebcff5dc0da4/env_var_names.jsonl",
        "_azureml.evaluation_run": "promptflow.BatchRun", "azureml.promptflow.snapshot_id":
        "d453ac7d-ac6f-4b3c-bd43-bcd071c8a6c1", "azureml.promptflow.total_tokens":
        "0", "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\",
        \"type\": \"table\"}]"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {}, "settings":
        {}, "services": {}, "inputDatasets": [], "outputDatasets": [], "runDefinition":
        null, "jobSpecification": null, "primaryMetricName": null, "createdFrom":
        null, "cancelUri": null, "completeUri": null, "diagnosticsUri": null, "computeRequest":
        null, "compute": null, "retainForLifetimeOfWorkspace": false, "queueingInfo":
        null, "inputs": null, "outputs": {"debug_info": {"assetId": "azureml://locations/eastus2euap/workspaces/00000/data/azureml_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus2euap/workspaces/00000/data/azureml_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": null, "jobSpecification": null, "systemSettings":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.021'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/name/logContent
  response:
    body:
      string: '"2024-01-17 09:22:39 +0000      99 promptflow-runtime INFO     [name]
        Receiving v2 bulk run request 69cdce79-d0ff-4f0b-887d-632473383c8e: {\"flow_id\":
        \"name\", \"flow_run_id\": \"name\", \"flow_source\": {\"flow_source_type\":
        1, \"flow_source_info\": {\"snapshot_id\": \"d453ac7d-ac6f-4b3c-bd43-bcd071c8a6c1\"},
        \"flow_dag_file\": \"flow.dag.yaml\"}, \"log_path\": \"https://promptfloweast8791670106.blob.core.windows.net/azureml/ExperimentRun/dcid.name/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=**data_scrubbed**&skoid=e34a890c-4b63-4790-b61f-717843797664&sktid=00000000-0000-0000-0000-000000000000&skt=2024-01-17T05%3A57%3A42Z&ske=2024-01-18T14%3A07%3A42Z&sks=b&skv=2019-07-07&st=2024-01-17T09%3A12%3A38Z&se=2024-01-17T17%3A22%3A38Z&sp=rcw\",
        \"app_insights_instrumentation_key\": \"InstrumentationKey=**data_scrubbed**;IngestionEndpoint=https://eastus2-0.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/\",
        \"data_inputs\": {\"data\": \"azureml://datastores/workspaceblobstore/paths/LocalUpload/c32a61842e439cecc022ebcff5dc0da4/env_var_names.jsonl\"},
        \"azure_storage_setting\": {\"azure_storage_mode\": 1, \"storage_account_name\":
        \"promptfloweast8791670106\", \"blob_container_name\": \"azureml-blobstore-1120f13e-d319-44f3-9a12-271bf34ad372\",
        \"flow_artifacts_root_path\": \"promptflow/PromptFlowArtifacts/name\", \"blob_container_sas_token\":
        \"?sv=2019-07-07&sr=c&sig=**data_scrubbed**&skoid=e34a890c-4b63-4790-b61f-717843797664&sktid=00000000-0000-0000-0000-000000000000&skt=2024-01-17T09%3A22%3A38Z&ske=2024-01-24T09%3A22%3A38Z&sks=b&skv=2019-07-07&se=2024-01-24T09%3A22%3A38Z&sp=racwl\",
        \"output_datastore_name\": \"workspaceblobstore\"}}\n2024-01-17 09:22:39 +0000      99
        promptflow-runtime INFO     Runtime version: 20240111.v2. PromptFlow version:
        1.4.0rc2\n2024-01-17 09:22:39 +0000      99 promptflow-runtime INFO     Updating
        name to Status.Preparing...\n2024-01-17 09:22:39 +0000      99 promptflow-runtime
        INFO     Downloading snapshot to /mnt/host/service/app/44023/requests/name\n2024-01-17
        09:22:39 +0000      99 promptflow-runtime INFO     Get snapshot sas url[...]
