interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "centraluseuap", "tags": {}, "etag": null, "kind": "Default", "sku": {"name":
        "Basic", "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.016'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "datastoreType": "AzureBlob",
        "accountName": "fake_account_name", "containerName": "fake-container-name",
        "endpoint": "core.windows.net", "protocol": "https", "serviceDataAccessAuthIdentity":
        "WorkspaceSystemAssignedIdentity", "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "resourceGroup": "00000"}, "systemData": {"createdAt": "2023-03-22T03:02:21.4211696+00:00",
        "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application",
        "lastModifiedAt": "2023-03-22T03:02:22.2389663+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.113'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:05:26 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lI/pz9jzTQ7Td3RHPL7y7w==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 22 Aug 2023 03:42:19 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 22 Aug 2023 03:42:19 GMT
      x-ms-meta-name:
      - e4b40cd8-f077-42a1-a346-e1896603c66f
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - b5741ef9-69f9-47e2-8a90-397cd0ebc9a5
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:05:27 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:05:29 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: "Your task is to classify a given url into one of the following types:\r\nMovie,
      App, Academic, Channel, Profile, PDF or None based on the text content information.\r\nThe
      classification will be based on the url, the webpage text content summary, or
      both.\r\n\r\nHere are a few examples:\r\n{% for ex in examples %}\r\nURL: {{ex.url}}\r\nText
      content: {{ex.text_content}}\r\nOUTPUT:\r\n{\"category\": \"{{ex.category}}\",
      \"evidence\": \"{{ex.evidence}}\"}\r\n\r\n{% endfor %}\r\n\r\nFor a given URL
      : {{url}}, and text content: {{text_content}}.\r\nClassify above url to complete
      the category and indicate evidence.\r\nOUTPUT:\r\n"
    headers:
      Content-MD5:
      - lO4oQJbXkB2KYDp3GfsrCg==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 16 Nov 2023 05:05:30 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lO4oQJbXkB2KYDp3GfsrCg==
      last-modified:
      - Thu, 16 Nov 2023 05:05:30 GMT
      x-ms-content-crc64:
      - g2hSRmsWhpY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: "Please summarize some keywords of this paragraph and have some details
      of each keywords.\r\nDo not add any information that is not in the text.\r\n\r\nText:
      {{text}}\r\nSummary:\r\n"
    headers:
      Content-MD5:
      - WTZEcUQHBK6mWWbrPj2o/w==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 16 Nov 2023 05:05:30 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/summarize_text_content__variant_1.jinja2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WTZEcUQHBK6mWWbrPj2o/w==
      last-modified:
      - Thu, 16 Nov 2023 05:05:30 GMT
      x-ms-content-crc64:
      - YaM33CXcl0s=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: "url,answer,evidence\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Channel,Url\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Channel,Url\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Channel,Url\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Channel,Url\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Profile,Url\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Profile,Url\r\nhttps://www.youtube.com/watch?v=o5ZQyXaAv1g,Academic,Text
      content\r\nhttps://www.youtube.com/wa[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:05:33 GMT
      x-ms-meta-name:
      - e7416dca-967a-46e7-a4e1-09fbda287b6f
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/web_classification/classify_with_llm.jinja2?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 16 Nov 2023 05:05:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/web_classification/flow.dag.yaml",
      "runId": "batch_run_name", "runDisplayName": "web_classification", "runExperimentName":
      "web_classification", "nodeVariant": "${summarize_text_content.variant_0}",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"url": "${data.url}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "int-image-validation", "sessionId": "0faebac219ac3e1315001b8237aa8f9a36e027d415adace8",
      "flowLineageId": "5743a4e13073efb15fa579cd8c5fc9b7572b8cf39c12ce19631c26d3290ccca5",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://int.api.azureml-test.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"batch_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '31.955'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:06:55 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/classification_accuracy_evaluation/aggregation_assert.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"accuracy": 0.67}'
    headers:
      Content-MD5:
      - Lf/CV2nHRTLOpfzS80xN6Q==
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 16 Nov 2023 05:06:56 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/classification_accuracy_evaluation/expected_metrics.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Lf/CV2nHRTLOpfzS80xN6Q==
      last-modified:
      - Thu, 16 Nov 2023 05:06:59 GMT
      x-ms-content-crc64:
      - Uj6jF+jTt6Q=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:06:59 GMT
      x-ms-meta-name:
      - b7d5eb39-b073-4e56-9020-516c7b897a30
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/classification_accuracy_evaluation/aggregation_assert.py?comp=metadata
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Thu, 16 Nov 2023 05:06:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/classification_accuracy_evaluation/flow.dag.yaml",
      "runId": "eval_run_name", "runDisplayName": "classification_accuracy_evaluation",
      "runExperimentName": "classification_accuracy_evaluation", "variantRunId": "batch_run_name",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"groundtruth": "${data.answer}", "prediction": "${run.outputs.category}"},
      "connections": {}, "environmentVariables": {}, "runtimeName": "int-image-validation",
      "sessionId": "ccbefd72d7d6d35d60ab21fc69099a3ae1da8708abbc1e4e", "flowLineageId":
      "a390805d6770539e1c086c09225e431dc077d346beacf3edb18e22e5bf6fd57f", "runDisplayNameGenerationType":
      "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://int.api.azureml-test.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"eval_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '18.319'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Nov 2023 05:08:06 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/classification_accuracy_evaluation/aggregation_assert.py
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: '{"runId": "batch_run_name", "selectRunMetadata": true, "selectRunDefinition":
      true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://int.api.azureml-test.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"runMetadata": {"runNumber": 1700111160, "rootRunId": "batch_run_name",
        "createdUtc": "2023-11-16T05:06:00.9545646+00:00", "createdBy": {"userObjectId":
        "9446699e-7239-4f4b-bd21-b8c32df1aa87", "userPuId": "10032001E5A3D4F5", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Peiwen
        Gao", "upn": null}, "userId": "9446699e-7239-4f4b-bd21-b8c32df1aa87", "token":
        null, "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision":
        5, "statusRevision": 3, "runUuid": "5a45bd4e-64a9-40c5-8d6b-dc342a1396bc",
        "parentRunUuid": null, "rootRunUuid": "5a45bd4e-64a9-40c5-8d6b-dc342a1396bc",
        "lastStartTimeUtc": null, "currentComputeTime": null, "computeDuration": "00:00:16.9998719",
        "effectiveStartTimeUtc": null, "lastModifiedBy": {"userObjectId": "fd4dabf5-c8e4-4010-9161-5a72c6871a85",
        "userPuId": null, "userIdp": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "05715d4e-fade-433c-8aaa-62be0625e06a",
        "upn": null}, "lastModifiedUtc": "2023-11-16T05:06:38.2234099+00:00", "duration":
        "00:00:16.9998719", "cancelationReason": null, "currentAttemptId": 1, "runId":
        "batch_run_name", "parentRunId": null, "experimentId": "850dcd8a-d053-4ce3-8fb0-88ab10ced6ff",
        "status": "Completed", "startTimeUtc": "2023-11-16T05:06:23.7438954+00:00",
        "endTimeUtc": "2023-11-16T05:06:40.7437673+00:00", "scheduleId": null, "displayName":
        "web_classification", "name": null, "dataContainerId": "dcid.batch_run_name",
        "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
        "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
        "computeType": "MIR_v2"}, "properties": {"azureml.promptflow.runtime_name":
        "int-image-validation", "azureml.promptflow.runtime_version": "20231114.v2",
        "azureml.promptflow.definition_file_name": "flow.dag.yaml", "azureml.promptflow.session_id":
        "0faebac219ac3e1315001b8237aa8f9a36e027d415adace8", "azureml.promptflow.flow_lineage_id":
        "5743a4e13073efb15fa579cd8c5fc9b7572b8cf39c12ce19631c26d3290ccca5", "azureml.promptflow.node_variant":
        "${summarize_text_content.variant_0}", "azureml.promptflow.flow_definition_datastore_name":
        "workspaceblobstore", "azureml.promptflow.flow_definition_blob_path": "LocalUpload/217dbb3d5adb00d936791ee0eb78382e/web_classification/flow.dag.yaml",
        "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/74c11bba717480b2d6b04b8e746d09d7/webClassification3.jsonl",
        "azureml.promptflow.inputs_mapping": "{\"url\":\"${data.url}\"}", "azureml.promptflow.snapshot_id":
        "5afdb6e1-1103-4d35-93bd-03f040fc009f", "_azureml.evaluation_run": "promptflow.BatchRun",
        "azureml.promptflow.total_tokens": "2466", "_azureml.evaluate_artifacts":
        "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]"}, "parameters":
        {}, "actionUris": {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets":
        [], "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
        [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": {}, "outputs": {"default": {"assetId":
        "azureml://locations/centraluseuap/workspaces/00000/data/azureml_batch_run_name_output_data_default/versions/1",
        "type": "UriFolder"}, "debug_info": {"assetId": "azureml://locations/centraluseuap/workspaces/00000/data/azureml_batch_run_name_output_data_debug_info/versions/1",
        "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/centraluseuap/workspaces/00000/data/azureml_batch_run_name_output_data_flow_outputs/versions/1",
        "type": "UriFolder"}}}, "runDefinition": {"Nodes": [{"Name": "fetch_text_content_from_url",
        "Type": "python", "Source": {"Type": "code", "Tool": null, "Path": "fetch_text_content_from_url.py"},
        "Inputs": {"fetch_url": "${inputs.url}"}, "Tool": "fetch_text_content_from_url.py",
        "Reduce": false, "Comment": null, "Activate": null, "Api": null, "Provider":
        null, "Connection": null, "Module": null}, {"Name": "prepare_examples", "Type":
        "python", "Source": {"Type": "code", "Tool": null, "Path": "prepare_examples.py"},
        "Inputs": {}, "Tool": "prepare_examples.py", "Reduce": false, "Comment": null,
        "Activate": null, "Api": null, "Provider": null, "Connection": null, "Module":
        null}, {"Name": "classify_with_llm", "Type": "llm", "Source": {"Type": "code",
        "Tool": null, "Path": "classify_with_llm.jinja2"}, "Inputs": {"deployment_name":
        "text-davinci-003", "suffix": "", "max_tokens": "128", "temperature": "0.1",
        "top_p": "1.0", "logprobs": "", "echo": "False", "stop": "", "presence_penalty":
        "0", "frequency_penalty": "0", "best_of": "1", "logit_bias": "", "url": "${inputs.url}",
        "examples": "${prepare_examples.output}", "text_content": "${summarize_text_content.output}"},
        "Tool": "classify_with_llm.jinja2", "Reduce": false, "Comment": null, "Activate":
        null, "Api": "completion", "Provider": "AzureOpenAI", "Connection": "azure_open_ai_connection",
        "Module": "promptflow.tools.aoai"}, {"Name": "convert_to_dict", "Type": "python",
        "Source": {"Type": "code", "Tool": null, "Path": "convert_to_dict.py"}, "Inputs":
        {"input_str": "${classify_with_llm.output}"}, "Tool": "convert_to_dict.py",
        "Reduce": false, "Comment": null, "Activate": null, "Api": null, "Provider":
        null, "Connection": null, "Module": null}, {"Name": "summarize_text_content",
        "Type": "llm", "Source": {"Type": "code", "Tool": null, "Path": "summarize_text_content.jinja2"},
        "Inputs": {"deployment_name": "text-davinci-003", "suffix": "", "max_tokens":
        "128", "temperature": "0.2", "top_p": "1.0", "logprobs": "", "echo": "False",
        "stop": "", "presence_penalty": "0", "frequency_penalty": "0", "best_of":
        "1", "logit_bias": "", "text": "${fetch_text_content_from_url.output}"}, "Tool":
        "summarize_text_content.jinja2", "Reduce": false, "Comment": null, "Activate":
        null, "Api": "completion", "Provider": "AzureOpenAI", "Connection": "azure_open_ai_connection",
        "Module": "promptflow.tools.aoai"}], "Tools": [{"Name": "Content Safety (Text
        Analyze)", "Type": "python", "Inputs": {"connection": {"Name": null, "Type":
        ["AzureContentSafetyConnection"], "Default": null, "Description": null, "Enum":
        null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null,
        "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "hate_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "self_harm_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "sexual_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "text": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "violence_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
        "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": "Use Azure Content Safety to detect harmful
        content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
        "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
        "analyze_text", "action_type": null, "provider_config": null, "function_config":
        null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
        "promptflow-contentsafety", "package_version": "0.0.9", "default_prompt":
        null, "enable_kwargs": false}, {"Name": "Embedding", "Type": "python", "Inputs":
        {"connection": {"Name": null, "Type": ["AzureOpenAIConnection", "OpenAIConnection"],
        "Default": null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "deployment_name": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "enabled_by_value": null, "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001",
        "text-search-ada-query-001"], "Capabilities": {"completion": false, "chat_completion":
        false, "embeddings": true}, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "input": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "model": {"Name": null, "Type": ["string"], "Default": null, "Description":
        null, "Enum": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "enabled_by": "connection", "enabled_by_type": ["OpenAIConnection"], "enabled_by_value":
        null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
        false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
        "Outputs": null, "Description": "Use Open AI''s embedding model to create
        an embedding vector representing the input text.", "connection_type": null,
        "Module": "promptflow.tools.embedding", "class_name": null, "Source": null,
        "LkgCode": null, "Code": null, "Function": "embedding", "action_type": null,
        "provider_config": null, "function_config": null, "Icon": null, "Category":
        null, "Tags": null, "is_builtin": true, "package": "promptflow-tools", "package_version":
        "0.1.0b10", "default_prompt": null, "enable_kwargs": false}, {"Name": "Open
        Source LLM", "Type": "custom_llm", "Inputs": {"api": {"Name": null, "Type":
        ["string"], "Default": null, "Description": null, "Enum": ["chat", "completion"],
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "connection": {"Name": null, "Type": ["CustomConnection"], "Default": null,
        "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
        null, "enabled_by_value": null, "model_list": null, "Capabilities": null,
        "dynamic_list": null, "allow_manual_entry": false, "is_multi_select": false,
        "generated_by": null, "input_type": "default"}, "deployment_name": {"Name":
        null, "Type": ["string"], "Default": null, "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
        "is_multi_select": false, "generated_by": null, "input_type": "default"},
        "endpoint_name": {"Name": null, "Type": ["string"], "Default": "-- please
        enter an endpoint name --", "Description": null, "Enum": null, "enabled_by":
        null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
        "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
        false, "generated_by": null, "input_type": "default"}, "max_new_tokens": {"Name":
        null, "Type": ["int"], "Default": "500", "Description": null, "Enum": null,
        "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
        null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
[...]
