interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.032'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.092'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/c619f648-c809-4545-9f94-f67b0a680706/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.c619f648-c809-4545-9f94-f67b0a680706",
        "name": "__pf__.nodes.hello_world.completed", "columns": {"__pf__.nodes.hello_world.completed":
        "Double"}, "properties": {"uxMetricType": "azureml.v1.scalar", "dataLocation":
        null}, "namespace": null, "standardSchemaId": null, "value": [{"metricId":
        "f1ab789b-b2e2-4d56-b4ec-1dabefd950d9", "createdUtc": "2023-11-29T07:22:29.14+00:00",
        "step": 0, "data": {"__pf__.nodes.hello_world.completed": 1.0}}]}, {"dataContainerId":
        "dcid.c619f648-c809-4545-9f94-f67b0a680706", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "80e3f5ef-8f81-44d1-8b9e-b2b1d2914b10", "createdUtc":
        "2023-11-29T07:22:29.493+00:00", "step": 0, "data": {"__pf__.lines.completed":
        1.0}}]}, {"dataContainerId": "dcid.c619f648-c809-4545-9f94-f67b0a680706",
        "name": "__pf__.lines.failed", "columns": {"__pf__.lines.failed": "Double"},
        "properties": {"uxMetricType": "azureml.v1.scalar", "dataLocation": null},
        "namespace": null, "standardSchemaId": null, "value": [{"metricId": "7f0e240f-d8bf-41be-b639-d0fbe6614c65",
        "createdUtc": "2023-11-29T07:22:29.897+00:00", "step": 0, "data": {"__pf__.lines.failed":
        0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.161'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_c619f648-c809-4545-9f94-f67b0a680706_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_c619f648-c809-4545-9f94-f67b0a680706_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_c619f648-c809-4545-9f94-f67b0a680706_output_data_debug_info",
      "dataType": "UriFolder", "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_c619f648-c809-4545-9f94-f67b0a680706_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "c619f648-c809-4545-9f94-f67b0a680706", "originAssetId":
      null}, "entityMetadata": {"etag": "\"f3045371-0000-0100-0000-6566e6b70000\"",
      "createdTime": "2023-11-29T07:22:31.1174366+00:00", "modifiedTime": "2023-11-29T07:22:31.1296734+00:00",
      "createdBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "userPuId":
      "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Honglin
      Du", "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId":
      "ed7d5559-5358-416e-8f72-ef25db266f00", "isV2": true, "legacyDatasetType": null,
      "legacyDataflowType": null, "legacyDataflow": null, "legacySavedDatasetId":
      null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.065'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "194d5c58-3176-4311-88f0-e01a31a5f706"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {"__pycache__": {"name": "__pycache__", "hash": null, "type": "Directory", "timestamp":
      "0001-01-01T00:00:00+00:00", "sasUrl": null, "absoluteUrl": null, "sizeBytes":
      0, "sizeSet": false, "children": {"hello_world.cpython-39.pyc": {"name": "hello_world.cpython-39.pyc",
      "hash": null, "type": "File", "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl":
      "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/c619f648-c809-4545-9f94-f67b0a680706/__pycache__/hello_world.cpython-39.pyc?sv=2019-07-07&sr=b&sig=UJIZ3XIGhmt8gay9%2BxUup%2BY9upNDqD5fsebKNnnpZl8%3D&st=2023-12-12T13%3A40%3A56Z&se=2023-12-12T21%3A50%3A56Z&sp=r&rscd=filename%3Dhello_world.cpython-39.pyc",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/c619f648-c809-4545-9f94-f67b0a680706/__pycache__/hello_world.cpython-39.pyc",
      "sizeBytes": 368, "sizeSet": true, "children": {}}}}, "flow.dag.yaml": {"name":
      "flow.dag.yaml", "hash": "62F0A1A8051F7271F319C0D12B016592", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/c619f648-c809-4545-9f94-f67b0a680706/flow.dag.yaml?sv=2019-07-07&sr=b&sig=1nUJlo8RuMz8uOzAqkMZUyaT4kL%2FoEP2q0%2BZB7XjBhA%3D&st=2023-12-12T13%3A40%3A56Z&se=2023-12-12T21%3A50%3A56Z&sp=r&rscd=filename%3Dflow.dag.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/c619f648-c809-4545-9f94-f67b0a680706/flow.dag.yaml",
      "sizeBytes": 349, "sizeSet": true, "children": {}}, "hello_world.py": {"name":
      "hello_world.py", "hash": null, "type": "File", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/c619f648-c809-4545-9f94-f67b0a680706/hello_world.py?sv=2019-07-07&sr=b&sig=OfW%2BjJuBUoTLP4y%2F5cDJ5ojv3yMwtXsSu4%2FOSzX%2BKWQ%3D&st=2023-12-12T13%3A40%3A56Z&se=2023-12-12T21%3A50%3A56Z&sp=r&rscd=filename%3Dhello_world.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/c619f648-c809-4545-9f94-f67b0a680706/hello_world.py",
      "sizeBytes": 105, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.163'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:54 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fc619f648-c809-4545-9f94-f67b0a680706%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Wed,
        29 Nov 2023 07:22:27 GMT</Creation-Time><Last-Modified>Wed, 29 Nov 2023 07:22:28
        GMT</Last-Modified><Etag>0x8DBF0ABF138A80A</Etag><Content-Length>1127</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Wed,
        29 Nov 2023 07:22:31 GMT</Creation-Time><Last-Modified>Wed, 29 Nov 2023 07:22:31
        GMT</Last-Modified><Etag>0x8DBF0ABF31F1AAF</Etag><Content-Length>56</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>0rf09gNjcm6+yck9hUgVPg==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/instance_results.jsonl</Name><Properties><Creation-Time>Wed,
        29 Nov 2023 07:22:28 GMT</Creation-Time><Last-Modified>Wed, 29 Nov 2023 07:22:28
        GMT</Last-Modified><Etag>0x8DBF0ABF13D36BF</Etag><Content-Length>133</Content-Length><C[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:57 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: '{"line_number": 0, "run_info": {"run_id": "c619f648-c809-4545-9f94-f67b0a680706_0",
        "status": "Completed", "error": null, "inputs": {"name": "promptflow", "line_number":
        0}, "output": {"result": "Hello World promptflow!"}, "metrics": null, "request":
        null, "parent_run_id": "c619f648-c809-4545-9f94-f67b0a680706", "root_run_id":
        "c619f648-c809-4545-9f94-f67b0a680706", "source_run_id": null, "flow_id":
        "default_flow_id", "start_time": "2023-11-29T07:22:27.890866Z", "end_time":
        "2023-11-29T07:22:27.899681Z", "index": 0, "api_calls": [{"name": "hello_world",
        "type": "Tool", "inputs": {"name": "promptflow"}, "output": "Hello World promptflow!",
        "start_time": 1701242547.895456, "end_time": 1701242547.897216, "error": null,
        "children": null, "node_name": "hello_world"}], "variant_id": "", "name":
        "", "description": "", "tags": null, "system_metrics": {"duration": 0.008815,
        "total_tokens": 0}, "result": {"result": "Hello World promptflow!"}, "upload_metrics":
        false}, "start_time": "2023-11-29T07:22:27.890866", "end_time": "2023-11-29T07:22:27.899681",
        "name": "", "description": "", "status": "Completed", "tags": null}

        '
    headers:
      content-range:
      - bytes 0-1126/1127
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:28 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:27 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:56 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/c619f648-c809-4545-9f94-f67b0a680706/hello_world.py
  response:
    body:
      string: "from promptflow import tool\n\n\n@tool\ndef hello_world(name: str)
        -> str:\n    return f\"Hello World {name}!\"\n"
    headers:
      content-range:
      - bytes 0-104/105
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:09 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Wed, 29 Nov 2023 07:22:09 GMT
      x-ms-copy-id:
      - 1cfbfeb7-1100-494a-af62-ec2781d4114a
      x-ms-copy-progress:
      - 105/105
      x-ms-copy-source:
      - https://promptfloweast4063704120.file.core.windows.net/code-391ff5ac-6576-460f-ba4d-7e03433c68b6/Users/hod/promptflow/Simple%20Hello%20World/hello_world.py?sv=2019-07-07&sr=f&se=2023-12-06T07%3A22%3A08Z&sp=r&api-version=2019-07-07
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:09 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:56 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/c619f648-c809-4545-9f94-f67b0a680706/flow.dag.yaml
  response:
    body:
      string: "inputs:\n  name:\n    type: string\n    default: hod\n    is_chat_input:
        false\noutputs:\n  result:\n    type: string\n    reference: ${hello_world.output}\n
        \   evaluation_only: false\n    is_chat_output: false\nnodes:\n- name: hello_world\n
        \ type: python\n  source:\n    type: code\n    path: hello_world.py\n  inputs:\n
        \   name: ${inputs.name}\n  aggregation: false\n"
    headers:
      content-range:
      - bytes 0-348/349
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:09 GMT
      x-ms-blob-content-md5:
      - YvChqAUfcnHzGcDRKwFlkg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:09 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:57 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/node_artifacts/hello_world/000000000.jsonl
  response:
    body:
      string: '{"node_name": "hello_world", "line_number": 0, "run_info": {"node":
        "hello_world", "flow_run_id": "c619f648-c809-4545-9f94-f67b0a680706", "run_id":
        "c619f648-c809-4545-9f94-f67b0a680706_hello_world_0", "status": "Completed",
        "inputs": {"name": "promptflow"}, "output": "Hello World promptflow!", "metrics":
        null, "error": null, "parent_run_id": "c619f648-c809-4545-9f94-f67b0a680706_0",
        "start_time": "2023-11-29T07:22:27.894984Z", "end_time": "2023-11-29T07:22:27.897997Z",
        "index": 0, "api_calls": [{"name": "hello_world", "type": "Tool", "inputs":
        {"name": "promptflow"}, "output": "Hello World promptflow!", "start_time":
        1701242547.895456, "end_time": 1701242547.897216, "error": null, "children":
        null, "node_name": "hello_world"}], "variant_id": "", "cached_run_id": null,
        "cached_flow_run_id": null, "logs": {"stdout": "", "stderr": ""}, "system_metrics":
        {"duration": 0.003013}, "result": "Hello World promptflow!"}, "start_time":
        "2023-11-29T07:22:27.894984", "end_time": "2023-11-29T07:22:27.897997", "status":
        "Completed"}'
    headers:
      content-range:
      - bytes 0-1033/1034
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:27 GMT
      x-ms-blob-content-md5:
      - KVJ58SGUPDrmtrzA0W2q+Q==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:27 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:57 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/meta.json
  response:
    body:
      string: '{"batch_size": 25}'
    headers:
      content-range:
      - bytes 0-17/18
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:19 GMT
      x-ms-blob-content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:19 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:57 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.name": "promptflow",
        "inputs.line_number": 0, "result": "Hello World promptflow!"}

        '
    headers:
      content-range:
      - bytes 0-132/133
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:28 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:28 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Dec 2023 13:50:57 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/c619f648-c809-4545-9f94-f67b0a680706/flow_outputs/output.jsonl
  response:
    body:
      string: '{"line_number": 0, "result": "Hello World promptflow!"}

        '
    headers:
      content-range:
      - bytes 0-55/56
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 29 Nov 2023 07:22:31 GMT
      x-ms-blob-content-md5:
      - 0rf09gNjcm6+yck9hUgVPg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 29 Nov 2023 07:22:31 GMT
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
- request:
    body: '{"runId": "c619f648-c809-4545-9f94-f67b0a680706", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    content: '{"runMetadata": {"runNumber": 1701242530, "rootRunId": "c619f648-c809-4545-9f94-f67b0a680706",
      "createdUtc": "2023-11-29T07:22:10.3435643+00:00", "createdBy": {"userObjectId":
      "c05e0746-e125-4cb3-9213-a8b535eacd79", "userPuId": "10032000324F7449", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Honglin
      Du", "upn": null}, "userId": "c05e0746-e125-4cb3-9213-a8b535eacd79", "token":
      null, "tokenExpiryTimeUtc": null, "error": null, "warnings": null, "revision":
      5, "statusRevision": 3, "runUuid": "ecfa0b5b-3d15-48f6-8587-53462ad34a09", "parentRunUuid":
      null, "rootRunUuid": "ecfa0b5b-3d15-48f6-8587-53462ad34a09", "lastStartTimeUtc":
      null, "currentComputeTime": null, "computeDuration": "00:00:04.5801086", "effectiveStartTimeUtc":
      null, "lastModifiedBy": {"userObjectId": "c05e0746-e125-4cb3-9213-a8b535eacd79",
      "userPuId": "10032000324F7449", "userIdp": null, "userAltSecId": null, "userIss":
      "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
      "00000000-0000-0000-0000-000000000000", "userName": "Honglin Du", "upn": "username@microsoft.com"},
      "lastModifiedUtc": "2023-11-29T07:22:30.3099053+00:00", "duration": "00:00:04.5801086",
      "cancelationReason": null, "currentAttemptId": 1, "runId": "c619f648-c809-4545-9f94-f67b0a680706",
      "parentRunId": null, "experimentId": "16faeb76-011e-42a7-a0b0-4e792e15cbcb",
      "status": "Completed", "startTimeUtc": "2023-11-29T07:22:27.4869297+00:00",
      "endTimeUtc": "2023-11-29T07:22:32.0670383+00:00", "scheduleId": null, "displayName":
      "c619f648-c809-4545-9f94-f67b0a680706", "name": null, "dataContainerId": "dcid.c619f648-c809-4545-9f94-f67b0a680706",
      "description": null, "hidden": false, "runType": "azureml.promptflow.FlowRun",
      "runTypeV2": {"orchestrator": null, "traits": [], "attribution": "PromptFlow",
      "computeType": "AmlcDsi"}, "properties": {"azureml.promptflow.runtime_name":
      "hod-ci", "azureml.promptflow.runtime_version": "20231114.v2", "azureml.promptflow.definition_file_name":
      "flow.dag.yaml", "azureml.promptflow.session_id": "07e55474-fb84-4247-b3c3-d7e4aa255445",
      "azureml.promptflow.flow_lineage_id": "07e55474-fb84-4247-b3c3-d7e4aa255445",
      "azureml.promptflow.flow_definition_resource_id": "azureml://locations/eastus/workspaces/00000/flows/07e55474-fb84-4247-b3c3-d7e4aa255445",
      "azureml.promptflow.input_data": "azureml://datastores/workspaceblobstore/paths/LocalUpload/79f088fae0e502653c43146c9682f425/simple_hello_world.jsonl",
      "azureml.promptflow.inputs_mapping": "{\"name\":\"${data.name}\"}", "azureml.promptflow.snapshot_id":
      "194d5c58-3176-4311-88f0-e01a31a5f706", "_azureml.evaluation_run": "promptflow.BatchRun",
      "azureml.promptflow.total_tokens": "0", "_azureml.evaluate_artifacts": "[{\"path\":
      \"instance_results.jsonl\", \"type\": \"table\"}]"}, "parameters": {}, "actionUris":
      {}, "scriptName": null, "target": null, "uniqueChildRunComputeTargets": [],
      "tags": {}, "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets":
      [], "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
      "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
      null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
      false, "queueingInfo": null, "inputs": null, "outputs": {"debug_info": {"assetId":
      "azureml://locations/eastus/workspaces/00000/data/azureml_c619f648-c809-4545-9f94-f67b0a680706_output_data_debug_info/versions/1",
      "type": "UriFolder"}, "flow_outputs": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_c619f648-c809-4545-9f94-f67b0a680706_output_data_flow_outputs/versions/1",
      "type": "UriFolder"}}}, "runDefinition": {"Nodes": [{"Name": "hello_world",
      "Type": "python", "Source": {"Type": "code", "Tool": null, "Path": "hello_world.py"},
      "Inputs": {"name": "${inputs.name}"}, "Tool": "hello_world.py", "Reduce": false,
      "Comment": null, "Activate": null, "Api": null, "Provider": null, "Connection":
      null, "Module": null}], "Tools": [{"Name": "Content Safety (Text Analyze)",
      "Type": "python", "Inputs": {"connection": {"Name": null, "Type": ["AzureContentSafetyConnection"],
      "Default": null, "Description": null, "Enum": null, "enabled_by": null, "enabled_by_type":
      null, "enabled_by_value": null, "model_list": null, "Capabilities": null, "dynamic_list":
      null, "allow_manual_entry": false, "is_multi_select": false, "generated_by":
      null, "input_type": "default"}, "hate_category": {"Name": null, "Type": ["string"],
      "Default": "medium_sensitivity", "Description": null, "Enum": ["disable", "low_sensitivity",
      "medium_sensitivity", "high_sensitivity"], "enabled_by": null, "enabled_by_type":
      null, "enabled_by_value": null, "model_list": null, "Capabilities": null, "dynamic_list":
      null, "allow_manual_entry": false, "is_multi_select": false, "generated_by":
      null, "input_type": "default"}, "self_harm_category": {"Name": null, "Type":
      ["string"], "Default": "medium_sensitivity", "Description": null, "Enum": ["disable",
      "low_sensitivity", "medium_sensitivity", "high_sensitivity"], "enabled_by":
      null, "enabled_by_type": null, "enabled_by_value": null, "model_list": null,
      "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false, "is_multi_select":
      false, "generated_by": null, "input_type": "default"}, "sexual_category": {"Name":
      null, "Type": ["string"], "Default": "medium_sensitivity", "Description": null,
      "Enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
      "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null, "model_list":
      null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry": false,
      "is_multi_select": false, "generated_by": null, "input_type": "default"}, "text":
      {"Name": null, "Type": ["string"], "Default": null, "Description": null, "Enum":
      null, "enabled_by": null, "enabled_by_type": null, "enabled_by_value": null,
      "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
      false, "is_multi_select": false, "generated_by": null, "input_type": "default"},
      "violence_category": {"Name": null, "Type": ["string"], "Default": "medium_sensitivity",
      "Description": null, "Enum": ["disable", "low_sensitivity", "medium_sensitivity",
      "high_sensitivity"], "enabled_by": null, "enabled_by_type": null, "enabled_by_value":
      null, "model_list": null, "Capabilities": null, "dynamic_list": null, "allow_manual_entry":
      false, "is_multi_select": false, "generated_by": null, "input_type": "default"}},
      "Outputs": null, "Description": "Use Azure Content Safety to detect harmful
      content.", "connection_type": null, "Module": "content_safety_text.tools.content_safety_text_tool",
      "class_name": null, "Source": null, "LkgCode": null, "Code": null, "Function":
      "analyze_text", "action_type": null, "provider_config": null, "function_config":
      null, "Icon": null, "Category": null, "Tags": null, "is_builtin": true, "package":
      "promptflow-contentsafety", "package_version": "0.0.9", "default_prompt": null,
[...]
