interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-09-22T05:26:30.7527337+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-01-10T09:29:14.5412854+00:00", "lastModifiedBy": "Philip Gao", "lastModifiedByType":
        "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.130'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.247'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 03:59:49 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_input_flow.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - I/k2vLbQ+WkABQncQUd5Rg==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 26 Dec 2023 03:34:26 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 26 Dec 2023 03:34:26 GMT
      x-ms-meta-name:
      - 489008dc-84bd-4bee-82db-0bb80f7ad272
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - b7185e71-1e33-43b7-b8be-43bdd40e6731
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 03:59:50 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_input_flow.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 03:59:51 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/print_input_flow/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - g6eojZlNZcUGTvvyK1WJEg==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 26 Dec 2023 03:34:26 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 26 Dec 2023 03:34:25 GMT
      x-ms-meta-name:
      - ab2797da-2f87-47a2-9c7a-1cdd447fa102
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jan 2024 03:59:53 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/print_input_flow/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/print_input_flow/flow.dag.yaml",
      "runId": "test_run", "runDisplayName": "test_run", "runExperimentName": "",
      "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/print_input_flow.jsonl"},
      "inputsMapping": {}, "connections": {}, "environmentVariables": {}, "runtimeName":
      "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "sessionSetupMode": "SystemWait", "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Flow
        run test_run with id test_run already exists, please select another flow run
        id.", "messageFormat": "Flow run {flowRunName} with id {flowRunId} already
        exists, please select another flow run id.", "messageParameters": {"flowRunName":
        "test_run", "flowRunId": "test_run"}, "referenceCode": null, "detailsUri":
        null, "target": null, "details": [], "innerError": {"code": "BadArgument",
        "innerError": {"code": "ArgumentInvalid", "innerError": {"code": "FlowRunAlreadyExist",
        "innerError": null}}}, "debugInfo": {"type": "Microsoft.MachineLearning.Common.Core.Exceptions.BaseException",
        "message": "Flow run test_run with id test_run already exists, please select
        another flow run id.", "stackTrace": "   at Microsoft.MachineLearning.Studio.MiddleTier.Services.PromptFlow.FlowsManagement.CreateFlowRunResult(FlowRunRecordsEntity
        flowRunRecordsEntity, String experimentName, FlowTableEntity flowEntity, SubmitFlowRequest
        submitFlowRequest, RuntimeType runtimeType, FlowRuntimeVersion runtimeVersion,
        Dictionary`2 sysRunProperties, ConcurrentDictionary`2 flowRunLogsSasUriDict,
        Boolean createSnapshotForBulkOrEvalRun) in /mnt/vss/_work/1/s/src/azureml-api/src/Designer/s[...]
