interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.026'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.771'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobsto[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.072'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:03:41 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - lI/pz9jzTQ7Td3RHPL7y7w==
      content-type:
      - application/octet-stream
      last-modified:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 06 Nov 2023 08:30:18 GMT
      x-ms-meta-name:
      - 94331215-cf7f-452a-9f1a-1d276bc9b0e4
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - 3f163752-edb0-4afc-a6f5-b0a670bd7c24
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:03:42 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/webClassification3.jsonl
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:03:43 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/LocalUpload/000000000000000000000000000000000000/hello-world/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - UZm3TyOoKWjSR23+Up6qUA==
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 19 Dec 2023 06:05:25 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 19 Dec 2023 06:05:25 GMT
      x-ms-meta-name:
      - 7b68bf5e-6ef4-4eb3-9f49-28f9a5baad87
      x-ms-meta-upload_status:
      - completed
      x-ms-meta-version:
      - '1'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:03:44 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/az-ml-artifacts/000000000000000000000000000000000000/hello-world/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '{"flowDefinitionDataStoreName": "workspaceblobstore", "flowDefinitionBlobPath":
      "LocalUpload/000000000000000000000000000000000000/hello-world/flow.dag.yaml",
      "runId": "batch_run_name", "runDisplayName": "sdk-cli-test-fixture-batch-run-without-llm",
      "runExperimentName": "", "batchDataInput": {"dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000/webClassification3.jsonl"},
      "inputsMapping": {"name": "${data.url}"}, "connections": {}, "environmentVariables":
      {}, "runtimeName": "fake-runtime-name", "sessionId": "000000000000000000000000000000000000000000000000",
      "flowLineageId": "0000000000000000000000000000000000000000000000000000000000000000",
      "runDisplayNameGenerationType": "UserProvidedMacro"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/submit
  response:
    body:
      string: '"batch_run_name"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '7.432'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/BulkRuns/batch_run_name
  response:
    body:
      string: '{"flowGraph": {"nodes": [{"name": "hello_world", "type": "python",
        "source": {"type": "code", "path": "hello_world.py"}, "inputs": {"name": "${inputs.name}"},
        "tool": "hello_world.py", "reduce": false}], "tools": [{"name": "Content Safety
        (Text Analyze)", "type": "python", "inputs": {"connection": {"type": ["AzureContentSafetyConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "hate_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "self_harm_category": {"type": ["string"], "default": "medium_sensitivity",
        "enum": ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "sexual_category": {"type": ["string"], "default": "medium_sensitivity", "enum":
        ["disable", "low_sensitivity", "medium_sensitivity", "high_sensitivity"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "text": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "violence_category": {"type": ["string"],
        "default": "medium_sensitivity", "enum": ["disable", "low_sensitivity", "medium_sensitivity",
        "high_sensitivity"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}}, "description": "Use Azure Content Safety to detect
        harmful content.", "module": "content_safety_text.tools.content_safety_text_tool",
        "function": "analyze_text", "is_builtin": true, "package": "promptflow-contentsafety",
        "package_version": "0.0.9", "enable_kwargs": false, "tool_state": "stable"},
        {"name": "Embedding", "type": "python", "inputs": {"connection": {"type":
        ["AzureOpenAIConnection", "OpenAIConnection"], "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}, "deployment_name": {"type":
        ["string"], "enabled_by": "connection", "enabled_by_type": ["AzureOpenAIConnection"],
        "model_list": ["text-embedding-ada-002", "text-search-ada-doc-001", "text-search-ada-query-001"],
        "capabilities": {"completion": false, "chat_completion": false, "embeddings":
        true}, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "input": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model": {"type": ["string"], "enum": ["text-embedding-ada-002",
        "text-search-ada-doc-001", "text-search-ada-query-001"], "enabled_by": "connection",
        "enabled_by_type": ["OpenAIConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Open AI''s embedding
        model to create an embedding vector representing the input text.", "module":
        "promptflow.tools.embedding", "function": "embedding", "is_builtin": true,
        "package": "promptflow-tools", "package_version": "0.1.0b10", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Open Source LLM", "type": "custom_llm",
        "inputs": {"api": {"type": ["string"], "enum": ["chat", "completion"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "connection": {"type":
        ["CustomConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "deployment_name": {"type": ["string"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "endpoint_name":
        {"type": ["string"], "default": "-- please enter an endpoint name --", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "max_new_tokens":
        {"type": ["int"], "default": 500, "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "model_kwargs": {"type": ["object"], "default":
        "{}", "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default", "advanced": true}, "temperature": {"type": ["double"], "default":
        1.0, "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "top_p": {"type": ["double"], "default": 1.0, "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default", "advanced": true}},
        "description": "Use an Open Source model from the Azure Model catalog, deployed
        to an AzureML Online Endpoint for LLM Chat or Completion API calls.", "module":
        "promptflow.tools.open_source_llm", "class_name": "OpenSourceLLM", "function":
        "call", "icon": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAABYUlEQVR4nIWRsUtbcRRGz70v5BmHiLSh7pJu0oJDHUrf1kVwlCIRHMTN/yDasd0imCkgZGibFlrd5DmFNDSiksADsdAhk3TIZmj6kCa/65BERCie6Rsu93LPByPeajUxztWEKXcxzwTg/VQz18y9mwYwMQ9AxkNHLzI5nfvT9lwqa1H3c9AAwRATob7qLw8mLTz/tHEJxZnnK/4i/+Ivr8oGUNtqho1gdCz5yx+mRtAK63kAooPSAhwVTor7TwE+Zs+K4Q6UFqIDSIDG02nTb7tTa7N7xxFMPuvVrsumX9MaQwJM+wNxtNne9Fc/iJZfF2KAysAUbv81rzqxe939cfW9EFcnhi8CKIjz1BSjjyQfJR8j9DFTT8UNN6Q6XXFIRo3eRe/CyCgirtN1KQDq+VZ4GnCPRtAKa3nuiEq5w5+V9d+w82T+TXJJR6Luqf7b9pyftahXeXk8VP1gWbf8r+4bvICY0FkMumIAAAAASUVORK5CYII=",
        "is_builtin": true, "package": "promptflow-tools", "package_version": "0.1.0b10",
        "enable_kwargs": false, "tool_state": "stable"}, {"name": "Serp API", "type":
        "python", "inputs": {"connection": {"type": ["SerpConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "engine": {"type":
        ["string"], "default": "google", "enum": ["google", "bing"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "location": {"type":
        ["string"], "default": "", "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "num": {"type": ["int"], "default": "10",
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "query": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "safe": {"type": ["string"], "default": "off",
        "enum": ["active", "off"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Use Serp API to obtain search
        results from a specific search engine.", "module": "promptflow.tools.serpapi",
        "class_name": "SerpAPI", "function": "search", "is_builtin": true, "package":
        "promptflow-tools", "package_version": "0.1.0b10", "enable_kwargs": false,
        "tool_state": "stable"}, {"name": "Faiss Index Lookup", "type": "python",
        "inputs": {"path": {"type": ["string"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "top_k": {"type": ["int"], "default": "3",
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "vector": {"type": ["list"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}}, "description": "Search vector based query
        from the FAISS index file.", "module": "promptflow_vectordb.tool.faiss_index_lookup",
        "class_name": "FaissIndexLookup", "function": "search", "is_builtin": true,
        "package": "promptflow-vectordb", "package_version": "0.0.1", "enable_kwargs":
        false, "tool_state": "stable"}, {"name": "Vector DB Lookup", "type": "python",
        "inputs": {"class_name": {"type": ["string"], "enabled_by": "connection",
        "enabled_by_type": ["WeaviateConnection"], "allow_manual_entry": false, "is_multi_select":
        false, "input_type": "default"}, "collection_name": {"type": ["string"], "enabled_by":
        "connection", "enabled_by_type": ["QdrantConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "connection": {"type":
        ["CognitiveSearchConnection", "QdrantConnection", "WeaviateConnection"], "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "index_name": {"type":
        ["string"], "enabled_by": "connection", "enabled_by_type": ["CognitiveSearchConnection"],
        "allow_manual_entry": false, "is_multi_select": false, "input_type": "default"},
        "search_filters": {"type": ["object"], "enabled_by": "connection", "enabled_by_type":
        ["CognitiveSearchConnection", "QdrantConnection"], "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}, "search_params": {"type":
        ["object"], "enabled_by": "connection", "enabled_by_type": ["CognitiveSearchConnection",
        "QdrantConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "text_field": {"type": ["string"], "enabled_by":
        "connection", "enabled_by_type": ["CognitiveSearchConnection", "QdrantConnection",
        "WeaviateConnection"], "allow_manual_entry": false, "is_multi_select": false,
        "input_type": "default"}, "top_k": {"type": ["int"], "default": "3", "allow_manual_entry":
        false, "is_multi_select": false, "input_type": "default"}, "vector": {"type":
        ["list"], "allow_manual_entry": false, "is_multi_select": false, "input_type":
        "default"}, "vector_field": {"type": ["string"], "enabled_by": "connection",
        "enabled_by_type": ["CognitiveSearchConnection"], "allow_manual_entry": false,
        "is_multi_select": false, "input_type": "default"}}, "description": "Search
        vector based query from existing Vector Database.", "module": "promptflow_vectordb.tool.vector_db_lookup",
        "class_name": "VectorDBLookup", "function": "search", "is_builtin": true,
        "package": "promptflow-vectordb", "package_version": "0.0.1", "enable_kwar[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/metric/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/batch_run_name/lastvalues
  response:
    body:
      string: '{"value": [{"dataContainerId": "dcid.batch_run_name", "name": "__pf__.nodes.hello_world.completed",
        "columns": {"__pf__.nodes.hello_world.completed": "Double"}, "properties":
        {"uxMetricType": "azureml.v1.scalar", "dataLocation": null}, "namespace":
        null, "standardSchemaId": null, "value": [{"metricId": "a9e0e0eb-d14d-442b-8aa9-04eae8d9aeaa",
        "createdUtc": "2023-12-19T07:04:10.549+00:00", "step": 0, "data": {"__pf__.nodes.hello_world.completed":
        3.0}}]}, {"dataContainerId": "dcid.batch_run_name", "name": "__pf__.lines.completed",
        "columns": {"__pf__.lines.completed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "52ae4b4a-5a29-4341-9dfd-1cd4dd1037c0", "createdUtc":
        "2023-12-19T07:04:10.849+00:00", "step": 0, "data": {"__pf__.lines.completed":
        3.0}}]}, {"dataContainerId": "dcid.batch_run_name", "name": "__pf__.lines.failed",
        "columns": {"__pf__.lines.failed": "Double"}, "properties": {"uxMetricType":
        "azureml.v1.scalar", "dataLocation": null}, "namespace": null, "standardSchemaId":
        null, "value": [{"metricId": "71edc012-1470-4d7a-ad19-6734fde47e51", "createdUtc":
        "2023-12-19T07:04:11.256+00:00", "step": 0, "data": {"__pf__.lines.failed":
        0.0}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.047'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_debug_info/versions/1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/getByAssetId
  response:
    content: '{"dataVersion": {"assetId": "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_debug_info/versions/1",
      "dataContainerName": "azureml_batch_run_name_output_data_debug_info", "dataType":
      "UriFolder", "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/promptflow/PromptFlowArtifacts/batch_run_name/",
      "versionId": "1", "mutableProps": {"dataExpiryTime": null, "description": null,
      "tags": null, "isArchived": false, "stage": "Logged", "autoDeleteSetting": null},
      "referencedDataUris": null, "properties": null, "initialAssetId": "azureml://locations/eastus/workspaces/00000/data/azureml_batch_run_name_output_data_debug_info/versions/1",
      "isRegistered": false, "runId": "batch_run_name", "originAssetId": null}, "entityMetadata":
      {"etag": "\"9505b982-0000-0100-0000-6581406c0000\"", "createdTime": "2023-12-19T07:04:12.2299175+00:00",
      "modifiedTime": "2023-12-19T07:04:12.2390418+00:00", "createdBy": {"userObjectId":
      "00000000-0000-0000-0000-000000000000", "userPuId": "10032000324F7449", "userIdp":
      null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
      "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Honglin
      Du", "upn": "username@microsoft.com"}, "modifiedBy": null}, "legacyDatasetId":
      "e48a43df-da09-41d1-999f-f28be4d1f1f5", "isV2": true, "legacyDatasetType": null,
      "legacyDataflowType": null, "legacyDataflow": null, "legacySavedDatasetId":
      null, "putAssetLROResponseDto": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.031'
    status_code: 200
- request:
    body: '{"snapshotOrAssetId": "8d1f422d-3d9c-403c-9fb9-72d01a43bce6"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/sas
  response:
    content: '{"name": "", "hash": null, "type": "Directory", "timestamp": "0001-01-01T00:00:00+00:00",
      "sasUrl": null, "absoluteUrl": null, "sizeBytes": 0, "sizeSet": false, "children":
      {"flow.dag.yaml": {"name": "flow.dag.yaml", "hash": "5199B74F23A82968D2476DFE529EAA50",
      "type": "File", "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/batch_run_name/flow.dag.yaml?sv=2019-07-07&sr=b&sig=kApPLRWB1sefT2vKI8G9H2HVYIr63538IB2PQPB1L4Y%3D&st=2023-12-19T06%3A54%3A44Z&se=2023-12-19T15%3A04%3A44Z&sp=r&rscd=filename%3Dflow.dag.yaml",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/batch_run_name/flow.dag.yaml",
      "sizeBytes": 266, "sizeSet": true, "children": {}}, "hello_world.py": {"name":
      "hello_world.py", "hash": "F9B1E040145CBA4E286861114DCF2A7A", "type": "File",
      "timestamp": "0001-01-01T00:00:00+00:00", "sasUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/batch_run_name/hello_world.py?sv=2019-07-07&sr=b&sig=dKXr14MS5Qz9Z1LS9%2F5urdjuEf8xslv5WOGy2KpO4Vo%3D&st=2023-12-19T06%3A54%3A44Z&se=2023-12-19T15%3A04%3A44Z&sp=r&rscd=filename%3Dhello_world.py",
      "absoluteUrl": "https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/runs/batch_run_name/hello_world.py",
      "sizeBytes": 111, "sizeSet": true, "children": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.057'
    status_code: 200
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:04:44 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/batch_run_name/hello_world.py
  response:
    body:
      string: "from promptflow import tool\r\n\r\n\r\n@tool\r\ndef hello_world(name:
        str) -> str:\r\n    return f\"Hello World {name}!\"\r\n"
    headers:
      content-range:
      - bytes 0-110/111
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 19 Dec 2023 07:03:52 GMT
      x-ms-blob-content-md5:
      - +bHgQBRcuk4oaGERTc8qeg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Tue, 19 Dec 2023 07:03:52 GMT
      x-ms-copy-id:
      - a6e1230d-001c-4558-98de-83336a690054
      x-ms-copy-progress:
      - 111/111
      x-ms-copy-source:
      - https://promptfloweast4063704120.blob.core.windows.net/azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5/LocalUpload/36774154bc3ecde4aa21054b3052221f/hello-world/hello_world.py
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Tue, 19 Dec 2023 07:03:52 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:04:44 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/batch_run_name/flow.dag.yaml
  response:
    body:
      string: "inputs:\r\n  name:\r\n    type: string\r\n    default: hod\r\noutputs:\r\n
        \ result:\r\n    type: string\r\n    reference: ${hello_world.output}\r\nno[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:04:43 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name?comp=list&prefix=promptflow%2FPromptFlowArtifacts%2Fbatch_run_name%2F&restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://promptfloweast4063704120.blob.core.windows.net/\"
        ContainerName=\"azureml-blobstore-3e123da1-f9a5-4c91-9234-8d9ffbb39ff5\"><Prefix>promptflow/PromptFlowArtifacts/batch_run_name/</Prefix><Blobs><Blob><Name>promptflow/PromptFlowArtifacts/batch_run_name/flow_artifacts/000000000_000000024.jsonl</Name><Properties><Creation-Time>Tue,
        19 Dec 2023 07:04:09 GMT</Creation-Time><Last-Modified>Tue, 19 Dec 2023 07:04:09
        GMT</Last-Modified><Etag>0x8DC0060B2AD5108</Etag><Content-Length>3874</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/batch_run_name/flow_outputs/output.jsonl</Name><Properties><Creation-Time>Tue,
        19 Dec 2023 07:04:12 GMT</Creation-Time><Last-Modified>Tue, 19 Dec 2023 07:04:12
        GMT</Last-Modified><Etag>0x8DC0060B464366F</Etag><Content-Length>267</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>RhzWn41vAT8bekG2OuHirg==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>promptflow/PromptFlowArtifacts/batch_run_name/instance_results.jsonl</Name><Properties><Creation-Time>Tue,
        19 Dec 2023 07:04:09 GMT</Creation-Time><Last-Modified>Tue, 19 Dec 2023 07:04:09
        GMT</Last-Modified><Etag>0x8DC0060B2B22D86</Etag><Content-Length>597</Content-Length><Content-Type>applicatio[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Dec 2023 07:04:45 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/batch_run_name/instance_results.jsonl
  response:
    body:
      string: '{"line_number": 0, "status": "Completed", "inputs.name": "https://www.youtube.com/watch?v=o5ZQyXaAv1g",
        "inputs.line_number": 0, "result": "Hello World https://www.youtube.com/watch?v=o5ZQyXaAv1g!"}

        {"line_number": 2, "status": "Completed", "inputs.name": "https://www.youtube.com/watch?v=o5ZQyXaAv1g",
        "inputs.line_number": 2, "result": "Hello World https://www.youtube.com/watch?v=o5ZQyXaAv1g!"}

        {"line_number": 1, "status": "Completed", "inputs.name": "https://www.youtube.com/watch?v=o5ZQyXaAv1g",
        "inputs.line_number": 1, "result": "Hello World https://www.youtube.com/watch?v=o5ZQyXaAv1g!"}

        '
    headers:
      content-range:
      - bytes 0-596/597
      content-type:
      - application/octet-stream
      last-modified:
      - Tue, 19 Dec 2023 07:04:09 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Tue, 19 Dec 2023 07:04:09 GMT
      x-ms-version:
[...]
