interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.022'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2023-04-08T02:53:06.5886442+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2023-04-08T02:53:07.521127+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.725'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory",
        "name": "workspaceworkingdirectory", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        false, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureFile", "accountName": "fake_account_name",
        "fileShareName": "fake-file-share-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "None"}, "systemData": {"createdAt":
        "2023-04-08T02:53:06.6001169+00:00", "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "createdByType": "Application", "lastModifiedAt": "2023-04-08T02:53:07.2885525+00:00",
        "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a", "lastModifiedByType":
        "Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.219'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceworkingdirectory/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.177'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:35 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/LocalUpload?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:d7903ed1-a01a-00b8-6daa-17564a000000\nTime:2023-11-15T10:00:36.8415910Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:38 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:fe100d5e-801a-0064-3aaa-17fc14000000\nTime:2023-11-15T10:00:39.5517871Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:089de0e3-201a-001f-0baa-17be88000000\nTime:2023-11-15T10:00:40.7041346Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:40 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The
        specified resource already exists.\nRequestId:ba9e296c-601a-0098-40aa-172ded000000\nTime:2023-11-15T10:00:41.7948069Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceAlreadyExists
      x-ms-version:
      - '2023-08-03'
    status:
      code: 409
      message: The specified resource already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:41 GMT
      x-ms-version:
      - '2023-08-03'
    method: GET
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:ba9e2971-601a-0098-41aa-172ded000000\nTime:2023-11-15T10:00:41.9670490Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2023-08-03'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users%2Funknown_user%2Fpromptflow%2Fflow_display_name?restype=directory
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2023-11-15T10:00:42.1399746Z'
      x-ms-file-creation-time:
      - '2023-11-15T10:00:42.1399746Z'
      x-ms-file-id:
      - '11529317687196909568'
      x-ms-file-last-write-time:
      - '2023-11-15T10:00:42.1399746Z'
      x-ms-file-parent-id:
      - '13835172894117724160'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1040'
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/fetch_text_content_from_url.py
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-15T10:00:42.3331245Z'
      x-ms-file-creation-time:
      - '2023-11-15T10:00:42.3331245Z'
      x-ms-file-id:
      - '16141003705624297472'
      x-ms-file-last-write-time:
      - '2023-11-15T10:00:42.3331245Z'
      x-ms-file-parent-id:
      - '11529317687196909568'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "import bs4\nimport requests\n\nfrom promptflow import tool\n\n\n@tool\ndef
      fetch_text_content_from_url(url: str):\n    # Send a request to the URL\n    try:\n
      \       # time.sleep(130)\n        headers = {\n            \"User-Agent\":
      \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like
      Gecko) \"\n            \"Chrome/113.0.0.0 Safari/537.36 Edg/113.0.1774.35\"\n
      \       }\n        response = requests.get(url, headers=headers)\n        if
      response.status_code == 200:\n            # Parse the HTML content using BeautifulSoup\n
      \           soup = bs4.BeautifulSoup(response.text, \"html.parser\")\n            soup.prettify()\n
      \           return soup.get_text()[:2000]\n        else:\n            msg =
      (\n                f\"Get url failed with status code {response.status_code}.\\nURL:
      {url}\\nResponse: \"\n                f\"{response.text[:100]}\"\n            )\n
      \           print(msg)\n            return \"No available content\"\n    except
      Exception as e:\n        print(\"Get url failed with error: {}\".format(e))\n
      \       return \"No available content\"\n"
    headers:
      Content-MD5:
      - j7+N6tqiR54AYXimiIeL/g==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-range:
      - bytes=0-1039
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/fetch_text_content_from_url.py?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - j7+N6tqiR54AYXimiIeL/g==
      last-modified:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-last-write-time:
      - '2023-11-15T10:00:42.5103456Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '545'
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2023-08-03'
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      last-modified:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-15T10:00:42.6875662Z'
      x-ms-file-creation-time:
      - '2023-11-15T10:00:42.6875662Z'
      x-ms-file-id:
      - '10376396182590062592'
      x-ms-file-last-write-time:
      - '2023-11-15T10:00:42.6875662Z'
      x-ms-file-parent-id:
      - '11529317687196909568'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: "id: web_classification\r\ninputs:\r\n  url:\r\n    default: https://www.microsoft.com/en-us/d/xbox-wireless-controller-stellar-shift-special-edition/94fbjc7h0h6h\r\n
      \   is_chat_input: false\r\n    type: string\r\nnodes:\r\n  - inputs:\r\n      url:
      ${inputs.url}\r\n    name: fetch_text_content_from_url\r\n    reduce: false\r\n
      \   source:\r\n      path: fetch_text_content_from_url.py\r\n      type: code\r\n
      \   type: python\r\noutputs:\r\n  text:\r\n    evaluation_only: false\r\n    is_chat_output:
      false\r\n    reference: ${fetch_text_content_from_url.output}\r\n    type: string\r\n"
    headers:
      Content-MD5:
      - DI3RczYyi0rXCwdOaKJh8w==
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-range:
      - bytes=0-544
      x-ms-version:
      - '2023-08-03'
      x-ms-write:
      - update
    method: PUT
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DI3RczYyi0rXCwdOaKJh8w==
      last-modified:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-last-write-time:
      - '2023-11-15T10:00:42.8687687Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-08-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"flowName": "flow_display_name", "description": "test flow", "tags": {"owner":
      "sdk"}, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml",
      "flowType": "default"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Flows
  response:
    body:
      string: '{"eTag": {}, "flowId": "e68edf0b-bccb-4821-889a-0708d9ae77ea", "flowName":
        "flow_display_name", "description": "test flow", "tags": {"owner": "sdk"},
        "flowType": "Default", "experimentId": "3e123da1-f9a5-4c91-9234-8d9ffbb39ff5",
        "createdDate": "2023-11-15T10:00:45.6325471Z", "lastModifiedDate": "2023-11-15T10:00:45.6325472Z",
        "owner": {"userObjectId": "dccfa7b6-87c6-4f1e-af43-555f876e37a7", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Zhengfei Wang"}, "flowResourceId":
        "azureml://locations/eastus/workspaces/00000/flows/e68edf0b-bccb-4821-889a-0708d9ae77ea",
        "isArchived": false, "flowDefinitionFilePath": "Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.822'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Nov 2023 10:00:45 GMT
      x-ms-version:
      - '2023-08-03'
    method: HEAD
    uri: https://fake_account_name.file.core.windows.net/fake-file-share-name/Users/unknown_user/promptflow/flow_display_name/flow.dag.yaml
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      last-modified:
      - Wed, 15 Nov 2023 10:00:42 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-15T10:00:42.8687687Z'
      x-ms-file-creation-time:
      - '2023-11-15T10:00:42.6875662Z'
      x-ms-file-id:
      - '10376396182590062592'
      x-ms-file-last-write-time:
      - '2023-11-15T10:00:42.8687687Z'
      x-ms-file-parent-id:
      - '11529317687196909568'
      x-ms-type:
      - File
      x-ms-version:
      - '2023-08-03'
    status:
      code: 200
      message: OK
version: 1
