; config.ini
; This is a sample configuration file

[COMMON]
; The COMMON section provides common values for all other sections.
; Configure both 'document_folder' and 'document_chunk_size' if you require document splitting.
documents_folder = "<your-document-folder-path>"
document_chunk_size = 1024
; However, if you wish to bypass the document split process, simply provide the 'document_nodes_file', which is a JSONL file.
; When both `documents_folder` and `document_nodes_file` are configured, will use 'document_nodes_file' and ignore 'documents_folder'.
; document_nodes_file = "<your-node-file-path>"

; Test data gen flow configs
flow_folder = "<your-test-data-gen-flow-folder-path>" ; There is must one flow.dag.yaml file under this folder as entry

; Override some node inputs, for example, {"node_1": {"input_1": "value", "input_2": "value"}, "node_2":{"input_1": "value", "input_2": "value"}}
; Ensure the node name and the input name exist in flag.dag.yaml
; If not fill in "node_inputs_override", will use the values in flow.dag.yaml
node_inputs_override = {"validate_text_chunk": {"connection": "<your-connection-name>", "model_or_deployment_name": "<your-model-or-deployment-name>"}, "generate_question": {"connection": "<your-connection-name>", "model_or_deployment_name": "<your-model-or-deployment-name>"}, "validate_question": {"connection": "<your-connection-name>", "model_or_deployment_name": "<your-model-or-deployment-name>"}, "generate_suggested_answer": {"connection": "<your-connection-name>", "model_or_deployment_name": "<your-model-or-deployment-name>"}, "validate_suggested_answer": {"connection": "<your-connection-name>", "model_or_deployment_name": "<your-model-or-deployment-name>"}}

[LOCAL]
; This section is for local test data generation related configuration.
output_folder = "<your-output-folder-path>"
flow_batch_run_size = 4


[CLOUD]
; This section is for cloud test data generation related configuration.
subscription_id = "<your-sub-id>"
resource_group = "<your-resource-group>"
workspace_name = "<your-workspace-name>"
aml_cluster = "<your-compute-name>"

; Parallel run step configs
prs_instance_count = 2
prs_mini_batch_size = 2
prs_max_concurrency_per_instance = 4
prs_max_retry_count = 3
prs_run_invocation_time = 800
prs_allowed_failed_count = -1
