#!/bin/bash

CONDA_ENV_PATH="$(conda info --base)/envs/{{env.conda_env_name}}"
export PATH="$CONDA_ENV_PATH/bin:$PATH"

# start services in background and wait all child jobs
runsvdir /var/runit &

wait -n