interactions:
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 3, "itemsAccepted": 3, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 2, "itemsAccepted": 2, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
