{# U1.0: Virgil Aeneid 4.110-119, Original, Smoke Test #}

sed fatis incerta feror, si Iuppiter unam
esse velit Tyriis urbem Troiaque profectis,
miscerive probet populos aut foedera iungi.
tu coniunx, tibi fas animum temptare precando.
perge, sequar.” tum sic excepit regia Iuno:
“mecum erit iste labor. nunc qua ratione quod instat
confieri possit, paucis (adverte) docebo.
venatum Aeneas unaque miserrima Dido
in nemus ire parant, ubi primos crastinus ortus
extulerit Titan radiisque retexerit orbem.