{# U2.0: Cicero Ad fam. 14.19, Original #}

In maximis meis doloribus excruciat me valetudo Tulliae nostrae, 
de qua nihil est quod ad te plura scribam; tibi enim aeque magnae curae esse certo scio. 
Quod me proprius vultis accedere, video ita esse faciendum. 
Etiam ante fecissem, sed me multa impediverunt, quae ne nunc quidem expedita sunt. 
Sed a Pomponio exspecto litteras, quas ad me quam primum perferendas cures velim. 
Da operam, ut valeas.