{# U3.0: Livy 9.29, Original #}

Eodem Appio auctore Potitia gens, cuius ad Aram Maximam Herculis familiare sacerdotium fuerat, 
servos publicos ministerii delegandi causa sollemnia eius sacri docuerat. 
Traditur inde, dictu mirabile et quod dimovendis statu suo sacris religionem facere posset, 
cum duodecim familiae ea tempestate Potitiorum essent, puberes ad triginta, omnes intra annum cum stirpe exstinctos; 
nec nomen tantum Potitiorum interisse sed censorem etiam memori deum ira post aliquot annos luminibus captum.