interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.037'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "75d5c438-89c4-42d7-8e72-3b6c789f1073",
        "experiment_id": "0c88b838-490b-4107-aa85-97ed5b243270", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1720028459423", "artifact_uri": "azureml://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/75d5c438-89c4-42d7-8e72-3b6c789f1073/artifacts",
        "lifecycle_stage": "active", "run_id": "75d5c438-89c4-42d7-8e72-3b6c789f1073"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "75d5c438-89c4-42d7-8e72-3b6c789f1073"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "First
        Last"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.134'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "key": "f1", "value":
      0.54, "timestamp": "1717563256242", "step": 0, "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.719'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "75d5c438-89c4-42d7-8e72-3b6c789f1073", "experiment_id":
        "0c88b838-490b-4107-aa85-97ed5b243270", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1720028459423", "end_time": "1720028465277",
        "lifecycle_stage": "active", "run_id": "75d5c438-89c4-42d7-8e72-3b6c789f1073"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.367'
    status:
      code: 200
      message: OK
version: 1
