interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "9614a2d0-4ae0-4887-8901-c95dc52cf56d",
        "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1723753460587", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/9614a2d0-4ae0-4887-8901-c95dc52cf56d/artifacts",
        "lifecycle_stage": "active", "run_id": "9614a2d0-4ae0-4887-8901-c95dc52cf56d"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "9614a2d0-4ae0-4887-8901-c95dc52cf56d"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "First
        Last"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.148'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000", "properties":
      {"test": 42}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/11111111-1111-1111-1111-111111111111/runs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"runNumber": 1723753462, "rootRunId": "9614a2d0-4ae0-4887-8901-c95dc52cf56d",
        "createdUtc": "2024-08-15T20:24:20.587+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "10037FFE814C9BDD", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "First
        Last", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "sanitized_token_value", "tokenExpiryTimeUtc": "2024-09-05T22:18:20.1698212+00:00",
        "error": null, "warnings": null, "revision": 2, "statusRevision": 0, "runUuid":
        "6a95032d-7268-4f97-92d7-07e89855acb9", "parentRunUuid": null, "rootRunUuid":
        "6a95032d-7268-4f97-92d7-07e89855acb9", "lastStartTimeUtc": "2024-08-15T20:24:20.587+00:00",
        "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        "2024-08-15T20:24:20.587+00:00", "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "10037FFE814C9BDD", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "First Last", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-08-15T20:24:23.5258293+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "9614a2d0-4ae0-4887-8901-c95dc52cf56d",
        "parentRunId": null, "experimentId": "00000000-0000-0000-0000-000000000000",
        "status": "Running", "startTimeUtc": "2024-08-15T20:24:20.587+00:00", "endTimeUtc":
        null, "scheduleId": null, "displayName": "test", "name": null, "dataContainerId":
        "dcid.9614a2d0-4ae0-4887-8901-c95dc52cf56d", "description": null, "hidden":
        false, "runType": null, "runTypeV2": {"orchestrator": null, "traits": ["mlflow"],
        "attribution": null, "computeType": null}, "properties": {"mlflow.artifactUri":
        "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/9614a2d0-4ae0-4887-8901-c95dc52cf56d/artifacts",
        "test": "42"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.057'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "9614a2d0-4ae0-4887-8901-c95dc52cf56d", "experiment_id":
        "34fb7f85-4f86-428b-9c6f-333adf9733a8", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1723753460587", "end_time": "1723753464059",
        "lifecycle_stage": "active", "run_id": "9614a2d0-4ae0-4887-8901-c95dc52cf56d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.431'
    status:
      code: 200
      message: OK
version: 1
