interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.025'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "885e7fe9-626a-4670-8886-ac1eadd4caca",
        "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1723753476169", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/885e7fe9-626a-4670-8886-ac1eadd4caca/artifacts",
        "lifecycle_stage": "active", "run_id": "885e7fe9-626a-4670-8886-ac1eadd4caca"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "885e7fe9-626a-4670-8886-ac1eadd4caca"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "First
        Last"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.114'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "key": "f1", "value":
      0.54, "timestamp": "1717563256242", "step": 0, "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.375'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "885e7fe9-626a-4670-8886-ac1eadd4caca", "experiment_id":
        "34fb7f85-4f86-428b-9c6f-333adf9733a8", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1723753476169", "end_time": "1723753479911",
        "lifecycle_stage": "active", "run_id": "885e7fe9-626a-4670-8886-ac1eadd4caca"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.304'
    status:
      code: 200
      message: OK
version: 1
