interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.021'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "36e33176-ada8-420e-890d-983e519a75b1", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.658'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 2, "itemsAccepted": 2, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2024-04-19T21:40:36.1575562+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-04-19T21:40:36.7341989+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.459'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.125'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore",
        "name": "[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.072'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "2024-07-08 13:59:54 -0700   62052 execution.bulk     INFO     Current thread
      is not main thread, skip signal handler registration in BatchEngine.\r\n2024-07-08
      13:59:54 -0700   62052 execution          WARNING  Starting run without column
      mapping may lead to unexpected results. Please consult the following documentation
      for more information: https://aka.ms/pf/column-mapping\r\n2024-07-08 13:59:54
      -0700   62052 execution.bulk     INFO     [...]
- request:
    body: '{"batch_size": 25}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/meta.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      last-modified:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-content-crc64:
      - /9Grig3aMP8=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "2024-07-08 14:00:08 -0700   53492 execution          WARNING  [Flex in
      line 0 (index starts from 0)] stderr> [2024-07-08 14:00:08 -0700][flowinvoker][INFO]
      - Getting connections from pf client with provider from args: local...\r\n2024-07-08
      14:00:08 -0700   53492 execution          WARNING  [Flex in line 0 (index starts
      from 0)] stderr> [2024-07-08 14:00:08 -0700][flowinvoker][INFO] - Promptflow
      get connections successfully. keys: dict_ke[...]
- request:
    body: "{\"line_number\": 0, \"status\": \"Completed\", \"inputs.answer\": \"There
      is nothing good there.\", \"inputs.ground_truth\": \"39 light years\", \"inputs.line_number\":
      0, \"f1_score\": 0.0}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/instance_results.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XfuR+JSMn4fNMfVoHYnyvw==
      last-modified:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-content-crc64:
      - GpRnllfA3K0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\"line_number\": 0, \"f1_score\": 0.0}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow_outputs/output.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XRMTM7lgz89C61PDqc1iBQ==
      last-modified:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-content-crc64:
      - eDYx9MLsdd8=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "entry: promptflow.evals.evaluators._f1_score._f1_score:F1ScoreEvaluator\r\ninputs:\r\n
      \ answer:\r\n    type: string\r\n  ground_truth:\r\n    type: string\r\noutputs:\r\n
      \ output:\r\n    type: string\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - VEw3Khnd+O2zBLlfH7gGgA==
      last-modified:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-content-crc64:
      - MHNHyX4OGhI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\"line_number\": 0, \"run_info\": {\"run_id\": \"promptflow_evals_evaluators_f1_score_f1_score_f1scoreevaluator_t1mavr8u_20240708_135954_302381_0\",
      \"status\": \"Completed\", \"error\": null, \"inputs\": {\"answer\": \"There
      is nothing good there.\", \"ground_truth\": \"39 light years\", \"line_number\":
      0}, \"output\": {\"f1_score\": 0.0}, \"metrics\": null, \"request\": null, \"parent_run_id\":
      \"promptflow_evals_evaluators_f1_score_f1_score_f1scoreevaluator_t1mavr8u_20240708_135954_302381\",
      \"root_run_id\": \"promptflow_evals_evaluators_f1_score_f1_score_f1scoreevaluator_t1mavr8u_20240708_135954_302381\",
      \"source_run_id\": null, \"flow_id\": \"default_flow_id\", \"start_time\": \"2024-07-08T21:00:08.067962Z\",
      \"end_time\": \"2024-07-08T21:00:08.172868Z\", \"index\": 0, \"api_calls\":
      [{\"name\": \"F1ScoreEvaluator\", \"type\": \"Flow\", \"inputs\": {\"answer\":
      \"There is nothing good there.\", \"ground_truth\": \"39 light years\"}, \"output\":
      {\"f1_score\": 0.0}, \"start_time\": 1720497608.068964, \"end_time\": 1720497608.171741,
      \"error\": null, \"children\": [{\"name\": \"validate_inputs\", \"type\": \"Function\",
      \"inputs\": {\"answer\": \"There is nothing good there.\", \"ground_truth\":
      \"39 light years\"}, \"output\": true, \"start_time\": 1720497608.168705, \"end_time\":
      1720497608.169741, \"error\": null, \"children\": [], \"node_name\": null, \"parent_id\":
      \"1b551f65-1b6f-49fd-9dad-542ded3bc966\", \"id\": \"f0e4f81e-d6a8-464e-8767-31766ce43814\",
      \"function\": \"validate_inputs\", \"system_metrics\": {}}, {\"name\": \"compute_f1_score\",
      \"type\": \"Function\", \"inputs\": {\"answer\": \"There is nothing good there.\",
      \"ground_truth\": \"39 light years\"}, \"output\": 0.0, \"start_time\": 1720497608.170736,
      \"end_time\": 1720497608.170736, \"error\": null, \"children\": [], \"node_name\":
      null, \"parent_id\": \"1b551f65-1b6f-49fd-9dad-542ded3bc966\", \"id\": \"4662a723-4b77-4d1c-88a3-f5c9e2d2b01b\",
      \"function\": \"compute_f1_score\", \"system_metrics\": {}}], \"node_name\":
      null, \"parent_id\": \"\", \"id\": \"1b551f65-1b6f-49fd-9dad-542ded3bc966\",
      \"function\": \"F1ScoreEvaluator\", \"system_metrics\": {}}], \"name\": \"\",
      \"description\": \"\", \"tags\": null, \"system_metrics\": {\"duration\": 0.104906},
      \"result\": null, \"upload_metrics\": false, \"otel_trace_id\": \"0x00000000000000000000000000000000\",
      \"message_format\": \"basic\"}, \"start_time\": \"2024-07-08T21:00:08.067962\",
      \"end_time\": \"2024-07-08T21:00:08.172868\", \"name\": \"\", \"description\":
      \"\", \"status\": \"Completed\", \"tags\": null}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - hrFlfnfU4cvkbuLiMrpjYA==
      last-modified:
      - Mon, 08 Jul 2024 21:00:11 GMT
      x-ms-content-crc64:
      - fNELXbvoDtQ=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/instance_results.jsonl"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    content: '{"error": {"code": "TransientError", "severity": null, "message": "Etag
      conflict on djHjNqitDkKJDZg-UZp1sYg6cwDAUYXiDiKdkmY63YG2a2pJREGoHZxiLre0NHZU/3t8sb4w-Pw6clx-mci0_iJYXJG7r2ldY5Tb-X6opwEvMolrUbp7WZZwwoVchBbjVUO1s1JFDFG239UZnGgYoxkwhQQhf5VHa2NTXu-2WA40N05Dq4zvq-R_XfbRHpC_voJlmJkQ70ON-fXSLV4ZkwxhdHWZSIO3UonUxdG7QnBA
      with etag .", "messageFormat": null, "messageParameters": null, "referenceCode":
      null, "detailsUri": null, "target": null, "details": [], "innerError": null,
      "debugInfo": null, "additionalInfo": null}, "correlation": {"operation": "ebc4977e1cd1e8bf5ff8a74d1365c68b",
      "request": "91cb2dbff3d24d0b"}, "environment": "eastus2", "location": "eastus2",
      "time": "2024-07-08T21:00:14.7469583+00:00", "componentName": "artifact", "statusCode":
      409}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.040'
    status_code: 409
[...]
- request:
    body: '{"runId": "evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Run runId=promptflow_evals_evaluators_f1_score_f1_score_f1scoreevaluator_t1mavr8u_20240708_135954_302381
        was not found", "messageFormat": "Run {runId} was not found", "messageParameters":
        {"runId": "runId=promptflow_evals_evaluators_f1_score_f1_score_f1scoreevaluator_t1mavr8u_20240708_135954_302381"},
        "referenceCode": null, "detailsUri": null, "target": null, "details": [],
        "innerError": {"code": "NotFoundError", "innerError": null}, "debugInfo":
        null, "additionalInfo": null}, "correlation": {"operation": "7dc0f27274038ae88c61bb803f392ee1",
        "request": "4c38026cc567e8fa"}, "environment": "eastus2", "location": "eastus2",
        "time": "2024-07-08T21:00:10.9627431+00:00", "componentName": "run-history",
        "statusCode": 404}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.037'
    status:
      code: 404
      message: Run runId=promptflow_evals_evaluators_f1_score_f1_score_f1scoreevaluator_t1mavr8u_20240708_135954_30
version: 1
