interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.024'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "5cc88de8-e1b4-4a7d-a981-b583f53b823d",
        "experiment_id": "0c88b838-490b-4107-aa85-97ed5b243270", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1720028439799", "artifact_uri": "azureml://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/5cc88de8-e1b4-4a7d-a981-b583f53b823d/artifacts",
        "lifecycle_stage": "active", "run_id": "5cc88de8-e1b4-4a7d-a981-b583f53b823d"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "5cc88de8-e1b4-4a7d-a981-b583f53b823d"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "First
        Last"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.728'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000", "properties":
      {"test": 42}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/11111111-1111-1111-1111-111111111111/runs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"runNumber": 1720028443, "rootRunId": "5cc88de8-e1b4-4a7d-a981-b583f53b823d",
        "createdUtc": "2024-07-03T17:40:39.799+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "First
        Last", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "sanitized_token_value", "tokenExpiryTimeUtc": "2024-07-24T18:11:02.8427718+00:00",
        "error": null, "warnings": null, "revision": 2, "statusRevision": 0, "runUuid":
        "9d0f0ff6-fe28-4e7d-90bf-fb7f4883bbb1", "parentRunUuid": null, "rootRunUuid":
        "9d0f0ff6-fe28-4e7d-90bf-fb7f4883bbb1", "lastStartTimeUtc": "2024-07-03T17:40:39.799+00:00",
        "currentComputeTime": "00:00:00", "computeDuration": null, "effectiveStartTimeUtc":
        "2024-07-03T17:40:39.799+00:00", "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "First Last", "upn": "username@microsoft.com"},
        "lastModifiedUtc": "2024-07-03T17:40:44.7874713+00:00", "duration": null,
        "cancelationReason": null, "currentAttemptId": 1, "runId": "5cc88de8-e1b4-4a7d-a981-b583f53b823d",
        "parentRunId": null, "experimentId": "00000000-0000-0000-0000-000000000000",
        "status": "Running", "startTimeUtc": "2024-07-03T17:40:39.799+00:00", "endTimeUtc":
        null, "scheduleId": null, "displayName": "test", "name": null, "dataContainerId":
        "dcid.5cc88de8-e1b4-4a7d-a981-b583f53b823d", "description": null, "hidden":
        false, "runType": null, "runTypeV2": {"orchestrator": null, "traits": ["mlflow"],
        "attribution": null, "computeType": null}, "properties": {"mlflow.artifactUri":
        "azureml://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/5cc88de8-e1b4-4a7d-a981-b583f53b823d/artifacts",
        "test": "42"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.047'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "5cc88de8-e1b4-4a7d-a981-b583f53b823d", "experiment_id":
        "0c88b838-490b-4107-aa85-97ed5b243270", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1720028439799", "end_time": "1720028445801",
        "lifecycle_stage": "active", "run_id": "5cc88de8-e1b4-4a7d-a981-b583f53b823d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.526'
    status:
      code: 200
      message: OK
version: 1
