interactions:
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "662594bf-8e50-4a88-ad83-29629d354d8f",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1718210625303", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/662594bf-8e50-4a88-ad83-29629d354d8f/artifacts",
        "lifecycle_stage": "active", "run_id": "662594bf-8e50-4a88-ad83-29629d354d8f"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "662594bf-8e50-4a88-ad83-29629d354d8f"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.108'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "662594bf-8e50-4a88-ad83-29629d354d8f", "key": "f1", "value":
      0.54, "timestamp": "1717563256242", "step": 0, "run_id": "662594bf-8e50-4a88-ad83-29629d354d8f"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.054'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "662594bf-8e50-4a88-ad83-29629d354d8f", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "662594bf-8e50-4a88-ad83-29629d354d8f"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "662594bf-8e50-4a88-ad83-29629d354d8f", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1718210625303", "end_time": "1718210633509",
        "lifecycle_stage": "active", "run_id": "662594bf-8e50-4a88-ad83-29629d354d8f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.415'
    status:
      code: 200
      message: OK
version: 1
