interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "westus2", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://westus2.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.093'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "df70814d-51c4-4fed-887f-767612ae7c2a",
        "experiment_id": "b60f577b-0828-4e01-880a-d8a682dddcc2", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1718742055698", "artifact_uri": "azureml://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/df70814d-51c4-4fed-887f-767612ae7c2a/artifacts",
        "lifecycle_stage": "active", "run_id": "df70814d-51c4-4fed-887f-767612ae7c2a"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "df70814d-51c4-4fed-887f-767612ae7c2a"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.776'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "Sas"}, "intellectualProperty": null,
        "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2024-06-17T16:54:00.8222424+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-06-17T16:54:01.0291527+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.367'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "Sas", "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=p0q4i5BOK3aGoM437QNpSn%2FqBqOg49l2v74e4l0kCGg%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.198'
    status:
      code: 200
      message: OK
- request:
    body: '{"f1": 0.5}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 18 Jun 2024 20:21:05 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/test/instance_results.jsonl?si=azureml-system-datastore-policy&sig=p0q4i5BOK3aGoM437QNpSn%2FqBqOg49l2v74e4l0kCGg%3D&sr=c&sv=2021-10-04
  response:
    body:
      string: ''
    headers:
      content-md5:
      - diUhBBdPqiF5HmMm8IgKdw==
      last-modified:
      - Tue, 18 Jun 2024 20:21:06 GMT
      x-ms-content-crc64:
      - 5eDdDLCk6vg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"internal_f1": 0.6}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 18 Jun 2024 20:21:06 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/test/internal_dir/test.json?si=azureml-system-datastore-policy&sig=p0q4i5BOK3aGoM437QNpSn%2FqBqOg49l2v74e4l0kCGg%3D&sr=c&sv=2021-10-04
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ajrc77H5/pKmiiAzHB+q7A==
      last-modified:
      - Tue, 18 Jun 2024 20:21:06 GMT
      x-ms-content-crc64:
      - +o3ucAmEJMI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.df70814d-51c4-4fed-887f-767612ae7c2a",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    body:
      string: '{"artifactId": "ExperimentRun/dcid.df70814d-51c4-4fed-887f-767612ae7c2a/instance_results.jsonl",
        "origin": "ExperimentRun", "container": "dcid.df70814d-51c4-4fed-887f-767612ae7c2a",
        "path": "instance_results.jsonl", "etag": "\"0300c960-0000-0800-0000-6671ec380000\"",
        "createdTime": "2024-06-18T20:21:12.9206615+00:00", "dataPath": {"dataStoreName":
        "workspaceblobstore", "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"},
        "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.199'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "df70814d-51c4-4fed-887f-767612ae7c2a", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "df70814d-51c4-4fed-887f-767612ae7c2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "df70814d-51c4-4fed-887f-767612ae7c2a", "experiment_id":
        "b60f577b-0828-4e01-880a-d8a682dddcc2", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1718742055698", "end_time": "1718742077452",
        "lifecycle_stage": "active", "run_id": "df70814d-51c4-4fed-887f-767612ae7c2a"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.531'
    status:
      code: 200
      message: OK
version: 1
