interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.027'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "abe87513-5815-4b40-9407-c2dd48d74bac", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.674'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://127.0.0.1:55682/heartbeat
  response:
    body:
      string: '{"promptflow": "1.9.0.dev0"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://127.0.0.1:55682/heartbeat
  response:
    body:
      string: '{"promptflow": "1.9.0.dev0"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
