interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "westus3", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://westus3.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "89c8b852-0ab2-4c11-ade6-d46c5d79fc60",
        "experiment_id": "94f824a7-ebd1-40a5-a8d5-6a2c8f3ae594", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1719531665903", "artifact_uri": "azureml://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/89c8b852-0ab2-4c11-ade6-d46c5d79fc60/artifacts",
        "lifecycle_stage": "active", "run_id": "89c8b852-0ab2-4c11-ade6-d46c5d79fc60"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "89c8b852-0ab2-4c11-ade6-d46c5d79fc60"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.987'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000", "properties":
      {"test": 42}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://westus3.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/11111111-1111-1111-1111-111111111111/runs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"runNumber": 1719531669, "rootRunId": "89c8b852-0ab2-4c11-ade6-d46c5d79fc60",
        "createdUtc": "2024-06-27T23:41:05.903+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Nikolay
        Rovinskiy", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IkZBMTRBODAyQjhDRTQ0MjQxRjE0NkU1RDgyNUQwNzJDODE3NjM0ODQiLCJ0eXAiOiJKV1QifQ.eyJyb2xlIjoiQ29udHJpYnV0b3IiLCJzY29wZSI6Ii9zdWJzY3JpcHRpb25zL2IxNzI1M2ZhLWYzMjctNDJkNi05Njg2LWYzZTU1M2UyNDc2My9yZXNvdXJjZUdyb3Vwcy9uaXJvdmlucy1yZy1lYXN0dXMvcHJvdmlkZXJzL01pY3Jvc29mdC5NYWNoaW5lTGVhcm5pbmdTZXJ2aWNlcy93b3Jrc3BhY2VzL25pcm92aW5zLWFpLXByb2plY3QiLCJhY2NvdW50aWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJ3b3Jrc3BhY2VJZCI6ImY2YTcyYTc0LWY1NWEtNGRiOS04NmNmLTBiNTc3ZTZkYWQzZCIsInByb2plY3RpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsImRpc2NvdmVyeSI6InVyaTovL2Rpc2NvdmVyeXVyaS8iLCJ0aWQiOiI3MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDciLCJvaWQiOiI3ODc1YmFhNi0wMjhkLTQ5YzgtYmQ0ZC1hNzcyYWE0ZGMwMTMiLCJwdWlkIjoiMTAwM0JGRkRBOEE0RDBFNyIsImlzcyI6ImF6dXJlbWwiLCJhcHBpZCI6Ik5pa29sYXkgUm92aW5za2l5IiwiZXhwIjoxNzIxMzUwNjYyLCJhdWQiOiJhenVyZW1sIn0.STZiicI55Jz8o0PSqzP3641BU7wgxpe5z68nnRlQbtE2UNEu_MawQl156nHHFe8On7h-_9T2aphGlou_iEO1dQfG9TkckNV86Hbl-qwKB_vDusdd9FEM6u87EiXZYJ6m9YOqQBTs0DSzYaEOn30mW0lRXvdvb-bZCKYs4ICSkR_JMEkvs8qdHAIWxe9puMC8KGKm_VHVP0zuklsFwOw6XJ05CZ06H8mf9cN948kPKgDBlTXN9TMzS02qoVHra_Vnyt84QRMVBCAfdrLghc4BrmEN75S0o9upc2VeTaY_8JhXo51UQP3qBpRohlNRU0vx1Bv_kytu8uNPuq5FiXuEWQ",
        "tokenExpiryTimeUtc": "2024-07-19T00:57:42.2105009+00:00", "error": null,
        "warnings": null, "revision": 2, "statusRevision": 0, "runUuid": "f74f3610-7c11-4d93-ab08-f0ea8b252101",
        "parentRunUuid": null, "rootRunUuid": "f74f3610-7c11-4d93-ab08-f0ea8b252101",
        "lastStartTimeUtc": "2024-06-27T23:41:05.903+00:00", "currentComputeTime":
        "00:00:00", "computeDuration": null, "effectiveStartTimeUtc": "2024-06-27T23:41:05.903+00:00",
        "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Nikolay Rovinskiy", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-06-27T23:41:11.6454558+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "89c8b852-0ab2-4c11-ade6-d46c5d79fc60", "parentRunId": null, "experimentId":
        "00000000-0000-0000-0000-000000000000", "status": "Running", "startTimeUtc":
        "2024-06-27T23:41:05.903+00:00", "endTimeUtc": null, "scheduleId": null, "displayName":
        "test", "name": null, "dataContainerId": "dcid.89c8b852-0ab2-4c11-ade6-d46c5d79fc60",
        "description": null, "hidden": false, "runType": null, "runTypeV2": {"orchestrator":
        null, "traits": ["mlflow"], "attribution": null, "computeType": null}, "properties":
        {"mlflow.artifactUri": "azureml://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/89c8b852-0ab2-4c11-ade6-d46c5d79fc60/artifacts",
        "test": "42"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.055'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "89c8b852-0ab2-4c11-ade6-d46c5d79fc60", "experiment_id":
        "94f824a7-ebd1-40a5-a8d5-6a2c8f3ae594", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1719531665903", "end_time": "1719531673970",
        "lifecycle_stage": "active", "run_id": "89c8b852-0ab2-4c11-ade6-d46c5d79fc60"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.495'
    status:
      code: 200
      message: OK
version: 1
