interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "westus3", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://westus3.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "090e3a60-8bf9-4eed-90be-69edf2f6a424",
        "experiment_id": "94f824a7-ebd1-40a5-a8d5-6a2c8f3ae594", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1719531705104", "artifact_uri": "azureml://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/090e3a60-8bf9-4eed-90be-69edf2f6a424/artifacts",
        "lifecycle_stage": "active", "run_id": "090e3a60-8bf9-4eed-90be-69edf2f6a424"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "090e3a60-8bf9-4eed-90be-69edf2f6a424"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.103'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "Sas"}, "intellectualProperty": null,
        "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2024-06-25T20:11:17.0377282+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-06-25T20:11:23.5405868+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.467'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "Sas", "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=nMPOrJzwhlMdkecoS8RsGcCRKxfYZsSts3m8C%2FzMnqg%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.765'
    status:
      code: 200
      message: OK
- request:
    body: '{"f1": 0.5}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 27 Jun 2024 23:41:51 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/test/instance_results.jsonl?si=azureml-system-datastore-policy&sig=nMPOrJzwhlMdkecoS8RsGcCRKxfYZsSts3m8C%2FzMnqg%3D&sr=c&sv=2021-10-04
  response:
    body:
      string: ''
    headers:
      content-md5:
      - diUhBBdPqiF5HmMm8IgKdw==
      last-modified:
      - Thu, 27 Jun 2024 23:41:52 GMT
      x-ms-content-crc64:
      - 5eDdDLCk6vg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"internal_f1": 0.6}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 27 Jun 2024 23:41:52 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/test/internal_dir/test.json?si=azureml-system-datastore-policy&sig=nMPOrJzwhlMdkecoS8RsGcCRKxfYZsSts3m8C%2FzMnqg%3D&sr=c&sv=2021-10-04
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ajrc77H5/pKmiiAzHB+q7A==
      last-modified:
      - Thu, 27 Jun 2024 23:41:52 GMT
      x-ms-content-crc64:
      - +o3ucAmEJMI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/instance_results.jsonl"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    body:
      string: '{"artifactId": "ExperimentRun/dcid.090e3a60-8bf9-4eed-90be-69edf2f6a424/instance_results.jsonl",
        "origin": "ExperimentRun", "container": "dcid.090e3a60-8bf9-4eed-90be-69edf2f6a424",
        "path": "instance_results.jsonl", "etag": "\"170037eb-0000-4d00-0000-667df8c60000\"",
        "createdTime": "2024-06-27T23:41:58.408481+00:00", "dataPath": {"dataStoreName":
        "workspaceblobstore", "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"},
        "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.499'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "090e3a60-8bf9-4eed-90be-69edf2f6a424", "experiment_id":
        "94f824a7-ebd1-40a5-a8d5-6a2c8f3ae594", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1719531705104", "end_time": "1719531720894",
        "lifecycle_stage": "active", "run_id": "090e3a60-8bf9-4eed-90be-69edf2f6a424"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.521'
    status:
      code: 200
      message: OK
version: 1
