interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "westus2", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://westus2.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.023'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "7640629b-29f7-4d57-9ac1-f901b95bfef3",
        "experiment_id": "b60f577b-0828-4e01-880a-d8a682dddcc2", "run_name": "musing_cat_943h93g9",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1718734917808", "artifact_uri": "azureml://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/7640629b-29f7-4d57-9ac1-f901b95bfef3/artifacts",
        "lifecycle_stage": "active", "run_id": "7640629b-29f7-4d57-9ac1-f901b95bfef3"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "7640629b-29f7-4d57-9ac1-f901b95bfef3"}, {"key":
        "mlflow.runName", "value": "musing_cat_943h93g9"}, {"key": "mlflow.user",
        "value": "Nikolay Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.104'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "Sas"}, "intellectualProperty": null,
        "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2024-06-17T16:54:00.8222424+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-06-17T16:54:01.0291527+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.428'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "Sas", "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=p0q4i5BOK3aGoM437QNpSn%2FqBqOg49l2v74e4l0kCGg%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.255'
    status:
      code: 200
      message: OK
- request:
    body: "{\"inputs.question\":\"How long is flight from Earth to LV-426?\",\"inputs.answer\":\"There
      is nothing good there.\",\"inputs.ground_truth\":\"39 light years\",\"outputs.f1.f1_score\":0.0,\"line_number\":0}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 18 Jun 2024 18:22:05 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/musing_cat_943h93g9/instance_results.jsonl?si=azureml-system-datastore-policy&sig=p0q4i5BOK3aGoM437QNpSn%2FqBqOg49l2v74e4l0kCGg%3D&sr=c&sv=2021-10-04
  response:
    body:
      string: ''
    headers:
      content-md5:
      - G3n2KMFFaqFbUGDeX34xXw==
      last-modified:
      - Tue, 18 Jun 2024 18:22:06 GMT
      x-ms-content-crc64:
      - 0Myc02lzbG0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.7640629b-29f7-4d57-9ac1-f901b95bfef3",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/musing_cat_943h93g9/instance_results.jsonl"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    body:
      string: '{"artifactId": "ExperimentRun/dcid.7640629b-29f7-4d57-9ac1-f901b95bfef3/instance_results.jsonl",
        "origin": "ExperimentRun", "container": "dcid.7640629b-29f7-4d57-9ac1-f901b95bfef3",
        "path": "instance_results.jsonl", "etag": "\"000044a6-0000-0800-0000-6671d0520000\"",
        "createdTime": "2024-06-18T18:22:10.1327489+00:00", "dataPath": {"dataStoreName":
        "workspaceblobstore", "relativePath": "promptflow/PromptFlowArtifacts/musing_cat_943h93g9/instance_results.jsonl"},
        "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.312'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "evals_e2etests_target_fn_wqo0_peh_20240606_102622_386974", "properties":
      {"_azureml.evaluation_run": "promptflow.BatchRun", "_azureml.evaluate_artifacts":
      "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]", "isEvaluatorRun":
      "true", "runType": "eval_run"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://westus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/b60f577b-0828-4e01-880a-d8a682dddcc2/runs/7640629b-29f7-4d57-9ac1-f901b95bfef3
  response:
    body:
      string: '{"runNumber": 1718734921, "rootRunId": "7640629b-29f7-4d57-9ac1-f901b95bfef3",
        "createdUtc": "2024-06-18T18:21:57.808+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Nikolay
        Rovinskiy", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjY0NDBENzEwMkY3OEJENkVDNDMyRURBNjk4QTQyRjM1MjU0RDc2NDgiLCJ0eXAiOiJKV1QifQ.eyJyb2xlIjoiQ29udHJpYnV0b3IiLCJzY29wZSI6Ii9zdWJzY3JpcHRpb25zL2IxNzI1M2ZhLWYzMjctNDJkNi05Njg2LWYzZTU1M2UyNDc2My9yZXNvdXJjZUdyb3Vwcy9uaXJvdmlucy1yZy1lYXN0dXMvcHJvdmlkZXJzL01pY3Jvc29mdC5NYWNoaW5lTGVhcm5pbmdTZXJ2aWNlcy93b3Jrc3BhY2VzL25pcm92aW5zLWFpLXByb2plY3QiLCJhY2NvdW50aWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJ3b3Jrc3BhY2VJZCI6ImJkY2QxYTg3LWUwODAtNDc2Yi04NjE3LTQ3NDkxNjU4NDNiYSIsInByb2plY3RpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsImRpc2NvdmVyeSI6InVyaTovL2Rpc2NvdmVyeXVyaS8iLCJ0aWQiOiI3MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDciLCJvaWQiOiI3ODc1YmFhNi0wMjhkLTQ5YzgtYmQ0ZC1hNzcyYWE0ZGMwMTMiLCJwdWlkIjoiMTAwM0JGRkRBOEE0RDBFNyIsImlzcyI6ImF6dXJlbWwiLCJhcHBpZCI6Ik5pa29sYXkgUm92aW5za2l5IiwiZXhwIjoxNzIwNTU2NDkyLCJhdWQiOiJhenVyZW1sIn0.wPx_tUmKoEKnoHB-u4pQb-S4wsXUSeOEBW-LV66Zhm3eMVbsCAQgPr5dC6qUKpmT8luRSTDwY-_RwnD6CCWnWvSmf34jQh5jFoEKRRi6X4NSq122hm7Hbc0ZEMBS8O8C5k51fEDCo3r6R9r_fMCPyVfkKIRBplIYjEqbPS7-JuZvSWnG9BBahdhtB7HhzkRf19o6LvPYcpWglODR1iWr9UWL2zPi7T06VX1RlHazfpf0bqxPvcx5x4jtwJj1-DR0X_YLfiMl-H8ETOgKvX6TC-j0BuMGLJzp8qRJi8GaWds3YgS5ipEdFh2tQR50bcaTPY1jKGO7_uASh4QE33pG1Q",
        "tokenExpiryTimeUtc": "2024-07-09T20:21:32.3206745+00:00", "error": null,
        "warnings": null, "revision": 2, "statusRevision": 0, "runUuid": "c179b889-e7fe-49af-b416-5dfc8f9aa443",
        "parentRunUuid": null, "rootRunUuid": "c179b889-e7fe-49af-b416-5dfc8f9aa443",
        "lastStartTimeUtc": "2024-06-18T18:21:57.808+00:00", "currentComputeTime":
        "00:00:00", "computeDuration": null, "effectiveStartTimeUtc": "2024-06-18T18:21:57.808+00:00",
        "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Nikolay Rovinskiy", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-06-18T18:22:13.6661477+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "7640629b-29f7-4d57-9ac1-f901b95bfef3", "parentRunId": null, "experimentId":
        "00000000-0000-0000-0000-000000000000", "status": "Running", "startTimeUtc":
        "2024-06-18T18:21:57.808+00:00", "endTimeUtc": null, "scheduleId": null, "displayName":
        "musing_cat_943h93g9", "name": null, "dataContainerId": "dcid.7640629b-29f7-4d57-9ac1-f901b95bfef3",
        "description": null, "hidden": false, "runType": null, "runTypeV2": {"orchestrator":
        null, "traits": ["mlflow"], "attribution": null, "computeType": null}, "properties":
        {"mlflow.artifactUri": "azureml://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/7640629b-29f7-4d57-9ac1-f901b95bfef3/artifacts",
        "_azureml.evaluation_run": "promptflow.BatchRun", "_azureml.evaluate_artifacts":
        "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]", "isEvaluatorRun":
        "true", "runType": "eval_run"}, "parameters": {}, "actionUris": {}, "scriptName":
        null, "target": null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user":
        "promptflow-evals"}, "settings": {}, "services": {}, "inputDatasets": [],
        "outputDatasets": [], "runDefinition": null, "jobSpecification": null, "primaryMetricName":
        null, "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.050'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "7640629b-29f7-4d57-9ac1-f901b95bfef3", "key": "f1.f1_score",
      "value": 0.0, "timestamp": "1717563256242", "step": 0, "run_id": "7640629b-29f7-4d57-9ac1-f901b95bfef3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.508'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "7640629b-29f7-4d57-9ac1-f901b95bfef3", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "7640629b-29f7-4d57-9ac1-f901b95bfef3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "7640629b-29f7-4d57-9ac1-f901b95bfef3", "experiment_id":
        "b60f577b-0828-4e01-880a-d8a682dddcc2", "run_name": "musing_cat_943h93g9",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "FINISHED", "start_time":
        "1718734917808", "end_time": "1718734941006", "lifecycle_stage": "active",
        "run_id": "7640629b-29f7-4d57-9ac1-f901b95bfef3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.450'
    status:
      code: 200
      message: OK
version: 1
