interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "f9b3610c-e60c-49a6-bb92-38f4720f007f",
        "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1721759902457", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/f9b3610c-e60c-49a6-bb92-38f4720f007f/artifacts",
        "lifecycle_stage": "active", "run_id": "f9b3610c-e60c-49a6-bb92-38f4720f007f"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "f9b3610c-e60c-49a6-bb92-38f4720f007f"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "First
        Last"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.115'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2024-04-19T21:40:36.1575562+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-04-19T21:40:36.7341989+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.076'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.153'
    status:
      code: 200
      message: OK
- request:
    body: '{"f1": 0.5}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 23 Jul 2024 18:38:27 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/test/instance_results.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - diUhBBdPqiF5HmMm8IgKdw==
      last-modified:
      - Tue, 23 Jul 2024 18:38:28 GMT
      x-ms-content-crc64:
      - 5eDdDLCk6vg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"internal_f1": 0.6}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 23 Jul 2024 18:38:28 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/test/internal_dir/test.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ajrc77H5/pKmiiAzHB+q7A==
      last-modified:
      - Tue, 23 Jul 2024 18:38:29 GMT
      x-ms-content-crc64:
      - +o3ucAmEJMI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/instance_results.jsonl"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    body:
      string: '{"artifactId": "ExperimentRun/dcid.f9b3610c-e60c-49a6-bb92-38f4720f007f/instance_results.jsonl",
        "origin": "ExperimentRun", "container": "dcid.f9b3610c-e60c-49a6-bb92-38f4720f007f",
        "path": "instance_results.jsonl", "etag": "\"d0001d10-0000-0200-0000-669ff8a70000\"",
        "createdTime": "2024-07-23T18:38:31.415546+00:00", "dataPath": {"dataStoreName":
        "workspaceblobstore", "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"},
        "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.161'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "f9b3610c-e60c-49a6-bb92-38f4720f007f", "experiment_id":
        "34fb7f85-4f86-428b-9c6f-333adf9733a8", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1721759902457", "end_time": "1721759911885",
        "lifecycle_stage": "active", "run_id": "f9b3610c-e60c-49a6-bb92-38f4720f007f"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.603'
    status:
      code: 200
      message: OK
version: 1
