interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "westus3", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://westus3.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "f2481807-6f97-46b3-82ca-9cb2926d9d2d",
        "experiment_id": "94f824a7-ebd1-40a5-a8d5-6a2c8f3ae594", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1719531685139", "artifact_uri": "azureml://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/f2481807-6f97-46b3-82ca-9cb2926d9d2d/artifacts",
        "lifecycle_stage": "active", "run_id": "f2481807-6f97-46b3-82ca-9cb2926d9d2d"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "f2481807-6f97-46b3-82ca-9cb2926d9d2d"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.113'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "key": "f1", "value":
      0.54, "timestamp": "1717563256242", "step": 0, "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '2.017'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "00000000-0000-0000-0000-000000000000", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus3.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "f2481807-6f97-46b3-82ca-9cb2926d9d2d", "experiment_id":
        "94f824a7-ebd1-40a5-a8d5-6a2c8f3ae594", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1719531685139", "end_time": "1719531694066",
        "lifecycle_stage": "active", "run_id": "f2481807-6f97-46b3-82ca-9cb2926d9d2d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.469'
    status:
      code: 200
      message: OK
version: 1
