interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
        "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.032'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "36e33176-ada8-420e-890d-983e519a75b1", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.613'
    status:
      code: 200
      message: OK
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dc.services.visualstudio.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 0, "appId": null, "errors": [{"index":
        0, "statusCode": 307, "message": "Ingestion is allowed only from stamp specific
        endpoint - Location: https://eastus-8.in.applicationinsights.azure.com/v2.1/track"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus-8.in.applicationinsights.azure.com/v2.1/track
    status:
      code: 307
      message: Temporary Redirect
[...]
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 1, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?count=30&isDefault=true&orderByAsc=false
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore", "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {"description": null, "tags": null, "properties": null, "isDefault":
        true, "credentials": {"credentialsType": "AccountKey"}, "intellectualProperty":
        null, "subscriptionId": "00000000-0000-0000-0000-000000000000", "resourceGroup":
        "00000", "datastoreType": "AzureBlob", "accountName": "fake_account_name",
        "containerName": "fake-container-name", "endpoint": "core.windows.net", "protocol":
        "https", "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"},
        "systemData": {"createdAt": "2024-04-19T21:40:36.1575562+00:00", "createdBy":
        "779301c0-18b2-4cdc-801b-a0a3368fee0a", "createdByType": "Application", "lastModifiedAt":
        "2024-04-19T21:40:36.7341989+00:00", "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
        "lastModifiedByType": "Application"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.049'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.077'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore",
        "name": "[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets
  response:
    body:
      string: '{"secretsType": "AccountKey", "key": "dGhpcyBpcyBmYWtlIGtleQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.143'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "entry: evals.e2etests.target_fn:target_fn\r\ninputs:\r\n  question:\r\n
      \   type: string\r\noutputs:\r\n  output:\r\n    type: string\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 20:59:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/runs/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow.flex.yaml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3i/HHriLVrIcnduTB06OfQ==
      last-modified:
      - Mon, 08 Jul 2024 20:59:21 GMT
      x-ms-content-crc64:
      - 4GD4bAgr6qM=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"batch_size": 25}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 20:59:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/meta.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /u1NXUpgXMFDmZEw835qnw==
      last-modified:
      - Mon, 08 Jul 2024 20:59:21 GMT
      x-ms-content-crc64:
      - /9Grig3aMP8=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "2024-07-08 13:59:02 -0700   62052 execution.bulk     INFO     Current thread
      is not main thread, skip signal handler registration in BatchEngine.\r\n2024-07-08
      13:59:02 -0700   62052 execution          WARNING  Starting run without column
      mapping may lead to unexpected results. Please consult the following documentation
      for more information: https://aka.ms/pf/column-mapping\r\n2024-07-08 13:59:02
      -0700   62052 execution.bulk     INFO     [...]
- request:
    body: "{\"line_number\": 0, \"answer\": \"There is nothing good there.\"}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 20:59:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow_outputs/output.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - hMBCgK7/vClMM6xTJHnV2g==
      last-modified:
      - Mon, 08 Jul 2024 20:59:21 GMT
      x-ms-content-crc64:
      - YJNOWI6/rXE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 20:59:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow_logs/000000000.log
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      last-modified:
      - Mon, 08 Jul 2024 20:59:21 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\"line_number\": 0, \"status\": \"Completed\", \"inputs.question\": \"How
      long is flight from Earth to LV-426?\", \"inputs.line_number\": 0, \"answer\":
      \"There is nothing good there.\"}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 20:59:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/instance_results.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 4vS4Od1H9cNd+Y1uoTFvVA==
      last-modified:
      - Mon, 08 Jul 2024 20:59:21 GMT
      x-ms-content-crc64:
      - VmrFaAfcg6I=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: "{\"line_number\": 0, \"run_info\": {\"run_id\": \"evals_e2etests_target_fn_target_fn_qqmxixq9_20240708_135846_761341_0\",
      \"status\": \"Completed\", \"error\": null, \"inputs\": {\"question\": \"How
      long is flight from Earth to LV-426?\", \"line_number\": 0}, \"output\": {\"answer\":
      \"There is nothing good there.\"}, \"metrics\": null, \"request\": null, \"parent_run_id\":
      \"evals_e2etests_target_fn_target_fn_qqmxixq9_20240708_135846_761341\", \"root_run_id\":
      \"evals_e2etests_target_fn_target_fn_qqmxixq9_20240708_135846_761341\", \"source_run_id\":
      null, \"flow_id\": \"default_flow_id\", \"start_time\": \"2024-07-08T20:59:16.115617Z\",
      \"end_time\": \"2024-07-08T20:59:16.117616Z\", \"index\": 0, \"api_calls\":
      [{\"name\": \"target_fn\", \"type\": \"Flow\", \"inputs\": {\"question\": \"How
      long is flight from Earth to LV-426?\"}, \"output\": {\"answer\": \"There is
      nothing good there.\"}, \"start_time\": 1720497556.116615, \"end_time\": 1720497556.117616,
      \"error\": null, \"children\": [], \"node_name\": null, \"parent_id\": \"\",
      \"id\": \"bdcd2e2f-cf58-4732-ae7f-6ff32897693d\", \"function\": \"target_fn\",
      \"system_metrics\": {}}], \"name\": \"\", \"description\": \"\", \"tags\": null,
      \"system_metrics\": {\"duration\": 0.001999}, \"result\": null, \"upload_metrics\":
      false, \"otel_trace_id\": \"0x00000000000000000000000000000000\", \"message_format\":
      \"basic\"}, \"start_time\": \"2024-07-08T20:59:16.115617\", \"end_time\": \"2024-07-08T20:59:16.117616\",
      \"name\": \"\", \"description\": \"\", \"status\": \"Completed\", \"tags\":
      null}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 08 Jul 2024 20:59:20 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://fake_account_name.blob.core.windows.net/fake-container-name/promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/flow_artifacts/000000000_000000024.jsonl
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 5zJC715ovqTLMRQEfuQHEw==
      last-modified:
      - Mon, 08 Jul 2024 20:59:21 GMT
      x-ms-content-crc64:
      - SJg5KlZJweU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: '{"origin": "ExperimentRun", "container": "dcid.evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000",
      "path": "instance_results.jsonl", "dataPath": {"dataStoreName": "workspaceblobstore",
      "relativePath": "promptflow/PromptFlowArtifacts/evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000/instance_results.jsonl"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register
  response:
    content: '{"error": {"code": "TransientError", "severity": null, "message": "Etag
      conflict on djHjNqitDkKJDZg-UZp1sQVKXq6lfRk2_yY2NWbtEwMi4d77rpyQC0HGPZUu4Sut/UWjruBrTgj7QD9ZzIAEdSy3WCUc-vZU_aZl5JO0la3jz5KAsne145VVKuVWKmFitHsEWfqcioiEetK2soiTPGUwhQQhf5VHa2NTXu-2WA40N05Dq4zvq-R_XfbRHpC_voJlmJkQ70ON-fXSLV4ZkwxhdHWZSIO3UonUxdG7QnBA
      with etag .", "messageFormat": null, "messageParameters": null, "referenceCode":
      null, "detailsUri": null, "target": null, "details": [], "innerError": null,
      "debugInfo": null, "additionalInfo": null}, "correlation": {"operation": "80ae456b143bdeb364d51024cd8b8863",
      "request": "6cbf54afda2c3849"}, "environment": "eastus2", "location": "eastus2",
      "time": "2024-07-08T20:59:24.4851185+00:00", "componentName": "artifact", "statusCode":
      409}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.111'
    status_code: 409
[...]
- request:
    body: '{"runId": "evals_e2etests_run_id_xxx0_xxx_00000000_000000_000000", "selectRunMetadata":
      true, "selectRunDefinition": true, "selectJobSpecification": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata
  response:
    body:
      string: '{"error": {"code": "UserError", "severity": null, "message": "Run runId=evals_e2etests_target_fn_target_fn_qqmxixq9_20240708_135846_761341
        was not found", "messageFormat": "Run {runId} was not found", "messageParameters":
        {"runId": "runId=evals_e2etests_target_fn_target_fn_qqmxixq9_20240708_135846_761341"},
        "referenceCode": null, "detailsUri": null, "target": null, "details": [],
        "innerError": {"code": "NotFoundError", "innerError": null}, "debugInfo":
        null, "additionalInfo": null}, "correlation": {"operation": "79c62b975cdaac5ee3e4bf6bafb4af57",
        "request": "526a55cc0af84988"}, "environment": "eastus2", "location": "eastus2",
        "time": "2024-07-08T20:59:19.7293399+00:00", "componentName": "run-history",
        "statusCode": 404}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.030'
    status:
      code: 404
      message: Run runId=evals_e2etests_target_fn_target_fn_qqmxixq9_20240708_135846_761341
        was not found
version: 1
