interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "westus2", "tags": {}, "etag": null, "kind": "Project", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://westus2.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://westus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.025'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34",
        "experiment_id": "b60f577b-0828-4e01-880a-d8a682dddcc2", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1718734888783", "artifact_uri": "azureml://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/5c6182e3-8d94-4c2e-b910-f119a8f5ce34/artifacts",
        "lifecycle_stage": "active", "run_id": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.127'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34", "key": "f1", "value":
      0.54, "timestamp": "1717563256242", "step": 0, "run_id": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.920'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34", "experiment_id":
        "b60f577b-0828-4e01-880a-d8a682dddcc2", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1718734888783", "end_time": "1718734901095",
        "lifecycle_stage": "active", "run_id": "5c6182e3-8d94-4c2e-b910-f119a8f5ce34"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.513'
    status:
      code: 200
      message: OK
version: 1
