interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.028'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "e4102cfe-0237-4993-905b-0aa0f3909df1",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "modest_bucket_xwbqj7lt",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1717777037652", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/e4102cfe-0237-4993-905b-0aa0f3909df1/artifacts",
        "lifecycle_stage": "active", "run_id": "e4102cfe-0237-4993-905b-0aa0f3909df1"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "e4102cfe-0237-4993-905b-0aa0f3909df1"}, {"key":
        "mlflow.runName", "value": "modest_bucket_xwbqj7lt"}, {"key": "mlflow.user",
        "value": "Nikolay Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.604'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "evals_e2etests_target_fn_wqo0_peh_20240606_102622_386974", "properties":
      {"test": 42}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/e4102cfe-0237-4993-905b-0aa0f3909df1
  response:
    body:
      string: '{"runNumber": 1717777040, "rootRunId": "e4102cfe-0237-4993-905b-0aa0f3909df1",
        "createdUtc": "2024-06-07T16:17:17.652+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Nikolay
        Rovinskiy", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijk3QTcyRUQyOUNFMjMwMTQwQjVGNzFEOTkyODk2NzBDRDRGNEJFMzUiLCJ0eXAiOiJKV1QifQ.eyJyb2xlIjoiQ29udHJpYnV0b3IiLCJzY29wZSI6Ii9zdWJzY3JpcHRpb25zLzZhNmZmZjAwLTQ0NjQtNGVhYi1hNmIxLTBiNTMzYzcyMDJlMC9yZXNvdXJjZUdyb3Vwcy9uaXJvdmlucy1yZy1lYXN0dXMvcHJvdmlkZXJzL01pY3Jvc29mdC5NYWNoaW5lTGVhcm5pbmdTZXJ2aWNlcy93b3Jrc3BhY2VzL25pcm92aW5zLXdzLWVhc3R1cyIsImFjY291bnRpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsIndvcmtzcGFjZUlkIjoiYTEzOTFhZjMtOWYzOC00OGU4LTg2MmYtZGIzODQ2ZTgxZGQ0IiwicHJvamVjdGlkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIiwiZGlzY292ZXJ5IjoidXJpOi8vZGlzY292ZXJ5dXJpLyIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsIm9pZCI6Ijc4NzViYWE2LTAyOGQtNDljOC1iZDRkLWE3NzJhYTRkYzAxMyIsInB1aWQiOiIxMDAzQkZGREE4QTREMEU3IiwiaXNzIjoiYXp1cmVtbCIsImFwcGlkIjoiTmlrb2xheSBSb3ZpbnNraXkiLCJleHAiOjE3MTk1OTg2NDAsImF1ZCI6ImF6dXJlbWwifQ.Q548NMQZczwBKrVO7A57_WfPNd0LQ7nw2fG8rpZ7Yf3LO6UEfEqo8P8BoeInFxFhX4_6ciX9AiLuxChlgqnVrR4kj9GyRt0eRRMyP4DOKKB1LDFeQOf-t59pYHwdYrpzoOlovHBQm86pV4GG__49qxB1JEsqh87YqnU0cijDZf2LjAL_iU5jCzyAyNeJdhIbcvlllMYRYAifj-IrLwcLITqOrUrrlOpJ8QXz6adLLh8PACfO1O2iO87KqjtFAKS93V0ekcsAfj3af3Qlw7B2cEOckRfnPov602GwdxFlJU40f5hFz1P1GEF5TyKzNNLOazQQwZ40rYSQOCXBxxuycA",
        "tokenExpiryTimeUtc": "2024-06-28T18:17:20.9502572+00:00", "error": null,
        "warnings": null, "revision": 2, "statusRevision": 0, "runUuid": "33ab0848-e4f0-4a96-96ad-4492c80bfe1b",
        "parentRunUuid": null, "rootRunUuid": "33ab0848-e4f0-4a96-96ad-4492c80bfe1b",
        "lastStartTimeUtc": "2024-06-07T16:17:17.652+00:00", "currentComputeTime":
        "00:00:00", "computeDuration": null, "effectiveStartTimeUtc": "2024-06-07T16:17:17.652+00:00",
        "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Nikolay Rovinskiy", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-06-07T16:17:23.350837+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "e4102cfe-0237-4993-905b-0aa0f3909df1", "parentRunId": null, "experimentId":
        "00000000-0000-0000-0000-000000000000", "status": "Running", "startTimeUtc":
        "2024-06-07T16:17:17.652+00:00", "endTimeUtc": null, "scheduleId": null, "displayName":
        "modest_bucket_xwbqj7lt", "name": null, "dataContainerId": "dcid.e4102cfe-0237-4993-905b-0aa0f3909df1",
        "description": null, "hidden": false, "runType": null, "runTypeV2": {"orchestrator":
        null, "traits": ["mlflow"], "attribution": null, "computeType": null}, "properties":
        {"mlflow.artifactUri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/e4102cfe-0237-4993-905b-0aa0f3909df1/artifacts",
        "test": "42"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.036'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "e4102cfe-0237-4993-905b-0aa0f3909df1", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "e4102cfe-0237-4993-905b-0aa0f3909df1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "e4102cfe-0237-4993-905b-0aa0f3909df1", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "modest_bucket_xwbqj7lt",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "FINISHED", "start_time":
        "1717777037652", "end_time": "1717777046571", "lifecycle_stage": "active",
        "run_id": "e4102cfe-0237-4993-905b-0aa0f3909df1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.493'
    status:
      code: 200
      message: OK
version: 1
