interactions:
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "16851ed2-46d4-44dd-98a8-1a6361c521e1",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1718210877652", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/16851ed2-46d4-44dd-98a8-1a6361c521e1/artifacts",
        "lifecycle_stage": "active", "run_id": "16851ed2-46d4-44dd-98a8-1a6361c521e1"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "16851ed2-46d4-44dd-98a8-1a6361c521e1"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.273'
    status:
      code: 200
      message: OK
- request:
    body: '{"paths": [{"path": "test_log_artifact0/test.json"}, {"path": "test_log_artifact0/internal_dir/test.json"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/16851ed2-46d4-44dd-98a8-1a6361c521e1/artifacts/batch/metadata
  response:
    body:
      string: '{"artifacts": {"test_log_artifact0/test.json": {"artifactId": "ExperimentRun/dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1/test_log_artifact0/test.json",
        "origin": "ExperimentRun", "container": "dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1",
        "path": "test_log_artifact0/test.json", "etag": null, "createdTime": "2024-06-12T16:48:05.38839+00:00",
        "dataPath": null, "tags": {}}, "test_log_artifact0/internal_dir/test.json":
        {"artifactId": "ExperimentRun/dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1/test_log_artifact0/internal_dir/test.json",
        "origin": "ExperimentRun", "container": "dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1",
        "path": "test_log_artifact0/internal_dir/test.json", "etag": null, "createdTime":
        "2024-06-12T16:48:05.3884261+00:00", "dataPath": null, "tags": {}}}, "artifactContentInformation":
        {"test_log_artifact0/test.json": {"contentUri": "https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1/test_log_artifact0/test.json?sv=2019-07-07&sr=b&sig=MpbSwbuh2FP1BCdvy2IAquaX8oZ6h6t37Nb%2B9idb3%2FQ%3D&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-12T16%3A38%3A05Z&ske=2024-06-14T00%3A48%3A05Z&sks=b&skv=2019-07-07&st=2024-06-12T16%3A38%3A05Z&se=2024-06-13T16%3A48%3A05Z&sp=rcw",
        "origin": "ExperimentRun", "container": "dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1",
        "path": "test_log_artifact0/test.json", "tags": {}}, "test_log_artifact0/internal_dir/test.json":
        {"contentUri": "https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1/test_log_artifact0/internal_dir/test.json?sv=2019-07-07&sr=b&sig=IKn6hKkHelR%2B9iowlbR3hVnrXtT9pdo%2FbR7%2Br0Skw9w%3D&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-12T16%3A38%3A05Z&ske=2024-06-14T00%3A48%3A05Z&sks=b&skv=2019-07-07&st=2024-06-12T16%3A38%3A05Z&se=2024-06-13T16%3A48%3A05Z&sp=rcw",
        "origin": "ExperimentRun", "container": "dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1",
        "path": "test_log_artifact0/internal_dir/test.json", "tags": {}}}, "errors":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.335'
    status:
      code: 200
      message: OK
- request:
    body: '{"f1": 0.5}'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 12 Jun 2024 16:48:05 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1/test_log_artifact0/test.json?se=2024-06-13T16%3A48%3A05Z&sig=MpbSwbuh2FP1BCdvy2IAquaX8oZ6h6t37Nb%2B9idb3%2FQ%3D&ske=2024-06-14T00%3A48%3A05Z&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sks=b&skt=2024-06-12T16%3A38%3A05Z&sktid=00000000-0000-0000-0000-000000000000&skv=2019-07-07&sp=rcw&sr=b&st=2024-06-12T16%3A38%3A05Z&sv=2019-07-07
  response:
    body:
      string: ''
    headers:
      content-md5:
      - diUhBBdPqiF5HmMm8IgKdw==
      last-modified:
      - Wed, 12 Jun 2024 16:48:06 GMT
      x-ms-content-crc64:
      - 5eDdDLCk6vg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"internal_f1": 0.6}'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 12 Jun 2024 16:48:07 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.16851ed2-46d4-44dd-98a8-1a6361c521e1/test_log_artifact0/internal_dir/test.json?se=2024-06-13T16%3A48%3A05Z&sig=IKn6hKkHelR%2B9iowlbR3hVnrXtT9pdo%2FbR7%2Br0Skw9w%3D&ske=2024-06-14T00%3A48%3A05Z&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sks=b&skt=2024-06-12T16%3A38%3A05Z&sktid=00000000-0000-0000-0000-000000000000&skv=2019-07-07&sp=rcw&sr=b&st=2024-06-12T16%3A38%3A05Z&sv=2019-07-07
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ajrc77H5/pKmiiAzHB+q7A==
      last-modified:
      - Wed, 12 Jun 2024 16:48:08 GMT
      x-ms-content-crc64:
      - +o3ucAmEJMI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"run_uuid": "16851ed2-46d4-44dd-98a8-1a6361c521e1", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "16851ed2-46d4-44dd-98a8-1a6361c521e1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "16851ed2-46d4-44dd-98a8-1a6361c521e1", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1718210877652", "end_time": "1718210892749",
        "lifecycle_stage": "active", "run_id": "16851ed2-46d4-44dd-98a8-1a6361c521e1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.465'
    status:
      code: 200
      message: OK
version: 1
