interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.023'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "6593a4ba-6042-41d5-83d4-118aa173c5f1",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "sleepy_store_crzk50kp",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1717630629891", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/6593a4ba-6042-41d5-83d4-118aa173c5f1/artifacts",
        "lifecycle_stage": "active", "run_id": "6593a4ba-6042-41d5-83d4-118aa173c5f1"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "6593a4ba-6042-41d5-83d4-118aa173c5f1"}, {"key":
        "mlflow.runName", "value": "sleepy_store_crzk50kp"}, {"key": "mlflow.user",
        "value": "Nikolay Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.108'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "6593a4ba-6042-41d5-83d4-118aa173c5f1", "properties": {"test":
      42}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/6593a4ba-6042-41d5-83d4-118aa173c5f1
  response:
    body:
      string: '{"runNumber": 1717630631, "rootRunId": "6593a4ba-6042-41d5-83d4-118aa173c5f1",
        "createdUtc": "2024-06-05T23:37:09.891+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Nikolay
        Rovinskiy", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijk3QTcyRUQyOUNFMjMwMTQwQjVGNzFEOTkyODk2NzBDRDRGNEJFMzUiLCJ0eXAiOiJKV1QifQ.eyJyb2xlIjoiQ29udHJpYnV0b3IiLCJzY29wZSI6Ii9zdWJzY3JpcHRpb25zLzZhNmZmZjAwLTQ0NjQtNGVhYi1hNmIxLTBiNTMzYzcyMDJlMC9yZXNvdXJjZUdyb3Vwcy9uaXJvdmlucy1yZy1lYXN0dXMvcHJvdmlkZXJzL01pY3Jvc29mdC5NYWNoaW5lTGVhcm5pbmdTZXJ2aWNlcy93b3Jrc3BhY2VzL25pcm92aW5zLXdzLWVhc3R1cyIsImFjY291bnRpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsIndvcmtzcGFjZUlkIjoiYTEzOTFhZjMtOWYzOC00OGU4LTg2MmYtZGIzODQ2ZTgxZGQ0IiwicHJvamVjdGlkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIiwiZGlzY292ZXJ5IjoidXJpOi8vZGlzY292ZXJ5dXJpLyIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsIm9pZCI6Ijc4NzViYWE2LTAyOGQtNDljOC1iZDRkLWE3NzJhYTRkYzAxMyIsInB1aWQiOiIxMDAzQkZGREE4QTREMEU3IiwiaXNzIjoiYXp1cmVtbCIsImFwcGlkIjoiTmlrb2xheSBSb3ZpbnNraXkiLCJleHAiOjE3MTk0NTEwMDYsImF1ZCI6ImF6dXJlbWwifQ.mJLPdv6rIl-l2Iwqzhzi3nHWjcHzO5SdMs4vAdQbkwUho_AXxRMUX6pRX6mXWpmwxcCu90HZdIqiubHJySx4Pv0Xg15vIva7vJxj3LQsOuOo7RG4ir79jb0L2XmP2b9rNzU1m-DXn_6RmZYmH0iwuR6KErfyUh5XxAGBgh2SqgbS7cHsFWEZhmSD3-6TNyQZQejHKn828P0PZplUFRzT5bvbB0m9ROpJ98S1k5_cGvubUu_dzb43DTxRVjdvjJyA-f6zA6YL40oz5BlHvuubomtPzIAj7B4cwSnEuNTRhOQn1GTUC7CfHsewu3PLhNmTFZrG1BORfhmbTq9-JHeVTw",
        "tokenExpiryTimeUtc": "2024-06-27T01:16:46.0025083+00:00", "error": null,
        "warnings": null, "revision": 2, "statusRevision": 0, "runUuid": "8a67649a-37a2-46b7-91d9-92e182785562",
        "parentRunUuid": null, "rootRunUuid": "8a67649a-37a2-46b7-91d9-92e182785562",
        "lastStartTimeUtc": "2024-06-05T23:37:09.891+00:00", "currentComputeTime":
        "00:00:00", "computeDuration": null, "effectiveStartTimeUtc": "2024-06-05T23:37:09.891+00:00",
        "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Nikolay Rovinskiy", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-06-05T23:37:14.4530942+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "6593a4ba-6042-41d5-83d4-118aa173c5f1", "parentRunId": null, "experimentId":
        "00000000-0000-0000-0000-000000000000", "status": "Running", "startTimeUtc":
        "2024-06-05T23:37:09.891+00:00", "endTimeUtc": null, "scheduleId": null, "displayName":
        "sleepy_store_crzk50kp", "name": null, "dataContainerId": "dcid.6593a4ba-6042-41d5-83d4-118aa173c5f1",
        "description": null, "hidden": false, "runType": null, "runTypeV2": {"orchestrator":
        null, "traits": ["mlflow"], "attribution": null, "computeType": null}, "properties":
        {"mlflow.artifactUri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/6593a4ba-6042-41d5-83d4-118aa173c5f1/artifacts",
        "test": "42"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.045'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "6593a4ba-6042-41d5-83d4-118aa173c5f1", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "6593a4ba-6042-41d5-83d4-118aa173c5f1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "6593a4ba-6042-41d5-83d4-118aa173c5f1", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "sleepy_store_crzk50kp",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "FINISHED", "start_time":
        "1717630629891", "end_time": "1717630636869", "lifecycle_stage": "active",
        "run_id": "6593a4ba-6042-41d5-83d4-118aa173c5f1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.460'
    status:
      code: 200
      message: OK
version: 1
