interactions:
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}], "run_name": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "ec63f89c-52bb-4acf-9657-e29d37e60a3b",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "test",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1718210935597", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/ec63f89c-52bb-4acf-9657-e29d37e60a3b/artifacts",
        "lifecycle_stage": "active", "run_id": "ec63f89c-52bb-4acf-9657-e29d37e60a3b"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "ec63f89c-52bb-4acf-9657-e29d37e60a3b"}, {"key":
        "mlflow.runName", "value": "test"}, {"key": "mlflow.user", "value": "Nikolay
        Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.144'
    status:
      code: 200
      message: OK
- request:
    body: '{"runId": "evals_e2etests_target_fn_wqo0_peh_20240606_102622_386974", "properties":
      {"test": 42}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/ec63f89c-52bb-4acf-9657-e29d37e60a3b
  response:
    body:
      string: '{"runNumber": 1718210938, "rootRunId": "ec63f89c-52bb-4acf-9657-e29d37e60a3b",
        "createdUtc": "2024-06-12T16:48:55.597+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Nikolay
        Rovinskiy", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijk3QTcyRUQyOUNFMjMwMTQwQjVGNzFEOTkyODk2NzBDRDRGNEJFMzUiLCJ0eXAiOiJKV1QifQ.eyJyb2xlIjoiQ29udHJpYnV0b3IiLCJzY29wZSI6Ii9zdWJzY3JpcHRpb25zLzZhNmZmZjAwLTQ0NjQtNGVhYi1hNmIxLTBiNTMzYzcyMDJlMC9yZXNvdXJjZUdyb3Vwcy9uaXJvdmlucy1yZy1lYXN0dXMvcHJvdmlkZXJzL01pY3Jvc29mdC5NYWNoaW5lTGVhcm5pbmdTZXJ2aWNlcy93b3Jrc3BhY2VzL25pcm92aW5zLXdzLWVhc3R1cyIsImFjY291bnRpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsIndvcmtzcGFjZUlkIjoiYTEzOTFhZjMtOWYzOC00OGU4LTg2MmYtZGIzODQ2ZTgxZGQ0IiwicHJvamVjdGlkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIiwiZGlzY292ZXJ5IjoidXJpOi8vZGlzY292ZXJ5dXJpLyIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsIm9pZCI6Ijc4NzViYWE2LTAyOGQtNDljOC1iZDRkLWE3NzJhYTRkYzAxMyIsInB1aWQiOiIxMDAzQkZGREE4QTREMEU3IiwiaXNzIjoiYXp1cmVtbCIsImFwcGlkIjoiTmlrb2xheSBSb3ZpbnNraXkiLCJleHAiOjE3MjAwMzE5MjksImF1ZCI6ImF6dXJlbWwifQ.zLQZQO4GcxpmfpSxuGP0FFNg37nLNoWw6wFrVpLLzszJubYhX8rNZnvlBFMYs0BRhcT6p9w6QgJQ2JqW_KzSQ082-2AY7QMsG7MXd8r7jtjG2Cpo9sKG_-vIE07HM50p4pUt75rH4lnik-TkZkjmVLrRzeU3TApq_I_ksS2x6Csw9X1Z6aSZMhlwmz8bGvh8Su9Ad0skgKubIUiD1OQiMbh0I_P4m2Rv0cLNsP1FlMujinxTqR9O2gXAJ2EiIqKhf7GolTyPhvgnnGkZZqF-u3eVeZ_H3C9OS_tE1-Z8nrosZI-yaKmSSYIy9Dxn2RZXrKx2hRto5KwrIxHSzw_QBQ",
        "tokenExpiryTimeUtc": "2024-07-03T18:38:49.0105834+00:00", "error": null,
        "warnings": null, "revision": 2, "statusRevision": 0, "runUuid": "2f903131-37c9-490e-b477-c3738ff88426",
        "parentRunUuid": null, "rootRunUuid": "2f903131-37c9-490e-b477-c3738ff88426",
        "lastStartTimeUtc": "2024-06-12T16:48:55.597+00:00", "currentComputeTime":
        "00:00:00", "computeDuration": null, "effectiveStartTimeUtc": "2024-06-12T16:48:55.597+00:00",
        "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Nikolay Rovinskiy", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-06-12T16:49:00.8488267+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "ec63f89c-52bb-4acf-9657-e29d37e60a3b", "parentRunId": null, "experimentId":
        "00000000-0000-0000-0000-000000000000", "status": "Running", "startTimeUtc":
        "2024-06-12T16:48:55.597+00:00", "endTimeUtc": null, "scheduleId": null, "displayName":
        "test", "name": null, "dataContainerId": "dcid.ec63f89c-52bb-4acf-9657-e29d37e60a3b",
        "description": null, "hidden": false, "runType": null, "runTypeV2": {"orchestrator":
        null, "traits": ["mlflow"], "attribution": null, "computeType": null}, "properties":
        {"mlflow.artifactUri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/ec63f89c-52bb-4acf-9657-e29d37e60a3b/artifacts",
        "test": "42"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.040'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "ec63f89c-52bb-4acf-9657-e29d37e60a3b", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "ec63f89c-52bb-4acf-9657-e29d37e60a3b"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "ec63f89c-52bb-4acf-9657-e29d37e60a3b", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "test", "user_id": "00000000-0000-0000-0000-000000000000",
        "status": "FINISHED", "start_time": "1718210935597", "end_time": "1718210943586",
        "lifecycle_stage": "active", "run_id": "ec63f89c-52bb-4acf-9657-e29d37e60a3b"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.559'
    status:
      code: 200
      message: OK
version: 1
