interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery", "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/workspaces/00000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.031'
    status:
      code: 200
      message: OK
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dc.services.visualstudio.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 0, "appId": null, "errors": [{"index":
        0, "statusCode": 307, "message": "Ingestion is allowed only from stamp specific
        endpoint - Location: https://eastus-8.in.applicationinsights.azure.com/v2.1/track"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://eastus-8.in.applicationinsights.azure.com/v2.1/track
    status:
      code: 307
      message: Temporary Redirect
[...]
- request:
    body: '[{"ver": 1, "name": "Microsoft.ApplicationInsights.Event", "time": "2024-06-06T23:20:59.838896Z",
      "sampleRate": 100.0, "iKey": "00000000-0000-0000-0000-000000000000", "tags":
      {"foo": "bar"}}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus-8.in.applicationinsights.azure.com/v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 1, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions
  response:
    body:
      string: '{"entityId": "a1391af3-9f38-48e8-862f-db3846e81dd4", "traceCosmosConfiguration":
        "None", "traceCosmosStatus": "Initialized", "accountEndpoint": "", "databaseName":
        "PromptFlowTraceSession", "resourceArmId": "", "resourceType": 1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.533'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "nice_floor_hb1b1h9t",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1717733443454", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/b797dd76-c228-4a0c-8ba4-0d41f4dce7ad/artifacts",
        "lifecycle_stage": "active", "run_id": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad"}, {"key":
        "mlflow.runName", "value": "nice_floor_hb1b1h9t"}, {"key": "mlflow.user",
        "value": "Nikolay Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.351'
    status:
      code: 200
      message: OK
- request:
    body: '{"paths": [{"path": "evaluation_results/eval_results.jsonl"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/b797dd76-c228-4a0c-8ba4-0d41f4dce7ad/artifacts/batch/metadata
  response:
    body:
      string: '{"artifacts": {"evaluation_results/eval_results.jsonl": {"artifactId":
        "ExperimentRun/dcid.b797dd76-c228-4a0c-8ba4-0d41f4dce7ad/evaluation_results/eval_results.jsonl",
        "origin": "ExperimentRun", "container": "dcid.b797dd76-c228-4a0c-8ba4-0d41f4dce7ad",
        "path": "evaluation_results/eval_results.jsonl", "etag": null, "createdTime":
        "2024-06-07T04:10:50.0015468+00:00", "dataPath": null, "tags": {}}}, "artifactContentInformation":
        {"evaluation_results/eval_results.jsonl": {"contentUri": "https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.b797dd76-c228-4a0c-8ba4-0d41f4dce7ad/evaluation_results/eval_results.jsonl?sv=2019-07-07&sr=b&sig=dRHHxYUsJlve7j73P4xhC2zP4lGoae7e0O%2FBSwjm8vE%3D&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-07T04%3A00%3A49Z&ske=2024-06-08T12%3A10%3A49Z&sks=b&skv=2019-07-07&st=2024-06-07T04%3A00%3A49Z&se=2024-06-08T04%3A10%3A49Z&sp=rcw",
        "origin": "ExperimentRun", "container": "dcid.b797dd76-c228-4a0c-8ba4-0d41f4dce7ad",
        "path": "evaluation_results/eval_results.jsonl", "tags": {}}}, "errors": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '1.682'
    status:
      code: 200
      message: OK
- request:
    body: "{\"inputs.question\":\"How long is flight from Earth to LV-426?\",\"inputs.answer\":\"There
      is nothing good there.\",\"inputs.ground_truth\":\"39 light years\",\"outputs.f1.f1_score\":0.0,\"line_number\":0}\r\n"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 07 Jun 2024 04:10:50 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.b797dd76-c228-4a0c-8ba4-0d41f4dce7ad/evaluation_results/eval_results.jsonl?se=2024-06-08T04%3A10%3A49Z&sig=dRHHxYUsJlve7j73P4xhC2zP4lGoae7e0O%2FBSwjm8vE%3D&ske=2024-06-08T12%3A10%3A49Z&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sks=b&skt=2024-06-07T04%3A00%3A49Z&sktid=00000000-0000-0000-0000-000000000000&skv=2019-07-07&sp=rcw&sr=b&st=2024-06-07T04%3A00%3A49Z&sv=2019-07-07
  response:
    body:
      string: ''
    headers:
      content-md5:
      - G3n2KMFFaqFbUGDeX34xXw==
      last-modified:
      - Fri, 07 Jun 2024 04:10:51 GMT
      x-ms-content-crc64:
      - 0Myc02lzbG0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"runId": "evals_e2etests_target_fn_wqo0_peh_20240606_102622_386974", "properties":
      {"_azureml.evaluation_run": "azure-ai-generative-parent", "_azureml.evaluate_artifacts":
      "[{\"path\": \"eval_results.jsonl\", \"type\": \"table\"}]", "isEvaluatorRun":
      "true"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/b797dd76-c228-4a0c-8ba4-0d41f4dce7ad
  response:
    body:
      string: '{"runNumber": 1717733445, "rootRunId": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad",
        "createdUtc": "2024-06-07T04:10:43.454+00:00", "createdBy": {"userObjectId":
        "00000000-0000-0000-0000-000000000000", "userPuId": "1003BFFDA8A4D0E7", "userIdp":
        null, "userAltSecId": null, "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000/",
        "userTenantId": "00000000-0000-0000-0000-000000000000", "userName": "Nikolay
        Rovinskiy", "upn": "username@microsoft.com"}, "userId": "00000000-0000-0000-0000-000000000000",
        "token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijk3QTcyRUQyOUNFMjMwMTQwQjVGNzFEOTkyODk2NzBDRDRGNEJFMzUiLCJ0eXAiOiJKV1QifQ.eyJyb2xlIjoiQ29udHJpYnV0b3IiLCJzY29wZSI6Ii9zdWJzY3JpcHRpb25zLzZhNmZmZjAwLTQ0NjQtNGVhYi1hNmIxLTBiNTMzYzcyMDJlMC9yZXNvdXJjZUdyb3Vwcy9uaXJvdmlucy1yZy1lYXN0dXMvcHJvdmlkZXJzL01pY3Jvc29mdC5NYWNoaW5lTGVhcm5pbmdTZXJ2aWNlcy93b3Jrc3BhY2VzL25pcm92aW5zLXdzLWVhc3R1cyIsImFjY291bnRpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsIndvcmtzcGFjZUlkIjoiYTEzOTFhZjMtOWYzOC00OGU4LTg2MmYtZGIzODQ2ZTgxZGQ0IiwicHJvamVjdGlkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIiwiZGlzY292ZXJ5IjoidXJpOi8vZGlzY292ZXJ5dXJpLyIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsIm9pZCI6Ijc4NzViYWE2LTAyOGQtNDljOC1iZDRkLWE3NzJhYTRkYzAxMyIsInB1aWQiOiIxMDAzQkZGREE4QTREMEU3IiwiaXNzIjoiYXp1cmVtbCIsImFwcGlkIjoiTmlrb2xheSBSb3ZpbnNraXkiLCJleHAiOjE3MTk1NTUwNDUsImF1ZCI6ImF6dXJlbWwifQ.kaxuNrkEz4ARPy6HrRPEacX_xSZtHq4yBavn8TzVcP5UgaOCPpMPDWP20kddt2heommexMarDJ22MNzCB_S4x6ZbAfbg8TqBc7eohTq67Dirl2G5hfU0LEbgGxBPsaHSgdwPcVpnV6BGb1EfFctKJk9AegfY9hBNnZjDWJxTwdDxkNnM0PrwZAHqNqEyDPCVe2BGeogIN2n9IVPf80uMkcpTJQr_SyV1KV6uhUS-8975Xj9-wK9-1_XVBOJQcWX3-kkRRl-dfGFk59w7eFJ7eku6h9mm0G7Ft2qzMiR4Zmu3yG8T5cCQYDX8k2OaxIhHqJi1awjux_BvYJuwoXfg5A",
        "tokenExpiryTimeUtc": "2024-06-28T06:10:45.8846867+00:00", "error": null,
        "warnings": null, "revision": 2, "statusRevision": 0, "runUuid": "9f45dee8-d84a-49b7-8b2c-e93f685c6237",
        "parentRunUuid": null, "rootRunUuid": "9f45dee8-d84a-49b7-8b2c-e93f685c6237",
        "lastStartTimeUtc": "2024-06-07T04:10:43.454+00:00", "currentComputeTime":
        "00:00:00", "computeDuration": null, "effectiveStartTimeUtc": "2024-06-07T04:10:43.454+00:00",
        "lastModifiedBy": {"userObjectId": "00000000-0000-0000-0000-000000000000",
        "userPuId": "1003BFFDA8A4D0E7", "userIdp": null, "userAltSecId": null, "userIss":
        "https://sts.windows.net/00000000-0000-0000-0000-000000000000/", "userTenantId":
        "00000000-0000-0000-0000-000000000000", "userName": "Nikolay Rovinskiy", "upn":
        "username@microsoft.com"}, "lastModifiedUtc": "2024-06-07T04:10:53.3381884+00:00",
        "duration": null, "cancelationReason": null, "currentAttemptId": 1, "runId":
        "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad", "parentRunId": null, "experimentId":
        "00000000-0000-0000-0000-000000000000", "status": "Running", "startTimeUtc":
        "2024-06-07T04:10:43.454+00:00", "endTimeUtc": null, "scheduleId": null, "displayName":
        "nice_floor_hb1b1h9t", "name": null, "dataContainerId": "dcid.b797dd76-c228-4a0c-8ba4-0d41f4dce7ad",
        "description": null, "hidden": false, "runType": null, "runTypeV2": {"orchestrator":
        null, "traits": ["mlflow"], "attribution": null, "computeType": null}, "properties":
        {"mlflow.artifactUri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/b797dd76-c228-4a0c-8ba4-0d41f4dce7ad/artifacts",
        "_azureml.evaluation_run": "azure-ai-generative-parent", "_azureml.evaluate_artifacts":
        "[{\"path\": \"eval_results.jsonl\", \"type\": \"table\"}]", "isEvaluatorRun":
        "true"}, "parameters": {}, "actionUris": {}, "scriptName": null, "target":
        null, "uniqueChildRunComputeTargets": [], "tags": {"mlflow.user": "promptflow-evals"},
        "settings": {}, "services": {}, "inputDatasets": [], "outputDatasets": [],
        "runDefinition": null, "jobSpecification": null, "primaryMetricName": null,
        "createdFrom": null, "cancelUri": null, "completeUri": null, "diagnosticsUri":
        null, "computeRequest": null, "compute": null, "retainForLifetimeOfWorkspace":
        false, "queueingInfo": null, "inputs": null, "outputs": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.039'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad", "key": "f1.f1_score",
      "value": 0.0, "timestamp": "1717563256242", "step": 0, "run_id": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.717'
    status:
      code: 200
      message: OK
- request:
    body: '{"run_uuid": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "nice_floor_hb1b1h9t",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "FINISHED", "start_time":
        "1717733443454", "end_time": "1717733458668", "lifecycle_stage": "active",
        "run_id": "b797dd76-c228-4a0c-8ba4-0d41f4dce7ad"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.551'
    status:
      code: 200
      message: OK
version: 1
