interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000", "type": "Microsoft.MachineLearningServices/workspaces", "location":
        "eastus2", "tags": {}, "etag": null, "kind": "Default", "sku": {"name": "Basic",
        "tier": "Basic"}, "properties": {"discoveryUrl": "https://eastus2.api.azureml.ms/discovery"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.024'
    status:
      code: 200
      message: OK
- request:
    body: '{"experiment_id": "0", "user_id": "promptflow-evals", "start_time": "1717563256142",
      "tags": [{"key": "mlflow.user", "value": "promptflow-evals"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create
  response:
    body:
      string: '{"run": {"info": {"run_uuid": "7f83a0e0-368b-40d9-9cc8-20d2459a3422",
        "experiment_id": "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "maroon_spade_wxz8fvsh",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "RUNNING", "start_time":
        "1717630666967", "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/7f83a0e0-368b-40d9-9cc8-20d2459a3422/artifacts",
        "lifecycle_stage": "active", "run_id": "7f83a0e0-368b-40d9-9cc8-20d2459a3422"},
        "data": {"tags": [{"key": "mlflow.user", "value": "promptflow-evals"}, {"key":
        "mlflow.rootRunId", "value": "7f83a0e0-368b-40d9-9cc8-20d2459a3422"}, {"key":
        "mlflow.runName", "value": "maroon_spade_wxz8fvsh"}, {"key": "mlflow.user",
        "value": "Nikolay Rovinskiy"}]}, "inputs": {}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.126'
    status:
      code: 200
      message: OK
- request:
    body: '{"paths": [{"path": "test_log_artifact0/test.json"}, {"path": "test_log_artifact0/internal_dir/test.json"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/5ea666e7-ae55-4060-a8a3-71e6e03fab9c/runs/7f83a0e0-368b-40d9-9cc8-20d2459a3422/artifacts/batch/metadata
  response:
    body:
      string: '{"artifacts": {"test_log_artifact0/test.json": {"artifactId": "ExperimentRun/dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422/test_log_artifact0/test.json",
        "origin": "ExperimentRun", "container": "dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422",
        "path": "test_log_artifact0/test.json", "etag": null, "createdTime": "2024-06-05T23:37:51.8839305+00:00",
        "dataPath": null, "tags": {}}, "test_log_artifact0/internal_dir/test.json":
        {"artifactId": "ExperimentRun/dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422/test_log_artifact0/internal_dir/test.json",
        "origin": "ExperimentRun", "container": "dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422",
        "path": "test_log_artifact0/internal_dir/test.json", "etag": null, "createdTime":
        "2024-06-05T23:37:51.8839523+00:00", "dataPath": null, "tags": {}}}, "artifactContentInformation":
        {"test_log_artifact0/test.json": {"contentUri": "https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422/test_log_artifact0/test.json?sv=2019-07-07&sr=b&sig=tfmX8Yz1RFlg7uwEIBaRjwUWiNgKor%2FxepKJLkS2mNE%3D&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-05T23%3A27%3A51Z&ske=2024-06-07T07%3A37%3A51Z&sks=b&skv=2019-07-07&st=2024-06-05T23%3A27%3A51Z&se=2024-06-06T23%3A37%3A51Z&sp=rcw",
        "origin": "ExperimentRun", "container": "dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422",
        "path": "test_log_artifact0/test.json", "tags": {}}, "test_log_artifact0/internal_dir/test.json":
        {"contentUri": "https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422/test_log_artifact0/internal_dir/test.json?sv=2019-07-07&sr=b&sig=fR1tOSMpWHXIpiyFs7e4F4g3VxOMYTg4q23pxfvv%2B%2FA%3D&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-05T23%3A27%3A51Z&ske=2024-06-07T07%3A37%3A51Z&sks=b&skv=2019-07-07&st=2024-06-05T23%3A27%3A51Z&se=2024-06-06T23%3A37%3A51Z&sp=rcw",
        "origin": "ExperimentRun", "container": "dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422",
        "path": "test_log_artifact0/internal_dir/test.json", "tags": {}}}, "errors":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.460'
    status:
      code: 200
      message: OK
- request:
    body: '{"f1": 0.5}'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 05 Jun 2024 23:37:52 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422/test_log_artifact0/test.json?se=2024-06-06T23%3A37%3A51Z&sig=tfmX8Yz1RFlg7uwEIBaRjwUWiNgKor%2FxepKJLkS2mNE%3D&ske=2024-06-07T07%3A37%3A51Z&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sks=b&skt=2024-06-05T23%3A27%3A51Z&sktid=00000000-0000-0000-0000-000000000000&skv=2019-07-07&sp=rcw&sr=b&st=2024-06-05T23%3A27%3A51Z&sv=2019-07-07
  response:
    body:
      string: ''
    headers:
      content-md5:
      - diUhBBdPqiF5HmMm8IgKdw==
      last-modified:
      - Wed, 05 Jun 2024 23:37:52 GMT
      x-ms-content-crc64:
      - 5eDdDLCk6vg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"internal_f1": 0.6}'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 05 Jun 2024 23:37:53 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://nirovinswseast5028951403.blob.core.windows.net/azureml/ExperimentRun/dcid.7f83a0e0-368b-40d9-9cc8-20d2459a3422/test_log_artifact0/internal_dir/test.json?se=2024-06-06T23%3A37%3A51Z&sig=fR1tOSMpWHXIpiyFs7e4F4g3VxOMYTg4q23pxfvv%2B%2FA%3D&ske=2024-06-07T07%3A37%3A51Z&skoid=f4777969-da99-42e7-a95c-5f6396e15e83&sks=b&skt=2024-06-05T23%3A27%3A51Z&sktid=00000000-0000-0000-0000-000000000000&skv=2019-07-07&sp=rcw&sr=b&st=2024-06-05T23%3A27%3A51Z&sv=2019-07-07
  response:
    body:
      string: ''
    headers:
      content-md5:
      - ajrc77H5/pKmiiAzHB+q7A==
      last-modified:
      - Wed, 05 Jun 2024 23:37:53 GMT
      x-ms-content-crc64:
      - +o3ucAmEJMI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"run_uuid": "7f83a0e0-368b-40d9-9cc8-20d2459a3422", "status": "FINISHED",
      "end_time": "1717563261483", "run_id": "7f83a0e0-368b-40d9-9cc8-20d2459a3422"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update
  response:
    body:
      string: '{"run_info": {"run_uuid": "7f83a0e0-368b-40d9-9cc8-20d2459a3422", "experiment_id":
        "5ea666e7-ae55-4060-a8a3-71e6e03fab9c", "run_name": "maroon_spade_wxz8fvsh",
        "user_id": "00000000-0000-0000-0000-000000000000", "status": "FINISHED", "start_time":
        "1717630666967", "end_time": "1717630676075", "lifecycle_stage": "active",
        "run_id": "7f83a0e0-368b-40d9-9cc8-20d2459a3422"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.473'
    status:
      code: 200
      message: OK
version: 1
