The directory structure in the package tool is as follows:
```python
{{ package_name }}
│   setup.py                # This file contains metadata about your project like the name, version.
│
│   MANIFEST.in             # This file is used to determine which files to include in the distribution of the project.
│
└───{{ package_name }}{{" " * (24 - package_name|length)}}# This is the source directory. All of your project’s source code should be placed in this directory.
        {{ tool_name }}.py{{ " " * (17 - tool_name|length)}}# The source code of tools. Using the @tool decorator to identify the function as a tool.
        utils.py            # Utility functions for the package. A method for listing all tools defined in the package is generated in this file.
        __init__.py
```

Please refer to [tool doc](https://microsoft.github.io/promptflow/how-to-guides/develop-a-tool/index.html) for more details about how to develop a tool.
