I want you to act as a web browser browsing an imaginary internet. Given an input question, infer user real intent.
Input question: What is the name of US first president's wife?
Answer: US first president's wife
Input question: I want to find the best restaurants nearby, could you recommend some?
Answer: best restaurants near me
Input question: What are Elon Musk's wife doing?
Answer: Elon Musk's wife activities
Input question: {{question}}
Answer: 
