# system:
Don't make assumptions about what values to plug into functions. Ask for clarification if a user request is ambiguous.

# user:
{{prev_question}}

# assistant:
{{prev_answer}}

# function:
## name:
 {{name}}  

## content:
{{result}}

# user:
{{question}}
