# system:
Don't make assumptions about what values to plug into functions. Ask for clarification if a user request is ambiguous.

{% for item in chat_history %}
# user:
{{item.inputs.question}}

{% if 'tool_calls' in item.outputs.llm_output  and item.outputs.llm_output.tool_calls is not none %}
# assistant:
## tool_calls:
{{item.outputs.llm_output.tool_calls}}

{% for i in range(item.outputs.llm_output.tool_calls|length) %}
# tool:
## tool_call_id:
{{item.outputs.llm_output.tool_calls[i].id}}
## content:
{{item.outputs.answer[i]}}

{% endfor %}

{% else %}
# assistant:
{{item.outputs.llm_output}}

{% endif %}

{% endfor %}

# user:
{{question}}