interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Connections/azure_open_ai_connection
  response:
    body:
      string: '{"connectionName": "azure_open_ai_connection", "connectionType": "AzureOpenAI",
        "configs": {"api_base": "https://gpt-test-eus.openai.azure.com/", "api_key":
        null, "api_type": "azure", "api_version": "2023-07-01-preview", "resource_id":
        null}, "owner": {"userName": "yigao@microsoft.com"}, "createdDate": "2023-08-22T10:15:34.5762053Z",
        "lastModifiedDate": "2023-08-22T10:15:34.5762053Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-client-user-type:
      - ApiUser
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Connections/custom_connection
  response:
    body:
      string: '{"connectionName": "custom_connection", "connectionType": "Custom",
        "owner": {"userName": "sejuare@microsoft.com"}, "createdDate": "2023-06-19T20:56:12.0353964Z",
        "lastModifiedDate": "2023-06-19T20:56:12.0353964Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-client-user-type:
      - ApiUser
    status:
      code: 200
      message: OK
version: 1
