interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/Connections/specs
  response:
    body:
      string: '[{"connectionCategory": 15, "flowValueType": "AzureContentSafetyConnection",
        "connectionType": "AzureContentSafety", "connectionTypeDisplayName": "Azure
        content safety", "configSpecs": [{"name": "api_key", "displayName": "API key",
        "configValueType": "Secret", "isOptional": false}, {"name": "endpoint", "displayName":
        "Endpoint", "configValueType": "String", "isOptional": false}, {"name": "api_version",
        "displayName": "API version", "configValueType": "String", "defaultValue":
        "2023-04-30-preview", "isOptional": false}, {"name": "api_type", "displayName":
        "API type", "configValueType": "String", "defaultValue": "Content Safety",
        "isOptional": false}], "module": "promptflow.connections"}, {"connectionCategory":
        13, "flowValueType": "AzureOpenAIConnection", "connectionType": "AzureOpenAI",
        "connectionTypeDisplayName": "Azure OpenAI", "configSpecs": [{"name": "api_key",
        "displayName": "API key", "configValueType": "Secret", "isOptional": false},
        {"name": "api_base", "displayName": "API base", "configValueType": "String",
        "isOptional": false}, {"name": "api_type", "displayName": "API type", "configValueType":
      [...]
