{
  "azure_open_ai_connection": {
    "type": "AzureOpenAIConnection",
    "value": {
      "api_key": "aoai-api-key",
      "api_base": "aoai-api-endpoint",
      "api_type": "azure",
      "api_version": "2023-07-01-preview"
    },
    "module": "promptflow.connections"
  },
  "bing_config": {
    "type": "BingConnection",
    "value": {
      "api_key": "bing-api-key"
    },
    "module": "promptflow.connections"
  },
  "bing_connection": {
    "type": "BingConnection",
    "value": {
      "api_key": "bing-api-key"
    },
    "module": "promptflow.connections"
  },
  "azure_content_safety_config": {
    "type": "AzureContentSafetyConnection",
    "value": {
      "api_key": "content-safety-api-key",
      "endpoint": "https://content-safety-canary-test.cognitiveservices.azure.com",
      "api_version": "2023-04-30-preview"
    },
    "module": "promptflow.connections"
  },
  "serp_connection": {
    "type": "SerpConnection",
    "value": {
      "api_key": "serpapi-api-key"
    },
    "module": "promptflow.connections"
  },
  "translate_connection": {
    "type": "CustomConnection",
    "value": {
      "api_key": "<your-key>",
      "api_endpoint": "https://api.cognitive.microsofttranslator.com/",
      "api_region": "global"
    },
    "module": "promptflow.connections",
    "module": "promptflow.connections",
    "secret_keys": [
      "api_key"
    ]
  },
  "custom_connection": {
    "type": "CustomConnection",
    "value": {
      "key1": "hey",
      "key2": "val2"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "key1"
    ]
  },
  "custom_strong_type_connection": {
    "type": "CustomConnection",
    "value": {
      "api_key": "<your-key>",
      "api_base": "This is my first custom connection.",
      "promptflow.connection.custom_type": "MyFirstConnection",
      "promptflow.connection.module": "my_tool_package.connections"
    },
    "module": "promptflow.connections",
    "secret_keys": [
      "api_key"
    ]
  },
  "open_ai_connection": {
    "type": "OpenAIConnection",
    "value": {
      "api_key": "<your-key>",
      "organization": "<your-organization>"
    },
    "module": "promptflow.connections"
  }
}
