pre-commit
nox
mock
pytest-cov
coverage==6.0.1
pytest-forked
pytest-xdist
pytest-timeout
pytest-mock
pytest-nunit
pytest
pydash
wheel
azure-mgmt-storage==21.0.0
# Note: This is possibly-insecure, do not add this to setup.
keyrings.alt

promptflow-tools

beautifulsoup4==4.12.2
# record and replay http requests for pfazure tests
vcrpy==5.1.0
