azure-identity
azure-keyvault
beautifulsoup4==4.12.2
coverage==6.0.1
keyrings.alt  # this is possibly insecure, do not add this to setup.py
mock
nox
portalocker~=1.2
pre-commit
# promptflow-tools Comment this since it will take in unecessary dependencies
pydash
PyJWT==2.8.0  # parse token to get tenant id during sanitization
pytest
pytest-cov
pytest-forked
pytest-mock
pytest-nunit
pytest-sugar
pytest-timeout
pytest-xdist
setuptools
setuptools_rust
twine==4.0.0
vcrpy==5.1.0  # record and replay http requests for pfazure tests
wheel
httpx
