include promptflow/azure/resources/*
include promptflow/core/_serving/static/*
include promptflow/core/_serving/resources/*
include promptflow/_sdk/_service/static/*
include promptflow/_sdk/_service/static/assets/*
recursive-include promptflow/_cli/data *
recursive-include promptflow/_sdk/data *
