{% extends "workflow_skeleton.yml.jinja2" %}
{% block steps %}
runs-on: ubuntu-latest
environment:
  internal
steps:
  - name: Checkout repository
    uses: actions/checkout@v4
  - name: Setup Python 3.9 environment
    uses: actions/setup-python@v4
    with:
      python-version: "3.9"
  - name: Generate config.json for canary workspace (scheduled runs only)
    if: github.event_name == 'schedule'
    run: echo '${{ '{{' }} secrets.TEST_WORKSPACE_CONFIG_JSON_CANARY }}' > ${{ '{{' }} github.workspace }}/examples/config.json
  - name: Generate config.json for production workspace
    if: github.event_name != 'schedule'
    run: echo '${{ '{{' }} secrets.EXAMPLE_WORKSPACE_CONFIG_JSON_PROD }}' > ${{ '{{' }} github.workspace }}/examples/config.json
{%- filter indent(width=2) -%}
{% for step in steps %}
{{ step.get_workflow_step() }}{% endfor %}
{%- endfilter -%}
{% endblock steps %}