{% extends "workflow_skeleton.yml.jinja2" %}
{% block steps %}
runs-on: ubuntu-latest
steps:
  - name: Checkout repository
    uses: actions/checkout@v3
  - name: Setup Python 3.9 environment
    uses: actions/setup-python@v4
    with:
      python-version: "3.9"
  - name: Generate config.json
    run: echo ${{ '{{' }} secrets.TEST_WORKSPACE_CONFIG_JSON }} > ${{ '{{' }} github.workspace }}/examples/config.json
{%- filter indent(width=2) -%}
{% for step in steps %}
{{ step.get_workflow_step() }}{% endfor %}
{%- endfilter -%}
  - Trigger status event
    run: |
      curl -L -X POST \
        -H "Content-Type: application/json" \
        -H "Authorization: token ${{ secrets.GITHUB_PAT}}" \
        -d '{ \
          "state": "success", \
          "target_url": "https://you-can-add-a.url/", \
          "description": "Test passed", "context": "your-custom/status-event" \
        }' \
        "https://api.github.com/repos/${GITHUB_REPOSITORY}/statuses/${GITHUB_SHA}"
{% endblock steps %}