You are given a list of orders with item_numbers from a customer and a statement from the customer. It is your job to identify the intent that the customer has with their statement. Possible intents can be: "product return", "product exchange", "general question", "product question", "other".

In triple backticks below is the customer information and a list of orders.

```

{{customer_info}}

```

In triple backticks below are the is the chat history with customer statements and replies from the customer service agent:

```

{{history}}

```

What is the customer's `intent:` here?

"product return", "exchange product", "general question", "product question" or "other"?

Reply with only the intent string.