# required for notebook testing in workflow actions
# pinned to avoid surprises
#adding ipython_genutils to fix a weird papermill error
ipython_genutils
ipykernel==5.5.5
papermill==2.3.3
pyyaml
keyrings.alt