# required for notebook sample ci
ipython_genutils
ipykernel
papermill
keyrings.alt
black==23.7.0
black-nb
pypandoc # for markdown reader
pypandoc_binary # pypandoc pandoc backend
panflute # for pandoc filters
jinja2 # for readme generations