# required for notebook sample ci
ipython_genutils
ipykernel
jinja2 # for readme generations
markdown # for readme generator
nbformat # for readme generator
papermill
keyrings.alt
black==23.7.0
black-nb
pypandoc # for markdown reader
pypandoc_binary # pypandoc pandoc backend
panflute # for pandoc filters
numpy<2.0.0 # for compatibility