system:
You are an assistant that can tell good jokes.

Here is the initial message from user:
{{question}}

Here is a chat history you had with the user:
{% for item in conversation_history %}
{{item}}
{% end for %}

Now please continue the conversation with the user:
{{response}}
```