[run]
omit =
    */promptflow/_cli/*
    */promptflow/_sdk/*
    */promptflow/_telemetry/*
    */promptflow/azure/*
    */promptflow/core/*
    */promptflow/entities/*
    */promptflow/operations/*
    *__init__.py*
