$schema: https://azuremlschemas.azureedge.net/promptflow/latest/Flow.schema.json
inputs:
  chat_history:
    type: list
    is_chat_history: true
    default: []
  question:
    type: string
    is_chat_input: true
outputs:
  answer:
    type: string
    reference: ${chat.output}
    is_chat_output: true
nodes:
- name: chat
  type: custom_llm
  source:
    type: package_with_prompt
    tool: promptflow.tools.llm.llm
    path: chat.jinja2
  inputs:
    connection: {{ connection }}
    api: chat
    deployment_name: {{ deployment }}
    temperature: 0.7
    chat_history: ${inputs.chat_history}
    question: ${inputs.question}
environment:
  python_requirements_txt: requirements.txt
