<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear />
         <add key="PromptFlowDotNet" value="https://pkgs.dev.azure.com/msdata/_packaging/PromptFlowDotNet/nuget/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
