interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/azure_open_ai_connection/listsecrets?api-version=2023-04-01-preview
  response:
    body:
      string: '{"tags": null, "location": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/azure_open_ai_connection",
        "name": "azure_open_ai_connection", "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {"authType": "ApiKey", "credentials": {"key": ""}, "category":
        "AzureOpenAI", "expiryTime": null, "target": "_", "createdByWorkspaceArmId":
        null, "isSharedToAll": false, "sharedUserList": [], "metadata": {"azureml.flow.connection_type":
        "AzureOpenAI", "azureml.flow.module": "promptflow.connections", "ApiType":
        "azure", "ApiVersion": "2023-07-01-preview", "ResourceId": null}}, "systemData":
        {"createdAt": "2023-08-22T10:15:34.5762053Z", "createdBy": "yigao@microsoft.com",
        "createdByType": "User", "lastModifiedAt": "2023-08-22T10:15:34.5762053Z",
        "lastModifiedBy": "yigao@microsoft.com", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/custom_connection/listsecrets?api-version=2023-04-01-preview
  response:
    body:
      string: '{"tags": null, "location": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/custom_connection",
        "name": "custom_connection", "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {"authType": "CustomKeys", "credentials": {"keys": {}}, "category":
        "CustomKeys", "expiryTime": null, "target": "_", "createdByWorkspaceArmId":
        null, "isSharedToAll": false, "sharedUserList": [], "metadata": {"azureml.flow.connection_type":
        "Custom", "azureml.flow.module": "promptflow.connections"}}, "systemData":
        {"createdAt": "2023-06-19T20:56:12.0353964Z", "createdBy": "sejuare@microsoft.com",
        "createdByType": "User", "lastModifiedAt": "2023-06-19T20:56:12.0353964Z",
        "lastModifiedBy": "sejuare@microsoft.com", "lastModifiedByType": "User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
