# system: 
Given the following conversation history and the users next question,rephrase the question to be a stand alone question.
If the conversation is irrelevant or empty, just restate the original question.
Do not add more details than necessary to the question.
conversation:

 chat history: 
{% for item in chat_history %} 
# user: 
{{ item.inputs.question }} 
# assistant: 
{{ item.outputs.output }} 
{% endfor %}

# user:
Follow up Input: {{question}} 
Standalone Question: