setuptools
wheel
twine==4.0.0
portalocker~=1.2
setuptools_rust
pytest
pytest-xdist
pytest-sugar
pytest-timeout
azure-keyvault
azure-identity
# record and replay http requests for pfazure tests
vcrpy==5.1.0
urllib3==2.0.6
# parse token to get tenant id during sanitization
PyJWT==2.8.0
