- name: {{ step_name }}
  working-directory: {{ working_dir }}
  run: |
    echo AZURE_OPENAI_API_KEY=${{ '{{' }} secrets.AZURE_OPENAI_API_KEY }} > .env
    echo AZURE_OPENAI_API_BASE=${{ '{{' }} secrets.AOAI_API_ENDPOINT }} >> .env
    echo AZURE_OPENAI_API_TYPE=azure >> .env
    echo AZURE_OPENAI_API_VERSION=2023-03-15-preview >> .env
