$schema: https://azuremlschemas.azureedge.net/promptflow/latest/AzureOpenAIConnection.schema.json
name: open_ai_connection
type: {{ connection }}
api_key: "<user-input>"
api_base: "<user-input>"
api_type: "azure"
