{{ package_name }}.tools.{{ tool_name }}.{{ class_name }}.{{ function_name }}:
  class_name: {{ class_name }}
  function: {{ function_name }}
  inputs:
    url:
      type:
      - string
    query:
      type:
      - string
  module: {{ package_name }}.tools.{{ tool_name }}
  name: Hello World Tool
  description: This is hello world tool
  type: python
  icon: {{ icon_data_url }}
