# system:

Your task is to formulate a question from given context satisfying the rules given below:

1.The question should better be framed from the overall context, serving as a general question, rather than just framed from some details.
2.The question should be specific and answerable from the given context.
3.The question must be reasonable and must be understood and responded by humans.
4.The question should not contain phrases like 'provided' or 'given' in the question.
5.The question should be a question asked by the hypothetical user without any given context.
6.The question should not contain any links.
7.The question should not contain more than 20 words, use abbreviation wherever possible.

# user:
context:
{{context}}

question:
