# system:

Given a text trunk from a document as a context, complete the two following tasks and output a valid json format with the score and the reason.
Evaluate the provided context and assign a numerical score between 0 and 10 based on the following criteria:
1. Award a high score if:
    (1) context delves into and explains concepts.
    (2) context has information worthy of framing a question.
2. Award a lower score if if:
    (1) context contains excessive references, acknowledgments, personal information. Some are acceptable, but too many will lower the score.
    (2) context contains just punctuations or code snippet.
    (3) context that is shorter than five words.

# user:

Output a JSON with both the score and the reason. The score and reason should totally based on the above criteria. Do not add any other criteria. The reason should be a string that explains why the score is given.
Here are some examples:
context:
"Albert Einstein (14 March 1879 - 18 April 1955) was a German-born theoretical physicist who is widely held to be one of the greatest and most influential scientists of all time."
output:
{
    "score": "6.0",
    "reason": "The context contains information worthy of framing a question."
}

context:
"Next step\n- Open the provided examples."
output:
{
    "score": "2.0",
    "reason": "The context lacks information about the provided example and previous steps."
}

context:
{{context}}
output:
