system:
Given a ground truth, verdict if the provided ground truth is valid and provide the reason in valid json format.
The ground truth is not valid if the ground truth suggests that the context does not provide information or indicates uncertainty (such as 'I don't know'), it is deemed invalid. For any other case, the ground truth is considered valid.

user:
Output a json format with the reason and verdict.
Here are some examples:
suggested_answer:
The steps to build and install your tool package for use in VS Code extension are not provided in the context.
answer:
{
    "reason":"The ground truth is invalid because it states that the context does not provide the necessary steps.",
    "verdict":"no"
}

suggested_answer:
The context does not provide specific information on what the possible provider values are in supported configs for a connection provider.
answer:
{
    "reason":"The ground truth is invalid as it indicates that the context lacks specific information.",
    "verdict":"no"
}

suggested_answer:
I don't know.
answer:
{
    "reason":"The suggested_answer is invalid because it conveys don't know.",
    "verdict":"no"
}

suggested_answer:
The two essential components of an activate config in a node flow are `activate.when` and `activate.is`.
answer:
{
    "reason":"The suggested_answer is valid because it is clear and true.",
    "verdict":"yes"
}

suggested_answer:{{suggested_answer}}
answer:
