# Tutorials

This section contains a collection of flow samples and step-by-step tutorials.

|Category|<div style="width:250px">Sample</div>|Description|
|--|--|--|
{% for item in items %}|{{ item.category }}|[{{ item.title }}]({{ item.url }})|{{ item.description }}|
{% endfor %}

Learn more: [Try out more promptflow examples.](https://github.com/microsoft/promptflow/tree/main/examples)
