- name: {{ step_name }}
  uses: azure/login@v2
  with:
    subscription-id: ${{ '{{' }}secrets.AZURE_SUBSCRIPTION_ID}}
    tenant-id: ${{ '{{' }}secrets.AZURE_TENANT_ID}}
    client-id: ${{ '{{' }}secrets.AZURE_CLIENT_ID}}
    enable-AzPSSession: true