- name: {{ step_name }}
  working-directory: {{ working_dir }}
  run: |
    if [[ -e .env ]]; then
      pf connection create --file .env --name {{ connection_name }}
    fi
    if [[ -e azure_openai.yml ]]; then
      pf connection create --file azure_openai.yml --name {{ connection_name }}
    fi
    pf connection list
