- name: {{ step_name }}
  uses: azure/powershell@v1
  with:
    azPSVersion: "latest"
    inlineScript: |
      Disconnect-AzAccount
- name: {{ step_name }}_login
  uses: azure/login@v1
  with:
    subscription-id: ${{ '{{' }}secrets.AZURE_SUBSCRIPTION_ID}}
    tenant-id: ${{ '{{' }}secrets.AZURE_TENANT_ID}}
    client-id: ${{ '{{' }}secrets.AZURE_CLIENT_ID}}