- name: {{ step_name }}
  working-directory: {{ working_dir }}
  run: |
    AOAI_API_KEY=${{ '{{' }} secrets.AOAI_API_KEY_TEST }}
    AOAI_API_ENDPOINT=${{ '{{' }} secrets.AOAI_API_ENDPOINT_TEST }}
    AOAI_API_ENDPOINT=$(echo ${AOAI_API_ENDPOINT//\//\\/})
    if [[ -e .env.example ]]; then
      echo "env replacement"
      sed -i -e "s/<your_AOAI_key>/$AOAI_API_KEY/g" -e "s/<your_AOAI_endpoint>/$AOAI_API_ENDPOINT/g" .env.example
      mv .env.example .env
    fi
