- name: {{ step_name }}
  working-directory: {{ working_dir }}
  run: |
    AOAI_API_KEY=${{ '{{' }} secrets.AOAI_API_KEY }}
    AOAI_API_BASE=${{ '{{' }} secrets.AOAI_API_ENDPOINT }}
    if [[ -e .env.example ]]; then
      echo "env replacement"
      sed -i -e "s/<your_AOAI_key>/$AOAI_API_KEY/g" -e "s/<your_AOAI_endpoint>/$AOAI_API_BASE/g" .env.example
      mv .env.example .env
    fi
