<!DOCTYPE html>
<html>
<head>
    <title>Trace Visualization</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <button onclick="copyToClipboard()">Copy Content</button><br>
    Line Runs
    <table>
        <thead>
            <tr>
                <th>trace_id</th>
                <th>span_id</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
            <tr>
                <td>{{ row.trace_id }}</td>
                <td>{{ row.span_id }}</td>
                <td><pre>{{ row.content }}</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    Traces
    <table>
        <thead>
            <tr>
                <th>trace_id</th>
                <th>span_id</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            {% for row in traces %}
            <tr>
                <td>{{ row.trace_id }}</td>
                <td>{{ row.span_id }}</td>
                <td><pre>{{ row.content }}</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    Evaluation Traces
    <table>
        <thead>
            <tr>
                <th>trace_id</th>
                <th>span_id</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            {% for row in eval_traces %}
            <tr>
                <td>{{ row.trace_id }}</td>
                <td>{{ row.span_id }}</td>
                <td><pre>{{ row.content }}</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="contentToCopy">{{ trace_ui_dict }}</div>

    <script>
        function copyToClipboard() {
            // Get the text from the div
            var content = document.getElementById('contentToCopy').innerText;

            // Create a temporary textarea element to hold the text to copy
            var tempElement = document.createElement('textarea');
            tempElement.value = content;
            document.body.appendChild(tempElement);
            tempElement.select(); // Select the text inside the textarea
            document.execCommand('copy'); // Execute the copy command
            document.body.removeChild(tempElement); // Remove the temporary element

            // Optionally, alert the user that the text has been copied
            alert('Content copied to clipboard!');
        }
    </script>
</body>
</html>
